[2021-04-01 16:28] yiqigao217 commented on #1449
Update: @unmarshall mentioned in the Slack: "I was able to install HNC manager by adding sidecar.istio.io/inject: “false” annotation to Deployment spec. This prevents istio sidecar injection into the hnc-controller-manager pod. "

Anyone picking up this bug can update the HNC doc on HNC working with Istio.

[2021-04-01 19:12] yiqigao217 commented on #1328
The semantic of `hnc.x-k8s.io/managed-by` annotation and `app.kubernetes.io/managed-by` label is different for HNC.

There are cases when a namespace has the `app.kubernetes.io/managed-by` label with other manager but doesn't have the `hnc.x-k8s.io/managed-by` annotation with other manager. In this case, HNC can still change the namespace hierarchy or set this namespace as a chlid of another names

[2021-04-01 19:12] #1328 closed

[2021-04-02 21:00] #1104 closed

[2021-04-06 13:12] yiqigao217 opened #1466 "HNC: Add excluded namespace configuration to v0.8 release note and installation note."
Update the installation note with setting excluded namespaces in v0.8 release note and [here](https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/docs/user-guide/how-to.md#install-or-upgrade-hnc-on-a-cluster).

[2021-04-06 18:06] #374 closed

[2021-04-07 03:22] yaoyao12138 opened #1467 "kubectl exec and kubectl logs don't work in the tenant master in the demo"
## Descriptions ##
kubectl exec and kubectl logs don't work in the tenant master in the [Github demo](https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/virtualcluster/doc/demo.md#virtualcluster-walkthrough-demo)

## Error Output ##
[code]
## Logs ##
Add - --v=4 in the container command/args list of the vnagent daemonset template directly.
Here is one of the vn-agent pods value

[2021-04-07 07:58] yaoyao12138 commented on #1467
Add - --v=4 in the container command/args list of the vnagent daemonset template directly.
Here is one of the vn-agent pods value log content.
[code]

[2021-04-07 12:14] yaoyao12138 commented on #1467
In a minikube cluster, the kubectl exec and kubectl logs don't work in the tenant master either.
[code]

[2021-04-09 08:58] mensylisir opened #1470 "你好，按照virtualcluster的quickstart操作，然后提示找不到vsecrets"
Warning  FailedCreate  <invalid> (x7430 over 21h)  vc-syncer  Error creating: failed to get service account secret from cluster default-8261bf-vc-sample-1 cache: failed to get vSecret default/default-token-vsfjx: Secret "default-token-vsfjx" not found

[2021-04-09 09:04] zhuangqh commented on #1470
please show your pod apply to virtualcluster and secret list from both clusters

[2021-04-09 09:35] mensylisir commented on #1470
root@LAPTOP-HIJGKP64:/mnt/d/Work/document/work2/work/multi-tenancy/incubator/virtualcluster# **kubectl get pod --kubeconfig vc-1.kubeconfig**
NAME                         READY   STATUS    RESTARTS   AGE
test-deploy-5f4bcd8c-jzrpc   0/1     Pending   0          22h
root@LAPTOP-HIJGKP64:/mnt/d/Work/document/work2/work/multi-tenancy/incubator/virtualcluster# **kubectl describe pod --kubeconfig vc-1.

[2021-04-09 09:35] mensylisir commented on #1470
root@LAPTOP-HIJGKP64:/mnt/d/Work/document/work2/work/multi-tenancy/incubator/virtualcluster# **kubectl get secrets --kubeconfig vc-1.kubeconfig**
NAME                  TYPE                                  DATA   AGE
default-token-vsfjx   kubernetes.io/service-account-token   3      23h

[2021-04-09 09:36] mensylisir commented on #1470
查看这个vSecret是存在的

[2021-04-09 20:32] yiqigao217 commented on #1443
My proposal for the above **webhook-bypassed** cases are

*  Setting a non-excluded namespace as child of excluded namespace - The HC singleton will get `ActivitiesHalted (ParentMissing): Parent "kube-system" is an excluded namespace` condition;
*  Setting an excluded namespace as a child of a non-excluded namespace - Our reconciler will remove the HC singleton directly instead of adding a new con

[2021-04-09 21:12] adrianludwin commented on #1443
For the first one, I think I'd prefer something like `IllegalParent` instead of `ParentMissing` - the parent isn't actually missing, it's just not allowed.

For the second one - hmm. I'm not sure. @rjbez17 wdyt? I like that it makes it very clear that a bug will never allow us to accidentally put an HC object into `kube-system`, but it seems a _little_ weird to delete it. I really appreciate that

[2021-04-12 01:05] mensylisir commented on #1470
@zhuangqh

[2021-04-12 05:19] Fei-Guo commented on #1467
Are you trying the optional following requests to Kubelet approach? Can you try the default mode which forwards the requests to super cluster apiserver and see if that works?

[2021-04-12 06:17] zhuangqh commented on #1470
@mensylisir please show pod yaml  `kubectl --kubeconfig vc-1.kubeconfig get pod test-deploy-5f4bcd8c-jzrpc -oyaml` in tenant and `kubectl get pod default-8261bf-vc-sample-1-test-deploy-5f4bcd8c-jzrpc -o yaml` in super cluster side.

and vc-syncer logs

[2021-04-12 06:21] yaoyao12138 commented on #1467
@Fei-Guo  I tried the requests to super cluster apiserver in the Kind cluster and Minikube cluster, and they both work.
[code]

[2021-04-12 06:34] Fei-Guo commented on #1467
Sorry，I did not explain it clearly.

If you don't provide KubeletClientCert in the vn-agent start up command by removing
"  - --cert-dir=/etc/vn-agent/
          - --kubelet-client-certificate=/etc/vn-agent/pki/client.crt
          - --kubelet-client-key=/etc/vn-agent/pki/client.key"
from container cmd args, the kubelet requests will be forwarded to supercluster apiserver.

You should be able to s

[2021-04-12 09:12] yaoyao12138 commented on #1467
@Fei-Guo It seems actually the problems due to the kubelet cert. Due to I try the way  by removing
" - --cert-dir=/etc/vn-agent/
\- --kubelet-client-certificate=/etc/vn-agent/pki/client.crt
\- --kubelet-client-key=/etc/vn-agent/pki/client.key"
from container cmd args,  I could see "will forward request to super apiserver" in the vn-agent log instead of "will forward request to kubelet".
And I chec

[2021-04-12 13:33] yiqigao217 commented on #1023
Fixed by #1444

[2021-04-12 13:33] #1023 closed

[2021-04-12 14:47] yiqigao217 commented on #1443
The first one sgtm.

As for the 2nd one, OR we can have a condition called `Illegal` with message telling users to delete the HC singleton (in the excluded namespace). However, it will be much more complicated than the HNC direct deleting approach mentioned above. Currently, HNC doesn't reconcile resources in excluded namespaces at all (with an early exist in all `Reconcile()` functions). Adding c

[2021-04-12 15:16] adrianludwin commented on #1443
(As discussed live) I'd like the code that handles excluded namespaces to
be a) as short as possible and b) as separate as possible from the rest of
the handling code. So just deleting an HC that shouldn't exist sounds like
a good potential idea, but if we want to do something smarter, let's try to
stick to those two principles.

On Mon, Apr 12, 2021 at 10:47 AM Yiqi Gao ***@***.***> wrote:

[2021-04-12 15:43] yiqigao217 commented on #1148
(The workaround to restore was in #1074)

[2021-04-12 17:06] Fei-Guo commented on #1467
Did you exactly follow the steps below to create the cert when using minikube?

[code]

For ocp env, I have not tried before so you'd ask your cluster administrator for the correct cert/key pairs.

[2021-04-12 17:30] #1148 closed

[2021-04-13 07:28] yaoyao12138 commented on #1467
It's weird that I follow this step by step exactly..
Anyway, I will try on the ocp env first, and appreciate for your reply!

[2021-04-13 08:28] yaoyao12138 commented on #1467
@Fei-Guo I missed mentioning that even removing the cert/key, the tenant cluster couldn't access the docker container/pod either. The same error info showed. And the log show the `will forward request to super apiserver`
[code]

[2021-04-13 14:45] rjbez17 commented on #1443
Sorry, I was OOO the last few days. As an SRE, I have a slight preference to not magically delete things. However, as a dev, I agree that the added complexity is simply not worth it. I'd prefer to keep it simple now, we can always add complexity later.

[2021-04-13 14:51] adrianludwin commented on #1443
sg, thanks Ryan. Again, this is the backup feature - webhooks should
prevent this from ever happening in the first place.

Let's go with deleting for now.

On Tue, Apr 13, 2021 at 10:45 AM Ryan Bezdicek ***@***.***>
wrote:

[2021-04-13 17:03] Fei-Guo commented on #1467
Btw, did you build the vn-agent locally or use the image from the docker hub? The docker hub image may not be updated and I will double check. Sorry that we don't have a release yet but it will come soon in kubernetes-sigs/cluster-api-provider-nested repo.

[2021-04-14 15:33] yiqigao217 opened #1473 "HNC: Adapt to new PSP replacement"
See new [PSP replacement](https://docs.google.com/document/d/1dpfDF3Dk4HhbQe74AyCpzUYMjp4ZhiEgGXSMpVWLlqQ/edit).

The change is about replacing current PSP, which is not namespaced, with namespace labels such as `podsecurity.kubernetes.io/warn=restricted`. The PodSecurityPolicy is deprecated as of Kubernetes v1.21, and will be removed in v1.25.

People will use these new labels to enforce pod secu

[2021-04-14 15:35] yiqigao217 opened #1474 "HNC: Update user doc to recommend against propagating workloads"
Part of #1473

PSP replacement may affect HNC in that if users use HNC to propagate `pods`, some propagation may fail because of the mismatching pod security policy label on the local child namespace.

HNC can propagate `pods` but we don't recommend it.

Update the user docs to recommend against propagating workloads like `Deployment` `StatefulSet`, etc,

[2021-04-14 15:53] adrianludwin commented on #1473
I'd remove the bit about pods here since we don't consider this to be a
valid use case.

On Wed, 14 Apr 2021, 11:33 am Yiqi Gao, ***@***.***> wrote:

[2021-04-15 02:17] yaoyao12138 commented on #1467
The new image worked, thanks!

[2021-04-15 02:17] #1467 closed

[2021-04-15 08:30] gyliu513 opened #1475 "virtualcluster: Enable olm by default in tenant cluster"
many end users are now using operator to manage their components, it would be great for the tenant cluster enable OLM by default, then all of the tenant cluster can manage operators by default.

[2021-04-15 12:30] sgandon opened #1476 "Benchmark plugin reports 0 skipped but summary show 1 skipped"
I have executed the benchmark tool (kubectl-mtb) on one tenant namespace of our cluster and the output says
[code]
but the summary below shows 1 skipped
[code]
here is the full tail of the output
[code]
So there is some issue in the reporting (you can see the count does not add up) and more over the last test is of interest to me and I don't know why it was skipped.

[2021-04-15 17:24] Fei-Guo commented on #1475
This can be part of the addon support design in Cluster API provider nested (CAPN). CAPN is next generation tenant control plane management framework (https://github.com/kubernetes-sigs/cluster-api-provider-nested). We can discuss the requirement there.

[2021-04-15 17:36] yiqigao217 opened #1478 "HNC: Show right namespaces in `kubectl hns tree --all-namespaces`"
1) Namespaces with conditions are missing in the `kubectl hns tree --all-namespaces` output.
2) Another improvement would be adding additional highlights on excluded namespaces in `kubectl hns` plugins to differentiate the namespaces.

Here's what I got currently:
[code]

[2021-04-16 01:56] gyliu513 commented on #1475
Thanks @Fei-Guo , opened an issue https://github.com/kubernetes-sigs/cluster-api-provider-nested/issues/41

[2021-04-16 01:56] #1475 closed

[2021-04-16 01:58] gyliu513 opened #1479 "[feat] virtualcluster: Enable different kubernetes distribution support"
The virtualcluster only support vanila Kubernetes now, but the real use case is that many customers are using some different Kubernetes distributions,  it would be great to enable the virtualcluster can support OpenShift and other Kubernetes clusters which has passed the conformance test at https://github.com/cncf/k8s-conformance/tree/master/v1.20

[2021-04-16 14:14] yiqigao217 opened #1480 "HNC: e2e tests intermittent failure due to no excluded-namespace label on `kube-system` ns, etc."
After #1444 is merged on April 6, our [testgrid](https://testgrid.k8s.io/wg-multi-tenancy-hnc#periodic-e2e-tests) showed 3/10 test failure as of today.

The errors are `no endpoints available` for webhook services. It turned out that we didn't add `hnc.x-k8s.io/excluded-namespace` label to namespaces `kube-system`, `kube-public`, `kube-node-lease` before running e2e tests.
(`hnc-system` get labell

[2021-04-16 16:34] #1339 closed

[2021-04-16 18:24] Fei-Guo commented on #1479
@gyliu513 Thanks for filing the issue. As you may know, we are actively moving VC project to CAPN (https://github.com/kubernetes-sigs/cluster-api-provider-nested) where we defines the interfaces for using customized APIServer/controller manager/etcd. We are going to integrate CAPN model with existing VC framework shortly.

When it is ready, one can implement customized nestedapiserver controller t

[2021-04-17 02:55] gyliu513 commented on #1479
Thanks @Fei-Guo that's great! Let me close this one and trace it in https://github.com/kubernetes-sigs/cluster-api-provider-nested

[2021-04-17 02:55] #1479 closed

[2021-04-18 16:07] xiqiu618 opened #1482 "the tenant operator on ack deploy failed，requested access to the resource is denied"
fail to  the tenant operator manifests image pull image [ImagePullBackOff]

[code]

https://github.com/kubernetes-sigs/multi-tenancy/blob/8730dce091a78531a5fd21048262a01ecb633f4f/tenant/config/manager/all_in_one_ack.yaml#L212-L217

[code]

[2021-04-19 03:31] FingerLiu commented on #1478
multi-tenancy is very useful, I'd like to work on this.
/assign

[2021-04-19 03:45] FingerLiu commented on #1478
@yiqigao217 since I am new here, would you please give me a hint where should I start?

[2021-04-20 20:38] yiqigao217 commented on #1466
In addition, since we migrated to v1 APIs for CRD, VWH, MWH #1434, we need to add that
- HNC v0.8 requires K8s 1.16+ since only v1.16+ can create v1 webhooks.

[2021-04-21 13:16] yiqigao217 opened #1484 "HNC: Update cert-controller"
Cer-controller updated its WH support from v1beta1 to v1 (https://github.com/open-policy-agent/cert-controller/pull/34). HNC has already updated to v1 for WHs (https://github.com/kubernetes-sigs/multi-tenancy/pull/1434) but our cert-controller still supports v1beta1:
https://github.com/kubernetes-sigs/multi-tenancy/blob/a6253034e7d197089b6d3003c459c5f394355dd7/incubator/hnc/vendor/github.com/open-

[2021-04-21 16:39] yiqigao217 commented on #1480
The periodic test still [failed](https://testgrid.k8s.io/wg-multi-tenancy-hnc#periodic-e2e-tests).

The error was:
[code]

This is due to the VWHConfiguration is already there before we label the other system namespaces.

[2021-04-22 15:55] yiqigao217 commented on #1480
For the new periodic test failure, I manually did the same commands as `hack/prow-run-e2e.sh` in a kind cluster. I noticed that sometimes even though our HNC pod is `Running` and the certs are ready in the VWHC, WH can still get
[code]
I looked into pods in `kube-system` and suspect the above error is due to `coredns-xxx-xx` pod stuck in `pending` state. To verify it, I removed the VWHC and labele

[2021-04-22 19:48] #1480 closed

[2021-04-23 03:27] marvin-hansen opened #1486 "Describe how you compare to vcluster?"
How does your implementation compares with  https://github.com/loft-sh/vcluster

Are you aware of, or working with, this team?

Would be great to see a reference in the documentation in the sense of what else is around.

[2021-04-23 14:46] JimBugwadia commented on #1197
@phoenixking25 - this has already been addressed, right?

[2021-04-23 16:30] yiqigao217 commented on #1466
Just adding another scenario to the doc: what if to exclude a namespace already with subns anchors - see detailed instruction at https://github.com/kubernetes-sigs/multi-tenancy/pull/1483#discussion_r619342311.

[2021-04-23 16:31] #1443 closed

[2021-04-26 21:51] Fei-Guo commented on #1486
VC and vcluster are equal from user's perspective.  Each user gets a dedicated control plane. The key differences are:

1) vcluster uses per tenant cluster syncer approach but VC uses one syncer for many tenant control planes;
2) vcluster uses one namespace to combine all tenant resources in super cluster but VC uses 1:1 mapping between tenant namespace and super master namespace (the key architec

[2021-04-26 23:24] adrianludwin commented on #1484
/assign @adrianludwin

[2021-04-27 00:17] adrianludwin commented on #1295
/assign

[2021-04-27 01:06] adrianludwin commented on #1341
Per discussion on Slack:

See: https://kubernetes.io/docs/reference/access-authn-authz/rbac/#aggregated-clusterroles

So we need to add a new `ClusterRole` called something like `HNCAdmin`, and add the following label to that role:

`rbac.authorization.k8s.io/aggregate-to-admin: "true"`

[2021-04-27 01:40] adrianludwin commented on #1311
@0xVox - it turns out we already do document the permissions ([here](https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/docs/user-guide/faq.md#what-are-hncs-minimum-requirements)), but I think it makes sense to just grant HNC permission to _all_ verbs. There's no particular reason to exclude anything.

I verified that once I did this, HNC was able to propagate `cluster-admi

[2021-04-27 01:40] adrianludwin commented on #1311
/assign

[2021-04-27 03:19] #1341 closed

[2021-04-27 15:13] #1311 closed

[2021-04-27 15:43] #1484 closed

[2021-04-27 16:00] adrianludwin commented on #1295
Fixed by #1487
/close

[2021-04-27 16:00] #1295 closed

[2021-04-27 18:36] adrianludwin opened #1492 "HNC: find a new way to test unpropagatable objects"
Since #1489, HNC has been able to propagate `cluster-admin` rolebindings and therefore the test for #328, #605 and #771 have broken. We need to find another way to stop HNC from propagating these objects, possibly by having some special-purpose test webhook or something.

[2021-04-27 18:39] adrianludwin commented on #1492
Another possible way to do it:
* Create a Role in the parent and forbid it from being propagated
* Create a RoleBinding in the parent

Usually, RBs cannot be created with the Roles they refer to existing first, so this *should* cause an error.

[2021-04-27 18:39] adrianludwin commented on #1492
/good-first-issue

[2021-04-27 20:10] yiqigao217 opened #1494 "HNC: Add webhook rules to deny editing namespace tree labels"
Currently, the tree labels on namespaces can be edited without webhook blocking it. HNC will re-reconcile the namespace to update the tree labels.

We need to have our webhooks to block edits on namespace tree labels.

[2021-04-27 20:41] yiqigao217 commented on #1478
Hi @FingerLiu  sorry for the late reply. The `kubectl hns tree` command are defined in https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/internal/kubectl/tree.go .

Please note only namespaces **with conditions** are not shown in the `kubectl hns tree --all-namespaces`.

[2021-04-28 02:59] FingerLiu commented on #1478
It looks clear to me know, thanks.

[2021-04-28 08:27] just1900 commented on #439
/reopen

[2021-04-28 13:18] adrianludwin commented on #439
@just1900 are you interested in working on this problem? We've had a few people ask for it but until someone's signed up to work on it, I don't think there's much point re-opening the bug.

[2021-04-28 20:56] yiqigao217 commented on #623
To be clear, this is only trying to notify users explicitly that their attempt to add finalizers is not allowed, right? (by having a webhook to deny it).

In reality, users adding the finalizers on the HC object won't cause any issue because the HC reconciler resets the finalizers (either to `nil` or to `hnc.x-k8s.io/hasSubnamespace`) in each reconciliation. This issue is similar to #1494 that we

[2021-04-29 01:35] gyliu513 opened #1495 "[virtualcluster] what is the difference with https://github.com/loft-sh/vcluster"
@Fei-Guo https://www.vcluster.com/ ^^

[2021-04-29 01:43] adrianludwin commented on #1448
Fixed by #1488

/close

[2021-04-29 01:43] #1448 closed

[2021-04-29 01:45] adrianludwin commented on #623
I didn't realize that, but it sounds reasonable :)

On Wed, Apr 28, 2021 at 4:56 PM Yiqi Gao ***@***.***> wrote:

[2021-04-29 05:52] Fei-Guo commented on #1495
The answered is in #1486

/close

[2021-04-29 05:52] #1495 closed

[2021-04-29 09:37] jianh619 commented on #1486
Thanks @Fei-Guo  for your detail summary , while checking with the differences of two project .

Looks like both of them has syncer per tenant , according to https://www.vcluster.com/docs/getting-started/deployment , `kubectl` tab , there's syncer container each statefulset

I think most differences coming from

No. 2:

vcluster deal resources inside one ns , comparing to , VC need handle cluster-

[2021-04-29 14:49] yiqigao217 commented on #1437
We can reopen this issue if @nishanacharya or anyone else still have this issue.

[2021-04-29 14:49] #1437 closed

[2021-04-29 16:12] yiqigao217 commented on #1386
Same as #374, fixed by #1444.

[2021-04-29 16:12] #1386 closed

[2021-04-29 17:58] yiqigao217 commented on #1320
@adrianludwin
With #1305 doing https://github.com/kubernetes-sigs/multi-tenancy/issues/1285#issuecomment-734384510, seems we don't need this approach of deleting all HNC CRs first and then CRDs, right?

Also, why the step 2 wants `allowing namespaces to be deleted`? Don't we want to prevent data loss?

[2021-04-29 18:16] #1466 closed

[2021-04-29 19:33] adrianludwin commented on #1466
Hmm, just realized I didn't address the comment for #1483. I'll file a bug to the docs that say "don't do this" :)

[2021-04-29 19:34] adrianludwin opened #1497 "HNC: document that you shouldn't exclude a namespace that's in a hierarchy"
See https://github.com/kubernetes-sigs/multi-tenancy/issues/1466#issuecomment-825774502

[2021-04-29 21:12] yiqigao217 opened #1500 "HNC: Prevent updating annotations on propagated objects"
The webhook does prevent editing the propagated object itself or labels but doesn't prevent updating annotations:
[code]

[2021-04-30 01:40] adrianludwin commented on #1320
The idea is that our current process relies on a lot of things to go _well_. E.g. if #1305 has some weird corner case we don't know about, there's a chance of data loss.

So this would be an alternative: first you delete the HNC deployments (to make sure it will _never_ accidentally delete anything), then you remove the finalizers with a separate tool (otherwise _no-one_ will be able to delete the

[2021-04-30 02:46] gyliu513 opened #1502 "[virtualcluster] How to handle shared instance with VC"
With VC, all of the components installed in tenant cluster will be isolated, and the tenant cluster will have all resources for a specified application.

Here the question is there are some apps, which has a shared component, and the component will be shared by many apps. So with such apps, I was hoping I can install the shared component in the super cluster, but install other components for the a

[2021-04-30 16:22] yiqigao217 opened #1503 "HNC: Consider excluding namespaces with K8s 1.21+ namespace `metadata.name` label"
See https://github.com/kubernetes/kubernetes/issues/92157#issuecomment-825160958

[2021-04-30 20:07] yiqigao217 commented on #1503
Another thought is that instead of using `excluded`, maybe use `included`? Considering the damage it could cause if the system namespaces are not labeled as excluded.

HNC can add the `included` label to all namespaces except those flagged as excluded-namespaces in HNC `container.args`. Then our object webhook can remain fail CLOSE and use that label instead.

[2021-05-05 18:29] yiqigao217 commented on #1336
/remove-lifecycle stale

[2021-05-05 18:32] yiqigao217 commented on #717
/remove-lifecycle rotten

[2021-05-06 20:53] Fei-Guo commented on #1377
/close as the demo is ready.

[2021-05-06 20:53] #1377 closed

[2021-05-13 03:18] jianh619 opened #1506 "[VC] - Webhook cabundle is using cluster's Root CA in stead of signing CSRs CA"
I'm trying to deploy virtual cluster in openshift  , got an error of "x509: certificate signed by unknown authority" , this happens while apiserver trying to communicate with virtual-cluster webhook .

Then after checking the code , find the certificates are properly signed by [applying CSR](https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/virtualcluster/pkg/webhook/virtualcl

[2021-05-13 18:29] charleszheng44 commented on #1506
Hi @jianh619  thanks for filing the bug.

[2021-05-13 18:30] charleszheng44 commented on #1506
/assign

[2021-05-13 23:36] charleszheng44 commented on #1506
@jianh619 How does OpenShift handle this problem for other webhooks? I think this may be a generic issue. A potential solution would be storing the Apiserver CA in a secret, which can be used by the vc-manager when creating the validating webhook configuration, but I am not sure if this will cause any security issue.

[2021-05-14 01:04] charleszheng44 commented on #1506
@jianh619 I just checked the source code of the [`WebhookClientConfig`](https://github.com/kubernetes/api/blob/648b77825832f4e96433407e4b406a3bdbb988bd/admissionregistration/v1/types.go#L533), looks like if the `CABundle` is unset, the APIServer will use the system trusts root. So I think maybe we can just leave it blank. I will try it out and get back to you if it works as expected.

[2021-05-14 09:17] yaoyao12138 commented on #1506
@charleszheng44 I'm confused that when I follow your code changed way to re-build the vc-manager image and use it in my side, the error of "x509: certificate signed by unknown authority" happen again..  could help look at it? Thanks.
[code]
[code]
[code]
[code]

[2021-05-14 14:51] charleszheng44 commented on #1506
@yaoyao12138 Sorry for the confusion, I am not an expert on OpenShift and do not have an OpenShift cluster at hand for test. PR #1507 allows APIServer to try out all available root CAs to authenticate the request sent from the vc validation webhook. May I know how does OpenShift sign the CSR? Is the CA accessible by the APIServer?

[2021-05-16 17:13] yaoyao12138 commented on #1506
@charleszheng44 I opened two defects for the Openshift plantform, you could trace by these.
https://bugzilla.redhat.com/show_bug.cgi?id=1960936
https://bugzilla.redhat.com/show_bug.cgi?id=1960940
Of course, I would check the  virtualcluster_1_nodeport.yaml to make sure this later, thanks.
cc @jianh619

[2021-05-17 02:25] jianh619 commented on #1506
Yes , I tried to manually apply webhookconfiguration , caBundle omited ,  according to [OCP doc](https://docs.openshift.com/container-platform/4.6/rest_api/extension_apis/validatingwebhookconfiguration-admissionregistration-k8s-io-v1.html) , it should generate the system trust ca , but nothing there , we can trace the bug  .

Thanks @charleszheng44 's for your quick action .

[2021-05-24 22:47] christopherhein commented on #1388
/close

@weiling61 correct me if I'm wrong this was accomplished when you added https://github.com/kubernetes-sigs/cluster-api-provider-nested/blob/main/virtualcluster/doc/customresource-syncer.md

[2021-05-24 22:47] #1388 closed

[2021-05-24 22:50] christopherhein commented on #1394
/close

We'll revisit this at a later point.

[2021-05-24 22:50] #1394 closed

[2021-05-25 00:15] christopherhein commented on #1502
Maybe we can take this question over to https://sigs.k8s.io/cluster-api-provider-nested.

Short answer is we do a bit of this, but it's slightly different we allow nested(virtual) clusters to operate on "real" super cluster Service clusterIPs so that we can have routable clusterIP ranges, this is done via a mutating admission webhook which acts as a proxy to the super cluster, we also have custom

[2021-05-25 00:20] #1502 closed

[2021-05-25 00:26] christopherhein commented on #1012
/close

bringing this idea over to CAPN.

[2021-05-25 00:26] #1012 closed

[2021-06-03 22:01] rptaylor opened #1509 "helm chart for HNC installation"
Hello,

Do you plan to provide a Helm chart for HNC installation?  This would make it easier for operators to manage HNC installations.

Thanks!

[2021-06-17 05:57] vikas027 commented on #1255
I can confirm this, the issue went away after upgrading to v0.8.0 but I had to delete all [resources](https://github.com/kubernetes-sigs/multi-tenancy/releases/download/hnc-v0.8.0/hnc-manager.yaml) and recreate them again.

[2021-06-17 12:50] adrianludwin commented on #1255
@vikas027 what was the prior version of HNC, was it v0.6.0 or v0.7.0? And had HNC been working despite the errors, or was it broken?

Only v0.6.0 had the CRD conversion webhooks in it (they were removed in v0.7.0) so if you saw this problem in v0.7.0, I'm leaning more towards it being a K8s issue than an HNC issue.

[2021-06-18 00:24] vikas027 opened #1510 "HNC: TLS handshake error from X.X.X.X:YYYY: EOF"
## Environment
- EKS v1.20.6
- HNC 0.8.0

## Problem
HNC controller pod (`hnc-controller-manager-xxxxxx`) is working fine but is throwing a lot of these errors.
[code]

## Similar Issues
- https://github.com/kubernetes-sigs/multi-tenancy/issues/1255

[2021-06-18 04:37] #1344 closed

[2021-06-18 17:20] DWSR commented on #1383
/remove-lifecycle rotten

[2021-06-18 17:42] #1201 closed

[2021-06-18 17:42] #1200 closed

[2021-06-18 17:59] adrianludwin commented on #1383
This issue has moved to https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/21. Closing this copy.

/close

[2021-06-18 18:00] #1383 closed

[2021-06-21 21:36] cslovell opened #1511 "Error: no Auth Provider found for name "gcp""
Saw this issue appeared to be resolved but I seem to be still getting hit with it when trying to run against a gcp cluster. Works fine against AWS clusters.

[code]

Details:

go version go1.16.5 linux/amd64
commit: 5fa490746bf88e611248bf4b65a01a9365193ea9

[2021-06-22 16:11] #1197 closed

[2021-06-25 17:39] #1362 closed

[2021-06-28 10:01] #1110 closed

[2021-06-28 19:25] #1315 closed

[2021-07-01 15:50] just1900 opened #1512 "Unable to update propagated CRD object"
I'm trying to use HNC to propagate CRD, but I find it does not sync the change I made to the source resource. And below is the event output via `kubectl hns describe monitor-res`, the message seems like hnc are updating resource without specifying `metadata.resourceVersion` ?
[code]
any help would be appreciated.

[2021-07-08 19:44] adrianludwin commented on #1500
Replaced by https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/10
/close

[2021-07-08 19:44] #1500 closed

[2021-07-08 19:44] adrianludwin commented on #1497
Replaced by https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/11
/close

[2021-07-08 19:44] #1497 closed

[2021-07-08 19:44] adrianludwin commented on #1494
Replaced by https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/12

/close

[2021-07-08 19:44] #1494 closed

[2021-07-08 19:45] adrianludwin commented on #1492
Replaced by https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/13

/close

[2021-07-08 19:45] #1492 closed

[2021-07-08 19:45] adrianludwin commented on #1478
Moved to https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/15

/close

[2021-07-08 19:45] #1478 closed

[2021-07-08 19:45] adrianludwin commented on #1474
Moved to https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/19
/close

[2021-07-08 19:45] #1474 closed

[2021-07-08 19:46] adrianludwin commented on #1473
Moved to https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/18
/close

[2021-07-08 19:46] #1473 closed

[2021-07-08 19:46] adrianludwin commented on #1336
Moved to https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/24
/close

[2021-07-08 19:46] #1336 closed

[2021-07-08 19:46] adrianludwin commented on #1320
Moved to https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/23

/close

[2021-07-08 19:46] #1320 closed

[2021-07-08 19:46] adrianludwin commented on #1262
/close

[2021-07-08 19:46] #1262 closed

[2021-07-08 19:47] adrianludwin commented on #1153
/close

[2021-07-08 19:47] #1153 closed

[2021-07-08 19:47] adrianludwin commented on #1120
Moved to https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/27

/close

[2021-07-08 19:47] #1120 closed

[2021-07-08 19:47] adrianludwin commented on #1041
Moved to https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/26

/close

[2021-07-08 19:47] #1041 closed

[2021-07-08 19:47] adrianludwin commented on #852
Moved to https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/25

/close

[2021-07-08 19:47] #852 closed

[2021-07-08 19:48] adrianludwin commented on #717
Moved to https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/30

/close

[2021-07-08 19:48] #717 closed

[2021-07-08 19:48] adrianludwin commented on #623
Moved to https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/29

/close

[2021-07-08 19:48] #623 closed

[2021-07-08 19:49] adrianludwin commented on #1260
Moved to https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/22

/close

[2021-07-08 19:49] #1260 closed

[2021-07-08 19:49] adrianludwin commented on #1435
Moved to https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/20

/close

[2021-07-08 19:49] #1435 closed

[2021-07-08 19:49] adrianludwin commented on #1436
Moved to https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/16

/close

[2021-07-08 19:49] #1436 closed

[2021-07-08 19:49] adrianludwin commented on #1449
Moved to https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/17

/close

[2021-07-08 19:49] #1449 closed

[2021-07-11 01:43] marvin-hansen commented on #1486
I think this is settled. Closing for now.
Feel free to copy the answer somewhere in a FAQ in case this topic comes up again.
Thank you!

[2021-07-11 01:43] #1486 closed

[2021-07-13 09:07] admin-zoujing opened #1514 "docker pull gcr.io/k8s-staging-multitenancy/hnc-manager:v0.8.0"
Can you put the image into the local folder to download? This address is very difficult to download.

docker pull gcr.io/k8s-staging-multitenancy/hnc-manager:v0.8.0

[2021-07-13 13:48] adrianludwin commented on #1514
I'm not sure what you mean by a "local folder?" Docker images are almost
exclusively distributed from a Docker registry like the Docker Hub or gcr.io
.

On Tue, 13 Jul 2021, 5:08 am Zou Jing, ***@***.***> wrote:

[2021-08-17 13:44] sunstonesecure-robert commented on #749
was this review published somewhere?

[2021-08-17 13:48] sunstonesecure-robert commented on #6
did this ever go anywhere @JayBeale ?

[2021-08-31 21:06] yaron2 opened #1515 "DNS resolution not working"
Installed master branch version of VC on an AKS cluster.

When trying to access Service DNS, the addresses are unreachable.
Here's an example of a `kubectl apply -f` command that executes a registered webhook validation:

[code]

Containers running in a tenant namespace also cannot access DNS based services. They can, however, access Pod IPs directly.

[2021-08-31 22:56] yaron2 commented on #1515
Wrong repo :)

[2021-08-31 22:56] #1515 closed

[2021-09-09 07:47] #1470 closed

[2021-09-12 13:22] #1476 closed

[2021-09-16 19:16] #1482 closed

[2021-10-12 19:01] mac-chaffee opened #1516 "AlwaysPullImages admission plugin to satisfy benchmark"
The "Require always imagePullPolicy" benchmark appears to try to run a pod with an ImagePullPolicy of "Never": https://github.com/kubernetes-sigs/multi-tenancy/blob/master/benchmarks/kubectl-mtb/test/benchmarks/require_always_pull_image/require_always_pull_image.go#L40

My cluster will allow that container to run, but I have the AlwaysPullImages admission plugin enabled which will change the field

[2021-11-02 02:16] onehao opened #1517 "Could not update the hierarchical configuration of team-a. Reason: the server could not find the requested resource (post hierarchyconfigurations.hnc.x-k8s.io hierarchy)"
the  problem exists in both v0.8.0 and v0.9.0

kubectl-hns version v0.9.0

[2021-11-18 23:20] #1511 closed

[2021-11-29 23:55] mac-chaffee opened #1518 "Benchmark to prevent privilege escalation"
There's a multi-tenancy benchmark that says users should have permission to create their own roles/rolebindings. And kubernetes has mechanisms for preventing a user from escalating their own privileges: https://kubernetes.io/docs/reference/access-authn-authz/rbac/#privilege-escalation-prevention-and-bootstrapping

But it can be easy to get wrong. For example, if you grant all verbs like the follow

[2021-12-02 22:22] mac-chaffee commented on #1516
Turns out is it possible:

[code]

Does this sound like a good alternative way to comply with the "Require always imagePullPolicy" benchmark?

[2021-12-04 00:00] mac-chaffee commented on #1518
Resolved by #1519

[2021-12-04 00:00] #1518 closed

[2021-12-04 02:03] mac-chaffee opened #1520 "kubectl-mtb segfaults if a given benchmark doesn't exist"
[code]

I think it may be caused by `filterBenchmarks()`. Working on a fix now

[2021-12-05 00:56] mac-chaffee opened #1523 "kubectl-mtb tests not running on PRs"
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_multi-tenancy/1522/pull-mtb-test/1467290069042728960

[code]

Seems it's been like this for a while: https://github.com/kubernetes-sigs/multi-tenancy/commit/592ffde91c5a22766fe01a495507403fe2cda7e6#diff-90f60acc2a61e4aed81c76af91cbc2f4524d26c183a7479e105e9d91734b7d5bR44

Not sure if the tests fail or not since I don't have

[2021-12-06 05:15] mac-chaffee commented on #1523
I'm working through the tests, including updating kind and kyverno in the process. Open to tips and advice though :)

[2021-12-09 16:53] mac-chaffee commented on #1523
I think fixing these tests may be beyond my golang capabilities unfortunately :(
Here's some recommendations about what to improve.

1. The setup and teardown for each test consists of 90 lines of code duplicated in 12 different places, and it has a few bugs: https://github.com/kubernetes-sigs/multi-tenancy/blob/master/benchmarks/kubectl-mtb/test/benchmarks/block_access_to_cluster_resources/block_

[2021-12-10 15:19] #1514 closed

[2021-12-10 17:14] mac-chaffee opened #1524 "Benchmark to block wildcards in Ingress hostnames"
Users can put wildcards (*) in their Ingresses, but I think this can lead to security issues in a multi-tenant environment: https://kubernetes.io/docs/concepts/services-networking/ingress/#hostname-wildcards

Wildcards in hostnames mean that one tenant could create an ingress for "myservice.example.com" and another tenant could create an ingress for "\*.example.com" or just "*" and wait. As long a

[2021-12-14 01:34] #1520 closed

[2021-12-20 06:07] #1516 closed

[2022-02-07 02:10] adrianludwin commented on #1517
Sorry I missed this. Were you able to figure it out? It looks like the CRDs weren't correctly applied. See if `kubectl get crd` returns anything matching `hnc`.

Please re-open this case if you're still having trouble, but I'll close it for now.

/close

[2022-02-07 02:10] #1517 closed

[2022-02-07 02:11] adrianludwin commented on #1517
Ah - please note that HNC has moved to https://github.com/kubernetes-sigs/hierarchical-namespaces and I'm not monitoring this repo anymore.

[2022-02-08 20:20] mac-chaffee opened #1525 "Benchmark to block tenants from accessing other tenants' NFS PVs"
If a cluster uses an NFS-based Container Storage Interface for persistent volumes, then a savvy user could read/write to another user's PersistentVolume if they knew the NFS server's IP and the mount path (guessable by checking the `df` output inside your own pod). A similar attack might be possible with certain iSCSI/block-based CSIs, but not sure.

Users can "mount" NFS servers without any speci

[2022-03-09 17:17] mac-chaffee commented on #1523
/remove-lifecycle stale

[2022-03-10 17:45] mac-chaffee commented on #1524
/remove-lifecycle stale

[2022-04-19 15:21] JohannesLamberts opened #1526 "HNC: Multiarch images (e.g. arm64)"
Hi,

we just ran into issue that the image gcr.io/k8s-staging-multitenancy/hnc-manager:v1.0.0 would not start in a ARM-Cluster.

The issue has already been raised in https://github.com/kubernetes-sigs/multi-tenancy/issues/1383 and should have been fixed by https://github.com/kubernetes-sigs/hierarchical-namespaces/pull/45 [on 5 Jul 2021](https://github.com/kubernetes-sigs/hierarchical-namespaces/p

[2022-04-19 15:34] adrianludwin commented on #1526
Unfortunately multi-arch builds were an experiment that were also mixed in
with a feature we've decided not to pursue (Github workflows) so we've
removed them for the time being. They were never officially released as
part of our build.

If you can switch to AMD that would be the best way for you to get started
with HNC. We'd also be interested in any PRs you could make to our
*existing* build pro

[2022-06-07 18:14] mac-chaffee commented on #1523
/remove-lifecycle stale

[2022-06-08 21:25] mac-chaffee commented on #1525
/remove-lifecycle rotten

I believe this is still a very important protection for tenants, but just haven't had the time to implement it

[2022-06-08 21:25] mac-chaffee commented on #1524
/remove-lifecycle stale

I believe this is still a very important protection for tenants, but just haven't had the time to implement it

[2022-06-13 12:02] ThunderYe opened #1527 "[VC] Suggestion to support multi instance of vc syncer"
Hi all,
       This is Lei from Aliyun Cloud .

  I have a special scenario where tenant master needs to run in tenant's VPC (Virtual Private Cloud)  for some special reason, because Super Master and Tenat Master are in different VPCs, we have to create special VC-Syncer for these tenants .

And then  they  need to  connect to their own Tenant Master and Super Master (in fact, these instances have

[2022-06-13 14:25] Fei-Guo commented on #1527
This is doable as long as you implement the per tenant syncer (in addition to the centralized one in upstream). The complexities lie in the per tenant syncer lifecycle management and modifications to vc-managers. Also, I don't think upstream can support this feature since it is a major architecture change. Another thought is that maybe tenant master pluses VK is an easier alternative if the user e

[2022-06-14 07:24] ThunderYe commented on #1527
Thanks a lot ,Fei.

Maybe we can begin to design a pipeline or called-multi-instance Syncer working mode in upstream?
You see, some customer may concern the performace of stand-alone instence syncer, it can support multi vpc or just for horizontally scaling.

[2022-06-14 08:13] Fei-Guo commented on #1527
There is a problem for the per tenant syncer design given the existing syncer implementation. The stand-alone syncer may have to watch the entire super cluster resources since it can create arbitrary number of namespaces in the super cluster. This can be a problem when the super cluster restarts and there are a lot of standalone syncers need to reload their informer caches. The standalone syncer s

[2022-06-20 09:35] zhuangqh commented on #1527
I've thought about this question. An available solution: modify the cluster discovery logic of syncer.
1. maintain a cluster group spec(like labels to distinguish diff group)
2. each standalone syncer should acquire the global lock of the cluster group and the labels for super cluster informer to start
3. standalone syncer only serve the clusters from the cluster group

This solution reduce the wa

[2022-06-20 10:03] ThunderYe commented on #1527
Thanks a lot for your advice, @zhuangqh and @Fei-Guo

In fact ,as describes above,  maybe  the VC-syncer can  work like Nginx master-worker mode, a leading   master can assign differnent job to workers, should we move the discussion to
 "https://github.com/kubernetes-sigs/cluster-api-provider-nested/"?
I can setup a new issue there.

[2022-06-20 10:44] zhuangqh commented on #1527
@ThunderYe This idea is general to solve a scaling question. However, k8s operator usually work in a 'pull mode', not 'push mode', it automatically discover the job from k8s api. Labeling the object to alter the syncer watched item is what you said master-work pattern.

[2022-06-20 17:04] Fei-Guo commented on #1527
Will labeling help reducing the pressure of apiserver?  I am assuming you need to give every synced object a label for a standalone syncer to pick. But the list by label operations still need to read all from etcd and then filtering by label, so the apiserver's cost of handling a list call may not be reduced much by labeling (it does reduce the informer cache size for the syncer).

[2022-06-21 06:28] zhuangqh commented on #1527
@Fei-Guo emmm, i am not so familiar with how apiserver implemented. If it does like what you think, there not much help to reduce the apiserver pressure...

[2022-08-15 12:36] ThunderYe commented on #1527
Still a live thread ,Ha!
In fact ,we want let some VIP tenant master holds a unique Label, that means it will not be watched by the "Default" Syncer , a Syncer with the identical Label will process the VIP tenant master.
How do you think abhout it ? @Fei-Guo @zhuangqh

[2022-08-15 18:15] Fei-Guo commented on #1527
@ThunderYe  You can certainly do that. I would imagine this is something like SchedulerName field in PodSpec, one can add a field in VC crd called "SyncerName", so a particular VC can be handled by a special syncer exclusively.  This is better that the label solution.

[2022-09-17 04:49] amolmote opened #1528 "Broken link of kubernetes contributor cheat sheet need to fix"
## Bug Report
*Problem*
[This page ](https://github.com/kubernetes-sigs/multi-tenancy/blob/master/CONTRIBUTING.md) has one broken link of `contributor cheat sheet` which needs to fix.

*solution*
need to locate the correct path of README.

/assign
/kind bug
/kind documentation

[2022-11-04 19:36] #1523 closed

[2022-11-05 22:49] #1524 closed

[2022-11-05 22:49] #1525 closed, assigned to nobody