[2019-04-05 16:40] tashimi opened #3 "Baseline security profile today in a single tenant cluster"
### Baseline security profile today in a single tenant cluster

Using the current release of Kubernetes (1.13), assuming an entire Kubernetes cluster is used by a single team (i.e. no multitenancy), document the baseline recommended security profile to run a “secure” single tenant cluster.

- 1 tenant per cluster, 1 Kubernetes cluster per tenant, no changes to Kubernetes upstream other than config

[2019-04-05 16:53] tashimi opened #4 "Final review of multi-tenancy proposal"
Draft a proposal of the work the multi-tenancy working group is going to tackle, and present it to the working group for feedback and approval.

 https://docs.google.com/document/d/1U8RQQmTUjxgMZY05HG2f7b3KsB94BhK4Ko6aWbLNXcc/edit#heading=h.usecunpmfu3a

[2019-04-05 17:02] tashimi opened #5 "Baseline security profile today in a soft multitenant cluster"
### Baseline security profile today in a soft multitenant cluster

Using the current release of Kubernetes, assuming a Kubernetes cluster is shared between multiple teams (i.e. soft multitenancy), document how to configure a cluster for soft multitenancy.

- N tenants per cluster, 1 Kubernetes namespace per tenant, no changes to Kubernetes upstream other than configuration
- See @easeway's KEP for

[2019-04-05 17:05] tashimi opened #6 "Give security researchers a secured multitenant cluster to work against"
### Give security researchers a reference cluster to work against.

- We will use the results of #5 to give security researchers a reference cluster they can work against. No one working on the Kubernetes’ bug bounty had time to work on that configuration, so it would benefit the project if the work coming out of this group could be used and formally made part of the Kubernetes bug bounty project.

[2019-04-05 21:56] easeway opened #8 "Tenant Controller prototype code skeleton"

[2019-04-05 21:57] easeway opened #9 "Auto-managed RBAC for Tenant CR"
When a Tenant CR is created, the Tenant Admins listed in the CR will be granted `get`, `update`, `patch`, `delete` permissions.

[2019-04-05 21:59] easeway opened #10 "Auto-create namespaces when Tenant CR is created"
When a Tenant CR is created, the namespaces listed is automatically created.

[2019-04-05 22:01] easeway opened #11 "Auto-populate minimal RBAC in namespaces created after Tenant CR"
A RoleBinding is created to bind Tenant Admins defined in Tenant CR to ClusterRole `admin`.

[2019-04-05 22:01] easeway commented on #8
Done.

[2019-04-05 22:01] #8 closed

[2019-04-05 22:01] easeway commented on #9
Done.

[2019-04-05 22:01] #9 closed

[2019-04-05 22:02] easeway commented on #10
PR #7

[2019-04-10 23:22] teq0 commented on #5
@easeway what are you thinking is the way forward here? It looks like your original KEP didn't get migrated to the new location, or did you split it up as per some of the PR conversation?

[2019-04-11 18:06] easeway commented on #5
The original KEPs are out-of-date and I don't think we should continue on these. If nobody is going to take this task, I will probably write up an initial draft of baseline security profile proposal based on the _default_ security profile I proposed in the KEP and the [design](https://drive.google.com/open?id=1lFiRNDWgyoZWQfvQV2UYsH80CKW90jwSeBzWyssTf7g)

[2019-04-11 18:08] easeway commented on #11
PR #12

[2019-04-11 18:09] easeway commented on #10
It's done as #7 is merged.

[2019-04-11 18:09] #10 closed

[2019-04-11 18:11] easeway opened #13 "Define NamespaceTemplate CRD"
To support policy based namespace population, define NamespaceTemplate CRD to contain policies to be auto-created in tenant's namespace.

[2019-04-11 18:12] easeway opened #14 "Populate namespace with policies defined in NamespaceTemplate"
Create policy objects defined in NamespaceTemplate into namespaces created after Tenant CR.

[2019-04-11 18:27] easeway opened #15 "Tenant CRD Status subresource"
Today Tenant CRD has Status but the content is not actually populated. We need to populate the content to reflect:

- The status of Tenant: Pending/Ready
- Any error conditions: e.g. some namespaces are not successfully created
- Any thing requested in the CR can't be satisfied/approved.

[2019-04-11 18:28] easeway opened #16 "Report Event during Tenant activities"
For create/update/delete activities on Tenant CR, emit Event objects for any success/failures.

[2019-04-11 18:29] easeway opened #17 "Use kubebuilder to write tenant-controller poc"
Adopt kubebuilder to help write tenant-controller poc.

[2019-04-15 23:01] easeway commented on #11
Done as PR merged.

[2019-04-15 23:01] #11 closed

[2019-04-16 23:05] #13 closed

[2019-04-17 15:03] rkamudhan opened #20 "tenancy crd client code"
Is there we can upstream the tenant crd client code using https://blog.openshift.com/kubernetes-deep-dive-code-generation-customresources ?

[2019-04-17 15:35] srampal commented on #20
That is exactly the plan … for now instead of being fully prescriptive, the plan is to build a few POCs like this one below and then move to the final consensus over the next few months.

https://github.com/kubernetes-sigs/multi-tenancy/tree/master/poc/tenant-controller

Rgds,
Sanjeev

ps. We have a couple of WG sessions on this topic at Kubecon Europe which would be great to for anyone interested

[2019-04-17 16:36] rkamudhan commented on #20
@srampal Thanks Sanjeev. I like contribute on this. Looking forward to collaborate on this effort.

[2019-04-17 21:36] #14 closed

[2019-04-18 17:29] srampal commented on #5
Let me take a crack at getting something going here.

[2019-04-18 19:35] srampal commented on #20
I guess this issue can be closed because this work is already happening as noted earlier via the following POC

https://github.com/kubernetes-sigs/multi-tenancy/tree/master/poc/tenant-controller

[2019-04-18 19:35] #20 closed

[2019-04-18 23:43] srampal commented on #5
Merged initial PR for this.

https://github.com/kubernetes-sigs/multi-tenancy/pull/21

Further PRs to come pending additional doc updates and feedback.

[2019-04-20 05:59] fanzhangio commented on #17
I would like to take over this task.

[2019-04-22 17:12] easeway commented on #17
Thanks @fanzhangio ! Due to the complexity of the change, I've created branch `use-controller-runtime`, please submit PRs to this branch instead of master.

[2019-04-23 16:39] JayBeale commented on #6
I'm interested in providing this.

[2019-04-23 16:46] rkamudhan commented on #4
@tashimi Please correct me, if I missing the following use case.

My use case is that, I am having 3 department in my office, each department can have 4 tenant or client in them. From the proposal, I can see that one Kubernetes namespace represent one tenant. Is there any logical representation of department in the use case. Is there any mechanism, we can address one layer hierarchy above tenant o

[2019-05-08 14:20] rkamudhan opened #23 "Clarification: Regarding TenantTemplate CR in the documentation"
In the document [Kubernetes Tenant CRD](https://docs.google.com/document/d/1hpJX5O_siMmNGMvIHvz8Pm7XOjJLz5g57XWrgwWarFw/edit#heading=h.x4zvfw13hjli)

Advanced (Full) Version Workflow:
- A cluster-admin creates and defines one or more TenantTemplate-CR and NamespaceTemplate-CR objects in a cluster.
- A TenantTemplate-CR instance may itself refer to one or more NamespaceTemplate-CR objects.
- A tena

[2019-05-08 14:20] rkamudhan commented on #23
/assign @srampal

[2019-05-08 17:30] rkamudhan opened #24 "Clarification: How the workloads are assigned for the tenant ?"
I am running the poc in the lab. Here is my understanding of the work regarding the tenant. Please help me to clarifies it.

Ownership
For resources created for a tenant, the OwnerReferences in the metadata points to the Tenant CR for maintaining the ownership. Currently, only namespaces are considered to adopt this reference. Additionally, a label is introduced on all resources owned by a tenant:

[2019-05-08 17:50] rkamudhan commented on #24
/assign @easeway  @srampal

[2019-05-09 00:32] easeway commented on #23
Replied after your comment in the original doc:

[2019-05-09 00:37] easeway commented on #24
You don't need to specify annotation `multi-tenanct.k8s.io/tenant=tenant-a` on a Pod. As a Pod is a namespace-scoped resource, you always have to specify `namespace: namespace-name` in metadata, or use `kubectl -n namespace-name apply pod.yaml`. Otherwise, the Pod is defaulted to be created inside `default` namespace and in real world case, the tenant user won't have permission in `default` namesp

[2019-06-17 20:26] tashimi opened #27 "Review soft-multitenancy profile"
https://github.com/kubernetes-sigs/multi-tenancy/blob/master/docs/profiles/profile-soft-multitenancy-s1.md

Please read, review, and update.

[2019-07-09 00:03] tashimi commented on #3
/remove-lifecycle stale

[2019-07-24 17:18] #4 closed

[2019-07-26 04:01] tashimi commented on #6
/remove-lifecycle stale

[2019-07-26 04:02] tashimi commented on #6
@JayBeale did you still want to work on this? We have a couple proposals in the repo, they could use some more attention for sure tho

[2019-08-01 19:15] #6 closed

[2019-08-01 21:40] cjwagner opened #33 "Tide and GitHub settings for this repo are conflicting."
https://prow.k8s.io/tide-history?repo=kubernetes-sigs%2Fmulti-tenancy

Please change the GitHub settings for the repo to allow merge commits or [configure Tide](https://github.com/kubernetes/test-infra/blob/28f7c583609c7d63822fb2cb4ab7dfb6ad1fab1a/prow/config.yaml#L429-L448) to use the `rebase` merge method ASAP to allow PRs to merge and avoid wasting GitHub API ratelimit.

[2019-08-02 13:14] rjbez17 commented on #33
@tashimi I don't have admin privileges for this repo, can you configure to allow merge commits?

[2019-08-02 17:01] tashimi commented on #33
Done!

<img width="795" alt="image" src="https://user-images.githubusercontent.com/719646/62386366-7e04f580-b50c-11e9-947c-d4daf3c31fc4.png">

[2019-08-02 17:10] cjwagner commented on #33
We need to enable `merge` commits in the GH settings, `rebase` should have already been checked based on the error message.
The alternative was to configure *Tide* for `rebase` commits (not GH).

We need the configs to match and currently Tide is configured to use merge commits (the default).

[2019-08-02 20:50] tashimi commented on #33
@cjwagner Is this what you're looking for?

<img width="802" alt="image" src="https://user-images.githubusercontent.com/719646/62398052-72292b80-b52c-11e9-859d-7c05a3a9904d.png">

[2019-08-02 21:45] cjwagner commented on #33
That should do it, thanks.
/close

[2019-08-02 21:45] #33 closed

[2019-08-22 21:16] rjbez17 opened #43 "Get official container registry from #wg-k8s-infra"
We need to move from docker hub to an official k8s sig registry. Info from @kfox1111  here:

https://github.com/kubernetes-sigs/multi-tenancy/pull/42#issuecomment-524025857

[2019-08-23 05:41] tashimi commented on #43
From @kfox1111:

@kfox1111 : @Fei-Guo indicated that GCE is not a good tool for non-US based developers, which is why he was asking for a docker hub account. Can we discuss this before we go ahead and get this account?

[2019-08-23 13:36] rjbez17 commented on #43
Aren't all kubernetes core images pushed to k8s.grc.io? Do they have a mirror somewhere? I have to image this issue has been resolved by other sigs? I'll reach out to #wg-k8s-infra to see what our options are.

[2019-08-23 16:54] kfox1111 commented on #43
Hmm... part of the setup of the repo mentions the repo syncing into:
- name: asia.gcr.io/k8s-artifacts-prod/multitenancy

Is that accessible @Fei-Guo?

[2019-08-23 19:05] Fei-Guo commented on #43
gcr.io is completely blocked in china as far as I know.

[2019-08-23 19:21] kfox1111 commented on #43
I don't know how accurate it is, but:
https://viewdns.info/chinesefirewall/?domain=asia.gcr.io

Says it is accessible. Have you tried it?

[2019-08-23 19:50] rjbez17 commented on #43
I reached out to #wg-k8s-infra to confirm whether or not asia.gcr.io is accessible from china. If they don't know we'll have to find someone within the community to test it for us.

[2019-09-04 19:33] kfox1111 commented on #43
https://github.com/kubernetes/k8s.io/pull/343 Just merged.

[2019-09-08 20:39] #16 closed

[2019-09-08 20:39] #15 closed

[2019-09-09 06:43] iam-merlin opened #53 "HNC : New repository"
hi @adrianludwin ,

The Hierarchical Namespace Controller is pretty interesting. Even if this project is a pre-alpha and also an incubation of the SIGs multi-tenancy... I think hnc is a project on its own (but it's a point of view).

I wonder if we can have a new repository for the HNC to simplify contribution and issue reporting?

[2019-09-09 12:58] adrianludwin commented on #53
Thanks! I don't have a strong opinion myself but I'm fairly new to navigating the rules around SIGs, WGs and repos. Perhaps @tashimi or @srampal could comment? I do want this to remain under the MTWG, at least for now.

[2019-09-09 16:48] tashimi commented on #53
I have no opinion on this. We opened up the multi-tenancy repo as a way to easily highlight all the multi-tenancy work going on, and I think that still holds true for this project. @iam-merlin I would suggest you just file issues here for now

[2019-09-09 17:27] srampal commented on #53
@iam-merlin The current plan is to incubate this a bit more within the current repo. We agree that the work seems generic enough to have value beyond the multitenancy working group and will certainly promote it that way. However for now, it is most directly relevant to this area hence for now we are keeping it here until we discuss with other community leads on how/ where to take this forward. Ple

[2019-09-09 18:04] adrianludwin commented on #53
Ok I'd recommend closing this issue for now (I don't have the permission to do so). We can revisit later this year.

[2019-09-09 18:13] #53 closed

[2019-09-09 18:13] #24 closed

[2019-09-09 18:14] #23 closed

[2019-09-09 18:14] #17 closed

[2019-09-09 18:14] #5 closed

[2019-09-09 18:14] #27 closed

[2019-09-09 18:15] #3 closed

[2019-09-10 15:01] iam-merlin commented on #53
Thx everyone for the feedback 👍

May I suggest a dedicated branch for PR?

[2019-09-11 14:49] adrianludwin commented on #53
What's the benefit of a dedicated PR branch - just to keep the history
clean?

On Tue, Sep 10, 2019 at 11:01 AM Romain DARY <notifications@github.com>
wrote:

[2019-09-11 22:11] iam-merlin commented on #53
Yep +1

[2019-09-16 14:42] liggitt opened #56 "clarify incubator directory intent"
The readme calls out the `poc` folder as containing explicitly unsupported code. What is the disposition of `incubator` directory? Nesting code inside that folder seems like it will be problematic/disruptive to unnest if those projects persist/grow. Should we move those to the poc folder or move them to their own repos?

[2019-09-16 14:43] liggitt commented on #56
cc @adrianludwin @Fei-Guo

[2019-09-16 14:45] adrianludwin commented on #56
I think having their own repos would be great - but isn't creating a repo a
fairly heavyweight operation? I think the idea is that things should stay
in the incubator until enough people are using them that it's worth moving
them to their own repo; this means there's churn for those early adopters,
but without adopters, we have a chicken-and-egg problem.

On Mon, Sep 16, 2019 at 10:43 AM Jordan Li

[2019-09-16 17:19] Fei-Guo commented on #56
Virtual cluster has almost no dependency with Tenant CRD and other subsystems. In the end it is just a CRD created in tenant admin namespace. Virtual cluster is solely a multi-tenancy solution hence it is suitable for multi-tenancy repo. Since both VC and tenant CRD are in developing phase, it is not clear what the best repo organization should be. Hence "incubator" directory was proposed to be us

[2019-09-16 18:12] adrianludwin commented on #56
The only problematic question I can see is "which SIG is this." Perhaps it
would be helpful to have an organization *other* than kubernetes-sigs for
incubator projects?

On Mon, Sep 16, 2019 at 2:10 PM Jordan Liggitt <notifications@github.com>
wrote:

[2019-09-16 18:44] adrianludwin opened #59 "HNC: in-memory tree may be out-of-sync with version on apiserver"
See https://github.com/kubernetes-sigs/multi-tenancy/pull/58#pullrequestreview-288817351

[2019-09-16 18:44] adrianludwin commented on #59
CC @Fei-Guo

/assign adrianludwin

[2019-09-20 22:01] sb1975 opened #67 "Tenant Operator does not work using the Readme"
It does not work, the t1adminnamespace or the t1-ns1 doesnot get created.

customresourcedefinition.apiextensions.k8s.io/tenants.tenancy.x-k8s.io created

customresourcedefinition.apiextensions.k8s.io/tenantnamespaces.tenancy.x-k8s.io created
root@wg-multitenancy:~# kubectl apply -f multi-tenancy/tenant/config/manager/
all_in_one.yaml  manager.yaml

namespace/tenant-system created
clusterrole.rbac

[2019-09-20 22:06] sb1975 opened #68 "Kindly specify tenant poc section -PoC Development Guide is deprecated"
Kindly specify tenant poc section -PoC Development Guide is deprecated

[2019-09-20 22:14] rkamudhan commented on #68
@sb1975 Is the Tenant controller part deprecated?

[2019-09-20 22:19] rkamudhan commented on #68
@sb1975 Is the Hierarchical Namespace Controller following the tenant CRD definition as same as the PoC controller ?

[2019-09-23 16:00] sb1975 commented on #68
Check out the HNC Design Doc - https://docs.google.com/document/d/10MZfFfbQMm33CBboMq2bfrEtXkJQQT4-UH4DDXZRrKY/edit?pli=1#heading=h.mjsh4dw4gklk
It complements and allows standalone deployments of Tenant CRD(we are calling it Tenant Operator :) )

[2019-09-23 23:00] adrianludwin commented on #59
Fixed via #64 and #66

[2019-09-23 23:00] #59 closed

[2019-09-24 19:17] Fei-Guo commented on #67
Can you post your controller log here? Thanks

[2019-09-25 02:48] sb1975 commented on #67
root@ubuntu:~/multi-tenancy# kubectl logs controller-manager-0 -n tenant-system
{"level":"info","ts":1569379512.5008686,"logger":"entrypoint","msg":"setting up client for manager"}
{"level":"info","ts":1569379512.5011148,"logger":"entrypoint","msg":"setting up manager"}
{"level":"info","ts":1569379512.8101914,"logger":"entrypoint","msg":"Registering Components."}
{"level":"info","ts":1569379512.81

[2019-09-25 04:07] Fei-Guo commented on #67
You may manually apply the fix and it should work. Thanks for catching this.

[2019-09-25 16:15] sb1975 commented on #67
But whats the fix please, can you please specify that ?

[2019-09-26 13:28] adrianludwin opened #76 "HNC: Add proper conditions to Hierarchy status"
Currently, the [conditions](https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/api/v1alpha1/hierarchy_types.go#L68) in the HNC status are simply a set of strings. In addition, conditions don't propagate between namespaces. This is a proposal to make them more structured, machine-readable, and useful.

# Error codes and references

We should expand the `Condition` struct to

[2019-09-26 13:28] adrianludwin commented on #76
/assign @yiqigao217

[2019-09-26 18:11] adrianludwin opened #80 "HNC: remove the SA exemption in the validating webhook"
See: https://github.com/kubernetes-sigs/multi-tenancy/pull/78#discussion_r328739728

The HNC SA can make any change so that it can update the singleton's `status` fields, even if the `spec` is illegal. I'm pretty sure there's a way to update _only_ the status, which would allow us to remove this exemption.

[2019-09-26 19:55] yiqigao217 commented on #76
/assign @yiqigao217

[2019-09-27 20:46] sb1975 commented on #67
ok so I installed docker,go,kind and then followed the steps. it all worked as expected. :)

[2019-09-27 20:46] #67 closed

[2019-10-03 13:37] adrianludwin opened #88 "HNC: Change singleton names from hier/Hierarchy to hierarchy/HierarchyConfiguration"
Currently, the HNC defines the hierarchy using a Kind called `Hierarchy` (kubectl short name: `hierarchy`/`hierarchies`) and a per-namespace singleton called `hier`. However, these names have a few problems:

- `hier` is hard to say and looks kind of dumb. I wanted it to be short so we could easily type it into kubectl, but the new kubectl plugin (`kubectl hnc`) makes this less relevant than I ini

[2019-10-03 13:38] adrianludwin commented on #88
/assign adrianludwin

[2019-10-03 13:40] adrianludwin opened #89 "HNC: forbid propagated objects from being modified"
Thanks to #65 , we can now _report_ when a user has incorrectly modified a propagated object, but ideally we should _prevent_ it instead. So we should add a check in `pkg/validators` to ensure that propagated objects are never modified by anyone other than the HNC itself.

[2019-10-03 13:40] adrianludwin commented on #89
/assign @yiqigao217

[2019-10-03 13:47] adrianludwin opened #90 "HNC: Self-service namespace creation"
Allow tenant admins who do not have cluster-wide namespace creation privileges to still create subnamespaces. Webhooks will be addressed by subsequent issues; this issue only tracks the core functionality (the reconciler).

These changes are already underway with #84; the remaining commits in https://github.com/adrianludwin/multi-tenancy/tree/self-serve will follow once this is merged.

[2019-10-03 13:49] adrianludwin opened #91 "HNC: Finalize the initial list of HNC-controlled objects"
Currently, the HNC will propagate `Roles`, `RoleBindings` and `Secrets`. I'd like to propose the following additional Kinds that get propagated in HNC 0.1:

- `ConfigMap`
- `NetworkPolicy`
- `PodSecurityPolicy`
- `ResourceQuota`
- `LimitRange`

That is, all the common policy objects that an admin might want to set and then forbid subadmins from modifying.

In HNC 0.2 (aka Phase 2 in the design doc

[2019-10-03 14:00] rjbez17 commented on #88
I don't have a strong preference but slightly towards #1.

[2019-10-03 14:00] adrianludwin commented on #88
Thanks, I think I'm leaning towards option 1 as well if I don't hear any strong objections.

[2019-10-03 14:10] adrianludwin opened #92 "HNC: add the `tree` label to all namespaces with explicit hierarchies"
As described in the [design doc](https://docs.google.com/document/d/10MZfFfbQMm33CBboMq2bfrEtXkJQQT4-UH4DDXZRrKY/edit#heading=h.huu5p7yquinw), we'll add a `<namespace>.tree.hnc.x-k8s.io/depth` label to all namespaces with nontrivial hierarchies (i.e. one or more children or any parent).

[2019-10-03 14:11] adrianludwin commented on #92
/assign @lafh

[2019-10-03 14:17] adrianludwin opened #93 "HNC: finalize the initial kubectl plugin"
The initial `kubectl-hnc` plugin contains the following commands:

- `set-parent <child> <parent>`: sets the parent. Alias: `set`
- `unset-parent <child>`: unsets the parent. Alias: `unset`
- `show <namespace>`: shows information about a single namespace
- `tree <namespace>`: like the Linux `tree` command for a namespace.
- `subnamespace <parent> <child>`: creates a new child under the given paren

[2019-10-03 14:21] adrianludwin commented on #43
Is this done?

[2019-10-03 14:38] adrianludwin commented on #90
/assign @adrianludwin

[2019-10-03 14:38] adrianludwin commented on #93
/assign @adrianludwin

[2019-10-03 14:38] adrianludwin commented on #91
/assign @adrianludwin

[2019-10-03 15:43] sb1975 opened #94 "Can we update the multi-tenancy/docs/profiles/profile-soft-multitenancy-s1.md"
Can we update the  profile-soft-multitenancy-s1.md  to specify the actions each persona will be executing as below :

<img width="393" alt="Profiles" src="https://user-images.githubusercontent.com/16325484/66142213-a7083c00-e5ca-11e9-8161-29f5a4087751.PNG">

[2019-10-03 18:22] yiqigao217 commented on #76
In addition to the set of codes listed above, I think we need to add one more to the initial set after the self-serve is in place:
* CRIT_CONFLICT: there's a conflict between this namespace and another (ie this namespace is in another namespace's RequiredChildren spec, but this namespace has a different Parent spec).
 *affected[0].name identifies the namespace that has a conflict with this one. ms

[2019-10-03 18:54] tashimi commented on #88
That works! I like spelling out the full name. `hier` will just lead to `high-er` and `higher-archery`

[2019-10-03 19:45] adrianludwin commented on #88
I need to remember hier-archery for a project name in the future. Ok, I'll
either start working on a PR or perhaps consider giving this to one of the
interns.

On Thu, Oct 3, 2019 at 2:54 PM Tasha <notifications@github.com> wrote:

[2019-10-03 19:46] adrianludwin commented on #76
sgtm although I'd be a bit more verbose than CRIT_CONFLICT - maybe
CRIT_REQUIRED_CHILD_CONFLICT?

On Thu, Oct 3, 2019 at 2:22 PM yiqigao217 <notifications@github.com> wrote:

[2019-10-03 20:33] tashimi commented on #88
Yes! Tag it good first issue and someone can pick it up!

[2019-10-03 20:34] tashimi commented on #88
![tenor-50362273](https://user-images.githubusercontent.com/719646/66162058-76340100-e5e2-11e9-97f1-bba2065233da.gif)

[2019-10-03 20:44] sb1975 commented on #68
I can see this line is added in the main Readme - " The poc directory contains deprecated proof-of-concept code which is not supported."

@srampal , Can we also  specify that the https://github.com/kubernetes-sigs/multi-tenancy/tree/master/tenant is the current POC anybody attempting to understand Multi-tenancy can use please ?

[2019-10-03 21:17] entro-pi commented on #88
I'd like this as my first issue!

[2019-10-03 22:24] adrianludwin commented on #88
@entro-pi are you one of the Outreachy interns?

[2019-10-03 22:24] adrianludwin commented on #88
/good-first-issue

[2019-10-03 22:47] entro-pi commented on #88
Yes I am one of them! I go by py-entro and Taylor elsewhere.

Cheers!

On Thu, Oct 3, 2019, 5:24 PM Kubernetes Prow Robot <notifications@github.com>
wrote:

[2019-10-03 22:51] adrianludwin commented on #88
Ok let me know when you're a [member of kubernetes-sigs](https://github.com/kubernetes-sigs/multi-tenancy#join-this-repo), or just assign this to yourself if you are already

[2019-10-03 22:56] entro-pi commented on #88
Ok! To clarify, I am an Outreachy Applicant at this step. I'm on the
contribution step of the application process so I'm unsure if I get to be
added to kubernetes-sigs just yet.

As well, my pronouns are they/them.

Thank you!
Taylor

On Thu, Oct 3, 2019, 5:51 PM Adrian Ludwin <notifications@github.com> wrote:

[2019-10-03 22:58] adrianludwin commented on #88
re pronouns - noted, thanks! re sig - Tasha should be able to sponsor you, I think. I can't since I'm not a full member of this repo myself.

If it turns out that you can't actually be assigned the issue just let me know, I'll grab it myself but let you submit the PR.

[2019-10-03 23:12] rjbez17 commented on #88
I was actually going to suggest we go with a Archie theme.

[2019-10-03 23:14] rjbez17 commented on #88
My daughter closed her first open source issue I guess...sorry about that :)

[2019-10-03 23:15] tashimi commented on #88
@rjbez17 it's good to start early!

@entro-pi you can become a member of kubernetes-sigs by filling out this form and following the checklist. Be sure to do @kubernetes-sigs, not @kubernetes for the form (or do both if you want)
- docs: https://github.com/kubernetes/community/blob/master/community-membership.md
- form: https://github.com/kubernetes/org/issues/new?template=membership.md&title=REQUE

[2019-10-03 23:31] entro-pi commented on #88
Excellent! Thank you so much, I'll get to that tonight.

On Thu, Oct 3, 2019, 6:16 PM Tasha <notifications@github.com> wrote:

[2019-10-04 16:37] yiqigao217 commented on #76
Sure.

Do you think we can have ```affected``` as empty instead of having ```affected[0].namespace``` (storing the most recent ancestor with CRIT_ conditions) for CRIT_ANCESTOR condition in the Hier object? Since we will check all ancestors instead of trusting the stored values to trace up.

However, when the ```CRIT_``` conditions in the current namespace is resolved, we may need some way to enqu

[2019-10-04 18:27] yiqigao217 commented on #76
Another thought I had previously is that each time we successfully set/unset(change) a CRIT_ condition in the currently namespace, all its children namespaces should be enqueued, considering they may be set/uset CRIT_ANCESTOR conditions.

In this case, we cannot clear all CRIT_ conditions in the in-memory forest at the beginning of each reconciling and just get new CRIT_ conditions, because we nee

[2019-10-04 20:46] entro-pi commented on #88
/assign @entro-pi

[2019-10-04 21:04] adrianludwin commented on #76
This is just for usability - we don't necessarily need to _store_ this in any persistent way, but we should _report_ it to users, I think.

I don't understand this question? Your latest commit lgtm so far.

+1

I think we agreed on fixing this by calling it `ns.ClearLocalConditions()` or `ns.ClearConditions(forest.Local)`

[2019-10-05 03:27] adrianludwin commented on #91
/good-first-issue
/unassign

Let's go with the list shown above. This should be an easy PR for someone.

[2019-10-05 03:29] adrianludwin opened #99 "HNC: ensure hierarchy doesn't violate required children"
Once #90 is complete, we should add a validating webhook to ensure that required children are not reassigned to the wrong parents.

/good-first-issue

[2019-10-05 03:32] adrianludwin opened #100 "HNC: prevent required children from being removed once added"
Per the [Phase 1 UJ](https://docs.google.com/document/d/10MZfFfbQMm33CBboMq2bfrEtXkJQQT4-UH4DDXZRrKY/edit#heading=h.hy63g7knf208), required children should be "permanent" - that is, once a namespace has been _created_ as a child namespace, it cannot be removed (until we add Phase 2 features).

This might be a bit tricky since we basically need to compare the old and proposed version of the object

[2019-10-05 03:38] adrianludwin opened #101 "HNC: remove the long delays in object_controller_test.go"
The object propagation tests have 5s delays, and even then they sometimes fail. This doesn't really make sense; they should be passing reliably. We should figure out what's causing the failures in these (very small) test cases and fix them.

[2019-10-05 03:39] adrianludwin opened #102 "HNC: allow multiple worker threads"
I believe the number of worker threads is currently set to 1 by default, but we should be able to handle more.

[2019-10-05 03:43] adrianludwin opened #103 "HNC: parallelize object reconciliation"
Just like #64 allowed multiple namespaces to be reconciled in parallel (pending #102) and, more importantly, to be requeued in cases of error, we should make the same change to the object reconciler.

[2019-10-05 03:48] adrianludwin opened #104 "HNC: prevent users from applying the inheritedFrom label"
`hnc.x-k8s.io/inheritedFrom` is used by the controller to determine which objects to manage. We should add a webhook to prevent users from applying it directly.

[2019-10-05 03:58] adrianludwin opened #105 "HNC: handle object propagation if the in-memory forest is not yet synced"
See TODO in `pkg/controllers/object_controller.go`, method `hasCorrectAncestry`. This method can fail incorrectly the source, dest or intermediate namespaces haven't been synced yet, which can easily happen during controller startup. This could lead to objects being incorrectly deleted until the controller stabilizes. We should try to find a way to avoid this if possible.

[2019-10-05 04:00] adrianludwin opened #106 "HNC: don't propagate objects with initializers or finalizers"
We wipe away the initializers and finalizers on any propagated objects. Instead, we should probably refuse to propagate any object that has an initializer or finalizer. See #201 for a continuation of this feature.

[2019-10-05 04:02] adrianludwin opened #107 "HNC: allow kubectl-hnc to get the kubeconfig passed in by argument"
See the TODO in `pkg/kubectl/root.go`.

[2019-10-05 04:03] adrianludwin opened #108 "HNC: kubectl-hnc should not allow duplicate requiredChildren"
See comment in `pkg/kubectl/sub.go`.

/good-first-issue

[2019-10-05 04:18] adrianludwin opened #109 "HNC: Refactor hierarchy controller into smaller methods"
The hierarchy controller has the following rough structure:

- `reconcile` loads the singleton and namespace from the apiserver, determines if updates should be written back to the apiserver, calls `updateTree`, and calls `updateObjects` if we're writing updates.
- `updateTree` makes a copy of the singleton and namespace, calls `syncWithForest`, and (if we're updating) writes the objects back to t

[2019-10-05 04:19] adrianludwin opened #110 "HNC: configure Prow for presubmit testing"
/assign @danielSbastos

[2019-10-05 04:20] adrianludwin commented on #110
Thanks @danielSbastos for working on this!

[2019-10-05 04:24] adrianludwin opened #111 "HNC: publish basic metrics"
See https://kubebuilder.io/reference/metrics.html. We need to also write a mini-design doc (possibly write in this issue?) stating which metrics we need to collect.

/assign @lafh

[2019-10-05 04:30] adrianludwin opened #112 "HNC: stop modifying source files whenever we call `make docker-build`"
See the following fairly terrifying lines in `Makefile` (added by `kubebuilder` when it first scaffolds the project):

[code]

This means that every time we run `make docker-build`, _our source files get modified_! We should not do this. I'm not sure what we _should_ do. Maybe have a non-default kustomization that we can `.gitignore`?

[2019-10-05 04:31] adrianludwin opened #113 "HNC: figure out what to do with kustomize and allow one-line installation"
It would be nice to be able to install the HNC by saying `kubectl apply -f <some single file>`, but for reasons I don't fully understand, kubebuilder creates a kustomization structure with only a single configuration (`/config/default`). We should figure out why this is, if we should take advantage of it somehow, maybe to help solve #112.

/assign @lafh

since she has experience with kustomize.

[2019-10-05 04:36] adrianludwin commented on #106
/good-first-issue

[2019-10-05 12:30] adrianludwin commented on #90
Completed as a part of #95

[2019-10-05 12:30] #90 closed

[2019-10-05 13:02] danielSbastos commented on #110
![Alt Text](https://media.giphy.com/media/Ep94i7XsV92ow/giphy.gif)

[2019-10-06 23:31] adrianludwin commented on #88
Fixed via PR #98

[2019-10-06 23:31] #88 closed

[2019-10-07 00:10] entro-pi commented on #91
I'd like to take this on, I studied the problem during my downtime recently and think I have a good idea of how to solve it, or at least the questions I need to ask.

/assign @entro-pi

[2019-10-07 16:01] vjdhama commented on #108
@adrianludwin I would like to take this up. I am new to multi-tenancy WG, so would need some general direction.

Code you are referring to, is this, right?

https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/pkg/kubectl/sub.go#L32

[2019-10-07 16:41] adrianludwin opened #119 "HNC: Implement RBAC rules in a webhook"
Follow the restrictions in the design doc about changing the parent of a namespace.

[2019-10-07 16:42] adrianludwin opened #120 "HNC: Configure the list of HNC-controlled objects at the cluster level"
Issue #91 hardcodes the initial list of GVKs controlled by HNC. We should make this configurable.

[2019-10-07 16:59] adrianludwin commented on #108
Thanks! Yup, that's the right line, exactly. Feel free to take this issue
and start working on it.

I've got a better README on the way:
https://github.com/kubernetes-sigs/multi-tenancy/pull/121. Please check
that out and let me know (ideally on Slack) if you're having any issues.
Thanks!

On Mon, Oct 7, 2019 at 12:01 PM Vijay Dhama <notifications@github.com>
wrote:

[2019-10-07 17:12] adrianludwin opened #122 "HNC: s/syncRequiredChildren/syncChildren/"
The `syncRequiredChildren` function in `pkg/controller/hierarchy_controller.go` is a bit weird: it relies on someone calling `inst.Status.Children = ns.ChildNames()` even though it has both `inst` and `ns`.

We should change the method name to `syncChildren` and move the assignment mentioned above to be the first line of that function.

/good-first-issue

[2019-10-07 17:12] adrianludwin commented on #122
/milestone HNC v0.1

[2019-10-07 17:14] adrianludwin commented on #122
/milestone hnc-v0.1

[2019-10-07 17:16] adrianludwin commented on #122
Don't start work on this until #115 goes in as it changes the signature and call site of `syncRequiredChildren`.

[2019-10-07 17:17] entro-pi commented on #91
Here's a question, should I close this issue? (if I can)?

[2019-10-07 17:22] entro-pi commented on #106
I'd like to take this one on!

/assign @entro-pi

[2019-10-07 17:33] adrianludwin commented on #91
Yup! If you can't, I will.

[2019-10-07 18:26] yiqigao217 commented on #109
/assign @yiqigao217

[2019-10-07 18:36] entro-pi commented on #91
Fixed by #116

[2019-10-07 18:37] entro-pi commented on #91
Looks like I can't, would you mind?

[2019-10-07 18:42] #91 closed

[2019-10-08 00:24] entro-pi commented on #106
The propagation as well as initialization is done through the hierarchy and object controllers as far as I can tell. This will take a few days to digest exactly how these two behave. If anyone has any pointers to different sections of code to study, please let me know!

[2019-10-08 03:22] adrianludwin commented on #122
/assign @yiqigao217

[2019-10-08 12:27] adrianludwin commented on #106
This should be done entirely through the object controller; the hierarchy controller just sets up the hierarchies, but the object controller actually does the propagation.

You can ask @yiqigao217 for help (that's her Slack handle too) since she's been working on the object controller.

[2019-10-08 12:32] entro-pi commented on #106
Cool! Thanks!

On Tue, Oct 8, 2019, 7:27 AM Adrian Ludwin <notifications@github.com> wrote:

[2019-10-08 21:08] yiqigao217 commented on #76
The implementation of adding ```CRIT_ANCESTOR``` condition mentioned in # 2 and # 3 above are totally different. # 2 is to enqueue/set ```CRIT_ANCESTOR```  condition to all children when ```CRIT_``` conditions in this namespace changed. Basically, the ```CRIT_ANCESTOR```  condition is not set locally but by an ancestor namespace. While # 3 would be setting ```CRIT_ANCESTOR``` locally even without

[2019-10-09 13:08] yiqigao217 commented on #76
Based what stated above, the implementation could be:
* store ```CRIT_``` condition before clearing local conditions and compare the difference to see if ```CRIT_``` of this namespace is updated (set/unset) and decide whether to enqueue all children.
* ```CRIT_ANCESTOR``` is still set locally by looking upwards the ancestors.

[2019-10-09 15:25] #92 closed

[2019-10-09 19:17] shivi28 commented on #99
Hello @adrianludwin. Can I pick up this issue.

[2019-10-10 13:47] #109 closed

[2019-10-10 13:47] #122 closed

[2019-10-10 14:14] adrianludwin commented on #76
Discussed offline - agreed that this is the right way to go.

[2019-10-10 14:23] adrianludwin opened #130 "HNC: allow `kubectl hnc tree` to show _all_ namespaces if no argument is given"
(Filed as a result of #93)

Currently `kubectl hnc tree` requires an argument, which is the root namespace of the tree to display. We should also allow the user to omit the root argument and print _every_ namespace (and their subnamespaces) instead.

/good-first-issue

[2019-10-10 14:25] adrianludwin commented on #99
Hi @shivi28 , I'd actually recommend #130 instead as your very first issue, then maybe come back to this one later?

[2019-10-10 14:36] adrianludwin opened #131 "HNC: Clean up kubectl plugin hierarchy modification functions"
(Filed as a part of #93; may supplant #108)

We currently have three commands to change the structure of the hierarchy: `set-parent`, `unset-parent` and `subnamespace`. These commands don't work consistently and aren't grouped well.

As a result, I think we should have a single `set <ns>` command with multiple flags:

- `--parent <parent>`: sets the parent
- `--root`: unsets the parent (i.e., turn

[2019-10-10 14:38] adrianludwin commented on #131
/good-first-issue

[2019-10-10 14:45] adrianludwin opened #132 "HNC: Package the kubectl plugin for `krew`"
(Filed as part of #93)

[Krew](https://github.com/kubernetes-sigs/krew/blob/master/docs/DEVELOPER_GUIDE.md) seems to be the recommended way to distribute kubectl plugins. We should package up `kubectl-hnc` as a `krew` plugin.

Also, right now, `make kubectl` puts the binary in `<hnc>/bin` and `<hnc>/devenv` adds it to the path. This means that any other executables in that directory (currently onl

[2019-10-10 18:10] shivi28 commented on #130
hello @adrianludwin I would love to pick this up

[2019-10-10 18:12] tashimi commented on #130
/assign @shivi28

[2019-10-10 18:46] vjdhama commented on #108
@adrianludwin Thanks for the info. I'll bug you on slack if I run into issues. Cheers.

[2019-10-10 18:50] adrianludwin commented on #108
Actually, can you work on #131 instead, which will include this issue?

Also, are you a member of `kubernetes-sigs`? If so, you should be able to assign this to yourself.

[2019-10-10 18:51] adrianludwin commented on #131
/assign vjdhama

[2019-10-10 18:52] adrianludwin commented on #131
@vjdhama looks like you're not a member of `kubernetes-sigs` yet, can you please add yourself as per https://github.com/kubernetes-sigs/multi-tenancy#join-this-repo? tashimi and I can sponsor you, and it's ok not to have contributions _yet_, just say you'll be working on HNC and reference this issue.

[2019-10-10 19:33] vjdhama commented on #108
Cool. I will start with that.

[2019-10-10 19:34] vjdhama commented on #131
Thanks. I raised membership request. 🤞

[2019-10-11 18:45] yiqigao217 commented on #76
Now that all ```CRIT_``` conditions are done, I 'm going to add ```OBJECT_``` conditions.

Here's the implementation in my mind:
* All the changes will be in ```object_controller.go```
* ```OBJECT_``` conditions will be SET where the src/copy-object-diff is found in ```ensureCorrectAncestry()```. (Do we still keep the ```annotationModified```? Maybe yes, since this is the only mark on object inst.

[2019-10-11 19:00] adrianludwin commented on #76
I think we can ditch the `modified` annotation for now - yes, it's the only mark _on_ the object, but I think we should train people to look at `hierarchyconfig.status.conditions` to look for problems, not in other locations. Also, this would mean that if the object is modified, we stop touching it completely, which feels like the right thing to do to me - "you look weird, I'm not touching you any

[2019-10-11 19:11] yiqigao217 commented on #76
Thanks for sorting through.

Yes, consolidating the calls with forest lock sounds good, since otherwise I will make another separate func with forest lock to get namespace ```CRIT_``` conditions.

So basically, it can be 3 PRs:
* Restructure ```update``` to consolidate calls with forest lock
* Add ```OBJECT_``` conditions
* Check namespace ```CRIT_``` conditions before propagation

[2019-10-11 19:17] adrianludwin commented on #76
+1

On Fri, Oct 11, 2019 at 3:11 PM yiqigao217 <notifications@github.com> wrote:

[2019-10-11 20:56] shivi28 opened #144 "kubectl hnc set-parent <ns> <parent-ns> command throws error : "the server could not find the requested resource (post hierarchies.hnc.x-k8s.io hierarchy)""
I created three namespaces :acme-org, team-a and team-b
and when I was trying to set acme-org as parent of team-a using command:

```kubectl hnc set-parent team-a acme-org```

then it throws an error

```Error setting the parent of team-a to acme-org: the server could not find the requested resource (post hierarchies.hnc.x-k8s.io hierarchy)```

[2019-10-11 21:31] tashimi commented on #144
/assign @shivi28

[2019-10-11 23:56] adrianludwin commented on #144
Fixed by #145

[2019-10-11 23:56] #144 closed

[2019-10-11 23:59] adrianludwin opened #146 "HNC: create constants for API types"
Issue #144 exposed a bug there the string `"hierarchies"` was hardcoded, but should have been changed to `"hierarchyconfigurations"` as a part of #98 . PR #145 fixes the immediate problem by changing the hardcoded string, but I think that in addition to the `tenancy.Singleton` const that defines the singleton _name_, we should also have a `tenancy.Resource` const with the correct string, rather th

[2019-10-12 00:47] shivi28 commented on #146
/assign @shivi28

[2019-10-12 16:18] adrianludwin commented on #112
/assign @adrianludwin

See https://github.com/adrianludwin/multi-tenancy/commit/194bef94a9653f894f0d0c05bf42df750ca9e112

[2019-10-12 16:18] adrianludwin commented on #107
/good-first-issue

[2019-10-13 21:22] #146 closed

[2019-10-15 01:03] #131 closed

[2019-10-15 08:07] shivi28 commented on #132
Hello @adrianludwin I would like to pick this issue

[2019-10-15 13:41] adrianludwin commented on #132
/assign @shivi28

[2019-10-15 13:41] adrianludwin commented on #132
Just go ahead and assign yourself issues, no need to ask for permission :)

[2019-10-15 15:46] adrianludwin commented on #107
I _think_ this was fixed by #150 but I haven't tested it yet.

[2019-10-15 15:47] adrianludwin commented on #104
/assign @lafh

We'll need to add a second webhook in `pkg/validators` to make this work, I think.

[2019-10-15 15:48] adrianludwin commented on #101
/assign @lafh

The code and tests are both by @yiqigao217 so maybe sync with her? But she's got a lot going on right now and could probably use the debugging help on this one.

[2019-10-16 17:38] shivi28 commented on #94
/assign @shivi28

[2019-10-17 13:05] adrianludwin commented on #108
Fixed as a part of #152

[2019-10-17 13:05] #108 closed

[2019-10-17 13:06] adrianludwin commented on #99
As soon as #156 is merged (which restructures most of the HC validator), this should be relatively easy to implement.

[2019-10-17 13:26] adrianludwin opened #158 "HNC: only allow user to assign a missing parent if they have the ability to create that namespace"
This issue depends on #156 being merged.

Right now, we allow users to set hc.Spec.Parent to a namespace that doesn't exist yet. This allows someone to say `kubectl apply -f` to a directory full of YAML and not worry about carefully putting things in place in order. However, we shouldn't allow a user to do this unless they _also_ have the ability to actually create the missing namespace.

I'd sugg

[2019-10-17 19:13] adrianludwin opened #162 "HNC: various fixes to `kubectl hnc set`"
See the comments on #152 from after that PR was merged

/assign @vjdhama

[2019-10-20 23:33] adrianludwin commented on #100
Now that we have real authz checks, we don't need this anymore.

[2019-10-20 23:33] #100 closed

[2019-10-21 00:23] adrianludwin opened #172 "HNC: validator should reject illegal namespace names"
Currently `kubectl hnc set foo --requiredChild %^&^%` goes through just fine, though of course the namespace can never be created. We should reject this in the webhook.

[2019-10-21 00:23] adrianludwin commented on #172
/good-first-issue

[2019-10-21 00:24] adrianludwin opened #173 "HNC: create unit tests for all kubectl-hnc commands"
/good-first-issue

`kubectl-hnc` is getting complicated enough that we should probably start unit testing it, especially `set`.

[2019-10-21 01:01] adrianludwin commented on #110
This _may_ be fixed at https://github.com/kubernetes/test-infra/pull/14660?

[2019-10-21 09:52] frbimo commented on #172
hi @adrianludwin , this is my very first PR here, can i pick this one?

[2019-10-21 13:38] adrianludwin commented on #172
@frbimo - do you know how validating admission controller webhooks work in K8s? If so, please go right ahead! You're not a member of the kubernetes-sigs organization so I can't assign this issue to you but please feel free to send a PR.

We already have a fair number of new contributors so unfortunately we won't have a lot of time to respond to questions. However, you can try to ping us on the [K8

[2019-10-22 02:50] frbimo commented on #172
@adrianludwin Got it. I will try to ping @rjbez17  first to confirm about this issue. Thank you

[2019-10-22 03:43] adrianludwin commented on #102
/assign @adrianludwin

[2019-10-22 07:16] shivi28 commented on #173
/assign @shivi28

[2019-10-22 10:39] shivi28 commented on #99
Now I am

[2019-10-22 10:40] shivi28 commented on #99
/assign @shivi28

[2019-10-22 14:51] adrianludwin commented on #173
Hey @shivi28 , @danielSbastos was also interested in working on this. Have you started any work on it yet? If not, he may take it on as I believe he's already looked into it a bit.

[2019-10-22 15:07] danielSbastos commented on #173
Hey, @adrianludwin and @shivi28. @shivi28, I haven't started this yet, and won't for the next 4-5 days. Feel free to solve this :) I'll look at other issues that interest me.

[2019-10-22 15:32] adrianludwin commented on #113
This was largely fixed with #164 . I'll file a new issue to just track releasing the images.

[2019-10-22 15:32] adrianludwin commented on #113
This was largely fixed with #164 . I'll file a new issue to just track releasing the images.

[2019-10-22 15:32] #113 closed

[2019-10-22 15:32] adrianludwin commented on #101
/assign @yiqigao217

I believe you're having a closer look at this with your latest PR?

[2019-10-22 15:33] adrianludwin commented on #99
/assign @lafh

Laetitia's working on webhooks anyway so this probably easier for her

[2019-10-22 15:34] adrianludwin commented on #112
Fixed via #161 and #164

[2019-10-22 15:34] #112 closed

[2019-10-22 15:37] adrianludwin commented on #107
Verified that `kubeconfig hnc tree --kubeconfig=<path> default` works correctly when I set the path to a non-default kubeconfig.

[2019-10-22 15:37] #107 closed

[2019-10-22 15:37] adrianludwin commented on #102
WIP

[2019-10-22 15:57] danielSbastos commented on #173
@shivi28, I'm copying to here the instructions that Adrian gave me, which will be useful for you:

_The thread started with Adrian explaining how to stub methods in Go_

[code]

[code]

[code]

[code]

library which we didn't write

[2019-10-22 17:23] shivi28 commented on #173
hey @danielSbastos. I also have not started anything on this PR. If you are busy for next few days then I could start on this, but still if you can manage then you can pick this one :)

[2019-10-22 17:24] danielSbastos commented on #173
Feel free to start on it ;) no worries

On Tue, 22 Oct 2019 at 14:23 shivi28 <notifications@github.com> wrote:

--
Daniel Bastos ٩(^ᴗ^)۶
(47) 99633-2772
www.daniboy.me

[2019-10-22 17:26] danielSbastos commented on #173
@shivi28, feel free to start on it, no worries. I won’t be able to work on it for these days indeed ;)

[2019-10-22 17:32] shivi28 commented on #173
ok @danielSbastos. Thanks again :)

[2019-10-22 17:34] #130 closed

[2019-10-22 17:39] yiqigao217 commented on #101
Should we close this issue since now we are using conditions instead of annotations? And the time-out issue no longer happens when detecting the object conditions within the default 2s.

Previously, the issue was that it took up to (or more than) 5s to detect that the modified annotation is set on object.

[2019-10-22 17:42] #102 closed

[2019-10-22 17:45] adrianludwin commented on #101
Yeah makes sense. If you have any idea _why_ this problem went away it
would be nice to write that down, but if we don't, then I guess that's ok
too.

On Tue, Oct 22, 2019 at 1:39 PM yiqigao217 <notifications@github.com> wrote:

[2019-10-22 20:07] yiqigao217 commented on #101
UPDATE: When I was trying to figure out why, I started by testing the old annotation version (current upstream/master), it passed. Even after I removed the 5s and thus the time-out limit is set back to the default 2s, it passed without being flaky (I ran `make test` for more than 10 times).

I guess the previous issue was on the forest lock & calling API server, since the current upstream version

[2019-10-22 20:28] yiqigao217 commented on #101
/close

[2019-10-22 20:28] #101 closed

[2019-10-22 23:01] adrianludwin commented on #119
Done #156 and #170

[2019-10-22 23:01] #119 closed

[2019-10-22 23:02] adrianludwin commented on #162
This is mostly now done.

[2019-10-22 23:02] #162 closed

[2019-10-24 15:04] adrianludwin opened #185 "HNC: ns.tree.hnc.x-k8s.io labels are not removed when the hierarchy changes"
I moved a namespace from one parent to another and noticed that the old namespace label was not removed. The reconciler should remove all existing hnc.x-k8s.io labels (and annotations) when it reconciles a namespace to ensure that old data is cleaned up.

/assign @lafh

[2019-10-24 16:33] adrianludwin commented on #185
/unassign

[2019-10-24 16:34] adrianludwin commented on #185
/unassign
/good-first-issue

[2019-10-24 16:39] adrianludwin commented on #99
/remove-good-first-issue

[2019-10-24 16:40] adrianludwin commented on #172
Fixed by #184

[2019-10-24 16:40] #172 closed

[2019-10-24 17:47] frbimo commented on #185
@adrianludwin can i pick this issue?

[2019-10-24 18:12] adrianludwin commented on #185
Go for it. Note that writing unit tests in hierarchy_controller_test.go
will be an essential part of this task.

On Thu, Oct 24, 2019 at 1:47 PM frbimo <notifications@github.com> wrote:

[2019-10-25 09:20] frbimo commented on #185
@adrianludwin Ok will try to sync with you or @rjbez17 later.
One question, you said remove "all", means remove even if there are labels other than hnc's label?

[2019-10-25 13:58] adrianludwin opened #188 "HNC: Consider making object validator fail-closed"
See [this discussion](https://github.com/kubernetes-sigs/multi-tenancy/pull/181#discussion_r337724670). Should we change the default, or make it configurable in some way other than by changing the manifests?

[2019-10-25 19:17] yiqigao217 opened #189 "HNC: Reduce the number of times of object propagation"
See this [discussion](https://github.com/kubernetes-sigs/multi-tenancy/pull/183#issuecomment-546472222).
We need to reduce the number of times we copy objects for no good reason.

If we introduce hier controller calls into object controllers and thus hier and object controllers can trigger each other, this should speed up the controllers significantly by reducing the unnecessary number of objects

[2019-10-25 19:17] yiqigao217 commented on #189
/cc @adrianludwin

[2019-10-25 21:14] yiqigao217 commented on #101
The cause should be concurrency issues discussed [here](https://github.com/kubernetes-sigs/multi-tenancy/pull/183#issuecomment-546472222)

[2019-10-28 08:54] adrianludwin commented on #185
Fixed via #193

[2019-10-28 08:54] #185 closed

[2019-10-28 10:59] adrianludwin commented on #132
This might be helpful: https://elsesiy.com/blog/how-to-kubectl-plugin

@shivi28 , are you actively working on this? If not, can you please unassign yourself so someone else can take it over?

[2019-10-28 11:01] adrianludwin commented on #110
This was fixed by https://github.com/kubernetes/test-infra/pull/14921 and https://github.com/kubernetes/test-infra/pull/14891.

[2019-10-28 11:01] #110 closed

[2019-10-28 11:02] adrianludwin commented on #158
#156 is now merged but I'm wondering if we really want to allow this.

[2019-10-28 11:58] adrianludwin opened #195 "HNC: restructure object controller to allow explicit enqueuing"
The Object controller doesn't allow for manual enqueing; either we can try to update every object of a certain type as a single, serial operation (`SyncNamespace`); if any _one_ fails, we need to redo _all_ of them. By contrast, the HierarchyConfig reconciler allows for individual enqueues and retries of individual failures.

Once we can enqueue a reconcile for a specific object, this unlocks many

[2019-10-28 12:01] shivi28 commented on #132
ya sure andrian,
/unassign @shivi28

[2019-10-28 15:45] adrianludwin opened #197 "HNC: test NetworkPolicy integration with HNC"
/assign @srampal

As discussed offline - play around with NetworkPolicy and HNC and verify both that:

- It gets copied and applied in descendant namespaces as expected
- You can use `namespaceSelector` to select subtrees for ingress and egress

An example `namespaceSelector` to select all subnamespaces of `foo` might be something like:

[code]

[2019-10-29 01:38] #104 closed

[2019-10-29 07:07] adrianludwin opened #200 "HNC: Forbid users from setting a parent that doesn't yet exist"
After a discussion with @srampal, I don't think we want to allow users to specify nonexistent parents after all. Therefore, in [validators/hierarchy.go](https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/pkg/validators/hierarchy.go), in `checkForest`, if `newParent.Exists()` is false, we should return a 403-forbidden status code and a message like "The requested parent %q d

[2019-10-29 07:08] adrianludwin commented on #158
Discussed with @srampal and agreed to forbid this. Replacing this issue with #200 .

[2019-10-29 07:08] #158 closed

[2019-10-29 07:09] adrianludwin commented on #106
@entro-pi told me they aren't able to work on this for now, so unassigning.

/unassign

[2019-10-29 07:10] shivi28 commented on #200
/assign @shivi28

[2019-10-29 07:16] adrianludwin opened #201 "HNC: warn about unpropagated objects"
An object may not be propagated for several reasons:

- It's been manually modified by the user (bypassing the webhook)
- It has finalizers or other HNC-incompatible metadata set on it per #106

In such cases, we should add a condition to the object's namespace as a warning.

[2019-10-29 07:25] adrianludwin commented on #103
#195 describes this but better
/close

[2019-10-29 07:25] #103 closed

[2019-10-29 07:33] adrianludwin commented on #105
Note that now that we've decided that it's always an error condition for a namespace's parent to be missing, this should become a lot easier: we simply pause propagation (and deletion) in the affected namespace until its entire ancestry tree is valid.

[2019-10-29 07:37] adrianludwin opened #202 "HNC: dedup enqueue requests"
I _think_ that if we send ourselves 10 enqueue requests in the hierarchy controller, we'll reconcile the same hierarchy 10 times. This should be functionally fine but it's wasteful.

[2019-10-30 07:31] shivi28 opened #207 "HNC : The ValidatingWebhookConfiguration is invalid while doing make kind-deploy"
Description:

`make kind-deploy` throws following error:

[code]

[2019-10-30 07:32] shivi28 commented on #207
/assign @shivi28

[2019-10-30 07:32] adrianludwin commented on #207
/assign @adrianludwin

Testing a fix

[2019-10-30 09:38] #207 closed

[2019-10-30 09:39] shivi28 commented on #173
added 2 PRs for this:
Ref #187
Ref #198

[2019-10-31 06:56] adrianludwin opened #212 "HNC: remove per-object locks from hierarchy reconciles"
As @Fei-Guo discovered, the client-go library [appears to deduplicate multiple requests to reconcile an object if it's already dirty](https://github.com/kubernetes/client-go/blob/master/util/workqueue/queue.go#L121). We should remove the per-object lock in hierarchy_reconciler.go to fix this.

[2019-10-31 06:57] adrianludwin commented on #202
Per #212 this is incorrect.

[2019-10-31 06:57] #202 closed

[2019-10-31 12:25] adrianludwin commented on #76
Is this issue finished?

[2019-10-31 13:10] rjbez17 commented on #132
I think for now, until we are stable at least, we'll just want to use the install plugin locally option:

https://github.com/kubernetes-sigs/krew/blob/master/docs/DEVELOPER_GUIDE.md#installing-plugins-locally

Once we have full builds I assume we'll publish a release via github releases and add that to the krew index.

[2019-10-31 13:33] shivi28 commented on #106
/assign @shivi28

[2019-10-31 14:50] adrianludwin commented on #132
+1

On Thu, Oct 31, 2019 at 2:10 PM Ryan Bezdicek <notifications@github.com>
wrote:

[2019-11-01 16:13] zhuangqh opened #217 "VC: transaction mechanism of vcctl"
- [ ] 1. should try best to rollback when `vcctl create` fails.
- [ ] 2. fly check of the most possible error parameters.
vcctl should early throws errors if some parameters already wrong, such as the file of the kubeconfig to export is existed.

[2019-11-01 16:25] zhuangqh opened #218 "VC: support the virtualcluster finializer"
If I delete the virtualcluster crd, the tenant cluster should be delete

[2019-11-01 16:28] zhuangqh opened #219 "VC: syncer fails to get the admin kubeconfig when cluster is creating"
syncer fails to get the admin kubeconfig when cluster is creating. then syncer will miss this cluster.

TODO:  check the status of the virtual cluster and requeue the object to the work queue.

[2019-11-01 18:36] Fei-Guo commented on #217
/assign @charleszheng44

[2019-11-01 18:38] charleszheng44 commented on #219
will add vc status

[2019-11-01 18:39] charleszheng44 commented on #218
will implement finalizer for vc

[2019-11-01 18:40] Fei-Guo opened #220 "VC: node controller should backpopulate super master node status"
Currently, tenant master virtual node status is updated periodically by node controller which is not efficient. We should watch for super master node status change and back populate to tenant master.

[2019-11-01 18:40] Fei-Guo commented on #220
/assign @zhuangqh

[2019-11-01 18:42] Fei-Guo commented on #218
/assign @charleszheng44

[2019-11-01 18:42] charleszheng44 commented on #217
will add the mechanism

[2019-11-01 18:42] Fei-Guo commented on #219
/assign @charleszheng44

[2019-11-01 18:43] Fei-Guo commented on #217
/assign @charleszheng44

[2019-11-02 03:30] zhuangqh commented on #220
If we back populate the node status from super master to tenant, we should maintain a table that records which node belongs to which tenant. And then update the status.
The overhead of this solution may heavier?

We could using node lease to update the node status

[2019-11-02 04:23] zhuangqh commented on #220
I'll take it

[2019-11-04 14:33] #106 closed

[2019-11-04 14:50] yiqigao217 commented on #76
Yes for v0.1, since we moved object conditions to v0.2.

In v0.1, only CRIT_ conditions are set. I will clean up (remove) the OBJECT_ condition const and close this issue.

[2019-11-04 16:35] #76 closed

[2019-11-04 18:31] adrianludwin commented on #89
/assign @lafh

[2019-11-04 18:32] adrianludwin commented on #99
/assign @yiqigao217

[2019-11-04 18:32] adrianludwin commented on #132
/assign @frbimo

[2019-11-04 18:34] adrianludwin opened #228 "HNC: build release candidates using Cloud Build"
This is the approach taken by kubebuilder; let's try it out too.

/assign @lafh

[2019-11-04 18:58] adrianludwin commented on #212
/assign @yiqigao217

[2019-11-04 23:55] charleszheng44 commented on #219
#229

[2019-11-06 01:47] srampal commented on #197
Tested and verfied that this is working as expected.

Tested network policy propagation across multiple levels and use of selective label filtering to implement propagation in partial sub-trees of a namespace hierarchy. Also tested the data plane to confirm the behavior. tested the scenarios listed in the requirements description of this issue.

The detailed testing procedure has been documented i

[2019-11-06 14:33] adrianludwin commented on #197
Thanks Sanjeev!

[2019-11-06 14:33] #197 closed

[2019-11-06 14:53] adrianludwin opened #235 "HNC: conditions shouldn't be an enum"
I believe that right now, our conditions are an enum, which means that adding any _new_ enums (which we intend to do) [is _not_ a  backwards compatible change](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api_changes.md#backward-compatibility-gotchas). These should simply be a string with a set of _recommended_ values, but clients need to be prepared to h

[2019-11-06 14:53] adrianludwin commented on #235
Note that our API version is currently v1alpha1 and we're not making any guarantees about compatibility between HNC v0.1 and v0.2, so we can make breaking changes at this time. But we'll have to stop at some point in the future.

[2019-11-07 20:55] lafh opened #238 "HNC: Canonical function will fail for tree labels"
The current approach only catches HNC-related labels/annotations with prefix `api.MetaGroup`, so the tree labels (i.e. `namespace.tree.hnc.x-k8s.io/depth` doesn't have `api.MetaGroup` as prefix) will remain in the canocial copy of an object, which is not the expected behaviour.

[2019-11-08 18:40] #99 closed

[2019-11-08 18:46] #89 closed

[2019-11-12 08:20] zhuangqh opened #248 "VC: enable tenant pod access tenant master using service account"
By now, we mount the super master service account token to the tenant pod. we should sync the service account together with the RBAC related resource from tenant master to super master, do some conversion

[2019-11-12 08:20] zhuangqh commented on #248
I will take it

[2019-11-12 08:30] zhuangqh opened #250 "VC: kubernetes conformance test for tenant"
set up a k8s e2e test for tenant to figure out whether the virtual cluster looks like a real k8s cluster.

Summarizing 35 Failures:

- [x]   [Fail] [k8s.io] InitContainer [NodeConformance] [It] should not start app containers if init containers fail on a RestartAlways pod [Conformance]
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/common/init_container.go:292

- [x

[2019-11-12 23:28] #220 closed

[2019-11-13 00:42] Fei-Guo opened #251 "VC: Add requeue mechanism if backpopulate fails"
In case backpopulate fails for any synced object, there is no retry now. This may lead to inconsistency between super master and tenant master. We should retry whenever we found mismatch may occur,

[2019-11-13 05:56] #238 closed

[2019-11-14 03:16] rjbez17 commented on #43
Completed

[2019-11-14 03:16] #43 closed

[2019-11-14 06:57] Fei-Guo commented on #248
/assign @zhuangqh

[2019-11-14 06:58] zhuangqh commented on #251
I will take it

[2019-11-14 16:16] #219 closed

[2019-11-15 01:37] #248 closed

[2019-11-16 21:33] JimBugwadia opened #257 "MTB: Add test for Block access to cluster resources (MTB-PL1-CC-TI-2)"
Add automated test case for MTB-PL1-CC-TI-2:

https://github.com/kubernetes-sigs/multi-tenancy/tree/master/benchmarks/e2e/tests/block_cluster_resources

[2019-11-16 21:35] JimBugwadia opened #258 "MTB: Add test for Block modification of resource quotas (MTB-PL1-CC-TI-1)"
Add automated test case for:

https://github.com/kubernetes-sigs/multi-tenancy/tree/master/benchmarks/e2e/tests/block_ns_quotas

[2019-11-16 21:44] JimBugwadia opened #259 "MTB: add test for Block modification of multi-tenancy resources (MTB-PL1-BC-CPI-2)"
Add automated test case for:

https://github.com/kubernetes-sigs/multi-tenancy/tree/master/benchmarks/e2e/tests/block_multitenant_resources

[2019-11-16 21:47] JimBugwadia opened #260 "MTB: Add benchmark definition for "Block use of docker socket bind mount" (MTB-PL1-BC-CPI-3)"
Add Benchmark definition markdown for MTB-PL1-BC-CPI-3

[2019-11-18 16:34] JimBugwadia opened #264 "MTB: Add benchmark definition for "Block add capabilities" (MTB-PL1-BC-CPI-4)"
Add Benchmark definition for MTB-PL1-BC-CPI-4

[2019-11-18 16:36] JimBugwadia opened #265 "MTB: Add benchmark definition for "Block privileged containers" (MTB-PL1-BC-CPI-6)"

[2019-11-18 16:38] JimBugwadia opened #266 "MTB: Add benchmark definition for "Block privilege escalation" (MTB-PL1-BC-CPI-7)"

[2019-11-18 16:39] JimBugwadia opened #267 "MTB: add benchmark definition for "Require running as non-root user" (MTB-PL1-BC-CPI-5)"

[2019-11-18 17:45] Fei-Guo commented on #251
/assign @zhuangqh

[2019-11-19 05:05] #251 closed

[2019-11-23 01:36] zhuangqh opened #273 "VC: provide a config, enable tenant to use super master's CA"
If pod required to access its own apiserver, the tenant apiserver should use the same root CA as the super master one. Because the CA in service account token is always the super master one, the client fails to pass the authentication if it not do so.

@charleszheng44

[2019-11-23 01:39] zhuangqh opened #274 "VC: check two-way informer data before reconcile"
Check two-way informer data before reconcile, if it is consistent, do nothing.
Or there is an enormous pressure to super master apiserver when starting syncer.

[2019-11-23 01:40] zhuangqh commented on #274
I will take it

[2019-11-23 01:53] Fei-Guo commented on #274
/assign @zhuangqh

[2019-11-23 01:55] Fei-Guo commented on #273
@charleszheng44 can you take it?

[2019-11-23 20:42] smileisak opened #275 "HNC: Setup dev env | Cert Manager release 0.8.1 yaml file uses apps/v1beta1 Deployment"
By following the guides to setup development environment. Running make `kind-reset` to stop any existing KIND cluster and setup a new one, including the cert manager required to run the webhooks fails using kind image `kindest/node:v1.16.3`.

* Command to run:

[code]

* Error:

[code]

[2019-11-23 20:43] smileisak commented on #275
/assign

[2019-11-25 15:31] yiqigao217 opened #278 "HNC: Add more test cases to object_controller_test.go"
Since we changed the behavior of the object controller, we need to add more test cases:
1) It should be propagated to all descendants if a source object is changed
2) It should be overwritten if a propagated object is changed

[2019-11-25 19:23] lafh commented on #111
update: we decide to move forward with [OpenTelemetry](https://opentelemetry.io/), the merged version of OpenCensus and OpenTracing. The goal of OpenTelemetry is to standardize metric collection and distribution, and it is now the defacto standard for observability instrumentation.

[2019-11-26 18:59] #228 closed

[2019-11-28 16:10] yiqigao217 opened #281 "HNC: Store source objects by GK in the forest"
Currently, the source objects in the forest are stored by GVK:
`type objects map[schema.GroupVersionKind]map[string]*unstructured.Unstructured`
Since users can deal with the same object with different versions, the identifier here should just be Group and Kind.

[2019-12-01 15:11] #275 closed

[2019-12-02 19:35] adrianludwin opened #286 "HNC: ensure that objects aren't deleted or propagated when hierarchy is unstable"
/assign @yiqigao217

The current controller doesn't respond well when the hierarchy is in a bad state, eg when the controller has just started up and the forest isn't fully synced yet. The new controller should ensure that we don't modify any objects until the hierarchy is stable, which I _think_ means:

* The namespace itself has been synced (eg `ns.Exists()` returns true)
* The namespace has no

[2019-12-04 21:42] yiqigao217 opened #291 "HNC: figure out MaxConcurrentReconciles option for v0.2 object controller"
Currently, the `MaxConcurrentReconciles` is hardcoded to 10, which is an arbitrary number. In theory, there should be no limit on it since it's just the maximum number.

What we need to do is:
1) Make it not hardcoded in `createObjectReconciler()` func in controllers/setup.go.
2) Figure out a reasonable number for it.
3) Create a flag for it in main.go and set args in config/default/manager_auth_p

[2019-12-05 02:18] zhuangqh commented on #250
Summarizing 35 Failures:

- [ ]   [Fail] [k8s.io] InitContainer [NodeConformance] [It] should not start app containers if init containers fail on a RestartAlways pod [Conformance]

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/common/init_container.go:292

- [ ] [Fail] [k8s.io] Pods [It] should support retrieving logs from the container over websockets [NodeConform

[2019-12-05 05:31] zhuangqh commented on #250
/assign @zhuangqh

[2019-12-05 13:23] adrianludwin opened #292 "HNC: Use IsZero() uniformly (may require changes to k/k)"
See: https://github.com/kubernetes-sigs/multi-tenancy/pull/282#discussion_r353772980.

It appears that the k8s client API isn't consistent across unstructured.Unstructured and regular runtime.Objects?

[2019-12-05 13:24] adrianludwin commented on #292
/assign @adrianludwin

[2019-12-05 13:25] adrianludwin commented on #189
This isn't actually fixed until the new object controller is on by default and the old one is removed.

[2019-12-05 13:46] adrianludwin opened #293 "HNC: tree label isn't annotated on all namespaces"
I noted that in at least one case, the ns.tree.hnc.x-k8s.io/depth=0 label wasn't added to the root namespace in a tree.

[2019-12-05 19:08] adrianludwin commented on #132
Reopening because while we're _closer_ to distributing on Krew, we're not actually doing it yet.

[2019-12-05 19:08] adrianludwin commented on #132
/remove-good-first-issue

[2019-12-07 04:13] tashimi opened #300 "Update Tenant Controller to use Hierarchical Namespace Controller"
HNC+Tenant Operator

Based on Fei Guo’s (Alibaba) design to integrate HNC and Tenant
Operator (https://docs.google.com/document/d/1QAWtYdRZGseSar_KgyfiIisL7JTGMHCfqB_Legfa39w/edit#heading=h.7wst4safj8dx)

Weeks 1-3: Install Tenant Operator and generate a set of (manual) test cases

Weeks 4-6: Create a branch of the Tenant Operator, remove its object
propagation code, and instead have it generate H

[2019-12-09 12:57] zhuangqh commented on #250
waiting https://github.com/kubernetes/kubernetes/pull/86071 to be merged
the e2e test cannot recognize the custom kubelet port

[2019-12-09 18:07] VineethReddy02 commented on #300
Hey @tashimi
I have noticed this project under community bridge program. I would love to work on this project. Is someone else is working on this? If not can I pick some good first issues and start working on this?

[2019-12-09 19:12] tashimi commented on #300
Hi @VineethReddy02 - @shivi28 is already working on this project. I can put together another proposal for a project if you're interested in working on multi-tenancy.

[2019-12-09 23:45] VineethReddy02 commented on #300
@tashimi yeah sure. I am interested to work with multi-tenancy. As December 16 is deadline for finalising the projects. I can start working if project is put in place.

Thanks! :)

[2019-12-10 15:13] adrianludwin commented on #105
/assign @yiqigao217

This is being addressed by #301

[2019-12-10 15:15] adrianludwin opened #302 "Update HNC CLI to matching naming doc"
Implement bit.ly/hnc-cli-naming

/assign @adrianludwin

[2019-12-10 21:12] tashimi opened #303 "Add label aggregation and overrides to HNC"
Add [label propagation](https://docs.google.com/document/d/10MZfFfbQMm33CBboMq2bfrEtXkJQQT4-UH4DDXZRrKY/edit#heading=h.z6soyqp0ld0z) and [overrides](https://docs.google.com/document/d/10MZfFfbQMm33CBboMq2bfrEtXkJQQT4-UH4DDXZRrKY/edit#heading=h.4el9m8gv8fqy).

Weeks 1-3: Implement basic namespace label+annotation propagation
Weeks 4-6: Object overrides: create label and obey it
Weeks 7-9: Object ov

[2019-12-10 21:38] yiqigao217 commented on #195
@rjbez17  Since the new object controller is implemented and tested, can we switch it as the default? We may want to keep the old controller code for the coming performance test. After the performance test is done, we can remove the code. WDYT?

I also manually tested the new object controller on Kind. It behaved just as we expected, e.g. manually-modified propagated objects got overwritten by the

[2019-12-10 22:13] rjbez17 commented on #195
Yeah I'm all for it. Since we are still pre-aplpha I don't see any reason to do a typical deprecation policy.

[2019-12-10 22:14] rjbez17 commented on #195
I would be interested in some metrics on the performance differences between the old vs new. I'm also happy to help with that testing, just let me know.

[2019-12-10 23:13] Masquerade0097 commented on #303
Hi @tashimi, I would like to work on this issue as part of community bridge. Please let me know If I can start working on it?

[2019-12-11 00:34] VineethReddy02 commented on #303
Hi @tashimi
Thanks for putting together another proposal on my interest. I went through the design doc.
what do you suggest in getting started with this feature?

[2019-12-11 01:16] VineethReddy02 opened #304 "Publish kubectl-hnc to krew(official kubectl plugin manager)."
I think we can publish kubectl hnc to krew plugin manager for easy installation and easy access to everyone.

Any suggestions? @tashimi

[2019-12-11 06:48] VineethReddy02 commented on #302
Hi @adrianludwin
If you are okay. I can pick this up and update ```kubectl hnc``` plugin as mentioned in hnc-cli-naming doc.

[2019-12-12 11:08] arijeet-majumdar commented on #303
Hello Tashimi,
I would also like to join in as part of the bridge program.

Thanks and Regards
Arijeet

[2019-12-12 15:19] adrianludwin opened #306 "HNC: prevent user from deleting a namespace if it's a required child"
Right now, if you delete a required child (aka self-service subnamespace), HNC will simply recreate it. We should warn the user about this.

[2019-12-12 15:45] adrianludwin opened #307 "HNC: A missing required child shouldn't be a critical condition"
Critical conditions on a namespace prevent any objects from being propagated in the namespace subtree. If we can't create a required child for some reason, this shouldn't block propagation in the rest of the subtree.

/assign @yiqigao217

[2019-12-12 16:02] adrianludwin commented on #302
Thanks @VineethReddy02 but there's a fair amount of context that was needed to implement this stuff, so it was easier to do it myself.

[2019-12-12 16:09] adrianludwin opened #309 "HNC: `kubectl hns create` should fail if the namespace already exists"
Currently, `kubectl hns create` is a synonym for `kubectl hns set --requiredChild`, but while the latter is (marginally) acceptable if the namespace already exists, the former is not. We should check whether the namespace exists and fail if it does.

[2019-12-12 17:51] tashimi commented on #303
Hey all -
It looks like we won't have the bandwidth to provide the needed architectural and mentorship guidance on this issue for this round of the bridge program. Closing this issue for now, and we'll try again some other time.

[2019-12-12 17:51] #303 closed

[2019-12-13 20:47] #302 closed

[2019-12-15 03:21] vjdhama commented on #309
@adrianludwin If you don't mind I would like to help with this.

[2019-12-15 14:56] adrianludwin commented on #309
Go for it!

On Sat, Dec 14, 2019 at 11:21 PM Vijay Dhama <notifications@github.com>
wrote:

[2019-12-16 14:44] yiqigao217 commented on #286
/close

[2019-12-16 14:44] #286 closed

[2019-12-16 14:44] yiqigao217 commented on #195
/close

[2019-12-16 14:44] #195 closed

[2019-12-16 14:44] yiqigao217 commented on #189
/close

[2019-12-16 14:44] #189 closed

[2019-12-16 14:45] yiqigao217 commented on #105
/close

[2019-12-16 14:45] #105 closed

[2019-12-16 14:52] adrianludwin commented on #307
/assign @adrianludwin

I'm looking at this now.

[2019-12-16 19:15] #235 closed

[2019-12-17 12:00] adrianludwin opened #316 "HNC: prevent a namespace from grabbing a required child if it becomes available"
This is low-priority because the validator will prevent namespace A from adding namespace B as a required child if it's already a child of namespace C. However, _if_ we bypass the validator, _and_ if  namespace B becomes a root, _and_ the controller is restarted, then namespace A will "steal" namespace B.

We should find some way to prevent this from happening. I have some ideas to change the subn

[2019-12-17 13:37] adrianludwin commented on #212
/unassign @yiqigao217
/assign @adrianludwin

[2019-12-17 16:02] yiqigao217 opened #318 "HNC: prevent reconciling hnc-system and other default namespaces"
Currently, the Hierconfig and Object controllers reconcile all the default namespaces (`kube-system`, `hnc-system`, etc.) and the objects inside. Some of those objects change all the time, which triggers the object controllers to reconcile them constantly. One example is `hnc-system/controller-leader-election-helper`.

We can make changes to the controllers to only reconcile objects in the user-cr

[2019-12-17 17:01] adrianludwin commented on #293
I'm not sure what happened but I just tried this out in a bunch of ways and everything appears to be working both on new and old clusters. I was also having trouble with my clusters when I filed this so perhaps there was some transient issue. I also reviewed all the code and everything lgtm, so I'll close this for now.

[2019-12-17 17:01] #293 closed

[2019-12-17 18:27] #212 closed

[2019-12-17 18:33] #307 closed

[2019-12-17 20:09] adrianludwin commented on #173
Not user-visible -> backlog

[2019-12-17 20:09] adrianludwin commented on #173
Also, there may be further UX changes which could affect this further.

[2019-12-18 03:23] zhuangqh opened #324 "VC: introduce master provider to vc-manager"
There will be many implementations to create a tenant master according to VC cr. such as kok or AlibabaCloud openapi, etc. Introduce a provider layer to abstract different implementation.

[2019-12-18 18:15] adrianludwin opened #326 "HNC: fewer propagations while objects have conditions"
Once #322 is merged, there's a known problem where every time the object is re-reconciled, it will cause any namespaces with a condition pointing to it to be re-reconciled as well. This should be relatively rare - objects with conditions won't be reconciled very often - but in some cases (eg can't write an object) this could be called repeatedly.

[2019-12-19 15:01] rjbez17 commented on #111
OpenTelemtry is pretty broad and requires you to implement the exporters within your code. Have we decided on the initial exports we plan to support? I suggest Prometheus as it is the only natively supported metrics implementation for core kubernetes (that I'm aware of). The currently supported metrics exporters are here:

https://github.com/open-telemetry/opentelemetry-go/tree/master/exporter/met

[2019-12-19 17:47] adrianludwin commented on #304
Sorry @VineethReddy02 , I missed this. Can you explain a bit more about the process here? When we make a new release, how do we update Krew?

[2019-12-19 17:50] adrianludwin commented on #132
/cc @VineethReddy02

[2019-12-19 17:50] adrianludwin commented on #304
See also #132

[2019-12-19 18:03] adrianludwin opened #328 "HNC: object conditions on source namespaces may not be cleared"
If an object cannot be propagated to a child namespace, in some cases the resulting condition could get "stuck" on the source namespace. Here's the scenario:

* An object cannot be propagated into namespace X - eg, because it's a rolebinding with higher privileges than HNC has, or because there's some transient error on the apiserver, or because some other validating webhook is forbidding it.
* Th

[2019-12-19 18:04] adrianludwin commented on #328
This problem is being introduced in #322 but we decided not to hold that PR up until this is fixed.

[2019-12-19 20:33] #201 closed

[2019-12-20 08:52] zhuangqh opened #329 "VC: export prometheus metric for syncer"
export prometheus metric data for syncer. Enable administrator to monitor syncer's key SLO

[2019-12-20 08:52] zhuangqh commented on #329
/assign @zhuangqh

[2019-12-20 08:54] zhuangqh opened #330 "VC: ignore object labels which were set by super master controller"
tenant's Pods in super master may be attached some label by super master controller.
We should ignore these label when computing the diff of pPod and vPod.

[2019-12-21 13:29] VineethReddy02 commented on #304
So when I wanted to use ```kubectl hnc``` I had a hard time building ```kubectl-hnc``` from scratch & also helps in visibility alongside of other kubectl plugins. May be publishing it to ```krew``` would make it easier.
Here are the steps to publish new plugin to krew https://github.com/kubernetes-sigs/krew/blob/master/docs/DEVELOPER_GUIDE.md.

[2019-12-21 13:31] adrianludwin commented on #304
That's definitely on the roadmap. I'm *just* about to publish and update
the README, as well as an enhanced build process, that will create official
kubectl plugin images (that was the first step). We can get it into Krew
next.

On Sat, Dec 21, 2019 at 9:29 AM Vineeth Pothulapati <
notifications@github.com> wrote:

[2019-12-21 13:31] adrianludwin commented on #304
See #332

[2019-12-21 16:29] adrianludwin opened #333 "HNC: release should not re-push an existing image by default"
See https://github.com/kubernetes-sigs/multi-tenancy/pull/332#discussion_r360651870. By default, the release should refuse to push an image if it already exists on the repo, although we'll need a way to override (eg to push :latest or to test).

[2019-12-23 11:12] vjdhama commented on #309
/assign

[2019-12-23 21:01] #329 closed

[2019-12-30 23:02] JimBugwadia commented on #260
/assign @JimBugwadia

[2019-12-30 23:52] JimBugwadia commented on #260
This benchmark is covered via MTB-PL1-BC-HI-1 [Block use of bind mounts](https://github.com/kubernetes-sigs/multi-tenancy/tree/master/benchmarks/e2e/tests/block_bind_mounts)

[2019-12-30 23:52] #260 closed

[2020-01-02 00:23] JimBugwadia commented on #267
/assign @JimBugwadia

[2020-01-02 00:23] JimBugwadia commented on #266
/assign @JimBugwadia

[2020-01-02 00:24] JimBugwadia commented on #265
/assign @JimBugwadia

[2020-01-02 00:24] JimBugwadia commented on #264
/assign @JimBugwadia

[2020-01-08 08:21] ypjin opened #344 ""attachable-volumes-aws-ebs" is not a standard resource for quota"
Hi,
The [configure_ns_quotas](https://github.com/kubernetes-sigs/multi-tenancy/blob/master/benchmarks/e2e/tests/configure_ns_quotas/configure_ns_quotas.go#L79) test gets resource names from node.status.Capacity which looks like the following.
[code]
The resource names are checked against resource names got from ResourceQuota. It generated the following error.
[code]

Wondering how to handle this c

[2020-01-14 02:44] #324 closed

[2020-01-14 02:45] #218 closed

[2020-01-15 20:53] yiqigao217 opened #347 "HNC: propagate deleted source when conditions are gone"
Currently when critical conditions are cleared for a namespace, the previously paused deletion of an object will not propagate to children namespaces.

The issue is that since there’s a critical condition in the namespace, the `syncDeletedSource()` is skipped. What the `syncDeleteSource()` func does is deleting the source in the forest and enqueuing all descendant copies.

Since the source is neve

[2020-01-30 18:17] adrianludwin opened #369 "HNC: make client QPS limit configurable and set default limit at 50QPS"
We discovered that HNC is very slow because the default client-go library limits you to 5 QPS by default with a burst rate of 10. This is very, very low if you have to sync a large number of namespaces, as will typically be the case for HNC.

We should make this configurable and set a good default limit. On GKE, apiservers for small clusters have a limit of 100QPS, and I observed unfortunate thing

[2020-01-30 18:21] adrianludwin commented on #369
@sophieliu15 - see this line: https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/cmd/manager/main.go#L73

[code]

The config returned by `GetConfigOrDie` is what we need to modify. Something like this:

[code]

except instead of hardcoding these values, we should read them from a flag, and then set the default here: https://github.com/kubernetes-sigs/multi-tenancy/blob/mast

[2020-01-30 18:22] adrianludwin commented on #369
@rjbez17 Do you think we should hardcode an upper limit in HNC itself? Or just let people shoot themselves in the foot if they really want to (plus other K8s clusters might have a higher limit than small GKE clusters)?

[2020-01-30 20:11] rjbez17 commented on #369
I generally think shooting yourself in the foot is fine if it’s clear what I used to do it with.

Basically, if we can identify that we are having issues because too high QPS and we log it, that’s totally enough in my opinion.

[2020-01-30 20:16] adrianludwin commented on #369
sgtm, thanks.

On Thu, Jan 30, 2020 at 3:11 PM Ryan Bezdicek <notifications@github.com>
wrote:

[2020-01-31 06:07] Fei-Guo opened #373 "VC: We should share kubeconfig secret for tenant service account among all Pods"
Currently, a unique kubeconfig secret will be created for each Pod. This is not efficient, we should create one  kubeconfig secret for each tenant service account and share this secret for all Pods that uses the tenant service account.

[2020-01-31 06:07] Fei-Guo commented on #373
/assign @zhuangqh

[2020-01-31 21:34] yiqigao217 opened #374 "HNC: make controller exclusions configurable"
Currently, we hardcoded to exclude namespaces like `kube-system` or `cert-manager` for object controllers to reconcile objects.

Such exclusions need to be configurable.

[2020-02-01 00:45] charleszheng44 commented on #217
/close

[2020-02-01 00:45] #217 closed

[2020-02-06 17:05] zhuangqh commented on #330
Implement tips
1. create a flag to receive a slice of string prefix, which would be used to filter object label or annotations. may named 'standalone-object-annotation-prefixes'
2. change the kvequality checker here https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/virtualcluster/pkg/syncer/conversion/equality.go#L108
3. find a way this pass the prefix parameters to the Equali

[2020-02-06 17:05] zhuangqh commented on #330
@charleszheng44

[2020-02-06 19:49] charleszheng44 commented on #330
/assign

[2020-02-06 23:36] charleszheng44 commented on #330
PR #389

[2020-02-06 23:48] charleszheng44 opened #390 "VC: remove old admin-kubeconfig in VC root namespace"
In aliyun mode, after deleting a virtual cluster, vc-manager will keep its root ns for the debugging purpose. This will cause inconsistent behavior if the user creates a new vc with the same name later. We should delete the root NS if it exists, before creating the new VC.

[2020-02-06 23:48] charleszheng44 commented on #390
/assign

[2020-02-06 23:56] charleszheng44 opened #391 "VC: use the clusterIP as the server's address in admin-kubeconfig"
In the native mode, we use the dns of apiserver-svc as the server's address, while in the aliyun mode, the server's address is set as the eip of the ASK server. We should use the ip as the server's address in the native mode as well.

[2020-02-06 23:57] charleszheng44 commented on #391
/assign

[2020-02-08 03:59] #330 closed

[2020-02-11 02:17] #266 closed

[2020-02-11 02:17] #265 closed

[2020-02-11 02:17] #264 closed

[2020-02-11 02:20] #267 closed

[2020-02-11 02:23] JimBugwadia opened #397 "MTB: Add test for Block access to other tenant resources"
Automated test for: https://github.com/kubernetes-sigs/multi-tenancy/blob/master/benchmarks/e2e/tests/block_other_tenant_resources/README.md

[2020-02-11 02:24] JimBugwadia opened #398 "MTB: Add test for Block add capabilities"
Automated test for https://github.com/kubernetes-sigs/multi-tenancy/blob/master/benchmarks/e2e/tests/block_add_capabilities/README.md

[2020-02-11 02:25] JimBugwadia opened #399 "MTB: Add test for Require running as non-root user"
Automated test for: https://github.com/kubernetes-sigs/multi-tenancy/blob/master/benchmarks/e2e/tests/require_run_as_non_root/README.md

[2020-02-11 02:27] JimBugwadia opened #400 "Add test for Block privileged containers"
Automated test for
https://github.com/kubernetes-sigs/multi-tenancy/blob/master/benchmarks/e2e/tests/block_privileged_containers/README.md

[2020-02-11 02:28] JimBugwadia opened #401 "MTB: Add test for Block privilege escalation"
https://github.com/kubernetes-sigs/multi-tenancy/blob/master/benchmarks/e2e/tests/block_privilege_escalation/README.md

[2020-02-11 02:29] JimBugwadia opened #402 "MTB: Add test for Block privileged containers"
https://github.com/kubernetes-sigs/multi-tenancy/blob/master/benchmarks/e2e/tests/block_privileged_containers/README.md

[2020-02-11 02:30] JimBugwadia opened #403 "MTB: Add test for Default deny network connections across tenants"
https://github.com/kubernetes-sigs/multi-tenancy/blob/master/benchmarks/e2e/tests/default_deny_net_conn/README.md

[2020-02-11 02:30] JimBugwadia opened #404 "MTB: Add test for Block use of bind mounts"
https://github.com/kubernetes-sigs/multi-tenancy/blob/master/benchmarks/e2e/tests/block_bind_mounts/README.md

[2020-02-11 02:31] JimBugwadia opened #405 "MTB: Add test for Block use of NodePort services"
https://github.com/kubernetes-sigs/multi-tenancy/blob/master/benchmarks/e2e/tests/block_nodeports/README.md

[2020-02-11 02:31] JimBugwadia opened #406 "MTB: Add test for Block use of host networking and ports"
https://github.com/kubernetes-sigs/multi-tenancy/blob/master/benchmarks/e2e/tests/block_host_net_ports/README.md

[2020-02-11 02:32] JimBugwadia opened #407 "MTB: Add test for Block use of host PID"
https://github.com/kubernetes-sigs/multi-tenancy/blob/master/benchmarks/e2e/tests/block_host_pid/README.md

[2020-02-11 02:33] JimBugwadia opened #408 "MTB: Add test for Block use of host IPC"
https://github.com/kubernetes-sigs/multi-tenancy/blob/master/benchmarks/e2e/tests/block_host_ipc/README.md

[2020-02-11 20:48] sophieliu15 opened #411 "HNC: Implement HNC type configuration"
HNC type configuration makes it possible for cluster administrators to configure the propagation behavior for each KIND by HNC. This is a cluster-wide configuration.

Design doc: http://bit.ly/hnc-type-configuration

[2020-02-12 03:32] zhuangqh opened #413 "VC: livenessProbe for syncer"
export a health check port.

[code]

[2020-02-12 17:54] adrianludwin opened #416 "HNC: export from OpenCensus to Prometheus"
cc @rjbez17 @yiqigao217

As of #410, HNC is now able to exporting metrics to Stackdriver. It doesn't yet support Prometheus because:

1. None of us HNC developers were able to install and configure Prometheus in a reasonable amount of time;
2. We couldn't figure out how to get OpenCensus' Prometheus endpoint to play nicely with controller-runtime's Prometheus endpoint. Maybe we can expose them on

[2020-02-12 19:03] rjbez17 commented on #416
Sounds like I can actually be useful! I'll try to take a wack at this next week.

[2020-02-12 20:47] yeya24 commented on #416
@rjbez17  Hi, I think I can work on this issue this week. Is it okay?

[2020-02-12 21:50] rjbez17 commented on #416
I’ll never complain about someone doing work for me faster than me! Go for it

[2020-02-13 20:21] #56 closed

[2020-02-14 21:57] JimBugwadia commented on #258
/remove-lifecycle stale

[2020-02-14 21:57] JimBugwadia commented on #257
/remove-lifecycle stale

[2020-02-14 21:58] JimBugwadia commented on #259
/remove-lifecycle stale

[2020-02-15 19:13] charleszheng44 opened #425 "VC: finalization process get stuck if remote VC has been deleted"
in aliyun mode, if a remote VC master has been deleted, the finalizer will return an error and keep reconcile, which causes the finalization process to get stuck and the VC cr will never be deleted.

[2020-02-15 19:13] charleszheng44 commented on #425
/assign

[2020-02-17 01:37] zhuangqh commented on #373
fixes #415

[2020-02-17 01:38] zhuangqh commented on #373
/close

[2020-02-17 01:38] #373 closed

[2020-02-17 01:39] zhuangqh commented on #274
/close

[2020-02-17 01:39] #274 closed

[2020-02-17 01:39] zhuangqh commented on #273
/close
unnecessary

[2020-02-17 01:39] #273 closed

[2020-02-17 10:11] zhuangqh opened #428 "VC: teardown tenant related ns in super master"
When teardowning vc, vc-manager just remove the rootNS. Syncer doesn't know whether vc has not been loaded or deleted. We had better remove the tenant related ns in vc-manager vc teardown process.

There is a annotation mark whether this ns belongs to. `tenancy.x-k8s.io/cluster` vc-manager should scan the ns, and do clean.

[2020-02-17 10:11] zhuangqh commented on #428
/assign @charleszheng44

[2020-02-17 21:41] yeya24 commented on #416
I am checking this issue now. But I am wondering what metrics do we have currently? If we don't have any metrics except the metrics from controller-runtime, why we need to add Prometheus?

[2020-02-18 13:58] adrianludwin commented on #416
Hi Ben, have you worked with metrics and Prometheus before?

We have metrics exported from controller-runtime on a Prometheus endpoint,
and also from OpenCensus via Stackdriver (see
https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/pkg/stats/metrics.go).
We'd like to also export from OpenCensus to Prometheus, but without
disrupting the endpoint from controller-runtime. Doe

[2020-02-18 14:07] yeya24 commented on #416
@adrianludwin  Hi, so you want to add the metrics from Stackdriver to the /metrics endpoint exposed by controller-runtime?

[2020-02-18 14:25] adrianludwin commented on #416
If possible, yes. Otherwise, we'd like to expose a *second* /metrics
endpoint (e.g. on another port) and have instructions for how to configure
Prometheus to use both.

On Tue, Feb 18, 2020 at 9:07 AM Ben Ye <notifications@github.com> wrote:

[2020-02-18 14:28] yeya24 commented on #416
Yes, I have implemented this to use the same /metrics. But I am not familiar with StackDriver so I am not sure whether it works or not. I don't have an env for testing

[2020-02-18 14:31] adrianludwin commented on #416
Cool - maybe throw up a PR and we can see if StackDriver is still working?

On Tue, Feb 18, 2020 at 9:28 AM Ben Ye <notifications@github.com> wrote:

[2020-02-18 14:34] yeya24 commented on #416
PR opened, check #432

[2020-02-18 15:04] adrianludwin commented on #416
Thanks! I'll leave further comments there.

On Tue, Feb 18, 2020 at 9:34 AM Ben Ye <notifications@github.com> wrote:

[2020-02-18 18:22] adrianludwin opened #433 "HNC: document instructions with Prometheus"
This is for @yeya24 due to his work on #416 - thanks Ben!

We're about to publish a doc for how to monitor HNC with Stackdriver. If you could write a doc about how to monitor with Prometheus, that would be great! You can write it any way you like (eg Google Doc, a new section in the README, etc). It doesn't need to be long - if you only need a paragraph or two (eg "Deploy Prometheus using operator

[2020-02-18 18:44] yeya24 commented on #433
Thanks for the issue. Feel free to assign this to me. But I am busy this week. So maybe I can work on the doc this weekend. Is it ok?

[2020-02-18 18:47] adrianludwin commented on #433
Yup! You're not a member of kubernetes-sigs so I can't actually assign the
issue to you but you can treat it as though it's yours. Thanks!

On Tue, Feb 18, 2020 at 1:44 PM Ben Ye <notifications@github.com> wrote:

[2020-02-18 20:37] adrianludwin commented on #433
See #435 as a good model for this kind of doc.

[2020-02-19 17:46] thincal opened #439 "HNC: About the Hierarchical ResourceQuota support"
There is one use case about the quota usecase in multiple layered tenancy (HNC) detailed as bellow:

[code]
tenant admin will statically allocate 50GPU quota for department-a, but:
- user1 under the department will share the department quota
- user2 will be ~~allocated~~ limited with a dedicated 10 GPU

so that any resource created under one user (namespace) needs to check the available resources

[2020-02-20 03:18] JimBugwadia commented on #439
A team from IBM had presented a solution for quota management across namespaces at a multi-tenancy WG meeting. There was discussion of adding HNC support. You can check out the video at: https://www.youtube.com/watch?v=V0Zw82nOAEE&feature=youtu.be.

[2020-02-20 03:27] rjbez17 commented on #439
This is a known limitation. HNC only replicates resources. It does not do any logic about the things being replicated to children.

We’ve discussed adding support for this in HNC around ResourceQuotas but don’t have a timeframe for support.

[2020-02-20 07:16] zhuangqh commented on #428
fixed at #440

[2020-02-20 07:16] #428 closed

[2020-02-20 17:55] thincal commented on #439
@rjbez17

Could you share the discussion results or draft idea around this support ?

[2020-02-20 17:57] thincal commented on #439
@JimBugwadia thanks for sharing, it looks like the solution presented doesn't consider and handle the "hierarchical" well yet.

[2020-02-20 18:08] sophieliu15 opened #441 "HNC: Empty source object cannot be propagated by object reconciler"
Current object reconciler will only propagate an object when a descendant's copy of the object is different from the source object. This is currently handled in [syncPropagated](https://github.com/kubernetes-sigs/multi-tenancy/blob/95218a0fb87fee9d024202ad9a4e1755d9964b56/incubator/hnc/pkg/controllers/object_controller.go#L222) method.

However, when source object is empty (but not nil) and when a

[2020-02-20 18:19] adrianludwin commented on #439
There have just been a series of "this seems like it would be nice" discussions, plus the one we had with IBM.

@thincal , can you share anything more about your usecase? Eg can you say anything about the company you work for, how many levels of hierarchy you expect to have, what kinds of quotas you want to set, etc?

[2020-02-20 18:20] adrianludwin commented on #439
We're certainly open to contributions if you want to put together a proposal. It's not a priority for us right now but that doesn't mean we can't review others' contributions!

[2020-02-20 22:39] #416 closed

[2020-02-20 23:03] #441 closed

[2020-02-22 21:37] phoenixking25 opened #445 "Failed to run tests."
## Steps to Reproduce

Please provide detailed steps for reproducing the issue.

1. Install the go modules(Benchmarks).
2. follow the getting started readme to make tenant and tenantnamespace [link](https://github.com/kubernetes-sigs/multi-tenancy/tree/master/tenant).
3. Edit `config.yaml`
4. Run the command  `go test ./e2e/tests/`

## Failure Logs

[code]

Please include any relevant log snippets

[2020-02-23 01:21] JimBugwadia commented on #445
The current assumption is that the MTB tests are run on a node with access to the kubelet directory. We can make this more flexible.

[2020-02-23 01:22] JimBugwadia commented on #445
/assign @JimBugwadia

[2020-02-23 03:52] JimBugwadia commented on #445
/wg multitenancy

[2020-02-23 20:21] JimBugwadia commented on #445
/assign @realshuting

[2020-02-24 06:11] realshuting commented on #445
/assign

[2020-02-25 22:32] sophieliu15 opened #454 "HNC: Design & Implement a CLI for creating and updating HNCConfiguration object"
Currently we can only create/update HNCConfiguration object via yaml files. We can create a `kubectl hns` command to achieve that, which will make the interaction more user-friendly and efficiently.

[2020-02-26 15:43] yiqigao217 opened #457 "HNC: Implement self-service namespace"
Allow tenant admins who do not have cluster-wide namespace creation privileges to still create subnamespaces by creating custom resource instances locally.

The implementation includes:
* Define `HierarchicalNamespace` (`hns`) CRD
* Add `allowCascadingDelete` field to `HierarchyConfig.spec`
* Add `kubectl` plugin to toggle `HierarchyConfig.spec.allowCascadingDelete`
* Create an HNS reconciler to c

[2020-02-26 17:57] yiqigao217 opened #458 "HNC: Implement validation webhook for HierarchicalNamespace (HNS)"
This is part of #457

The webhook should validate:
* The parent namespace is allowed to create subnamespaces.
* The HNS name is not conflict with currently existing namespaces.

[2020-02-26 18:09] yiqigao217 opened #459 "HNC: Report error state if hns bypassed validation webhook"
Part of #457

In HNS reconciliation, if the hns has somehow bypassed validation webhook, change the `hns.status.state` to report error state and early exit.

[2020-02-28 00:45] adrianludwin commented on #120
/unassign
/remove-lifecycle rotten

@sophieliu15 is working on this now

[2020-02-28 00:45] adrianludwin commented on #120
/unassign @shivi28

[2020-02-28 15:00] zhuangqh opened #466 "VC: using leader selection to avoid multi instance of vc-manager"
just like what syncer do
https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/virtualcluster/cmd/syncer/app/options/options.go#L242

[2020-02-28 16:46] yiqigao217 opened #467 "HNC: Create a flag to enable/disable the HNS Reconciler"
This is part of #457

The flag will enable/disable the HierarchicalNamespace Reconciler and also toggle the behavior of HierarchyConfig Reconciler accordingly.

In addition, refactoring of HierarchyConfig Reconciler to split out the current functions that use the `requiredChild` field may be needed.

[2020-02-28 17:43] Fei-Guo commented on #466
/assign @charleszheng44

[2020-02-28 18:02] charleszheng44 commented on #466
/assign

[2020-02-28 18:23] yiqigao217 opened #469 "HNC: Rename ns.RequiredChildOf to ns.Owner in forest"
Part of #457
We will rename it after the changes to the HierarchyConfigReconciler is done and in use.

[2020-02-28 22:15] yiqigao217 opened #473 "HNC: Add hnc.x-k8s.io/owner annotation to hierarchical namespaces"
Part of #457

Add `hnc.x-k8s.io/owner` annotation to the namespaces created from HNS reconciliation.

[2020-02-28 22:18] #466 closed

[2020-03-01 23:02] #68 closed

[2020-03-02 18:00] charleszheng44 opened #477 "VC: add annotation to VC cr that including the CA common name"
To pass the e2e test, vn-agent has to match each incoming request to the corresponding VC.

[2020-03-02 18:01] charleszheng44 commented on #477
/assign

[2020-03-02 20:42] yiqigao217 opened #479 "HNC: Clean up before setting HNS reconciler as default"
Part of #457

Todo:
1) remove `enable-hierarchicalnamespace-reconciler` flag
2) remove `hc.Spec.RequiredChildren`

[2020-03-02 20:55] #467 closed

[2020-03-02 21:08] yiqigao217 opened #480 "HNC: Add `allowCascadingDelete` to HC spec and toggle it with `kubectl`"
Part of #457

`allowCascadingDelete` has to be set true before deleting self-serve subnamespace. This will be used in the webhook #458 . We may also need to figure out a way to set it back from true to false after the user's actions are done in case they forget to set it back to false.

[2020-03-03 05:57] zhuangqh opened #483 "VC: immediately requeue an event after uid check delete a pObject"

[2020-03-03 05:58] zhuangqh commented on #483
/assign @Fei-Guo

[2020-03-03 05:58] zhuangqh commented on #483
link #481

[2020-03-03 19:36] yiqigao217 opened #487 "HNC: Properly update the HierarchicalNamespace.Status.State"
Part of #457

The changes of the state include
1) missing -> ok when the subnamespace is created;
2) missing -> conflict when any conflict is detected;
etc.

We will also move the update of the `RequiredChildConflict` from `syncChildren()` in HC reconciler to HNS reconciler.

[2020-03-04 15:49] #473 closed

[2020-03-04 22:47] sophieliu15 opened #488 "HNC: Avoid restart HNC after adding a new CRD"
Right now when HNC is running and we add a new CRD and hope to config the new type, there are two problems:
- Reconciliation of `ConfigReconciler` will not be triggered automatically. We need to change `config` object to trigger reconciliation.
- Even after manually triggering the reconciliation from `ConfigReconciler`, `ObjectReconciler` will not recognize the CRD and as a result corresponding ob

[2020-03-04 22:50] sophieliu15 commented on #488
/assign @sophieliu15

[2020-03-04 22:52] sophieliu15 commented on #488
Discussion here: https://github.com/kubernetes-sigs/multi-tenancy/pull/476#issuecomment-594901438

[2020-03-05 15:17] yiqigao217 opened #490 "HNC: Report "SubnamespaceConflict" condition in the HC reconciliation"
Part of #457

Currently when the HNS reconciler is not in use, the `RequiredChildConflict` condition is cleared and updated when a parent namespace `syncChildren()`. Since we move the conflict checking to HNS reconciliation, we need to figure out a way to update the `RequiredChildConflict` condition of the parent namespace in the HNS reconciliation.

[2020-03-05 17:31] #80 closed

[2020-03-05 19:48] phoenixking25 opened #492 "MTB: Test Script to create tenant CRs"
There should be an automated script to create tenant CRs that can create number of qualified or not qualified tenants as per the requirements to ease up the benchmarks developement process.

[2020-03-05 22:52] yiqigao217 opened #495 "HNC: Refactor/split the EX map"
Refactor/split the EX map for 1) reconciler exclusion and 2) self-serve not allowed purposes. Currently, it serves both, but the namespace list could be different for the two purposes.

[2020-03-06 00:18] sophieliu15 commented on #488
The first problem can be resolved by letting `ConfigReconciler` watch for changes in crds. I will address this problem after resolving the second problem (see below).

The cause of the second problem is that the controller manager's client's `RESTMapper` is initialized at startup and never updates when adding new CRDs to the apiserver. Therefore, the client is only aware of CRDs installed before s

[2020-03-06 00:19] sophieliu15 commented on #488
Add @adrianludwin and @yiqigao217 in the loop.

[2020-03-06 03:18] adrianludwin commented on #488
Nice digging! If controller-runtime doesn't reject it, we'll just have to use the Discovery API to figure out if a type exists ourselves before we create the object reconciler. I have no idea how to do that but I suspect it's not _too_ terribly difficult.

[2020-03-06 18:02] yiqigao217 opened #500 "HNC: Change all condition code to CamelCase"
For example,  change `CritParentMissing    Code = "CRIT_PARENT_MISSING"` to `CritParentMissing    Code = "CritParentMissing"`.

[2020-03-06 18:24] yiqigao217 opened #501 "HNC: Implement cascadingDelete in HC and HNS reconcilers"
Part of #457

An owned namespace can be cascading deleted if the `hc.spec.allowCascadingDelete` field of the direct owners or itself is set to `true`. Cascading deletion can be initiated by a deletion of an HNS instance or an owner (since it will trigger deletion of the HNSes in that namespace natually).

If the HNS instance in the owner namespace is missing and the owned namespace doesn't allow c

[2020-03-06 21:41] #480 closed

[2020-03-08 05:54] phoenixking25 commented on #258
/assign @phoenixking25

[2020-03-08 05:55] phoenixking25 commented on #259
/assign @phoenixking25

[2020-03-08 05:56] phoenixking25 commented on #257
/assign @phoenixking25

[2020-03-08 07:00] phoenixking25 commented on #257
Error handling left in case of expectedVal not found leads to `panic: runtime error: invalid memory address or nil pointer dereference`

[2020-03-09 15:58] sophieliu15 commented on #488
From discussion in kubernetes-sigs/controller-runtime#840 following are expected when a GVK does not exist after upgrading to controller-runtime v0.5.0:
- controller can be created successfully
- controller and manager will both terminate

We will have 3 PRs to address this issue:
- Upgrade controller-runtime to v.0.5.0: #504
- Validate GVK before creating object reconciler
- Let config reconciler

[2020-03-09 19:51] sophieliu15 commented on #411
/assign @sophieliu15

[2020-03-11 13:46] yiqigao217 opened #513 "HNC: Set finalizer in HC reconciler"
Part of #457, #501 .

We need finalizers on HC and HNS instances to make the cascading deletion work. The finalizers allow the reconcilers to trigger further deletion and make sure the related instances are purged before the current instances can be purged. Here's the implementation detail:
1. Add a finalizer to all HNS instances and remove it only when the subnamespace is deleted and purged for a

[2020-03-11 17:47] adrianludwin commented on #433
Hi @yeya24 , are you still planning to work on this issue? Thanks!

[2020-03-11 19:36] phoenixking25 commented on #397
/assign @phoenixking25

[2020-03-12 17:42] #488 closed

[2020-03-14 19:03] #94 closed

[2020-03-15 12:38] phoenixking25 commented on #259
@JimBugwadia  Need some help in the cmd you mentioned i.e.
`kubectl --kubeconfig=tenant-a -n a1 get all -l <key>=<value> `
And above this mentioned to run this as cluster-administrator, so i think there's some conflict.
`Run the following commands to retrieve the list of resources managed by the cluster administrator`

[2020-03-18 15:39] adrianludwin commented on #111
/assign @yiqigao217

Fixed by #396, #410 and #418.

/close

[2020-03-18 15:39] #111 closed

[2020-03-18 23:16] #469 closed

[2020-03-22 08:13] longngn commented on #445
@phoenixking25 Did you try to compile the test and then run the binary? I got the same error like you when trying to run `go test`. I think it was some problem with kubernetes e2e framework

[code]

[2020-03-22 08:20] longngn opened #532 "MTB: Enable testing for multiple tenants with multiple namespaces"
Current multi-tenancy benchmarks only allow testing for a single tenant and a single namespace. We should restructure the benchmark in some way to automate running tests for multiple tenants and each tenant with multiple namespaces. The config file could look like this:

[code]

[2020-03-22 08:48] longngn opened #533 "MTB: Tenant without kubeconfig (SaaS provider multi-tenancy)"
https://cloud.google.com/kubernetes-engine/docs/concepts/multitenancy-overview#saas_provider_multi-tenancy
SaaS provider multi-tenancy is a multi-tenancy use case where Kubernetes control plane is hidden from end-users (i.e. tenants). These tenants don't have access to control plane so we only need to run a subset of tests on their namespaces to verify PodSecurityPolicy, NetworkPolicy, ResouceQuot

[2020-03-22 12:08] longngn opened #534 "MTB: Dependency-inject config file"
Currently the config file is read from [a static path](https://github.com/kubernetes-sigs/multi-tenancy/blob/master/benchmarks/e2e/config/config.go#L7). We should let user inject it through commandline arg to improve flexibility and to ease adoption. This is especially useful for automating  running test, e.g. users can define config in a ConfigMap and then mount it in a pod for running tests.

Ex

[2020-03-22 13:32] phoenixking25 opened #535 "MTB: panic: runtime error: invalid memory address or nil pointer dereference"
While running test packages, in case of unqualified tenant it leads to the panic error in the logs which doesn't make any sense actually. It should be handled with a meaningful error handler function and a log. https://github.com/kubernetes-sigs/multi-tenancy/blob/f08fc4cef21e8b0195cb9eda22c63804b2f76f84/benchmarks/e2e/tests/block_cluster_resources/block_cluster_resources.go#L52

/assign @phoenixk

[2020-03-23 04:02] #445 closed

[2020-03-24 12:44] adrianludwin commented on #120
/assign @sophieliu15

[2020-03-24 14:15] sophieliu15 commented on #120
[Duplicate] Please see #411 for progress.

Close this issue for now.

/close

[2020-03-24 14:15] #120 closed

[2020-03-24 14:44] adrianludwin commented on #369
This is now done

/close

[2020-03-24 14:44] #369 closed

[2020-03-24 14:45] adrianludwin commented on #347
@yiqigao217 Is this still an open issue?

[2020-03-24 14:46] adrianludwin commented on #304
/close

[2020-03-24 14:46] #304 closed

[2020-03-24 14:47] adrianludwin commented on #278
@yiqigao217 Do you think we still need these additional tests?

[2020-03-24 14:49] adrianludwin commented on #306
Replaced by the new subnamespace UX
/close

[2020-03-24 14:49] #306 closed

[2020-03-24 14:49] adrianludwin commented on #309
/unassign @vjdhama
/assign @yiqigao217

Yiqi, does your new kubectl code handle this?

[2020-03-24 14:50] adrianludwin commented on #309
/remove-lifecycle stale

[2020-03-24 14:50] adrianludwin commented on #318
@yiqigao217 This is done now, right?

[2020-03-24 14:51] adrianludwin commented on #326
/remove-lifecycle stale

[2020-03-24 14:51] adrianludwin commented on #328
/remove-lifecycle stale

[2020-03-24 14:51] adrianludwin commented on #328
/assign

I'll have a look at this one

[2020-03-24 14:53] adrianludwin commented on #433
@yeya24 Hi Ben, another update, are you planning on writing this? Thanks!

[2020-03-24 15:12] SomtochiAma opened #543 "[MTB] Error: stat ./config.yaml: no such file or directory"
The path of the config file is wrong and it is causing all the tests to fail. The breaking changes were introduced by #499

[2020-03-24 21:15] yiqigao217 commented on #490
This condition is renamed as "SubnamespaceConflict" and will be reported in the HCR `syncChildren()` func. It will compare three lists of children, namespaces with this owner annotation and the HNS instances in this owner namespace.

[2020-03-24 21:18] yiqigao217 opened #549 "HNC: Report "HNS_MISSING" condition in the HNS reconciliation"
Part of #457

"HNS_MISSING" condition will be set on the owned namespace when reconciling HNS instances. If the owned namespace exists as a child but the HNS instance being reconciled is missing, this condition will be set on the child.

[2020-03-25 18:07] JimBugwadia opened #551 "Multi-Tenancy Benchmarks (MTB) Project"
This issue provides a description of the proposed GSoC Multi-Tenancy Benchmark Project.

The Kubernetes Multi-Tenancy Working Group is chartered with exploring and defining multi-tenancy models for Kubernetes. An overview of working group activities can be found in this Kubernetes Multi-Tenancy Working Group .

The Multi-Tenancy Benchmarks effort focuses on measuring and validating the desired beh

[2020-03-25 18:07] JimBugwadia commented on #551
/assign @JimBugwadia

[2020-03-25 18:10] yiqigao217 opened #552 "HNC: Move subnamespace creation to HNSR and simplify HCR"
Part of #457

We will move the subnamespace creation from HierarhyConfig Reconciler (HCR) to HierarchyicalNamespace Reconciler (HNSR) to simplify the logic and make it easier to understand.

The HNSR will take care of the subnamespace creation/deletion based on the HNS instances. When HNSR creates a subnamespace, it will set correct owner annotation on the subnamespace.

We will use the namespace

[2020-03-26 04:34] SomtochiAma commented on #408
/assign @SomtochiAma

[2020-03-26 04:34] SomtochiAma commented on #407
/assign @SomtochiAma

[2020-03-26 04:34] SomtochiAma commented on #402
/assign @SomtochiAma

[2020-03-26 05:23] SomtochiAma commented on #399
/assign

[2020-03-26 08:25] phoenixking25 commented on #401
/assign @phoenixking25

[2020-03-26 15:29] yiqigao217 commented on #490
Closing this since it's outdated. See #552

[2020-03-26 15:29] #490 closed

[2020-03-26 16:00] yiqigao217 commented on #549
Outdated. See #552

[2020-03-26 16:00] #549 closed

[2020-03-26 17:47] yiqigao217 opened #560 "HNC: Fix flaky test on changing the namespace annotation"
Part of #457

In`hierarchical_namespace_test.go` to test the case of 'Conflict', we want to change the owned namespace's owner annotation to trigger the 'Conflict' state. Most of the times, the tests will pass. However, sometimes it may fail because it was not able to change the namespace annotation.

The error I got is:
Operation cannot be fulfilled on hierarchyconfigurations.hnc.x-k8s.io "hierar

[2020-03-26 17:59] adrianludwin commented on #560
Can you retry it in a loop? This can happen if two clients try to update
the same object in succession too quickly.

On Thu, Mar 26, 2020 at 1:47 PM yiqigao217 <notifications@github.com> wrote:

[2020-03-26 18:23] yiqigao217 commented on #560
Do you mean put it in `Eventually()` instead of `Expect()`? It's using `Eventually()` now and it got timed out with the above error. I put a 1-second sleep for now.

[2020-03-26 19:21] adrianludwin commented on #560
Eventually _should_ be a good enough loop, as long as we're passing in a
function that can get retried and not a value (we've been bitten by that
one before).

On Thu, Mar 26, 2020 at 2:23 PM yiqigao217 <notifications@github.com> wrote:

[2020-03-26 20:00] yiqigao217 commented on #318
Yes, by `Ex` map.

[2020-03-26 20:00] #318 closed

[2020-03-26 20:54] yiqigao217 commented on #347
I tested manually again and it's still an open issue. Here's my testing:
`k create ns zparent`
`k create ns zchild`
`k create ns zgrand`
`k hns set zchild --parent zparent`
`k hns set zgrand --parent zchild`
`k hns tree zparent`
zparent
|__zchild
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |__zgrand
`k -n zchild create configmap configmap-zchild --from-literal key=value`
The source is created in `zchild` and

[2020-03-26 21:04] yiqigao217 commented on #278
I looked up int the current `object_test.go`. These tests are already added.

[2020-03-26 21:04] #278 closed

[2020-03-26 21:09] yiqigao217 commented on #309
No, not yet. This will be implemented with the webhook since the new `k hns create` will create a new HNS instance instead of setting the previous '--reqiredChild` field. See #458

[2020-03-26 21:13] adrianludwin commented on #347
Thanks, I'll look at this along with #328

[2020-03-26 21:13] adrianludwin commented on #347
/assign

[2020-03-26 21:25] yiqigao217 commented on #560
This may not apply to this case since in `Eventually()` it will keep retrying to update and this won't help since the failure is from trying too much. The temporary work around I put is sleep 1 second for now before we get better solution.

Just referencing the [`Eventually()` func](https://github.com/kubernetes-sigs/multi-tenancy/blob/0e08fae14e5d1b664fe6a43855ff2eb4996208f6/incubator/hnc/pkg/rec

[2020-03-27 00:23] adrianludwin commented on #560
Odd. I thought Eventually() had a backoff?

On Thu, Mar 26, 2020 at 5:25 PM yiqigao217 <notifications@github.com> wrote:

[2020-03-27 10:00] #188 closed

[2020-03-27 20:07] adrianludwin commented on #309
Sorry, that's what I meant - the new code _will_ handle this. Thanks!

/close

[2020-03-27 20:26] yiqigao217 commented on #309
Sorry that I'm confused. I think we still need something similar to webhook to enforce it. Since currently, the new 'create' can create an HNS with an existing namespace name.

[2020-03-27 20:28] adrianludwin commented on #309
Yup, we definitely need the webhook, we just don't need anything in the kubectl plugin.

[2020-03-27 20:28] adrianludwin commented on #309
/close

[2020-03-27 20:28] #309 closed

[2020-03-27 20:30] yiqigao217 commented on #309
Ah agreed.

[2020-03-28 02:04] adrianludwin commented on #281
/remove-lifecycle stale

[2020-03-28 03:13] #543 closed

[2020-03-28 13:57] SomtochiAma commented on #535
Hello @phoenixking25, still working on this?

[2020-03-28 14:00] phoenixking25 commented on #535
@SomtochiAma yep

[2020-03-28 21:47] #402 closed

[2020-03-29 10:14] SomtochiAma commented on #398
/assign @SomtochiAma

[2020-03-29 15:43] adrianludwin commented on #347
Here's what _should_ be happening here:
* The critical condition is removed, and all descendents are enqueued
* As each descendent is reconciled, it notices that it changed, so it calls `updateObjects`
* In `updateObjects`, it should notice that the `configmap-zchild` needs to be deleted

Currently looking into why this isn't happening.

[2020-03-29 19:54] adrianludwin commented on #347
Ah - when there's a crit condition, we skip the entire object reconciler so we never update the forest to know that the object's been removed. This doesn't seem right - we should only skip _actions_ if there's a crit condition, not our internal reflection of the apiserver state.

[2020-03-30 13:28] adrianchung commented on #333
My plan here is to disallow releasing if an image and tag already exists for the resolved tag. There will be a FORCE_RELEASE flag that can be set to override this for test/bad push purposes.

[2020-03-30 18:41] adrianchung commented on #281
I'm going to be picking this issue up

[2020-03-30 21:12] yiqigao217 commented on #479
Fixed by #550

[2020-03-30 21:12] #479 closed

[2020-03-30 21:13] yiqigao217 commented on #487
Fixed by #496

[2020-03-30 21:13] #487 closed

[2020-03-30 21:14] yiqigao217 commented on #459
Fixed by #496

[2020-03-30 21:14] #459 closed

[2020-03-30 21:17] yiqigao217 commented on #552
The only thing left here is:
Remove ns.Owner field and add ns.isOwned bool field, since the parent will always be the owner in the annotation.

[2020-03-31 03:43] adrianludwin commented on #326
/assign

Fixing this along with #328

[2020-03-31 04:38] adrianludwin commented on #316
This is no longer needed thanks to @yiqigao217 's work on HNSes.

/close

[2020-03-31 04:38] #316 closed

[2020-03-31 04:58] #407 closed

[2020-03-31 18:20] yiqigao217 commented on #560
By backoff, do you mean it will not retry immediately after the previous attempt fails?

[2020-03-31 18:42] adrianludwin commented on #560
Yes, exactly. I thought it would have a short `time.Sleep` or something, but I don't really know.

[2020-03-31 21:15] #552 closed

[2020-04-01 15:24] phoenixking25 commented on #406
/assign @phoenixking25

[2020-04-01 18:08] #501 closed

[2020-04-01 18:19] #513 closed

[2020-04-01 18:59] sophieliu15 opened #586 "HNC: delete objects created via makeObject after each test case."
Right now objects created via [makeObject](https://github.com/kubernetes-sigs/multi-tenancy/blob/a2aaadbde836d60cd8c5aceead6679ecc6599a37/incubator/hnc/pkg/reconcilers/test_helpers_test.go#L153) are kept on the apiserver. We should find a way to delete objects after each test case so the objects created in one test case will not affect another test case (e.g., when computing NumSourceObjects).

[2020-04-01 18:59] sophieliu15 commented on #586
/assign @sophieliu15

[2020-04-01 19:01] sophieliu15 commented on #586
/cc @adrianludwin
/cc @yiqigao217
/cc @adrianchung

[2020-04-01 19:34] adrianludwin commented on #586
This might be a good one for @adrianchung

[2020-04-01 19:44] sophieliu15 commented on #586
Cool! @adrianchung I will leave the issue to you for now. Feel free to let me know if you need any more context or help about the issue!

[2020-04-01 23:10] adrianchung commented on #586
Thanks! I will pick this up

[2020-04-02 15:47] jiachengxu commented on #500
/assign

[2020-04-02 16:31] adrianchung opened #594 "HNC: Rename release binary from kubectl-hierarchical_namespaces to kubectl-hns"
Our released HNC binaries (for example, [v0.2.0](https://github.com/kubernetes-sigs/multi-tenancy/releases/tag/hnc-v0.2.0)) are currently named kubectl-hierarchical_namespaces. We should rename it to kubectl-hns to make it easier to spell and type.

[2020-04-02 18:13] yiqigao217 opened #596 "HNC: Add recommended RBAC rules in README"
For rules like 'don't change/delete hc instances', instead of implementing them in webhooks, we can just ask users to use RBAC rules to enforce them.

[2020-04-02 19:56] adrianludwin commented on #326
Fixed by #585

/close

[2020-04-02 19:57] #326 closed

[2020-04-02 19:57] adrianludwin commented on #347
Fixed by #574

/close

[2020-04-02 19:58] #347 closed

[2020-04-02 20:02] adrianludwin commented on #495
Hey Yiqi, is this still a concern? Is it something that @adrianchung could help with?

[2020-04-03 06:12] jiachengxu commented on #458
Hi @yiqigao217 @adrianludwin I am interested in this issue, and I have experience with webhook, can I try to work on this?

[2020-04-03 13:22] yiqigao217 commented on #458
Hi @jiachengxu , sorry that I almost finished this one and will send out a PR shortly.

[2020-04-03 13:25] yiqigao217 commented on #495
Yes, this should be good one!

[2020-04-03 14:01] #500 closed

[2020-04-03 15:26] rjbez17 commented on #594
We had a long discussion about this previously and I we decided to use a long name and recommend people use a symlink or alias to improve their lives. We felt that making the binary more obvious what it is was more important. kubectl-hns is not really that obvious to those unfamiliar.

@adrianludwin any thoughts?

[2020-04-03 15:33] sophieliu15 opened #601 "HNC: kubectl plugin does not show `hierarchical-namespaces` in the Usage section"
`hierarchical-namespaces` is added in the Usage section in the [root command](https://github.com/kubernetes-sigs/multi-tenancy/blob/2946d71727d081f8be651fc86d68b948414bbabc/incubator/hnc/pkg/kubectl/root.go#L59). However, when typing `kubectl hns`, the output shows:

[code]

Ideally, the Usage section should be `kubectl hierarchical-namespaces [command]`

This also impacts the usage section of sub

[2020-04-03 15:33] sophieliu15 commented on #601
cc:
@adrianludwin
@yiqigao217
@adrianchung

[2020-04-03 15:41] adrianludwin commented on #594
I discussed this with (other)Adrian, and the thing that I think is changing my mind is documentation.  If the "official" one is hierarchical-namespaces, that's what we should be documenting, right? But whenever we write a doc, I just want to type `kubectl hns`, and I think it's weird if you have to jump through a bunch of separate hoops to get that experience.

wdyt?

[2020-04-03 15:51] rjbez17 commented on #594
I'm fine with that, I was originally in the `kubectl-hns` boat the first time around :)

[2020-04-03 16:32] rjbez17 commented on #594
@adrianludwin do we want to target this for the next release?

[2020-04-03 16:34] adrianludwin commented on #594
I think so - we're hoping that v0.3 will be an MVP. adrianchung@ can have this done in about 5min (he's a new Googler working on HNC)

[2020-04-03 16:34] adrianludwin commented on #594
I'm _thinking_ v0.3 will go out next Friday or so

[2020-04-03 20:11] #328 closed

[2020-04-03 20:18] adrianludwin opened #605 "HNC: CannotUpdate conditions might not be cleared in descendants when a hierarchy changes"
See https://github.com/kubernetes-sigs/multi-tenancy/pull/597#discussion_r403301854

[2020-04-03 20:20] adrianludwin commented on #605
Also consider improving comments based on the linked discussion above.

[2020-04-04 00:13] adrianchung opened #607 "HNC: Add exclusions to hierarchy validation webhook"
The hierarchy validator should respect the namespaces that are [excluded](https://github.com/adrianchung/multi-tenancy/blob/ad111630877a2a46498a5efc8c39367bab495696/incubator/hnc/pkg/reconcilers/setup.go#L15).

The webhook will deny:

Create a namespace with a parent in EX
Reparent a child namespace to a parent in EX

[2020-04-04 02:15] adrianludwin commented on #607
Also - the object validator should ignore any objects in any excluded namespace.

[2020-04-04 17:36] phoenixking25 commented on #403
/assign @phoenixking25

[2020-04-06 17:30] adrianludwin commented on #605
/cc @yiqigao217

LMK if you're able to take this one on when your current PRs are finished

[2020-04-06 18:08] #594 closed

[2020-04-06 18:14] adrianchung commented on #607
I'm going to be picking this up to be worked on

[2020-04-06 18:29] yiqigao217 commented on #560
@adrianludwin can you please put this into v0.3 too? I believe the flaky test still exists.

[2020-04-06 18:33] adrianludwin commented on #560
Let's see if I can get the bot to work.

/milestone hnc-v0.3

[2020-04-06 18:34] adrianludwin commented on #560
Maybe it doesn't like that particular milestone?

/milestone hnc-backlog

[2020-04-06 18:45] yiqigao217 commented on #605
Yes I will take this one. /assign @yiqigao217

[2020-04-06 18:47] yiqigao217 commented on #605
Sure, i will take this one.
/assign @yiqigao217

[2020-04-06 19:06] sophieliu15 commented on #601
/close

[2020-04-06 19:06] #601 closed

[2020-04-06 19:06] sophieliu15 commented on #601
This is fixed in #615

[2020-04-06 19:07] sophieliu15 commented on #586
/close

This is fixed in #599

[2020-04-06 19:08] #586 closed

[2020-04-06 19:13] sophieliu15 commented on #411
/close

This issue is fixed.

[2020-04-06 19:13] #411 closed

[2020-04-06 19:51] yiqigao217 commented on #605
Hi, @adrianludwin I was trying to introduce the `CannotUpdate` condition in my manual test. Is it the only way is to put a finalizer on the source object? Even for that, I seemed not able to add finalizers to an object manually by  e.g. `kubectl edit configmap`

[2020-04-07 03:42] adrianludwin commented on #457
I think we're done with this? Congrats!

[2020-04-07 13:47] yiqigao217 commented on #457
Thanks! The only thing left is the flaky test #560 . As for `EX` map, I unlinked the issue #495  to this main issue.

[2020-04-07 14:37] adrianludwin commented on #457
I think you can close this one, the hnc-v0.3 milestone is sufficiently
tracking IMO.

On Tue, Apr 7, 2020 at 9:47 AM yiqigao217 <notifications@github.com> wrote:

[2020-04-07 14:41] yiqigao217 commented on #457
I see, sure!

[2020-04-07 14:41] #457 closed

[2020-04-07 14:53] #607 closed

[2020-04-07 17:51] sophieliu15 opened #622 "HNC: Inconsistent documentation for Condition.Code"
[Condition.Code](https://github.com/kubernetes-sigs/multi-tenancy/blob/9f46e6aac110f62fcba9bc4d8d204e68d1760acd/incubator/hnc/api/v1alpha1/hierarchy_types.go#L130) does not contain documentation for [HNSMissing](https://github.com/kubernetes-sigs/multi-tenancy/blob/9f46e6aac110f62fcba9bc4d8d204e68d1760acd/incubator/hnc/api/v1alpha1/hierarchy_types.go#L44), [CannotUpdate](https://github.com/kuberne

[2020-04-07 17:52] sophieliu15 commented on #622
/assign @yiqigao217
cc: @adrianchung @adrianludwin

Hi Yiqi!

Tentatively assign this to you since IIUC, the codes are for HNS. Feel free to reassign if you are not the best person to update the comment.

Thank you!

[2020-04-07 21:02] adrianludwin opened #623 "HNC: Ensure no-one puts a finalizer on a HierarchyConfiguration object"
Currently, `updateFinalizers` (`pkg/reconcilers/hierarchy_config.go`) assumes that any existing finalizer can be removed. This is probably a correct assumption, but we don't have a webhook to prevent anyone else from adding a finalizer to an HC. We should add that.

[2020-04-07 21:02] adrianludwin commented on #623
/good-first-issue
/cc @yiqigao217

[2020-04-08 09:00] zhuangqh opened #630 "VC: update error message to vc cr status"
If vc-manager create vc error after retry. update the vc status, output some error message to status. enable the user to know what happen

[2020-04-08 09:00] zhuangqh commented on #630
/assign @charleszheng44

[2020-04-08 16:00] sophieliu15 commented on #454
/close

This issue is fixed.

[2020-04-08 16:00] #454 closed

[2020-04-09 02:25] adrianludwin commented on #605
/reopen

#617 was just the test

[2020-04-09 13:46] yiqigao217 opened #635 "HNC: Revisit if we need to write namespace when it's deleting"
See [comments](https://github.com/kubernetes-sigs/multi-tenancy/pull/624#discussion_r405189452) on #624 .

The tree labels could get updated before the namespace was eventually purged. We need to revisit this to see if it's necessary or how dangerous it could be for a not-up-to-date tree labels when the namespace is being deleted.

[2020-04-09 16:21] yiqigao217 commented on #596
I don't really find a good place to put this specific RBAC rules in the README. I think it may be okay not to add it since user are not likely to add a permission on `hierarchyconfigurations` any way? WDYT @adrianludwin ?

[2020-04-09 18:41] #560 closed

[2020-04-09 18:43] adrianludwin commented on #596
If user's don't give permission to `hierarchyconfigurations`, then no-one can use them :)

Maybe add the documentation somewhere in here?
https://docs.google.com/document/d/1R4rwTweYBWYDTC9UC-qThaMkPk8gtflr_ycHOOqzBQE/edit#heading=h.fbb92511bj1z

[2020-04-09 18:45] adrianludwin commented on #596
Just left a footnote here: https://docs.google.com/document/d/1R4rwTweYBWYDTC9UC-qThaMkPk8gtflr_ycHOOqzBQE/edit?disco=AAAAGZZ-WLI. Do you think this is good enough?

[2020-04-09 18:50] yiqigao217 commented on #596
Thanks for the explanation and the update on the doc!

[2020-04-09 18:50] #596 closed

[2020-04-09 18:55] #605 closed

[2020-04-09 19:05] #622 closed

[2020-04-10 10:48] zhuangqh commented on #630
related to #633

[2020-04-10 10:48] #630 closed

[2020-04-15 05:54] #413 closed

[2020-04-17 22:33] adrianludwin opened #653 "HNC: let HNC run without cert-manager"
We've had some discussions at Google about HNC, and some of us were concerned by the runtime dependency on `cert-manager`. For example, we've already seen cases where different versions of `cert-manager` can break us - what happens if someone has the wrong version installed on their cluster?

By contrast, Gatekeeper is a similar project to HNC, but has the optional ability to generate its own [sel

[2020-04-17 22:33] adrianludwin commented on #653
/cc @rjbez17

Ryan, any concerns with this?

[2020-04-17 22:49] rjbez17 commented on #653
I think as a default its fine.  I'd prefer/hope we maintain the option to configure HNC with a secret name where to find the cert to use (and therefore skip the self signed route). Leaving the use of cert manager open.

Personally we (as in Cray) wouldn't allow the self signed option in our clusters, but for development/getting started I think it's generally ok.

I've done quite a bit around certs

[2020-04-17 23:12] adrianludwin commented on #653
Thanks! Yup this would be a default, we'll still support cert-manager and
other methods.

On Fri, Apr 17, 2020 at 6:49 PM Ryan Bezdicek <notifications@github.com>
wrote:

[2020-04-20 13:58] adrianludwin commented on #653
/assign @yiqigao217

[2020-04-21 18:18] sophieliu15 opened #660 "HNC: Update namespace labels when a namespace has a critical condition"
Currently [namespace labels](https://docs.google.com/document/d/1R4rwTweYBWYDTC9UC-qThaMkPk8gtflr_ycHOOqzBQE/edit#heading=h.40wgqgbzpspe) of a namespace are not updated if the namespace has a [critical condition](https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/api/v1alpha1/hierarchy_types.go#L41-L43) (see [here](https://github.com/kubernetes-sigs/multi-tenancy/blob/cd26b

[2020-04-21 18:18] sophieliu15 commented on #660
cc:
@adrianludwin
@adrianchung
@yiqigao217

[2020-04-21 21:22] adrianludwin commented on #281
/close

We decided not to do anything more in #589.

[2020-04-21 21:22] #281 closed

[2020-04-21 21:22] adrianludwin commented on #333
Fixed by #576

/close

[2020-04-21 21:22] #333 closed

[2020-04-21 21:29] adrianludwin commented on #660
This all lgtm.
/cc @rjbez17

What do you think of all this?

[2020-04-21 21:32] adrianludwin commented on #660
Oh, except for one thing: if `a` is the parent of `c`, and `c` is the parent of `a`, then _both_ `a` and `c` _should_ have the `CritParentInvalid` condition, not just `a`. That is, _all_ namespaces involved in a cycle should have this condition set. Did you try it and see?

[2020-04-22 03:16] sb1975 opened #664 "Ability to specify Resource Quota at TenantAdmin Level"
There should be a way to specify the Total Resource Quota like below for all the tenant namespaces which are controlled by the Tenant and TenantAdmin Namespace.
This should include the below list :
- Total CPU
- Total Memory
- Maximum number of Pods

[2020-04-22 15:34] sophieliu15 commented on #660
Yes. If you set `a` to be parent of `c` first then tried to set `c` as parent of `a`, only `a` will have `CritParentInvalid` condition. `c` will have `CritAncestor` condition.

Here is an example command and outputs.

[code]

IIUC, current behavior makes sense. When we first set `a` to be parent of `c`, it is valid and HNC accepts that. When setting `c` to be parent of `a`, we view `c` as an inval

[2020-04-22 16:07] adrianludwin commented on #660
Thanks for investigating that. K8s objects should be "stateless" - it shouldn't matter what order a series of changes are made in, they should always result in the same outcome. For example, imagine we restart HNC - the order in which we sync `a` and `c` will affect which conditions we end up displaying. This seems unfortunate.

I think we should file a separate bug to ensure that _both_ `a` and `

[2020-04-22 16:09] adrianludwin commented on #660
Maybe we should change `CritInvalidParent` to `CritCycle` or something like that?

[2020-04-22 16:18] sophieliu15 commented on #660
Thanks for the reply. I think that makes sense. Right now it is nondeterministic which namespace will get `CritParentInvalid` condition when restarting HNC (I restarted HNC and this time `b-1` got the condition instead of `a-1` in my example above).

Changing the name SGTM.

I will fire a separate bug to address this issue.

[2020-04-22 16:24] sophieliu15 opened #666 "HNC: Add critical condition to both culprit namespaces when they cause a cycle."
Right now if setting the parent of a namespace causes a cycle, only the parent will get `CritParentInvalid` condition. When restarting HNC, it is nondeterministic which namespace in the cycle will have `CritParentInvalid` condition. For details, see discussions in #660.

Ideally, if we set parent of `a` to `b` and it causes a cycle, the condition should be on both `a` and `b` and not on other name

[2020-04-22 16:24] sophieliu15 commented on #666
cc:
@adrianludwin
@adrianchung
@yiqigao217

[2020-04-22 17:58] adrianludwin opened #667 "HNC: update all uses of the term "self-service namespace" and "owned namespace" to "subnamespace""
In the [user guide](http://bit.ly/38YYhE0), we exclusively use the term "subnamespace" rather than the (clunkier) "self-service namespace," but several webhooks and code use the "self-serve" term. We should go fix these.

[2020-04-24 14:27] sb1975 opened #671 "Duplicate Code in https://github.com/kubernetes-sigs/multi-tenancy/blob/master/tenant/config/manager/all_in_one.yaml"
It seems line 15-23 in this code : https://github.com/kubernetes-sigs/multi-tenancy/blob/master/tenant/config/manager/all_in_one.yaml
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
  - create

This is exactly same as in lines 59-67.
Can someone clarify the difference, otherwise one of it can be deleted.

[2020-04-27 02:40] Fei-Guo commented on #671
Feel free to create a PR to fix it. Thanks

[2020-04-28 21:33] yiqigao217 opened #680 "HNC: Delete validation for Namespace and HNS is broken on k8s versions <1.15"
See exact same issue in controller-runtime repo - [#845](https://github.com/kubernetes-sigs/controller-runtime/issues/845).

The HNC webhook validation on `kubectl delete ns <namespace>` and `kubectl delete hns <subnamespace> -n <ownerNamespace>` is broken on k8s versions <1.15.

You should get `Forbidden`:
[code]
instead of `BadRequest`:
[code]

[2020-04-28 21:34] yiqigao217 commented on #680
/help
/cc @adrianludwin

[2020-04-28 21:36] adrianludwin commented on #680
/good-first-issue

I don't think this is very high priority for us to fix (1.14 is on its way out the door anyway, at least on GKE) but if someone wants to help out or we get a strong signal that this fix is needed in 1.14, we can revisit this.

[2020-04-30 19:25] adrianludwin opened #685 "HNC: support the OpenCensus agent"
HNC currently instantiates two OpenCensus exporters: Stackdriver and Prometheus. If we also add the exporter to the OC agent, users can support any other monitoring solution (e.g. Datadog etc) without having to modify HNC.

This issue has two main components:

1. Add the exporter (likely very easy)
2. Test the exporter (likely easy if you have experience with a non-SD, non-Prom monitoring solution

[2020-05-03 15:30] #292 closed

[2020-05-04 18:38] yiqigao217 opened #688 "HNC: Allow NS deletion if the request cannot be decoded in K8s versions <1.15"
See #680

A workaround to make it safer before the issue is fixed is to: Allow namespace deletion if the request cannot be properly [decoded](https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/pkg/validators/namespace.go#L107) in the namespace webhook.

This workaround makes it possible to delete namespaces in <1.15 but won't prevent deleting self-service namespaces by mist

[2020-05-04 18:39] yiqigao217 commented on #688
/cc @adrianludwin to add v0.4 milestone

[2020-05-04 19:32] #653 closed

[2020-05-05 17:49] singhannie opened #690 "Support for Aggregate quota resources for all namespaces of a tenant"
Aggregate of resource quotas for all namespaces for a tenant shall remain below Maximum aggregated resource quotas, which might associated with tenant CR in some way. Given that workloads of a tenant would share the resource of the same Kubernetes cluster with other tenants, and the tenant admin has ability to create new namespaces and associate resource quotas to it, maximum aggregated resource q

[2020-05-06 13:39] #398 closed

[2020-05-06 18:47] phoenixking25 opened #691 "[MTB] Add Unit Tests for Benchmarks"

[2020-05-06 19:14] phoenixking25 opened #692 "[MTB] Add validation for listing allowed cluster roles: PL2"

[2020-05-06 19:15] phoenixking25 opened #693 "[MTB]: custom controllers for namespace management for PL2 tests"

[2020-05-06 19:16] phoenixking25 opened #694 "[MTB] Selection of packaging and execution tool for e2e tests"

[2020-05-06 19:27] phoenixking25 opened #695 "[MTB]: Method to run diff number of validation tests"
At present all tests run, as there is no method to run them according to the profile levels for which the cluster to be validated.

[2020-05-06 19:31] phoenixking25 commented on #691
We can create a Makefile and add the methods to create a test cluster if we are going with the kind and method to create multi-tenants(2 as per our present requirement). Then, we can create different environments or control them placing manifest yaml files with respective benchmarks and using those to validate our benchmark by asserting the output result with the given output next to yaml files.
I

[2020-05-06 19:32] phoenixking25 commented on #692
What will be the remediation/audit for this validation test?

[2020-05-06 19:36] phoenixking25 commented on #694
I proposed making image of the benchmarks and execution with the Sonobuoy in my [proposal](https://github.com/phoenixking25/gsoc-meta-k8s/raw/master/proposal.pdf).

[2020-05-06 22:02] yiqigao217 opened #696 "HNC: Add POD_NAMESPACE environment variable into pod spec"
In HNC admission controllers, when verifying the HNC SA user identity, it looked up the `POD_NAMESPACE` environment variable [here](https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/pkg/validators/hierarchy.go#L304) but the `env` is not declared in the pod spec.

The code uses a hard-coded `hnc-system` namespace if the env is not found. This bug won't cause any issue for n

[2020-05-06 22:02] yiqigao217 commented on #696
/cc @adrianludwin to add proper milestones.

[2020-05-07 12:42] adrianludwin commented on #696
Looks like we should be using the [downward AP](https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/) for this.

[2020-05-07 12:43] adrianludwin commented on #696
Also: we should log an error when we have to fall back on the default.

[2020-05-07 17:15] #408 closed

[2020-05-07 18:25] #667 closed

[2020-05-08 01:14] #300 closed

[2020-05-08 21:18] sb1975 commented on #690
I think the Aggregate Resource Quota can be enforced at TenantAdmin Level.
Could this be enforced by using the HNC (https://github.com/kubernetes-sigs/multi-tenancy/tree/master/incubator/hnc ) ? or any other mechanism ?

[2020-05-08 21:32] adrianludwin commented on #690
HNC doesn't directly support hierarchical resource quota, though there was an IBM team working on implementing a type of RQ that supported HNC. There's no reason someone couldn't build it, it's just not a priority for our usecases right now, but we'd be happy to accept contributions.

[2020-05-09 03:12] tangwz commented on #551
@JimBugwadia I would like to work this summer on this project. May I know how to start it.

[2020-05-11 19:44] christopherhein opened #707 "[VC]: Logs with multiple containers can't be passed through."
When using a Pod with multiple containers from a tenant I can't seem to get logs to work for a single container.

[code]

Is this because of the vn-agent? Did I potentially misconfigure something?

[2020-05-12 01:26] sb1975 commented on #690
@adrianludwin , do you mind adding reference to the code or issue here, in case it exists , thanks.

[2020-05-12 14:34] adrianludwin commented on #690
It was the first agenda item on Dec 3 2019: https://youtu.be/V0Zw82nOAEE

[2020-05-12 20:49] christopherhein opened #711 "[VC]: Go Mods with Canonical Shas vs Releases"
On a fresh `clone` fetching go deps will return an error becacuse of the `replace` directives.

[code]

[2020-05-12 21:04] #711 closed

[2020-05-12 22:18] christopherhein opened #713 "[VC]: Can't run go generate, GOPATH issues."
### Background:
I'm using `direnv` so I have the environment set up properly with the `GOPATH` from the root of `multi-tenancy` and the tools directory. I believe there is something wrong with the way we have our dependencies packaged where a clean install doesn't install a supported `k8s.io/code-generator`.

[code]

@Fei-Guo is there a specific version you have installed? This isn't managed right

[2020-05-13 02:18] zhuangqh commented on #713
have you done `go mod download`?

[2020-05-13 03:12] christopherhein commented on #713
I have, it didn't change anything. Are you using `direnv` and having it set based on what is in `/multi-tenancy/.envrc`?

[2020-05-13 15:31] christopherhein commented on #713
/close

Apparently I wasn't supposed to use `direnv` and it's configuring my env wrong. `direnv deny` from the root of the `/multi-tenancy` repo and retrying seems to solve this.

[2020-05-13 15:31] #713 closed

[2020-05-13 16:59] christopherhein opened #714 "[VC]: Manifest Regeneration Removing shortNames"
I run `make manifest` it regenerates the crds and also removes the `shortNames` from them.

I am using the `controller-gen@0.1.1` like it is documented in the `Makefile` and since there isn’t any `shortName` `controller-gen` markers in the `*_types.go` files I end up with a `diff` like:

[code]

Is this expected? Am I running the wrong version of `controller-gen`? Should we update to a later versi

[2020-05-13 17:11] adrianludwin opened #715 "HNC: ensure subnamespaces are not deleted as HNC is uninstalled"
If HNC is uninstalled, we ideally want all existing namespaces and objects to be left alone. In particular, we want all subnamespaces to be left as-is.

Depending on the order in which HNC objects are uninstalled, I'm concerned that the following situation could occur:
* The `SubnamespaceAnchor` CRD is deleted before the HNC manager itself.
  * Prior to the CRD being fully deleted, all the `Subnam

[2020-05-13 17:14] adrianludwin opened #716 "HNC: consider making leaf subnamespace deletion easier"
Right now, to delete a subnamespace, you first have to set `allowCascadingDelete` on the subnamespace itself (or its parent). This makes subnamespaces _harder_ to delete than regular namespaces, which have no such protection.

The goal of `allowCascadingDelete` was really to prevent _cascading_ deletions - that is, unintentionally deleting _multiple_ namespaces. I wonder if we could skip this chec

[2020-05-13 17:15] adrianludwin commented on #716
/assign @yiqigao217

This is on the HNC backlog so it's not immediately urgent (e.g. it's not for v0.4)

[2020-05-13 17:17] adrianludwin opened #717 "HNC: consider preventing orphans"
Currently, HNC lets you delete parents of full namespaces without any restrictions, e.g.:

[code]

Since our admission webhooks stop you from creating most other critical conditions, I'm wondering if we should do the same thing here? E.g., maybe we should insist that all (full) children are removed from this tree _before_ allowing deletion? Or maybe it would need to integrate with `allowCascadingD

[2020-05-13 17:17] adrianludwin commented on #717
/assign @yiqigao217

Again this isn't for HNC v0.4

[2020-05-13 17:20] adrianludwin opened #718 "HNC: allow us to uninstall easily without removing CRDs"
Right now, if you say `kubectl delete -f <hnc-version>/manifest.yaml`, _everything_ gets deleted, including the CRDs. It would be nice if we could delete the HNC namespace, deployment, webhooks etc but not the user data.

/good-first-issue

[2020-05-13 17:31] charleszheng44 commented on #714
Hi Chris,

Yes, this is expected. We use kubebuilder v1.0.8 to build the scaffolding code for VC. I think kubebuilder begun to support `shortName` since v2. I used to add the `shortName` manually.

If you can update the controller-gen and make the `shortName` work, that would be great :)

[2020-05-13 17:43] christopherhein commented on #714
Awesome, thanks @charleszheng44. Happy to look into doing that. I found this while solving for #707 so once I can finish the test suite for that I will start on this.

[2020-05-13 18:05] charleszheng44 commented on #477
/close this feature is no longer needed

[2020-05-13 18:05] charleszheng44 commented on #477
this feature is no longer needed

[2020-05-13 18:06] charleszheng44 commented on #477
this feature is no longer needed

[2020-05-13 18:06] #477 closed

[2020-05-13 18:06] charleszheng44 commented on #425
solved

[2020-05-13 18:06] #425 closed

[2020-05-13 18:06] #391 closed

[2020-05-13 18:07] #390 closed

[2020-05-14 02:42] adrianludwin commented on #696
On second thought, I don't think this is critical for v0.4.

[2020-05-14 19:51] #666 closed

[2020-05-15 04:19] christopherhein opened #728 "[VC]: Renaming Virtualcluster -> VirtualCluster?"
What do you think about changing the capitalization of the `Virtualcluster` to follow `ClusterVersion` and common patterns in other Kubernetes projects to `VirtualCluster`?

[2020-05-15 04:20] #707 closed

[2020-05-15 13:14] adrianludwin opened #730 "HNC: consider simplifying the inheritance of allowCascadingDelete"
Right now, allowCascadingDelete is only inherited up through subnamespaces to the first full namespace. This is probably the "right" thing to do but it's kind of hard to explain. It might be simpler to just accept it if _any_ ancestor has it, which is actually what we say in the user guide right now (the _real_ definition is just shown in a "note" block).

/assign @yiqigao217

Yiqi, wdyt?

/good-f

[2020-05-15 15:23] #660 closed

[2020-05-15 18:42] yiqigao217 commented on #730
My concern is that users may set it for a one-time deletion and forget to unset it. To support this simplified inheritance, we may need to come up with a new mechanism to prevent that case? WDYT @adrianludwin

[2020-05-15 18:47] adrianludwin commented on #730
I agree it's a bit less safe - but not *that* much less safe. You should
already be setting it on the lowest possible level anyway, and usually you
won't have full and subnamespaces interleaved either. So the way it works
now just seems a bit arbitrary.

The only other option I can think of is to get rid of the inheritance
completely. You can only delete is aCD is set on the *current *namespace,
o

[2020-05-16 14:34] christopherhein commented on #728
@Fei-Guo @resouer @zhuangqh wdyt?

[2020-05-16 20:16] Fei-Guo commented on #728
If there is no strong reason, i'd rather not change it now. We have users that already use vc crd in production. Changing the crd name will break the client. This does not mean we cannot change it thought if it is indeed an anti-pattern.

[2020-05-16 22:19] christopherhein commented on #728
Sounds good, it seems like something we should do before v1beta1 would be all I’d like to see

[2020-05-17 06:06] christopherhein commented on #728
That’s fair.

[2020-05-17 12:36] ShadowJonathan commented on #728
Maybe put this on a milestone or a todo-list for a major version/development leap where clients already would need to update their configurations.

[2020-05-17 20:04] #291 closed

[2020-05-17 20:16] Fei-Guo commented on #728
Yes, I added to my internal TODO list. The list will be posted publicly once the project graduates.

[2020-05-17 23:14] christopherhein commented on #728
Thanks @Fei-Guo, by graduation, do you have something specific you are working towards, any issue I can read about what is left before then?

[2020-05-18 02:29] adrianludwin opened #736 "HNC: provide metrics for conditions"
Conditions are currently only visible on the HCs in individual namespaces, but the cluster admin should have some way to be able to monitor if there are problems across the entire cluster. However, metrics are poor places for high-cardinality data such as the individual namespace names. In addition, metrics are often fairly widely shared and namespace names can be sensitive.

Therefore, I'd like t

[2020-05-18 08:28] Dhiraj240 commented on #551
@JimBugwadia  I have applied on community bridge and messaged you on slack for more information. You can check my portfolio here at https://dhiraj240.github.io/

[2020-05-19 17:19] sb1975 commented on #671
/assign

[2020-05-19 17:26] sb1975 commented on #690
This issue relates to https://github.com/kubernetes-sigs/multi-tenancy/issues/664

[2020-05-20 06:58] #728 closed

[2020-05-20 19:51] adrianludwin opened #746 "HNC: remove redundant affectedObjects list"
[code]

The `Affected by this condition` should be missing.

[2020-05-20 20:27] rjbez17 opened #748 "HNC: Review API for sub-project graduation"
Complete an API review with approvals from at least one sig-auth technical lead as part of the graduation criteria to become a sub-project.

https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/1687-hierarchical-namespaces-subproject/README.md#graduation-criteria

[2020-05-20 20:28] rjbez17 opened #749 "HNC: Complete security review for sub-project graduation"
Complete an security review with approvals from at least one sig-auth technical lead as part of the graduation criteria to become a sub-project.

https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/1687-hierarchical-namespaces-subproject/README.md#graduation-criteria

[2020-05-21 13:52] yiqigao217 opened #752 "HNC: Revisit the accuracy of the counter metrics"
Since there's a lot of changes on the reconcilers after the counter metrics is added, we may need to revisit this to ensure we don't miss any e.g. increment on the api read/write counter.

/assign @yiqigao217
/cc @adrianludwin

[2020-05-21 14:23] adrianludwin commented on #752
Good idea, though not critical for v0.4 since these metrics are mainly used for performance monitoring, not functionality.

[2020-05-21 16:00] christopherhein opened #753 "[VC]: Provide a CONTRIBUTING.md or Development Readme Section"
Since more folks have started to work on VirtualCluster we should have a guide to help people get up and running locally. Currently, you will need to make sure that your project is in `$GOPATH/src/sigs.k8s.io/multi-tenancy/` for the `controller-gen` to work properly. You also need to make sure if you use `direenv` to turn this off because the `.envrc` at the root of the multi-tenancy repo reconfig

[2020-05-21 17:01] adrianludwin commented on #746
Turns out the empty list was in the apiserver, not the client. It was caused by a simple typo.

[2020-05-21 17:22] #746 closed

[2020-05-21 18:38] #688 closed

[2020-05-21 18:44] #736 closed

[2020-05-23 16:22] #132 closed

[2020-05-25 20:03] adrianludwin opened #761 "HNC: webhooks are not created/deleted as watched types are modified"
/assign @adrianludwin

I just noticed that while the object _reconcilers_ are created dynamically as a result of the HNC config, the _admission controllers_ are not - there's a hardcoded list left over from v0.2 (and one of them is spelled incorrectly). We should fix this before v0.4.

[2020-05-25 21:48] yiqigao217 opened #763 "HNC: Implement HNC External Hierarchy"
See design doc at https://bit.ly/hnc-external-hierarchy.

As stated in the doc, the implementation will include:
- Changes in the forest and HCR;
- Handling race conditions;
- Add new admission controllers or just additional rules on the existing ones.

[2020-05-25 21:51] yiqigao217 commented on #763
/assign @yiqigao217

[2020-05-25 21:52] adrianludwin opened #765 "HNC: very slow startup after first installation"
The builtin cert manager seems to stall the first time we install HNC. This is a poor user experience.

[2020-05-26 03:59] adrianludwin commented on #765
There seem to be two problems here:

* When the Secret is first created, it takes a long time to propagate the updated secret to the Pod. This is [expected](https://kubernetes.io/docs/concepts/configuration/secret/#mounted-secrets-are-updated-automatically).
* Leader election seems to be taking a while too, even though we only have one pod and no ability to run a hot standby.

[2020-05-26 04:14] adrianludwin commented on #765
Here are some experiments, from the time `kubectl apply -f <manifests>` finishes to the time the `HNCConfiguration` reconciler finishes for the first time.

1. At head:
  * Attempt 1: 95s
  * Attempt 2: 95s
2. Force HNC to exit after the secret is first written and restart
  * Attempt 1: 35s
  * Attempt 2: 32s
3. As above, but without leader election
  * Attempt 1: 11s
  * Attempt 2: 12s

The diff

[2020-05-26 15:54] adrianludwin opened #768 "HNC: test-issue-501.sh now tests illegal operations"
The first two tests in `hack/test-issue-501.sh` attempt to create a `SubnamespaceAnchorMissing` condition, but the admission controller now prevents this. We should fix the test, or maybe rely on `hack/test-delete-anchor-crd.sh` to verify that the condition is set properly.

[2020-05-26 15:55] adrianludwin commented on #768
/assign @yiqigao217

[2020-05-26 21:05] Divya063 commented on #718
@adrianludwin I would like to work on this.

[2020-05-27 14:37] adrianludwin commented on #718
Hi @Divya063, thanks for the offer! Do you have experience with kustomize, and some idea about how we'd do this? I think we somehow want to have an "uninstall" manifest, so you could say `kubectl delete -f <hnc-version>/safe-uninstall.yaml`, where `safe-uninstall.yaml` has everything that `manifest.yaml` does _except_ the CRDs. The build process will also need to be updated.

Do you know how to do

[2020-05-27 14:55] adrianludwin opened #770 "HNC: make HNC work without Stackdriver"
I'm not sure why this has stopped working but it would be nice to fix.

[2020-05-27 15:04] adrianludwin opened #771 "HNC: CannotUpdate conditions are not cleared if the source object is deleted"
To reproduce:

[code]

[2020-05-27 15:42] adrianludwin opened #772 "HNC: cannot propagate "admin" rolebindings anymore"
This used to work, but I think a newer version of K8s has a `deletecollections` verb that we didn't cover.

[2020-05-27 16:09] adrianludwin commented on #765
Here's the patch to make the cert manager exit when the secret is first written:

[code]

[2020-05-27 18:10] #772 closed

[2020-05-28 06:31] zimisu opened #777 "HNC: v0.3.0 doesn't work"
I tried to install HNC v0.3.0, but the hnc-controller-manager pod always crash without any message
[code]
Is the image `gcr.io/k8s-staging-multitenancy/hnc/controller:v0.3.0` correct?

[2020-05-28 12:04] adrianludwin commented on #777
Yes, that's the correct image. Did you have Jetstack cert-manager installed?

On Thu, May 28, 2020 at 2:31 AM 陈坎 <notifications@github.com> wrote:

[2020-05-28 19:08] #771 closed

[2020-05-29 20:29] adrianludwin commented on #761
Sadly, I think we're out of time for v0.4. We'll fix this in v0.5.

[2020-05-29 21:00] adrianludwin opened #778 "HNC: include controller-gen in the vendor directory"
The makefile relies on `controller-gen` being in the path, otherwise it downloads it. Now that we've enabled vendoring, if `controller-gen` _isn't_ in the path, this a) causes an error and b) isn't necessary; we should always be able to use the vendored version.

[2020-05-30 16:36] adrianludwin commented on #777
Hi @zimisu , do you want to try [HNC v0.4.0 rc1](https://github.com/kubernetes-sigs/multi-tenancy/releases/tag/hnc-v0.4.0-rc1)? It has a simplified installation so may work better for you. The "final" version of 0.4.0 will be out early next week.

[2020-06-01 00:52] zoetrope commented on #777
I faced the same problem with HNC v0.3.0 and v0.4.0-rc1.
There is no message, so I don't know the cause.

I'm using Kind v0.7.0 and Kubernetes v1.17.0.

[2020-06-01 01:26] adrianludwin commented on #777
I know there's a problem on Kind which I've been meaning to look into
(#770). Do you see the same problem on a "real" Kubernetes installation?

On Sun, May 31, 2020 at 8:52 PM Akihiro Ikezoe <notifications@github.com>
wrote:

[2020-06-01 03:21] zimisu commented on #777
The cert-manager was installed, v0.2.0 works well in same environment. I'll try v0.4.0-rc1, thanks

[2020-06-01 03:37] zimisu commented on #777
yes,  the problem still exist on my single node k8s cluster(v1.17.6, install with kubeadm, not kind) with hnc-v0.3.0 and hnc-v0.4.0-rc1

[2020-06-01 12:23] adrianludwin commented on #777
Ok, thanks for the report. Are there no other logs from the container?

Are you able to manually pull the container images and start them locally
(using `docker pull` and `docker run`)?

On Sun, May 31, 2020 at 11:37 PM 陈坎 <notifications@github.com> wrote:

[2020-06-01 14:55] adrianludwin commented on #715
Fixed by #762

[2020-06-01 15:07] adrianludwin commented on #770
Wondering if this is related to #777 . I'll have a look at it now.

[2020-06-01 15:16] adrianludwin commented on #715
/close

[2020-06-01 15:16] #715 closed

[2020-06-01 15:18] yiqigao217 commented on #763
The handling race conditions are already done with the current HNC and no changes are needed for it.

[2020-06-01 15:18] #763 closed

[2020-06-01 15:31] adrianludwin commented on #770
I can't run the container locally via "docker run" either, and there are no logs. Hmm.

[2020-06-01 15:32] adrianludwin commented on #770
I do get _some_ output out of 0.2:

[code]

[2020-06-01 15:42] adrianludwin commented on #770
Strangely enough, adding logs to `setupLog.Info()` isn't returning anything, but using `fmt.Println()` works fine. It appears that at least when running locally, it exits when it tries to create the Stackdriver exporter. That could explain why it's working fine on GKE but not other platforms (ugh).

[2020-06-01 15:51] adrianludwin commented on #770
Ah - we now start the controller manager quite late, and the `setupLog` doesn't work until it's started. Moving the manager to the top of `main()` gets us logs again, which identifies Stackdriver as the culprit (makes sense).

[2020-06-01 15:53] adrianludwin commented on #777
Per #770, the most likely culprit here is the Stackdriver exporter, which (I'm guessing) errors out if it's not on GKE. I'll fix that in 0.4.0-rc2.

[2020-06-01 16:50] adrianludwin commented on #777
Yup, it was the Stackdriver exporter. I'll have 0.4.0-rc2 published shortly. My apologies.

Do you need me to fix 0.3.0 as well, or are you willing to use 0.4?

[2020-06-01 17:53] adrianludwin commented on #777
This is a duplicate of #770, closing this copy. Please add new comments there.

/close

[2020-06-01 17:53] #777 closed

[2020-06-02 15:22] #768 closed

[2020-06-02 16:05] adrianludwin opened #783 "HNC: add e2e tests acting-as different accounts"
Add a couple of end-to-end tests that make use of act-as features to prove that certain users can take actions that others can't. They don't need to be as comprehensive as the unit tests - just good enough to ensure that the auth system isn't completely broken on any one flavour of K8s (eg GKE, EKS, AKS, Kind, etc).

[2020-06-02 16:05] adrianludwin commented on #783
/good-first-issue

[2020-06-02 16:24] adrianludwin opened #784 "HNC: make "destructive" tests clean up after themselves"
We have a few tests that delete some critical part of HNC (eg a CRD). We should ensure that we can put HNC back into a working state at the end of the tests.

/good-first-issue

[2020-06-02 16:27] adrianludwin opened #785 "HNC: run all e2e tests automatically as part of a test suite, especially in Kind"
We should be able to run all the tests in `hack/` in a single command, either on a "real" K8s cluster (e.g. GKE, EKS, etc) or a fake one (e.g. Kind). We should be able to make this part of our release suite.

This has several components:

1. Ensure that each existing test returns `0` on success and `1` on failure
2. Ensure that no two tests can affect each other (e.g. they all use different namesp

[2020-06-02 22:02] yiqigao217 commented on #716
@adrianludwin WDYT if we also add webhook rules on denying delete namespace when it has children, since otherwise the children will be orphaned and they will have "parentMissing" condition, which is a condition that's easy to get since we dont have any webhook on that.

[2020-06-04 16:53] rcolline commented on #730
What is the usecase justifying cascading deletes?  Do we expect users to often want to delete subtrees?  I feel like namespace trees will not be something that have short lifecycle, this is not a filesystem.

I guess I am questioning the overall product motivation for such a feature.  The downsides is that it creates a SPOF with a large blast radius.

[2020-06-04 17:58] yiqigao217 commented on #730
Hi @rcolline , this is a great question. Cascading delete only applies to subnamespaces that are created by HNC from `subnamespaceAnchor` CRs in parent (regular) namespaces for users without cluster-level privileges to create namespaces. Regular namespaces will never be cascading deleted.

Subnamespaces are created/deleted by creating/deleting the anchor CR in the parent. Therefore, cascading dele

[2020-06-04 18:08] rcolline commented on #716
Can we just treat all namespaces the same.  If you have namespace DELETE privilege on the namespace you can delete it.

What is driving the need to treat HNC namespaces different?

[2020-06-05 07:22] JimBugwadia commented on #257
closing as the project will be restructured

[2020-06-05 07:22] JimBugwadia commented on #258
closing as the project will be restructured

[2020-06-05 07:22] #258 closed

[2020-06-05 07:23] JimBugwadia commented on #259
closing as the project is being restructured

[2020-06-05 07:23] #259 closed

[2020-06-05 07:23] JimBugwadia commented on #397
closing as the project is being restructured

[2020-06-05 07:23] #397 closed

[2020-06-05 07:23] JimBugwadia commented on #399
closing as the project is being restructured

[2020-06-05 07:23] #399 closed

[2020-06-05 07:24] JimBugwadia commented on #401
closing as the project is being restructured

[2020-06-05 07:24] #401 closed

[2020-06-05 07:24] JimBugwadia commented on #403
closing as the project is being restructured

[2020-06-05 07:24] JimBugwadia commented on #403
closing as the project is being restructured

[2020-06-05 07:24] #403 closed

[2020-06-05 07:24] JimBugwadia commented on #404
closing as the project is being restructured

[2020-06-05 07:24] #404 closed

[2020-06-05 07:24] JimBugwadia commented on #405
closing as the project is being restructured

[2020-06-05 07:24] #405 closed

[2020-06-05 07:24] JimBugwadia commented on #406
closing as the project is being restructured

[2020-06-05 07:24] #406 closed

[2020-06-05 14:20] yiqigao217 commented on #761
/assign @yiqigao217
FYI working on this now.

[2020-06-05 15:05] #695 closed

[2020-06-05 15:05] #692 closed

[2020-06-05 15:06] #694 closed

[2020-06-05 16:11] #730 closed

[2020-06-05 18:01] adrianludwin commented on #716
Discussed the rationale behind subnamespaces offline. We considered an
alternative where the "SubnamespaceAnchor" becomes vestigial after the
namespace is first created, and HNC create ClusterRoles and
ClusterRoleBindings for the newly created child namespace (basically
copying permissions from the SubnamespaceAnchor to the namespace). This
means that the namespace can then be deleted via `k delet

[2020-06-05 19:26] yiqigao217 opened #789 "HNC: kubectl hns config set-type plugin seems not working"
When testing #761 , I found I cannot add additional type through kubectl plugin:

I tried `kubectl hns config set-type --apiVersion v1 --kind Secret propagate` to add additional `Secret` type to hncconfig besides `Role` and `RoleBinding` and it didn't show up in the `spec.types` when I looked it up later by `k get hncconfigurations.hnc.x-k8s.io -oyaml`.

/assign @yiqigao217

[2020-06-05 19:30] adrianludwin commented on #789
This worked for me just a few days ago. Do you have a recent version of the
plugin? Did you get any errors when you said `k hns config set-type` or did
it just *appear* to pass, but it later turned out it hadn't had any effect?

On Fri, Jun 5, 2020 at 3:27 PM yiqigao217 <notifications@github.com> wrote:

[2020-06-05 19:38] yiqigao217 commented on #789
Oh, I can see the added `Secret` in the `spec.types` now. Not sure why I didn't earlier. I can see it both in the master branch and my changed branch now.

I got nothing after `set-type` so it just *appear* to pass both before and now.

[2020-06-05 19:38] #789 closed

[2020-06-06 10:43] #344 closed

[2020-06-06 12:08] phoenixking25 opened #791 "[MTB] Use config files as static asset"
Task is to get config files as static assets so that they can be served along with binary file.

[2020-06-06 12:14] phoenixking25 opened #792 "[MTB] implement benchmark lifecycle"
Task to run preliminary tests/checks before running benchmarks.
- [ ] Check the given namespace is valid or not.
- [ ] Check the given user/SA is valid or not.
- [ ] Check if there is KubeConfig at $HOME/.kube/config (alternative take kubeconfig from ENV.
- [ ] Check the given user has RBAC privileges to create pods/services/deployments.

[2020-06-06 12:20] phoenixking25 opened #793 "[MTB] Generating README.md from yaml"
Generate README.md from benchmarks config yaml files so that maintainer has to keep check of single file.

[2020-06-07 06:07] JimBugwadia commented on #408
/assign @JimBugwadia

[2020-06-07 06:08] JimBugwadia commented on #408
/close

[2020-06-11 13:11] Divya063 commented on #791
/assign @Divya063

[2020-06-11 13:12] Divya063 commented on #793
/assign @Divya063

[2020-06-11 13:29] yiqigao217 opened #797 "Deleting an anchor in the "conflict" state can also delete the namespace from another parent"
This could be a race condition when two parents both create a subnamespace anchor with the same name simultaneously. The webhook could be bypassed if the second anchor is created before the forest is updated.

Test and see what would happen if we delete the bad anchor in one of the parent. The good anchor is the one in the namespace that the subnamespace points to as the parent.

[2020-06-11 13:30] yiqigao217 commented on #797
/assign @yiqigao217
cc @adrianludwin

[2020-06-11 13:31] adrianludwin opened #798 "HNC: if a RoleBinding is quickly deleted and recreated with a new Role, HNC may fail to update it"
I was recently reminded that RoleBindings can't have their Roles changed after they're created. This suggests that if we _quickly_ recreate an RB in an ancestor namespace - fast enough that by the time that HNC notices, the new RB exists - HNC could see it as an _update_ (not a delete + create) and attempt to update the RBs in all descendant namespaces. This will fail.

We should add a test that e

[2020-06-11 13:31] adrianludwin commented on #798
/assign @yiqigao217

[2020-06-11 16:24] #716 closed

[2020-06-11 16:25] #761 closed

[2020-06-11 23:31] JimBugwadia commented on #792
@phoenixking25 - please rename to "implement benchmark lifecycle" or close and open a separate issue. As discussed we can add a common `validate` function (may be different per level) and then for each benchmark define the lifecycle phases:
- validate or Pre-Run: if this returns an error the test is marked as "error" instead of "fail".
- Run: if this returns an error the test is marked as "fail",

[2020-06-12 03:27] #792 closed

[2020-06-12 03:31] phoenixking25 opened #802 "[MTB] Implement Benchmark Lifecycle."
Add a Pre-Run or Validate before Run for each Benchmark. Behavior of life-cycle would be like:

  *  validate or Pre-Run: if this returns an error the test is marked as "error" instead of "fail".
   * Run: if this returns an error the test is marked as "fail", otherwise "pass".

No need of Post-run at the moment. @JimBugwadia

[2020-06-12 16:36] yiqigao217 commented on #797
FTR the current behavior is that the subnamespace of the good anchor will also be deleted when we try to delete the bad anchor, which is very dangerous. The change in #799 will prevent this.

[2020-06-12 18:51] adrianludwin commented on #797
Note that this bug, while scary, is doubly-unlikely to occur in HNC v0.4:

- The validation controller will attempt to prevent you from creating a bad anchor. A bad anchor can only be created if the webhook is disabled, or in _extremely_ rare circumstances if there's a race condition.

- In HNC v0.4, you cannot delete _any_ subnamespace unless `allowCascadingDelete` is set to `true` _in that subna

[2020-06-13 03:09] mikedanese commented on #748
* What are CritAncestor, NumPropagatedObjects, etc..?

* Use a standard conditions schema: https://github.com/kubernetes/enhancements/blob/3aa92e20bdfa2e60e3cb1a2b92cdca61847d7ad2/keps/sig-api-machinery/1623-standardize-conditions/README.md#proposal
* AffectedObject looks almost exactly like v1.ObjectReference. Why is "Affected" part of the type name and not part of the field name?
* Fields like "

[2020-06-16 17:16] adrianludwin commented on #748
Thanks Mike! cc @yiqigao217 who will probably be making these changes.

Some questions/comments inline.

Didn't know about the abbreviation rule - will fix.

We wanted to distinguish between two broad classes of conditions - critical ones (which halt HNC's operation in some way) and noncritical ones. Embedding this into the name seemed to make sense - we could also consider a separate field, but t

[2020-06-18 06:53] phoenixking25 commented on #535
Closing this issue, as whole code-base changed. Not facing this issue now.

[2020-06-18 06:53] #535 closed

[2020-06-18 06:54] phoenixking25 commented on #791
Closing the issue in reference to : https://github.com/kubernetes-sigs/multi-tenancy/pull/806

[2020-06-18 06:54] #791 closed

[2020-06-18 06:55] phoenixking25 commented on #802
/assign @Divya063

[2020-06-18 07:07] phoenixking25 opened #810 "[MTB] Create a Reporter For Benchmarks."
The main motivation for the Reporter is to provide benchmarks result to the end user in various formats. At present,  there are 2 formats required:

- Result on the terminal, which test failed, passed and skipped.
- Generating as an k8s resource object, so it can be further processed. Reference - https://docs.google.com/document/d/1nICYLkYS1RE3gJzuHOfHeAC25QIkFZfgymFjgOzMDVw/edit#

[2020-06-19 18:32] #797 closed

[2020-06-19 19:27] adrianludwin commented on #770
Fixed by #779

/close

[2020-06-19 19:27] #770 closed

[2020-06-20 10:27] ShadowJonathan commented on #533
Does this fall within the scope of the Multi-tenancy kubernetes sig, though? Or would it be more interesting to build a platform on top of kubernetes that consumes it's api instead? Does this fall within the scope of kubernetes specifically?

[2020-06-20 10:28] ShadowJonathan commented on #439
@rjbez17 @adrianludwin any update on this?

[2020-06-22 15:03] liggitt commented on #748
Documenting known condition types is what we've done elsewhere, rather than introduce a subschema using stringly-typed meanings ("generically handle unknown conditions based on a type string prefix")

It sort of depends on whether clients are expected to wait for definitive status of these conditions before taking action. For example, node conditions add outofdisk/outofmemory conditions, and the s

[2020-06-22 15:05] adrianludwin commented on #748
/cc @yiqigao217

[2020-06-22 15:10] adrianludwin commented on #748
Thanks. The goal was less to have an automated _client_ handle unknown conditions, and more so that _humans_ would easily be able to understand them. But then again, the existing conditions are not very self-explanatory so simply documenting them (or putting a warning into the human-readable fields) seems sufficient.

Ah, I see. In our case, this isn't relevant - if things are going well, no HNC o

[2020-06-22 15:35] apelisse commented on #748
Correct, strategic-merge-patch doesn't handle with multi-key fields, but server-side apply does.

Some other aspects are important:
- How big are items of that list, do they have a lot of nested fields?
- Are we sure that the GroupVersionKind are uniques?
- Are they key fields required (and non-defaulted)?
- Do you expect that list to be edited by different people/controller or is it generally fin

[2020-06-22 17:29] adrianludwin commented on #439
No, I was hoping for some additional information from @thincal , but regardless, I don't think anyone's signed up to do the work. If you'd like to volunteer we'd be happy to work with you!

[2020-06-23 23:33] #173 closed

[2020-06-24 10:57] phoenixking25 commented on #802
Merged https://github.com/kubernetes-sigs/multi-tenancy/pull/811

[2020-06-24 10:57] #802 closed

[2020-06-24 10:58] phoenixking25 commented on #793
Merged https://github.com/kubernetes-sigs/multi-tenancy/pull/809

[2020-06-24 10:58] #793 closed

[2020-06-25 15:23] yiqigao217 opened #823 "HNC: Investigate a test flake in hncconfig NumSourceObjects"
Find the failed test logs [here](https://gist.github.com/yiqigao217/f1bcabe76021bc3299dfede9e73397ff#file-hnc-822-test-flake-logs).

It failed in #822 prow test on line https://github.com/kubernetes-sigs/multi-tenancy/blob/hnc-v0.4/incubator/hnc/internal/reconcilers/hnc_config_test.go#L361 where it returns 2 instead of 1.

It was never flaky when I ran `make test` and it passed the retest. I think

[2020-06-25 15:23] yiqigao217 commented on #823
/cc @adrianludwin

[2020-06-25 18:16] adrianludwin opened #824 "HNC: ensure there are no finalizers on any CRD if the CRD is being deleted"
I noticed that we had a `hasSubnamespace` finalizer on an HC as we were trying to delete the CRD to uninstall HNC. This prevents uninstallation needlessly. We should remove all finalizers if the CRD is being deleted.

[2020-06-25 21:12] yiqigao217 opened #825 "HNC: Failed e2e tests right after `make deploy`"
Since it takes about 30s for the webhook server to be available after deployment, running e2e tests right after `make deploy` will fail (won't be able to create any namespaces because the webhook is fail close). e.g.
[code]

It took me a while to figure this out. Here are the steps:
1. I found creating namespaces outside the e2e tests using `exec.Command` won't fail (because the webhooks are alrea

[2020-06-25 21:42] yiqigao217 commented on #825
@adrianludwin do you think this is good for @ginnyji to start from or I figure this out and she can start from after this is fixed?

[2020-06-25 22:11] adrianludwin commented on #718
See #824 for an interesting inversion of this bug.

[2020-06-25 22:12] adrianludwin commented on #824
Note that this is the opposite of #718. While that bug's about deleting everything _except_ the CRDs, if you _do_ want to delete the CRDs, you need to delete the _first_ so the manager can remove all the necessary finalizers.

[2020-06-25 22:28] adrianludwin commented on #825
Seems like a good one for her to fix, yes!

On Thu, Jun 25, 2020 at 5:42 PM yiqigao217 <notifications@github.com> wrote:

[2020-06-27 06:00] #714 closed

[2020-06-28 17:59] Divya063 opened #828 "Error while importing tenant-controller"
I'm getting this error while trying to use tenant controller.
[code]

[2020-06-29 21:35] GinnyJI commented on #825
Based on the discussion with Yiqi and Adrian, there are two proposed approaches to this issue:
1. Add a timer in makefile to wait 30s before deploy the e2e test
2. Add BeforeSuite unit in e2e_test.go to check if the webhook  server is ready

I have started implementing the second method, because this solution doesn't reply on the hard 30 seconds time limit. In the event that the webhook is ready i

[2020-06-29 21:50] adrianludwin commented on #825
+1

On Mon, Jun 29, 2020 at 5:36 PM Ginny <notifications@github.com> wrote:

[2020-06-29 22:18] yiqigao217 opened #831 "HNC: CRD metadata.name validation for singletons"
Add kustomization patch to add metadata.name validation for singletons. With this, we can remove the validating webhooks on the singleton names and remove the `CritSingletonNameInvalid`  HNCConfiguration condition.

HNCConfiguration CRD:
[code]

HierarchyConfiguration CRD:
[code]

/assign @adrianludwin

[2020-06-30 16:49] adrianludwin commented on #824
Looks like we're _trying_ to remove the finalizer but once we realize the HC is being deleted, we stop updating it. This is clearly wrong, we need to do something smarter to uninstall.

In the meantime, the workaround is to delete the anchor CRD first.

[2020-07-01 03:10] adrianludwin commented on #748
Update: we had an API review last Friday with myself, @yiqigao217 , @rjbez17 , @mikedanese and @liggitt . Yiqi is currently writing up a design doc summarizing the decisions and changes we're going to make for v1alpha2.

[2020-07-02 00:22] #778 closed

[2020-07-02 18:42] #765 closed

[2020-07-02 20:24] adrianludwin commented on #718
This is somewhat addressed by #839 so I think we can push this to the backlog.

[2020-07-02 20:28] #824 closed

[2020-07-03 14:32] adrianludwin commented on #748
Thanks @apelisse .

We want to support 1.15 at least for some time, which implies we can't rely on server-side apply, correct?

To answer your questions:

* How big: very small, just a GVK (or something similar like group-resource) and a single enum-style string
* Unique? Yes, each GVK can only have a single setting. In fact, this is all we're really trying to enforce.
* Required/non-defaulted: Ye

[2020-07-03 15:07] ShadowJonathan commented on #250
@zhuangqh

[2020-07-03 19:58] #831 closed

[2020-07-03 20:04] yiqigao217 commented on #831
/assign @yiqigao217
/unassign @adrianludwin

[2020-07-03 20:10] yiqigao217 commented on #748
Ah right, just confirming that "x-kubernetes-list-type" and "x-kubernetes-list-map-keys" are unknown fields in 1.15.

[2020-07-05 21:27] adrianludwin opened #843 "HNC: let `kubectl hns set` modify multiple namespaces at once"
It would be useful to, say, set `allowCascadingDelete` on multiple namespaces at once.

[2020-07-05 21:28] adrianludwin opened #844 "HNC: `kubectl hns tree` should identify subnamespaces"
It would be nice to easily see which namespaces are subnamespaces.

[2020-07-06 00:03] adrianludwin opened #845 "HNC: don't allow deletion of propagated objects"
In v0.5, the object controller was fixed to apply to all objects, but it only protected the "create" and "update" operations. Users can still _delete_ objects, and while HNC will quickly recreate them, this does allow a very short gap during which the policies won't be applied.

I have a working patch already but I don't want to hold up v0.5.0 as we should probably test this for at least a week or

[2020-07-06 01:07] adrianludwin opened #846 "HNC: test-issue-797-* shouldn't rely on `manifests/hnc-manager.yaml`"
/assign @yiqigao217

These two scripts aren't working for me because:
1. I run them from the `hack/` directory, so `/manifests/` wasn't available, but more importantly...
2. I was using a released version of HNC, so `manifests/hnc-manager.yaml` might not be available and if it is, it refers to the _local_ version of HNC, not the deployed version.

Ideally, this test shouldn't rely on any pre-exist

[2020-07-06 01:10] adrianludwin opened #847 "HNC: allow direct deletion of a subnamespace if its parent doesn't exist"
/assign @yiqigao217

This comes up in some of the e2e tests - a namespace with the subnamespaceOf annotation exists, but its parent doesn't. We should allow it to be deleted.

[2020-07-06 13:27] liggitt commented on #748
Those were added in 1.16 (https://github.com/kubernetes/kubernetes/pull/77354) and made to enforce item uniqueness in 1.18 (https://github.com/kubernetes/kubernetes/pull/84920)

[2020-07-06 13:28] liggitt commented on #748
Note that using CRD defaulting requires use of apiextensions.k8s.io/v1 which is only available in 1.16

[2020-07-06 16:48] #828 closed

[2020-07-06 18:52] yiqigao217 opened #852 "HNC: Add a presubmit to ensure `make generate` doesn't produce diffs"
In #841 , a change to the auto-generated manifest was not included (patched by #851 later). We should prevent this by adding a presubmit to make sure the `make generate` doesn't produce any diffs.

[2020-07-06 18:52] yiqigao217 commented on #852
/cc @adrianludwin

[2020-07-06 19:06] adrianludwin opened #854 "HNC: don't allow deletion of propagated objects (v0.5)"
This is to backport the fix to #845 into 0.5.1.

[2020-07-06 21:46] apelisse commented on #748
Also, no version is currently going to guarantee that the list is strictly a "set" without any additional validation code.

[2020-07-07 00:59] #825 closed

[2020-07-07 13:44] yiqigao217 commented on #825
/assign @GinnyJI

(Just adding Ginny for the record)

[2020-07-07 13:46] yiqigao217 commented on #623
/remove-lifecycle stale

[2020-07-08 20:24] adrianludwin opened #861 "HNC: kubectl-hns should include a `version` subcommand"

[2020-07-08 20:44] #845 closed

[2020-07-08 21:00] yiqigao217 commented on #748
Thanks for the suggestions and the api review on 6/26! This is the [proposal for the api changes in v1alph2 including the transition plan](http://bit.ly/hnc_v1alpha2) for you to review based on previous discussions. PTAL @liggitt @mikedanese @rjbez17

[2020-07-08 21:32] yiqigao217 commented on #847
It seems that to delete this subnamespace, users (with delete ns permission) could just edit the ns to remove the `subnamespaceOf` annotation and then perform the ns deletion if they have update ns permission. Do we still need to have a webhook rule specific for this case? @adrianludwin

[2020-07-08 21:36] adrianludwin commented on #847
Hmm. Here's the scenario that brought this up:

   - I created a bunch of subnamespaces
   - I uninstalled HNC, including all the CRDs. This means all the anchors
   were deleted, but the subnamespaceOf annotations were still present
   - I reinstalled HNC. Now I can't delete any of the namespaces without
   either editing them one-by-one, or recreating the anchors one-by-one.

I feel like this th

[2020-07-08 22:11] yiqigao217 commented on #847
Ah just had the same issue when running e2e test deleting CRD with @GinnyJI . Yes, right now the simplest way is to edit ns to remove the annotation. Sure, allowing direct deletion would be much easier. Will work on it next!

[2020-07-09 16:26] #846 closed

[2020-07-09 19:08] yiqigao217 opened #868 "HNC: Implement API v1alpha2"
Useful links:
* Design doc - http://bit.ly/hnc_v1alpha2
* [v1alpha1](https://github.com/kubernetes-sigs/multi-tenancy/tree/master/incubator/hnc/api/v1alpha1) API review - #748

We will switch the served version and storage version from v1alpha1 to v1alpha2 in 0.6. Thus it's a one-way conversion and we don't support downgrade from 0.6 to 0.5.

We will start the development of v1a2 by simply copying

[2020-07-10 04:52] #400 closed

[2020-07-10 13:48] yiqigao217 opened #871 "HNC: Investigate a test flake in hncconfig from `remove` to `propagate`"
Find the failed test logs [here](https://gist.github.com/yiqigao217/55c89db9c8e003067b39a2d011ab71c9).

It failed in #869  prow test on line https://github.com/kubernetes-sigs/multi-tenancy/blob/hnc-v0.4/incubator/hnc/internal/reconcilers/hnc_config_test.go#L361 .

I think it's irrelevant to #869 since it didn't change the current v1alpha1 API and v1alpha2 is not even served.

[2020-07-10 13:48] yiqigao217 commented on #871
/cc @adrianludwin

[2020-07-10 15:52] #810 closed

[2020-07-10 15:52] #492 closed

[2020-07-10 15:53] #691 closed

[2020-07-10 15:56] phoenixking25 opened #872 "[MTB] Add validation in the the Prerun to check that user has passed valid tenant and tenantadminnamespace."
There are some benchmarks which passes even though you pass random string in namespace and tenantuser flag. To avoid this add validation checks to validate the user input.

[2020-07-10 15:58] phoenixking25 opened #873 "[MTB] Rearrange the benchmarks."
Reorder the benchmarks as per the priority basis Profilelevel > category > id.

[2020-07-10 16:00] phoenixking25 opened #874 "[MTB] Migrate benchmarks"
Migrate 3 PL1 benchmarks and 2 PL2 benchmarks from old codebase to new.

[2020-07-10 19:09] yiqigao217 opened #876 "HNC: Revisit the subnamespace deletion rule in namespace validator"
See [discussions](https://github.com/kubernetes-sigs/multi-tenancy/pull/870#discussion_r452959296)

Since we changed (**loosen**) the restriction to not requiring `allowCascadingDelete` set to be able to delete a leaf subnamespace, we probably need to revisit the subnamespace deletion validation to make sure it's **strict** enough that there are no other namespaces being deleted that user may not

[2020-07-10 19:09] yiqigao217 commented on #876
/cc @adrianludwin

[2020-07-10 19:14] adrianludwin commented on #876
Yeah, it used to be that the rule was, "don't let a subns be deleted unless it has aCD set," so it made sense to check all the children while deleting a parent. But now the rule is, "don't delete any namespace if it's not explicitly being deleted," so it doesn't make sense to allow a parent to be deleted even if someone previously set aCD on all its subnamespace children.

[2020-07-13 12:53] GinnyJI opened #881 "Recover HNC in e2e test"
In some of the e2e tests, for example in incubator/hnc/e2e/tests/delete_crd_test.go, we are breaking HNC. Currently how we repair HNC is by "mustRun("kubectl apply -f", hncRecoverPath)", but mustRun will only stop the current test from running if it fails, not the current test suite.

[2020-07-13 12:53] GinnyJI commented on #881
"We might want to do something more like:

if err := tryRun( ... ); err != nil {
  GinkoT().Logf("Couldn't repair HNC: %v", err)
  os.Exit(1)
}" - PR #860

[2020-07-13 12:54] GinnyJI commented on #881
/cc @adrianludwin
/cc @yiqigao217

[2020-07-13 19:49] GinnyJI commented on #881
/assign @GinnyJI

[2020-07-13 20:20] yiqigao217 commented on #871
This test is flaky in from `propagate` to `remove` too. See [failed test log](https://gist.github.com/yiqigao217/f51b0cf319839c4cf2e8871b094cfec2) in #866 .

[2020-07-13 22:09] #847 closed

[2020-07-14 15:21] yiqigao217 opened #885 "HNC: CRD conversion for HNCConfig SynchronizationMode"
Part of #868

In v1alpha2, we will change the modes from `propagate`, `remove`, `ignore` to `Propagate`, `Remove`, `Ignore` (camel case). A straightforward conversion is to convert the valid modes to the other version and keep invalid values as is.

However, there are two scenarios that the simple mapping doesn't work when:
* A type has `Propagate` mode in v1alpha1 HNCConfig. Since the value is no

[2020-07-14 15:21] yiqigao217 commented on #885
/assign @yiqigao217
/cc @adrianludwin

[2020-07-14 15:38] adrianludwin commented on #885
Is it possible to have `propagate` in v1a2 if we set up the schemas correctly? I'm not sure if this is worth worrying about _too_ much.

I think it's fine to say that if our storage version is v1a1 and it contains the text `Propagate` (which is invalid in v1a1), when we convert that to v1a2 we could display it as something like `InvalidConvertedValuePropagate`.

[2020-07-14 15:41] #881 closed

[2020-07-15 03:32] adrianludwin opened #889 "HNC: cannot delete namespaces in 1.14"
Repro at head:

[code]
Log messages show that the webhook is failing because we can't decode the old object. We should be skipping this.

If it turns out that this is actually working in 0.5, then we can change the milestone back to 0.6.

[2020-07-15 03:56] adrianludwin commented on #889
This is due to the new object validator; the 0.5 validator didn't check deletions at all.

_Why_ the object validator is being invoked on a namespace with no objects in it is somewhat of a mystery to me, but this definitely works on 1.16 and definitely does _not_ work on 1.14. Since the code is obviously wrong, I'm going to go ahead and fix it.

[2020-07-15 13:45] yiqigao217 commented on #889
Do you mean that the `cannot decode` is in the object validator but not namespace validator? We added 1.14 backward compatibility (allow deleting in 1.14) in namespace validator. To fix this issue, is it that we need to also add it to object validator?

[2020-07-15 14:25] adrianludwin commented on #889
Yeah. I don't understand it. Our namespace and anchor validators already handle a nil OldObject but the object validators didn't. This is a bug that needs to be fixed regardless, but I don't understand why the code was invoked when there were _no_ objects at all.

[2020-07-15 15:32] yiqigao217 commented on #889
Not sure if you've already noticed. Even deleting a full namespace (not subnamespace) doesn't work in 1.14 using the head before your fix #890 .

[2020-07-15 17:32] #889 closed

[2020-07-16 19:11] yiqigao217 opened #899 "HNC: Use enum schema validation for modes in v1alpha1 HNCConfig spec"
Part of #868

Currently in v1alpha1, the validation for propagation modes in HNCConfig spec is done by validating webhooks. The webhook doesn't allow any values other than `propagate`, `ignore` and `remove`. If somehow the webhook is bypassed and an invalid value is set in the spec, the unknown mode will be treated as `ignore`.

Schema validation won't have issues like being bypassed and it's much

[2020-07-16 19:11] yiqigao217 commented on #899
/assign @yiqigao217
/cc @adrianludwin

[2020-07-16 19:31] yiqigao217 opened #901 "HNC: Delete validateModes() func in HNCConfig reconciler after v1alpha1"
Part of #868

`validateModes()` func is only needed when v1alpha1 is still the storage version of HNCConfig CRD. It should be removed afterwards. See #899

[2020-07-16 19:31] yiqigao217 commented on #901
/cc @adrianludwin

[2020-07-17 19:50] yiqigao217 commented on #901
Update: this is not added eventually. see https://github.com/kubernetes-sigs/multi-tenancy/pull/902#discussion_r456498425

[2020-07-17 19:50] #901 closed

[2020-07-17 19:52] yiqigao217 commented on #899
Update: the concern about updating existing resource with unknown modes is minor. See https://github.com/kubernetes-sigs/multi-tenancy/pull/902#discussion_r456498425

[2020-07-17 19:54] yiqigao217 commented on #885
Update: We will not convert any unknown modes since we introduced the enum schema validation first #902 .

[2020-07-20 00:56] #873 closed

[2020-07-20 01:02] #872 closed

[2020-07-20 14:32] yiqigao217 opened #904 "HNC: Updating mode in HNCConfig is broken at HEAD"
Currently at HEAD, updating mode in HNCConfig is broken that the webhook always denies any change. E.g:
[code]
The issue is that we rely on the error message returned from controller-runtime client get - `Get(ctx, types.NamespacedName{Name: "nm"}, inst)` - to determine if the type exists. It was not broken in HNC v0.5 or before we upgraded controller-runtime to v0.6.1. Also, if I specify namespace

[2020-07-20 14:33] yiqigao217 commented on #904
/assign @yiqigao217
/cc @adrianludwin

[2020-07-20 19:24] yiqigao217 opened #907 "HNC: Add to the release notes about fixing existing problems"
Put it in the release notes that the admin will need to fix any existing problems before they make any unrelated changes. The existing problems could be unsupported synchronization mode in the HNCConfig.

See detail at https://github.com/kubernetes-sigs/multi-tenancy/pull/902#discussion_r456498425

[2020-07-20 19:24] yiqigao217 commented on #907
/cc @adrianludwin
/cc @rjbez17

[2020-07-20 19:32] #899 closed

[2020-07-22 15:37] adrianludwin opened #914 "HNC: cannot delete namespaces in K8s 1.14 (HNC v0.5.1)"
This is a cherrypick of #889 into v0.5.1. While the bug didn't exist in v0.5.0, we've cherry-picked the new object validator into v0.5.1 (#845) so the fix needs to backported too.

[2020-07-22 15:38] #904 closed

[2020-07-22 15:40] adrianludwin opened #915 "HNC: v0.5.1 release notes"
Known so far:
* #845 is fixed

[2020-07-22 15:41] adrianludwin opened #916 "HNC: v0.6.0 release notes"
/cc @yiqigao217

Can you help me populate this bug with anything we should mention in the v0.6 release notes? I know it's >1mo away but that just makes it more important to track recent changes before we forget them.

[2020-07-22 15:41] adrianludwin commented on #916
Fixed #845

[2020-07-22 16:04] yiqigao217 commented on #916
Yes sure, so far I filed #907 about previous unknown HNCConfig unknown value will be validated by enum schema validation that admins must fix it before updating the config.

I will add later notes as comments here.

[2020-07-22 16:06] adrianludwin commented on #854
Not sure why this wasn't closed automatically by #855

/close

[2020-07-22 16:07] #854 closed

[2020-07-22 16:08] adrianludwin commented on #916
Yeah maybe close #907 after updating whatever information you want to
include in this bug.

On Wed, Jul 22, 2020 at 12:04 PM Yiqi Gao <notifications@github.com> wrote:

[2020-07-22 16:49] yiqigao217 commented on #916
Sure closing #907 now since that's all included in my previous comment.

[2020-07-22 16:50] yiqigao217 commented on #907
Added it as a comment in #916

[2020-07-22 16:50] #907 closed

[2020-07-22 17:45] #439 closed

[2020-07-22 18:00] yiqigao217 commented on #374
/remove-lifecycle rotten

[2020-07-22 19:15] yiqigao217 commented on #871
Other similar flaky tests:
#823 and [HNC #886 test flake logs](https://gist.github.com/yiqigao217/0861b03b0ee2d9cd900c82ccabbc61b5), [HNC #918 test flake logs](https://gist.github.com/yiqigao217/a297a48a8796f591c9c7fb9e36ecd546)