[2020-07-23 14:52] phoenixking25 opened #923 "[MTB] Change readme template format"
Change template of readme generator as there is no break in the lines.

[2020-07-23 15:10] yiqigao217 commented on #916
Adding a new one from discussion: Conditions in v1a1 will be caught in v1a2 as well. However, we may still add to the release note to suggest users making sure all resources are in good state before upgrading.

[2020-07-24 15:23] phoenixking25 opened #929 "[MTB] Get or test single benchmark"

[2020-07-24 15:24] phoenixking25 opened #930 "[MTB] Sort the scorecard in default reporter acc to profile level"

[2020-07-26 01:35] JimBugwadia opened #934 "[MTB] install fails using `go get ...`"
I followed the instructions from the README.md and get this error:

[code]

[2020-07-26 01:42] JimBugwadia opened #935 "[MTB] re-organize kubectl-mtb README"
Re-organize the README into the following main sections:

1. Demo
2. Setup
3. Usage
4. Contributing

In the Usage we need to cover
1) Listing benchmarks
2) Running benchmarks against an existing namespace
3) Install TenantController and create a tenant namespace
4) Install Kyverno or Gatekeeper / OPA to fix errors

Move all sections related to contributing benchmarks in to "Contributing".

[2020-07-26 01:43] JimBugwadia commented on #935
Also, there is a typo in the index:

Installation | How to use | How to include `bechmarks`|

[2020-07-26 01:45] JimBugwadia opened #936 "[MTB] change "-t" to "--as" to match kubectl"
To follow kubectl conventions, we should support "--as" and "--as-group" flags instead of "-t".

Also, in the examples it would be best to use a role-binding and a user name, instead of using service accounts.

We can also provide steps how to create a sample role-binding in the tenant namespace.

[2020-07-26 01:55] JimBugwadia commented on #934
I then tried cloning and building and also get an error:

[code]

[2020-07-26 01:57] JimBugwadia commented on #934
If I build using `go build` I get:

[code]

[2020-07-26 01:59] JimBugwadia commented on #934
Also tried on the repo directly, instead of my fork:

[code]

[2020-07-26 08:58] phoenixking25 commented on #934
Have to avoid this method since we dont have main.go in the root dir.

[2020-07-26 09:00] phoenixking25 commented on #934
As these commands are working on both mine and @Divya063 system, so we have found that the path package that we have used in our repo is not compatible with windows. So we are changing that to work for cross platforms. https://golang.org/pkg/path/

[2020-07-26 09:10] Divya063 opened #937 "[MTB] Add support for cross platform file paths"

[2020-07-26 09:23] Divya063 commented on #934
@JimBugwadia Can you try using this command - `go get -v sigs.k8s.io/multi-tenancy/benchmarks/kubectl-mtb/...`, let us know if it works. Sorry for the inconvenience.

[2020-07-26 18:02] JimBugwadia commented on #934
Here are the results on Windows:

[code]

[2020-07-26 18:14] JimBugwadia commented on #934
Tried on Ubuntu and get this:

[code]

[2020-07-26 18:15] JimBugwadia commented on #934
Here is a cleaner list of errors:

[code]

[2020-07-26 18:32] phoenixking25 commented on #934
@JimBugwadia i dont think go get will work, we will have to ask the user to clone the repo, then make kubectl-mtb.

[2020-07-26 19:44] JimBugwadia commented on #934
Ok, let's update the instructions accordingly. We should also file a task to publish a krew plugin so the user can install using that.

[2020-07-26 21:47] JimBugwadia opened #941 "[MTB] Improve kubectl-mtb CLI UX"
Currently, we show a fairly cryptic error message:

[code]

Instead we should show the user the (appropriate) command usage:

[code]

In the case above, we should show the user the available resources (we only have 1).

Another example of how we can show the usage:

[code]

Also, lets add required / optional to each flag as a prefix as shown above.

[2020-07-26 23:01] JimBugwadia opened #942 "[MTB] User impersonation does not work"
I have a namespace test, with a role binding defined:

[code]
➜  multi-tenancy git:(master) ✗ kubectl -n test get rolebinding jane-role -o yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  creationTimestamp: "2020-07-22T21:40:09Z"
  name: jane-role
  namespace: test
  resourceVersion: "1854717"
  selfLink: /apis/rbac.authorization.k8s.io/v1/namespaces/test/rolebindings/ja

[2020-07-26 23:03] JimBugwadia opened #943 "[MTB] rename kubectl-mtb `test` to `run`"
Seems more natural to write:

[code]

We can make `test` an alias.

[2020-07-26 23:53] phoenixking25 commented on #923
resolved via https://github.com/kubernetes-sigs/multi-tenancy/pull/940

[2020-07-26 23:53] #923 closed

[2020-07-27 00:44] phoenixking25 commented on #941
Should we use this type of output  format in this  case?

You must specify the type of resource to get. Use "kubectl api-resources" for a complete list of supported resources.

[2020-07-27 01:36] phoenixking25 commented on #936
resolved via https://github.com/kubernetes-sigs/multi-tenancy/pull/938

[2020-07-27 03:01] phoenixking25 commented on #942
@JimBugwadia i also faced a serviceaccount. So we have created a check in which it performs like
`kubectl auth can-i get ns/<tenantnamepsace> --as Serviceaccount ` plus with a user too
So unless the tenantnamepsace is created by a user/SA, it will not be accessible by any other user/SA. If you create tenantnamespace with a user and then run benchmark only then it will run. I dont know if this a va

[2020-07-27 03:12] phoenixking25 commented on #942
In simple try this `kubectl auth can-i --list --namespace=t0-ns0 --as bob` if the the t0-ns0 is in the resource list it will run. :)

[2020-07-28 03:12] adrianludwin commented on #914
Closed by #917

[2020-07-28 03:12] #914 closed

[2020-07-28 03:12] adrianludwin commented on #915
/close

[2020-07-28 03:12] #915 closed

[2020-07-28 03:17] adrianludwin commented on #785
This work is now complete. Thanks @GinnyJI !

/close

[2020-07-28 03:17] #785 closed

[2020-07-28 03:19] adrianludwin commented on #785
Note: we didn't _actually_ automate this, but it does all run now via `go test ./test/e2e/...` and I think that's good enough. Further automation (e.g. presubmit/postsubmit) can wait for another day.

[2020-07-28 05:02] adrianludwin opened #950 "HNC: e2e test flake"
Skipping setup/teardown commands:

[code]

/assign @GinnyJI

Perhaps we're deleting `child` before the namespace `sub-child` has been created (we're allowed to delete an anchor if it doesn't have a namespace, I _think_). Can you confirm that this is the intended behaviour and, if so, find a way to fix this? Thanks!

[2020-07-28 19:02] yiqigao217 opened #954 "HNC: Remove v1alpha1 from CRD status.storedVersions"
Part of #868

After all v1alpha1 CRs are gone in the cluster, we can remove v1alpha1 from CRD `status.storedVersions` so that we can eventually remove v1alpha1 from the CRD `spec.versions`.

I tested manually after the conversion #953 by `kubectl edit crd XXX` and deleting the v1alpha1 listed under `status.storedVersions`. The v1alpha1 was added back immediately. It shouldn't be the case if the re

[2020-07-28 19:49] #950 closed

[2020-07-28 20:06] adrianludwin commented on #954
That's... annoying... that you can't remove it via kubectl. However, with that said, we were planning on automating it anyway so the golang solution works for us!

[2020-07-28 20:42] yiqigao217 commented on #954
Agreed!

[2020-07-28 21:11] GinnyJI opened #955 "Flaky E2E test #716"
[code]

[2020-07-28 21:11] GinnyJI commented on #955
/assign @GinnyJI

[2020-07-29 05:10] JimBugwadia opened #958 "[MTB] add leveled logging"
Need to support leveled logging for troubleshooting issues. Would be good to use klog / zap etc. and use a command line parameter to enable different levels of logging.

[2020-07-29 05:11] JimBugwadia opened #959 "[MTB] reorganize test/policy dirs"
Would be good to consolidate all policies into a single directory (for each engine), or a single file.

Also, the current Kyverno policies do not work - the are in the default "audit" mode and hence do not prevent errors.

[2020-07-29 05:14] JimBugwadia commented on #935
We should cleanup and simplify the "Usage" content. We can guide the user to:

1. Create a namespace
2. Install a role (we can provide a sample)
3. Run the benchmarks (this should show errors)
4. Install the test policies
5. Re-run the benchmarks (all tests should pass)

[2020-07-29 05:20] Divya063 commented on #937
/assign @Divya063

[2020-07-29 05:21] Divya063 commented on #959
/assign @Divya063

[2020-07-29 05:27] Divya063 commented on #943
This issue can be closed.

[2020-07-29 05:27] phoenixking25 commented on #958
/assign @phoenixking25

[2020-07-29 16:16] yiqigao217 commented on #871
Another one from #953 pre-submit - [log](https://gist.github.com/yiqigao217/02aa617bd7922533471c67badf079c79)
[code]

[2020-07-29 19:17] JimBugwadia commented on #936
/close

[2020-07-29 19:17] #936 closed

[2020-07-29 19:19] JimBugwadia commented on #941
Yes, we can have a short sentence to be more precise with the error and then since our usage is not too long show the usage.

[2020-07-29 19:20] JimBugwadia commented on #942
--as is now supported.

/close

[2020-07-29 19:20] #942 closed

[2020-07-29 19:20] JimBugwadia commented on #943
/close

[2020-07-29 19:20] #943 closed

[2020-07-29 19:29] phoenixking25 commented on #941
I have changed to what you have proposed in the description

[2020-07-29 20:06] JimBugwadia commented on #941
/close

[2020-07-29 20:06] #941 closed

[2020-07-30 07:37] phoenixking25 commented on #958
/unassign @phoenixking25

[2020-07-30 10:41] Divya063 commented on #958
/assign @Divya063

[2020-07-30 14:28] phoenixking25 opened #969 "[MTB] Add rationale field in config yamls"

[2020-07-30 15:26] phoenixking25 commented on #934
Removed from readme.

[2020-07-30 15:27] #929 closed

[2020-07-30 15:27] JimBugwadia commented on #934
/close

[2020-07-30 15:27] #934 closed

[2020-07-30 15:50] phoenixking25 commented on #533
@JimBugwadia not relevant anymore

[2020-07-30 15:51] phoenixking25 commented on #534
@JimBugwadia not relevant

[2020-07-30 17:28] yiqigao217 commented on #916
Remember to mention we don't support 0.6 -> 0.5 downgrade! See [v1a2 design doc](http://bit.ly/hnc_v1alpha2).

[2020-07-31 02:41] adrianludwin opened #972 "HNC: subnamespaces sometimes deleted if CRD is removed too quickly after installation"
There seem to be some cases where HNC doesn't notice that the CRD is being deleted, so it thinks that the anchors being deleted means that the user wants to delete the subnamespaces as well. This is clearly wrong.

I never see this problem in our e2e tests, but I've seen some problems with GKE Hierarchy Controller where if I enabled and disable it quickly, we get this problem. I'm _guessing_ that

[2020-07-31 03:06] phoenixking25 commented on #969
/assign @phoenixking25

[2020-07-31 03:07] phoenixking25 commented on #874
/assign @phoenixking25

[2020-07-31 03:36] adrianludwin commented on #972
I saw this happen on 2/5 trials without any artificial delays. When I added a 30s sleep between creating the subns and deleting the CRD, I got 0/5 errors. Not definitive, but it does suggest that a delay helps, and explains why we've never seen this on our e2e tests before (which all have HNC in a fairly stable state before running). It should be fairly easy to delete the pods to recreate this in

[2020-07-31 04:04] tcnksm opened #973 "HNC: Question about some limitations of HNC"
Currently, I'm working on the system which is based on the HNC. While working on it, I started to wonder about the limitation of HNC. I went through the guide and design doc but I could not find them. The followings are what I want to confirm:

- How many levels can we nest the namespaces?
- How many child namespaces one parent can hold?

If I miss the doc, please redirect me! Thanks.

[2020-07-31 04:51] #959 closed

[2020-07-31 08:06] #483 closed

[2020-07-31 14:48] adrianludwin commented on #973
Hi @tcnksm , thanks for this question and you're right, we need to update the documentation.

There are no hard-coded limitations in HNC: any namespace can have any number of children, and there is no limitation to the depth of namespaces, up to the [overall K8s limit of 10k namespaces](https://github.com/kubernetes/community/blob/master/sig-scalability/configs-and-limits/thresholds.md). However,

[2020-07-31 18:10] GinnyJI opened #974 "HNC: demo_test.go can't run on KIND cluster"
KIND doesn't support Network Policy, so the demo_test.go can't run on KIND

[2020-07-31 18:20] yiqigao217 opened #975 "HNC: make deploy at HEAD failed on a no-recent-change file"
@GinnyJI and I both got this error when `make deploy` at HEAD:
[code]
The line is
[code]

Not sure what was recently changed that caused this issue.

[2020-07-31 18:21] yiqigao217 commented on #975
/cc @adrianludwin , @GinnyJI
/assign @yiqigao217

I will fix this issue first and then investigate why.

[2020-07-31 18:31] adrianludwin commented on #972
I got 1/5 errors with a 15s sleep.

[2020-07-31 18:31] GinnyJI commented on #974
Kind doesn't support network policies out of the box: https://github.com/kubernetes-sigs/kind/issues/1006

One possible solution: try to install Calico on Kind (Calico is the networking plugin that supports Network Policies)

[2020-07-31 18:33] adrianludwin commented on #974
/good-first-issue

[2020-07-31 18:49] yiqigao217 commented on #973
We tested various topologies up to about 500 namespaces for flat and well-balanced hierarchies. The only thing that slowed down was how long it took for HNC to start/restart (about 200s in the worst case) but after that, new policies propagated more-or-less instantly.

/assign @adrianludwin to add it to the user guide.
/unassign @yiqigao217

[2020-07-31 19:12] yiqigao217 commented on #975
Update: the bug was introduced because Go on Glinux got updated to a development build of 1.15 from 1.14.4 and this new warning is introduced in Go 1.15. See https://blog.golang.org/go1.15-proposals and https://github.com/golang/go/issues/32479.

[2020-07-31 19:15] #975 closed

[2020-07-31 19:25] yiqigao217 commented on #973
/assign @adrianludwin

[2020-07-31 23:53] adrianludwin opened #979 "HNC: rename plugin back to kubectl-hnc"
The HNC kubectl plugin was originally called `kubectl-hnc`, but a few months ago we renamed it to `kubectl-hns`, where HNS stands for "Hierarchical NameSpace." At one point, the term "HNS" was also used for what we now call "subnamespaces," and so the term "HNS" was quite prevalent in HNC documentation and examples. However, those eventually all went away, and the kubectl plugin is now the only re

[2020-07-31 23:58] rjbez17 commented on #979
100% agree with the name change.

[2020-08-02 16:00] #250 closed

[2020-08-03 02:46] tcnksm commented on #973
Thank you for answering.

Does this happen when we have around 500 namespaces? Since HNC also handles the admission webhook, if restarting takes a long time, it may affect other kubernetes API operation, I think.

---

The following are expected numbers of our context.

- The number of namespaces: 250
- The expected nested levels: 3
- The expected number of children: 5-10

I think this is not beyo

[2020-08-03 06:32] phoenixking25 opened #983 "[MTB]: Add CI / CD to run unit tests on each PR"

[2020-08-03 06:32] phoenixking25 opened #984 "[MTB]: Releases and publish mtb with Krew"

[2020-08-03 06:36] Divya063 commented on #984
/assign @Divya063

[2020-08-03 06:37] Divya063 commented on #930
/assign @Divya063

[2020-08-03 06:38] Divya063 commented on #693
Need to discuss on that.

[2020-08-03 06:39] Divya063 commented on #935
/assign @Divya063

[2020-08-04 15:29] adrianludwin commented on #973
Hi @tcnksm , the startup times are roughly linear with the number of namespaces and affected objects. The limitation is actually on the Kubernetes side - we discovered that most GKE clusters can support a maximum of 100 QPS to the apiserver for a sustained period of time, so we [set the HNC limit to half of that](https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/config/man

[2020-08-04 16:46] yiqigao217 opened #989 "HNC: Deleting anchors using the short name `subns` takes minutes after deploying API conversion"
This is set up by deploying v0.5 and applying `config/sample/v1alpha1_anchor.yaml` to have a namespace `a` and a subnamespace `b` of `a`.

After deploying the HEAD (with API conversion), it takes more than 3 minutes for `delete subns b -n a` to work. Before that, it returns:
[code]

In the log, I can see the reconcilers having errors:
[code]

Without deploying the conversion, in v0.5, `delete subn

[2020-08-04 16:47] yiqigao217 commented on #989
/assign @yiqigao217
/cc @adrianludwin
Part of #868

[2020-08-04 22:10] adrianludwin commented on #979
We had some strong objections to this internally at Google - given the lack of consensus, I'm withdrawing this proposal. We can see if it causes more confusion in the future and reconsider then.

[2020-08-05 01:52] tcnksm commented on #973
These namespace modification does not happen often compared with other resource modification so I think these problems are fine for us.

---

We will try and evaluate HNC more on our context in the development environment. Thank you for your answer!

[2020-08-05 01:56] adrianludwin commented on #973
Thanks @tcnksm ! I'll leave this issue open as a reminder to go update the docs with this information.

[2020-08-05 12:35] yiqigao217 commented on #871
#990 pre-submit - [log](https://gist.github.com/yiqigao217/d6b1b21391c12c8de4bd452e48ea61bb)
[code]

[2020-08-05 14:20] yiqigao217 opened #992 "HNC: Create e2e test suite for API conversion from v1alpha1 to v1alpha2"
Part of #868

Currently, the tests for API conversion are done manually with these steps:
1. Deploy HNC v0.5 with `kubectl apply -f https://github.com/kubernetes-sigs/multi-tenancy/releases/download/hnc-v0.5.0/hnc-manager.yaml`;
2. Apply `config/samples/hnc_v1alpha1_anchor.yaml` so that there are v1alpha1 resources for all three CRDs;
3. `make deploy` at the HEAD and see if CRD changes and HNC dem

[2020-08-10 12:36] ShadowJonathan commented on #250
@zhuangqh can I get some response to this issue rotting?

[2020-08-10 12:44] ShadowJonathan commented on #532
@longngn is this still relevant?

[2020-08-10 12:45] ShadowJonathan commented on #664
Imo this is useful, @sb1975 is this stale?

[2020-08-10 13:40] #954 closed

[2020-08-10 13:52] munnerz opened #1002 "VC: removing use of 'legacy-unknown' signerName"
The Kubernetes `certificates.k8s.io` API was extended in Kubernetes 1.18 to include a new field, `spec.signerName`.

The intention of this field is to allow requesters to choose who/which 'signer' will sign the requested certificate, similar to the `spec.issuerRef` field found on cert-manager resources too.

Previously, before the existence of this field, there was no way to indicate *who* should

[2020-08-10 14:40] adrianludwin commented on #784
/close

[2020-08-10 14:40] #784 closed

[2020-08-10 14:41] adrianludwin commented on #823
/assign @GinnyJI

Will this be fixed by your upcoming PR? If so, just add it to the PR description (e.g. "Fixes #823"). Note that you _can't_ add that line to the Git commit message, _only_ to the PR description.

[2020-08-10 14:41] adrianludwin commented on #871
/assign @GinnyJI

[2020-08-10 14:45] adrianludwin commented on #798
/unassign @yiqigao217
/assign @GinnyJI

Here's a great bug for you. The problems here will be:
* How do we reproduce this issue? It might need a new e2e test where we delete the HNC deployment.
* How do we fix it? What do we do if "Update" fails because some objects can't be updated (they can only be deleted and recreated)?

The function where objects get updated is: https://github.com/kubernetes-

[2020-08-10 14:47] adrianludwin commented on #798
For the RoleBinding being immutable (i.e. unchangable), see https://kubernetes.io/docs/reference/access-authn-authz/rbac/#clusterrolebinding-example:

[2020-08-10 14:54] adrianludwin commented on #844
/assign @GinnyJI

Here's another nice mini-feature. Right now, full namespaces and subnamespaces are displayed identically by the `kubectl hns tree` command. It might be nice to easily see which ones are subnamespace and which are not.

Just FYI, trees currently look like this:

[code]

If there's a condition on any namespace (that is, a problem) it looks something like this:

[code]

We _don't_ w

[2020-08-10 19:43] GinnyJI commented on #871
This issue is addressed in #1003. If this issue does not happen again, then we can confirm that it's fixed and close this issue.

[2020-08-11 04:31] adrianludwin commented on #871
/close

No need to wait IMO. If it's not fixed, we'll just open a new bug

On Mon, Aug 10, 2020 at 3:44 PM Ginny <notifications@github.com> wrote:

[2020-08-11 04:31] #871 closed

[2020-08-11 14:42] adrianludwin opened #1006 "HNC: document HNC's requirements (e.g. version, permissions)"
HNC only works for K8s 1.15 and higher; we should make that explicit somewhere. We should also state that it requires very high privileges - this is alluded to in a bunch of places but not actually specified anywhere.

Thanks @rjbez17 for the suggestion.

[2020-08-11 20:39] christopherhein opened #1007 "[VC]: Sync Kubernetes PriorityClasses Upward to Virtual Cluster"
Would there be interest in supporting the syncing of `PriorityClasses` upward from the Supercluster into the virtualcluster since they share the scheduling domain, this could be very similar to how StorageClasses are synced?

/cc @weiling61 @Fei-Guo

[2020-08-11 20:41] christopherhein commented on #1007
/assign @Fei-Guo

[2020-08-11 20:55] christopherhein commented on #1007
/cc @charleszheng44

[2020-08-11 21:05] charleszheng44 commented on #1007
It's a little different from the StorageClasses, if my memory is correct, in the StorageClass case, an VC can't see PVs on the supercluster, unless it creates a PVC and successfully binds it to a PV on the supercluster.

However, I think it can be done as long as we assume every VC has the same priority.

[2020-08-11 21:07] Fei-Guo commented on #1007
Interesting request. Technically, syncing priority class to upper tenant master is doable. In my opinion, PC is not very suitable for multi-tenant cases since if there are no tenant-aware rules and enforcement about how to apply suitable PC name for Pod, one tenant may abuse it and starve the rest of the tenants.

[2020-08-11 21:23] christopherhein commented on #1007
Yeah, the idea would be if a supercluster exposed X priority classes and tenants were allowed to use them and only them then we be able to sync those to the tenant cluster users for visibility. This does cause the case where some workloads could take precedence and could evict pods running in other priority classes from other tenants but you could envision that somewhat akin to spot instances in A

[2020-08-11 21:39] charleszheng44 commented on #1007
Sounds good to me.

[2020-08-11 22:24] Fei-Guo commented on #1007
It is ok to put PC as optional resource to sync and I would suggest to treat all existing resources as core resources which cannot be chosen and do --extraresources = priorityclass for new ones.

IMO, there is a slight difference here that spot instance is related to cost. If we don't have a charging model or proper regulations for using priority class, one tenant can mark all his Pods as high pri

[2020-08-11 22:36] Fei-Guo commented on #1007
Btw, I am not against this proposal.  Since we have put some much effort to avoid interference in VC, I just don't want to easily  expose a way to allow tenant to game the system. Of course, make it optional and default off is fine. It is still better we have some thoughts/solutions in mind to prevent the abuse from happening though.

[2020-08-11 22:55] christopherhein commented on #1007
Yeah, I 100% agree. It's a little strange and I would love to think of good abstractions to help reduce the likelihood of abuse. this could be very concerning. Have any thoughts on what that could look like? The general idea around priority class in k8s gives such a different level of cluster usage.

[2020-08-11 23:25] Fei-Guo commented on #1007
Perhaps, we can leverage the idea of Yarn scheduler, it uses an elastic quota and preemption happens within quota range. We actually have submitted a KEP to K8s scheduler to adopt the idea.

With quota, tenant cannot easily game the system. If alloc + request > quota, the preemption happens to tenant's own pods. Otherwise, the preemption happens to other tenants whose alloc + request > quota.

[2020-08-11 23:50] amy opened #1008 "Minikube Getting started guide does not work with the default docker driver"
https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/virtualcluster/doc/demo.md

The getting started guide does not work with the minikube docker driver. Minikube should be explicitly started with `minikube start --driver=hyperkit`

After following the instructions with the docker driver, the virtual cluster control plane cannot be reached and will hang until timeout on this comm

[2020-08-12 00:09] christopherhein commented on #1007
Interesting… so this is a good lead on I was about to file another issue regarding syncing `ResourceQuotas` down from a virtualcluster as a way of at least gating some of this but it would still be controlled at the virtualcluster level vs at the super cluster level. IE you could set your own Namespace level ResourceQuotas… from an oversubscription perspective this causes concerns cause you could

[2020-08-12 03:10] adrianludwin opened #1009 "HNC: Complete code review for sub-project graduation"
Complete a code review with approvals from at least one sig-auth technical lead as part of the graduation criteria to become a sub-project.

https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/1687-hierarchical-namespaces-subproject/README.md#graduation-criteria

/assign @mikedanese
/cc @rjbez17

[2020-08-12 13:05] #992 closed

[2020-08-12 13:18] yiqigao217 commented on #696
/remove-lifecycle stale

As stated before, it won't cause issue for now but better to fix in case of risks. It's used in hierarchy validator:
https://github.com/kubernetes-sigs/multi-tenancy/blob/26dab8a69fdf035be6eecf4052764e3ef8d0998f/incubator/hnc/internal/validators/hierarchy.go#L377

We should add the `env` in the pod spec like this [example](https://github.com/open-policy-agent/gatekeeper/bl

[2020-08-12 14:09] yiqigao217 commented on #717
/remove-lifecycle stale

[2020-08-12 16:56] weiling61 commented on #1007
Another way to prevent tenant to abuse the system is to set price tag or quota to different priority classes they will use. Resource quota system monitors the usage of resources in different priority classes for each namespace/vc, and blocks resource creation if it bypasses allowed quota.

[2020-08-12 16:59] christopherhein commented on #1007
Yeah, but that ends up being the responsibility of the operator of the system not something we can define as the OSS community :) Everyones operational costs will be different. I think enabling the tools for people to make those decisions is what is going to be the most important.

[2020-08-12 21:45] christopherhein commented on #1008
Want to add a note about not using the `docker` driver when running on macOS to the doc/demo.md?

[2020-08-12 21:50] christopherhein commented on #1008
/label virtualcluster

[2020-08-12 21:57] christopherhein opened #1012 "[VC] Support MultiClusterManager once proposal is implemented"
Controller Runtime has a new proposal to support adding and removing clusters from the Manager. We should watch this issue https://github.com/kubernetes-sigs/controller-runtime/pull/950 and the current design proposal to see if we can leverage this in the Syncer. https://github.com/kubernetes-sigs/controller-runtime/pull/1075

[2020-08-13 18:34] sb1975 commented on #664
I guess so, wg-multitenancy towards stale I guess..

[2020-08-14 19:56] mikedanese opened #1018 "HNC: fix boilerplate headers and add a presubmit to verify them"
You can copy the check from the main repo:

https://github.com/kubernetes/kubernetes/blob/master/hack/verify-boilerplate.sh

[2020-08-14 19:56] mikedanese opened #1019 "HNC: consider adding golint and staticcheck to presubmit"

[2020-08-15 05:40] mugdha-adhav commented on #974
I would like to work on this.

[2020-08-15 12:51] adrianludwin commented on #974
@mugdha-adhav - please go ahead! I think what we'd be looking for here is a bash script checked into `/hack` that can set up a KIND cluster with network policies and successfully run all the tests in `/test/e2e`.

[2020-08-15 12:51] adrianludwin commented on #974
And thanks @mugdha-adhav for your help!

[2020-08-17 15:04] #844 closed

[2020-08-18 04:11] tcnksm opened #1023 "HNC: ValidatingWebhook should have a way to avoiding operation on specific namespaces and/or object kinds"
We've been using HNC for our experimental GKE environment. But because HNC validation webhook `objects.hnc.x-k8s.io` was often non-responsive, various system operations such as leader elections failing and this caused cluster itself unstable...

I think non-responsive itself is an issue (in this time, since it's the experimental environment, we don't have enough monitoring and clue for the reason

[2020-08-18 04:16] tcnksm commented on #979
Really agreed on this change. When I tried it for the first time, I typed `kubectl hnc` and took the time to understand that name is different 😄

[2020-08-18 04:39] adrianludwin commented on #1023
Let me look into that ASAP. In the meantime, can you describe the
circumstances when the webhook became unresponsive? Was HNC under heavy
load at the time, or was it due to some kind of outage (e.g. the pod being
rescheduled onto another node)?

On Tue, Aug 18, 2020 at 12:11 AM Taichi Nakashima <notifications@github.com>
wrote:

[2020-08-18 04:51] tcnksm commented on #1023
load at the time, or was it due to some kind of outage

It was running on the experimental cluster which does not run many workloads (the number of namespaces is around 30). Since it's the experimental cluster, we don't receive any production traffic, and we don't often touch it (only when we try something new). I deployed it exactly the same way as the user guide described (no manifest modificati

[2020-08-18 13:13] adrianludwin commented on #1023
Thanks! One more question - are you using the OSS version of HNC? If so, you can modify the validating webhook configuration to have a very short timeout (eg 2s) so that if it goes down, objects will still be allowed to go through quickly. We should probably have done that already, but I didn't realize how long the default timeout was (it's 30s since we're using the `v1beta1` webhook API; this was

[2020-08-18 13:15] adrianludwin commented on #1023
It's worth pointing out that the object webhooks are _mainly_ there for safety, not correctness. If they don't run at all, then the object reconciler will still try to undo any changes to the cluster as quickly as it can. This won't defend against an attack, but it will be enough to stop a mistake. So having a short timeout doesn't substantially increase the risk of your cluster.

[2020-08-18 21:06] yiqigao217 opened #1025 "HNC: Look into manager pod imagePullPolicy"
Currently we didn't specify `imagePullPolicy` and the manager pod with `latest` tag defaults to `always`:

[code]

However, I still got pod created with cached image: `Container image "gcr.io/{my-project}/hnc-manager:latest" already present on machine` instead of `Successfully pulled image "gcr.io/{my-project}/hnc-manager:latest"`

Using the cached image for `latest` tag can be reproduced by comme

[2020-08-18 21:53] yiqigao217 commented on #1025
Update: with this line https://github.com/kubernetes-sigs/multi-tenancy/pull/1026/commits/bca9e18ed1b1b7c8b632028d2fe865d936f3392a#diff-0925fcd4b688e111ba989cbe260ee0f8R224, I got
[code]
Without the line, I got
[code]
when I did `k get deployment`

Now it makes sense for what I got in the test result.

Will look into why with/without this line makes a difference tomorrow.

[2020-08-18 22:04] yiqigao217 commented on #1025
A guess would be `deployment configured` won't change `imagePullPolicy` from previous `gcr.io/k8s-staging-multitenancy/hnc/controller:v0.5.0` which has no `latest` tag. Only when a `deployment deleted` will reset `imagePullPolicy`.

[2020-08-18 22:05] adrianludwin commented on #1025
That's a good guess. And a very sharp corner case :/

[2020-08-18 22:07] adrianludwin opened #1027 "HNC: support dry-run"
Per a comment on Slack, when HNC is installed you can no longer run:

[code]

This is likely a webhook config problem.

_Update Aug 26: requires K8s 1.18 (KIND is fine) and `--dry-run=server`_

[2020-08-18 22:08] adrianludwin commented on #1027
https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#side-effects

[2020-08-19 08:02] tcnksm commented on #1023
Yes, we are using the OSS version of HNC.

Yeah, let us configure it in the next time.

---

Ok but I still can not understand why HNC needs to check all objects to be applied to the cluster? My understanding of HNC is it handles its CRS, `Namespace`, and some resource which is used for inheritance (like `RBAC or `NetworkPolicy`).

[2020-08-19 14:01] adrianludwin opened #1029 "HNC: compile the plugin for Mac"
Todo: add the appropriate flags to the makefile, and then update `cloudbuild.yaml` to rebuild the plugin for multiple OSes.

[2020-08-19 14:01] adrianludwin commented on #1029
/good-first-issue

[2020-08-19 14:02] adrianludwin opened #1030 "HNC: Use Krew (attempt two)"
/assign @adrianludwin

[2020-08-19 17:43] christopherhein commented on #753
/remove-lifecycle stale

[2020-08-19 20:43] adrianludwin commented on #1023
That's a good question. The short answer is that we _could_ change HNC so that it only has a webhook for the types of objects it's tracking. The longer answer, and the reason we _haven't_ done this yet, is because the list of object types can [change dynamically](https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/docs/user-guide/how-to.md#admin-types) and it was far easier

[2020-08-20 02:09] #958 closed

[2020-08-20 04:39] tcnksm commented on #1023
I think the priority point of view, it's important to have 1 than 2 because it's more important to avoid blocking the kube-system's critical operations. And, at the same time, I think it's also important for HNC itself. For example, if we don't exclude HNC namespace and deploy it correctly, deadlock may happen (webhook asks validation of HNC deployment, but HNC doesn't work. We faced this issue in

[2020-08-20 04:41] tcnksm commented on #1029
Since we want to have this, let me try to contribute this!

[2020-08-20 13:26] yiqigao217 commented on #1025
Update: the issue is well explained in this [blog post](https://medium.com/@adrian.ludwin/defaults-are-hard-kubernetes-deployment-edition-3b11095792f2) by @adrianludwin . As for #1026, we decided to just delete the deployment instead of changing the `imagePullPolicy` to `always`.

[2020-08-20 13:26] #1025 closed

[2020-08-20 13:28] yiqigao217 commented on #752
/remove-lifecycle stale

[2020-08-20 15:04] adrianludwin commented on #1023
Agreed on all counts, thanks.

I'd _prefer_ a K8s-defined label like `kube-critical` but I don't think that's on the table :) Gatekeeper has a very similar solution where they label namespaces with something like "ignored-by-gatekeeper."

The problem is that users can add arbitrary types. `NetworkPolicy` and `ConfigMap` actually are _not_ included by default - only `RoleBinding` and `Role`. But us

[2020-08-20 17:27] yiqigao217 opened #1035 "HNC: 'allowCascadingDelete' to 'allowCascadingDeletion' field change in CRD conversion"
Part of #868

I found that if we replace `allowCascadingDelete` field with `allowCascadingDeletion` field directly in v1alpha2 schema, when passing the value of `v1alpha1.allowCascadingDelete` to `v1alpha2.allowCascadingDeletion` in the CRD conversion, the value is missing.

If I keep both `allowCascadingDelete` and `allowCascadingDeletion` fields in v1alpha2 schema, the value can be passed.

I su

[2020-08-20 17:54] weiling61 opened #1036 "[VC]: Sync Kubernetes ResourceQuota to Tenant Namespace"
ResourceQuota restricts tenant from using too much resources in super cluster. Would there be interest in applying resource quota to tenant namespace?
- First shall we sync resource quota upward to tenant namespace. This way tenant can monitor his/her resource usage and tenant's resource request can be restricted in VC space.
- Second, if Resource Quota of virtual cluster has been configured, can

[2020-08-20 17:58] adrianludwin commented on #1035
As in, even _inside_ the conversion webhook, you can't see the value of `v1a1.aCD`? That's not how storage versions are supposed to work AIUI.

[2020-08-20 18:07] christopherhein commented on #1036
Thanks for filing this @weiling61 I think syncing ResourceQuotas could be good but it heavily depends on how it was implemented for each supercluster as cluster admins, similarly to the priorityclasses. I could see this being done as one of the optional syncers.

Some notes we need to consider:
* if the tenant control plane has the quota admission controller turned on will it update the `status.us

[2020-08-20 18:20] weiling61 commented on #1036
If in sync is required, we probably only allow tenants to monitor their quota usages, but not allow them to modify them
I did not explain clearly about "the subset of quota" idea. Yes we will always sync entire quota object to tenant namespace. But we can choose a smaller quota value if needed.

[2020-08-20 18:38] christopherhein commented on #1036
I see, thanks for the clarification. The smaller quota value seems like it would be out of the scope for syncing resources since it might be used in different ways depending on how someone is using and deploying virtualcluster.

[2020-08-20 18:46] yiqigao217 commented on #1035
Yes, I manually tested replacing `dst.Spec.AllowCascadingDeletion = src.Spec.AllowCascadingDelete` with `dst.Spec.AllowCascadingDeletion = true` in the conversion webhook. After conversion the v1alpha2 HC has `spec.allowCascadingDeletion` in the `k get` yaml.

It means the new field can **get** value from conversion webhook. However, if passing `src.Spec.AllowCascadingDelete`, I got empty spec in

[2020-08-20 20:16] weiling61 commented on #1036
Agree, small value is an example

[2020-08-20 20:48] charleszheng44 commented on #1036
@christopherhein @weiling61  I agree. How to synce resource quota or priority class really depends on how supercluster implements the resource management mechanism for vc.

In my opinion, maybe we can make the resource quota an optional resource for syncing. Or more flexibly, provide new syncer options like `--uws-resources`, `--dws-resources`, which allow the user to decide how they want to sync

[2020-08-20 20:56] christopherhein commented on #1036
Sounds like a good idea, from your experiences, do you see the syncers as being independent enough where you could have that level of options, ie could you implement dws without uws or vice versa and it wouldn't cause issues? or is that a lot more effort to maintain?

[2020-08-20 21:01] Fei-Guo commented on #1036
In many cases, tenants want to control their quota independently in tenant master. Normally super does not need to be aware of tenant quota for function correctness (I do see request to sync them because some monitoring tools may watch super master only for tenant quota usage though). I tend not to sync quota from tenant to super.

Syncing from super to tenant is interesting. This is something tha

[2020-08-20 21:08] Fei-Guo commented on #1036
In my opinion the resource sync direction has to be deterministic and predefined (the other direction should not be supported). Note that the syncer work for all tenants, if we open the sync direction flexibility, what if some tenants want one direction but the others want the opposite direction. This is way too complicated to manage.

[2020-08-20 21:10] christopherhein commented on #1036
Yea, this was my concern as well regarding complexity for maintenance.

[2020-08-20 21:33] yiqigao217 commented on #1035
Update:
Setting `CRD_OPTIONS ?= "crd:trivialVersions=false"` does work that because it moves validations from `top-level` to `per-version` so that v1alpha1 will have `allowCascadingDelete` field and v1alpha2 has `allowCascadingDeleting` field in each validation.

The only issue is that I need to remove the [work-around patch](https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/h

[2020-08-20 23:59] weiling61 commented on #1036
I agree that resource downward (tenant to super) syncing will bring quite some confusions. Upward syncing (super to tenant) makes more sense. ResourceQuota is an isolation mechanism super wants to use to control tenant behaviors. This is similar to OS system ----  admin can set quotas for user,  user can check the quotas usage but cannot change the quota.

If super wants “the source of truth shoul

[2020-08-21 00:36] Fei-Guo commented on #1036
My question is why we need to sync the quota to tenant? The tenant cannot consume over the super resource quota anyway.  Will sending an event to tell tenant that the Pod cannot be run because it violates the super limitation be enough? More importantly, tenant is fully open to tenant, so any overwrite to tenant created quota resources will be very confusing to the tenant users.

Normally the capa

[2020-08-21 00:54] adrianludwin commented on #1035
sgtm. Maybe the CRD controller that removes v1a1 from the stored versions
can also remove it from the list of served versions?

On Thu, Aug 20, 2020 at 5:33 PM Yiqi Gao <notifications@github.com> wrote:

[2020-08-21 01:11] tcnksm commented on #1023
Ah, ok now I understood it. I thought supported resources were limited. Thank you for the clarification.

[2020-08-21 01:14] tcnksm commented on #1023
If you are fine, I would like to contribute to this change.

[2020-08-21 01:20] weiling61 commented on #1036
"sync the quota to tenant" from super is just one option. If this use case is not very common, we probably do not need bother to implement resource quota UWS.

Cluster-admin and tenant do their capacity planning/quota management separately without sync is another option.

[2020-08-21 01:53] adrianludwin commented on #1023
That would be great, thanks! You can submit the patch to the hnc-v0.5
branch as well as master, and then I'll release 0.5.2 next week.

On Thu, Aug 20, 2020 at 9:15 PM Taichi Nakashima <notifications@github.com>
wrote:

[2020-08-21 02:59] tcnksm commented on #1023
Send it 👉  https://github.com/kubernetes-sigs/multi-tenancy/pull/1039

[2020-08-21 14:55] adrianludwin opened #1041 "HNC: test function TearDownHNC can fail silently"
/cc @GinnyJI
/cc @yiqigao217

Ginny and I were looking at a test where it _seems_ like the command to delete the subns CRD failed (as evidenced by the fact that there were still subnses afterwards) but because we use `TryRunQuietly` there was no evidence of this.

We should have some better function that can delete objects if they exist, but if they _can't_ delete an object, return an error.

[2020-08-21 14:56] munnerz opened #1042 "exit"

[2020-08-21 14:56] #1042 closed, assigned to nobody

[2020-08-21 15:00] adrianludwin opened #1043 "HNC: CleanupNamespaces shouldn't require an explicit list of namespaces"
We should have dedicated `CreateNamespace` and `CreateSubnamespace` functions that add some kind of label (e.g. `hnc.x-k8s.io/testNamespace: true`) to all namespaces, so we can just search by label in `CleanupNamespaces` and not require an explicit list.

/good-first-issue
/cc @GinnyJI
/cc @yiqigao217

[2020-08-21 15:14] munnerz opened #1044 "VC: apiserver certificate does not contain any IP SANs"
When deploying a new virtual cluster and deploying a controller that communicates with the Kubernetes apiserver, I've found that the IP SANs field is not set on the x509 certificate used for serving by the "virtual" apiserver.

I do see that the IP SANs *can* be set here: https://github.com/kubernetes-sigs/multi-tenancy/blob/eb12a45cf2ff94d080666aa4479555f6f723615c/incubator/virtualcluster/pkg/con

[2020-08-22 17:16] johnpemberton opened #1045 "Change the parent of a subnamespace"
Hi,

I can envisage a scenario where changing the parent of a subnamespace would be really beneficial.   Is this something that HNC is likely to support?

Scenario:
 - Large organisation, lots of teams, who each look after a number of products
 - Sometimes the ownership of those products changes from one team to another

Lets start out with a namespace tree like this:
[code]

It's great that the o

[2020-08-23 19:51] johnpemberton commented on #1045
@adrianludwin

Just been playing with this again, and I think the correct sequence for moving a subnamespace within the hierarchy tree is:

- Remove the annotation:
[code]
- Change the parent:
[code]
- Delete the subnamespaceanchor
[code]
- Add the annotation back
[code]
- Create a new subnamespaceanchor
[code]

If you try to delete the `subnamespaceanchor` *before* changing the parent, then you l

[2020-08-25 14:20] adrianludwin commented on #1045
Thanks for submitting the PR! I've left some comments there but in summary:
1. You should be able to recreate the "missing" anchor via `kubectl hns create`.
2. It's rare that you need to turn a full ns into a subns
3. It's better to talk about _first_ converting a subns to full ns, _then_ moving it to a new parent, and _lastly_ turning it back into a subns (though this is discouraged).

[2020-08-25 14:42] adrianludwin commented on #1029
This is now fixed on the trunk. I'll backport to 0.5.2.

[2020-08-25 14:43] adrianludwin commented on #1029
/remove-good-first-issue
/assign @adrianludwin

[2020-08-25 14:54] adrianludwin commented on #1027
This should be easy enough to pull into 0.5.2.

[2020-08-25 17:23] adrianludwin commented on #1023
I've been struggling to reproduce this. Simply killing the deployment or the webhook service isn't enough - in those cases, the webhook fails _immediately_ and everything works just fine. I had to add a `time.Sleep()` to the webhook implementation to get this to reproduce. I suspect that the webhook only blocks during HNC startup on clusters with _lots_ of namespaces, which explains why I've never

[2020-08-25 20:46] adrianludwin commented on #1027
Hmm, this appears to be working for me. Not sure why.

[2020-08-25 20:49] adrianludwin commented on #1029
Fixed by #1049
/close

[2020-08-25 21:10] GinnyJI opened #1050 "Deleting a pod takes up to a minute or even longer"
In one of my tests, when calling `kubectl delete deployment --all -n hnc-system`, the pod inside `hnc-system` may take a long time to be deleted, sometimes up to a minute or longer. The logs can be found at https://gist.github.com/GinnyJI/cdca05c1818c3fe574a854513001036e

[2020-08-25 21:31] adrianludwin commented on #1027
Not only can I create pods with dry-run, but also namespaces and `HierarchyConfigurations`. This despite the fact that the webhooks all have `sideEffect: Unknown`. I don't understand why this is working.

[2020-08-25 21:40] adrianludwin commented on #1029
/reopen
/assign @tcnksm

Hi Taichi, can you please verify that [HNC v0.5.2 RC1](https://github.com/kubernetes-sigs/multi-tenancy/releases/tag/hnc-v0.5.2-rc1) works for you - both the YAML files but also the Darwin plugin? I don't have any ability to test on MacOS. Thanks!

[2020-08-25 23:14] charleszheng44 opened #1052 "VC: make test return 0 even if there is FAIL test case"
@zhuangqh the return code (#?) of the `make test` is 0, even though there exist failed test case (TestPriorityClassPatrol/pPriorityClass_not_found,_vPriorityClass_exists). Is this an expected behavior? Some CI relies on this return code.

[2020-08-25 23:28] charleszheng44 commented on #1044
@munnerz thanks for filing the issue. Yes, this is currently the expected behavior. This is due to the order (cretificates have to be created before starting the apiserver) of creating the tenant master. However, the svc/kuberentes under the default namespace is created after the apiserver is up and running. Therefore, we can't add its clusterIP into the certificate. If you want to try out the con

[2020-08-25 23:40] charleszheng44 commented on #1044
@munnerz thanks for filing the issue. Yes, this is currently the expected behavior. This is due to the order (cretificates have to be created before starting the apiserver) of creating the tenant master. However, the svc/kuberentes under the default namespace is created after the apiserver is up and running. Therefore, we can't add its clusterIP into the certificate. If you want to try out the con

[2020-08-26 01:16] tcnksm commented on #1029
Ok. Let me confirm those.

## Darwin plugin

I've executed the following command by following the release note instruction.

[code]

And run the following command to confirm help message is shown.

[code]

## Generated YAML

I've applied to our lab GKE cluster (1.15) by following the release note instruction.

[code]

And run the following commands to confirm `timeoutSeconds` configuration is prop

[2020-08-26 01:55] adrianludwin commented on #1029
Great, thanks! I'll call that "confirmed" and we'll release 0.5.2 in a day or two (there's one more change I'd like to get in).

/close

[2020-08-26 01:55] #1029 closed

[2020-08-26 02:30] adrianludwin commented on #1027
Turns out I've been testing on 1.16, while this feature was only enabled in 1.18. I'll have another go tomorrow.

[2020-08-26 03:08] #1052 closed

[2020-08-26 15:03] adrianludwin commented on #1027
Reproduced successfully

[2020-08-26 15:09] adrianludwin commented on #1027
Fixed with a simple kustomization patch

[2020-08-27 16:36] adrianludwin opened #1058 "HNC: fix e2e tests on the master branch"
Even after #1057 is submitted, I'm still seeing failures when running the latest tests on the latest master branch on GKE Stable (1.15). We need to fix the tests so that we can run them reliably.

/cc @yiqigao217
/assign @GinnyJI

[2020-08-28 19:44] christopherhein opened #1062 "VC: Sync Ingress Resource from tenant cluster to supercluster"
This would allow a supercluster to expose shared ingress controllers that a tenant could target with their Ingress resources, saving tenants from having to manage their own tenant-specific ingress controllers.

[2020-08-28 20:41] salaxander commented on #1044
Curious what a good long term solution would be here? Ideally we'd be able to make it easy for users to deploy community controllers without having to add the env var to the yaml, but mutating all pods with the env var at deploy time feels heavy handed. Any suggestions on what we can try here? Happy to try and help implement a solution :)

[2020-08-28 22:02] charleszheng44 commented on #1044
@salaxander  A possible solution would be making the syncer to set `KUBERNETES_SERVICE_HOST` as `kubernetes`. I have not verified this solution will cause any side-effects.

[2020-08-28 22:04] salaxander commented on #1044
@charleszheng44 I can investigate this and report back :)

[2020-08-28 22:38] charleszheng44 commented on #1044
@salaxander that would be great, thanks!

[2020-08-29 16:31] #533 closed

[2020-08-29 16:31] #534 closed

[2020-08-30 20:49] adrianludwin commented on #1027
Fixed in 0.5.2

/close

[2020-08-30 20:49] #1027 closed

[2020-08-31 16:07] salaxander opened #1064 "VC: Use VC controller to deploy CoreDNS"
Since a forked version of CoreDNS is needed in a tenant cluster, @christopherhein and I were discussing if it would make sense to have to VirtualCluster controller allow an option to auto-deploy CoreDNS in tenant clusters. I'm happy to implement this if the group feels it's a good option :)

[2020-08-31 16:15] christopherhein commented on #1064
Thanks for filing this @salaxander.

@Fei-Guo because of the way the control plane is currently configured the Control Plane DNS resolving is using the super clusters DNS provider, this makes using tenant local DNS to route to webhooks and admission controllers need to have special hostnames that route across the supercluster namespaces.

The idea here would be that we could have an option at clus

[2020-08-31 16:15] christopherhein commented on #1064
/cc @charleszheng44

[2020-08-31 18:14] salaxander commented on #1044
@charleszheng44 @munnerz So far I'm having a lot of success with this! I altered the Syncer where it mutates pods, and added this method:

[code]

Then added this to the `PodMutateDefault()` method:

[code]

Deploying the Tekton operator now works flawlessly! Happy to submit this change in a PR after some more testing

[2020-08-31 18:47] salaxander commented on #1044
I'll add that this works with CoreDNS deployed, which could be a case for looking at #1064 as well

[2020-08-31 19:11] christopherhein commented on #1044
Appears that even without Coredns this would work cause of having the `hostAliases` setup in the pod mutation.

[2020-08-31 19:18] Fei-Guo commented on #1064
@christopherhein @salaxander

Let us discuss the workflow in more details. If we create DNS pod in super before creating apiserver, then the DNS works for control plane only. The tenant Pod cannot use this DNS because the current contract is that we will put the cluster ip of kube-dns service in tenant kube-system ns to the Pod dns config.
https://github.com/kubernetes-sigs/multi-tenancy/blob/23e6

[2020-08-31 19:35] charleszheng44 commented on #1044
@salaxander Sounds like a plan 👍

[2020-08-31 21:06] salaxander commented on #1044
@christopherhein @charleszheng44 -> https://github.com/kubernetes-sigs/multi-tenancy/pull/1065

[2020-09-01 10:25] phoenixking25 opened #1066 "[MTB] - add version system"

[2020-09-01 14:06] yiqigao217 commented on #1035
Update: This change requires `CRD_OPTIONS ?= "crd:trivialVersions=false"` (which is also the right setting if we have multiple CRD versions) to split v1alpha1 and v1alpha2 schema `per-version` instead of a `top-level` schema. Therefore, we can have different fields (`allowCascadingDelete` vs `allowCascadingDeletion`) in each version.

There are 3 limitations here that we have to work around:
* **S

[2020-09-01 14:47] GinnyJI opened #1067 "HNC: Demo doesn't work as expected"
In [HNC demo](https://docs.google.com/document/d/1tKQgtMSf0wfT3NOGQx9ExUQ-B8UkkdVZB6m4o3Zqn64), under "Hierarchical network policy" part, In the 6th block where it says `Now we’ll see that we can no longer access service-2 from client a client in service-1`, it appears that you can still access `service-2` from a client in `client-1` after following all the pre-setups. As a result, the e2e test al

[2020-09-01 14:50] GinnyJI commented on #1067
Terminal output:
[code]

[2020-09-01 14:51] GinnyJI commented on #1067
/cc @yiqigao217
/cc @adrianludwin

[2020-09-01 15:26] salaxander commented on #1064
I think the best option here would be to install dns as a tenant add-on in the tenant control plane creation. @christopherhein, thoughts?

[2020-09-01 15:31] yiqigao217 commented on #1067
Hmm did you enable network policy in your cluster? Or I remember there was no way to enable networkPolicy on Kind? I just tried it late last week on a GKE cluster with networkPolicy enabled and it worked.

[2020-09-01 15:55] adrianludwin commented on #1035
I'd rather not ever go back to trivialVersions=true since we'll need to do
this all over again for v1a2->v1beta1.

How about taking the `manifests` makefile out of the default list of
targets so that it doesn't get rebuilt by default? Then you can manually
patch the generated file, including comments like:

# WARNING! controller-tools will try to remove these lines, don't let it!!!

Hopefully we c

[2020-09-01 16:00] yiqigao217 commented on #1035
SG on both 1) keep `trivialVersions=false`, 2) manual patch with comment.

Sure will ping the owner.

[2020-09-01 16:04] yiqigao217 commented on #1035
Hmm I think having the patch is enough since it patches on (replaces) the CRD `versions` field with manually patched schema already.

[2020-09-01 16:48] adrianludwin commented on #1035
sg

On Tue, Sep 1, 2020 at 12:04 PM Yiqi Gao <notifications@github.com> wrote:

[2020-09-01 17:26] Divya063 opened #1070 "[MTB] Feature: Run a particular benchmark"

[2020-09-01 17:26] Divya063 commented on #1070
/assign @Divya063

[2020-09-01 19:43] christopherhein opened #1073 "VC: Support VC CR specifying the Control Plane Namespace Name"
This is open for discussion, but would it make sense to allow the `VirtualCluster` CR to have a field for `spec.clusterNamespace` something that it could use provision the tenant control plane into? What issues would this cause?

Throughout the code base it seems we have a conversion function https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/virtualcluster/pkg/syncer/conversio

[2020-09-01 19:43] christopherhein commented on #1073
/cc @Fei-Guo @charleszheng44

[2020-09-01 19:45] GinnyJI commented on #1067
Sry false alarm, the test failed because network policy was not enabled. [Made changes](https://github.com/kubernetes-sigs/multi-tenancy/pull/1068#pullrequestreview-479871794) to reminder user who meet the same issue again.

[2020-09-01 19:45] #1067 closed

[2020-09-01 19:54] christopherhein commented on #1064
Yeah, thinking this through more coredns in k8s needs to have the control plane access in order for it to come up, so we really have a weird chicken and egg problem where if we bring up the control plane first we don’t have tenant local dns to route to for things like admission webhooks or auth webhooks but if you bring up coredns first it’s not going to have a control plane to talk to immediately

[2020-09-01 20:56] Fei-Guo commented on #1064
- This requires to change the syncer to use a super master service (the coredns one) in Pod dnsconfig
- If tenant install coredns again, there is going to be a conflict.

But if we want to go with this direction, I am ok with the following:
- Check tenant kube-system/kube-dns service first, and use the super `root-ns-XXX-kube-system/kube-dns` service cluster ip in dnsConfig
- If the above service

[2020-09-01 21:53] Fei-Guo commented on #1073
Are you suggesting to make `spec.clusterNamespace` as the prefix of generated name? otherwise, it is difficult to resolve ns conflict in super master.

Note that giving this flexibility will create the chance of ns conflict in super master. Tenant namespace can never be the prefix substring of another tenant namespace ( say tenant A uses "foo" and tenant B uses "foobar", tenant A cannot create ns

[2020-09-01 22:29] christopherhein commented on #1073
Yes, I'm thinking the cluster namespace prefix. I'm assuming that we could technically enforce things like must be a unique namespace prefix using validating admission webhook.

The criticality in the syncer was my concern as well. The security aspects of not being able to reclaim someone else's NS after they deleted the cluster is a good point.

Thanks for checking on the UID field.

Closing this

[2020-09-01 22:29] #1073 closed

[2020-09-02 18:14] yiqigao217 opened #1076 "HNC: Handle object propagation conflict"
This issue is raised on Slack. See http://bit.ly/hnc-propagation-conflict for detailed design.

Consider an example tree structure with one source object demo role in namespace tenant1:
[code]
Now let’s create a `demo` role in `org1` namespace: currently, HNC propagates `demo` from `org1` to `space1`, `tenant2` and `space2`, but it skips propagation to namespace `tenant1` since a conflicting sourc

[2020-09-03 14:38] yiqigao217 opened #1079 "HNC: Update object validator to avoid overwriting source"
Part of #1076 , see http://bit.ly/hnc-propagation-conflict.

The current object validator already denies any requests on propagated objects, but it allows any requests on source objects. We will add new rules to restrict source objects to prevent this conflict.

  |  SyncMode |   _Operation*_| Condition |  Allow/Deny |
|---|---|---|---|
| `Propagate`  | Create |  Conflicting source in descendant |

[2020-09-03 20:32] #495 closed

[2020-09-04 11:41] mbtamuli commented on #783
Hey @adrianludwin, I would like to work on this issue.

Can you let me know where should I start?

Also, I can do the testing for Kind locally and I also have a GCP account with some credits remaining so I would be able to test there. What about EKS, AKS?

[2020-09-06 12:26] mayankshah1607 commented on #1043
@adrianchung Can I take up this one if no one is working on it already? Thanks!
/assign

[2020-09-06 12:46] mayankshah1607 commented on #1041
Hi @adrianludwin , I'd like to give this issue a try. :)
I just looked into the code, and I see that we have an alternate function `TryRun` that logs the errors when the command returns an error. Is there any reason why we may not be able to use this?
Thanks

[2020-09-06 16:23] adrianludwin commented on #1041
Hey Mayank, sorry I've been on vacation this last week. I'll reply when I'm
back after Labour Day (i.e. early next week). Thanks!

On Sun, Sep 6, 2020 at 8:46 AM Mayank Shah <notifications@github.com> wrote:

[2020-09-06 17:19] mayankshah1607 commented on #1041
No problem. Have a great vacation! 🙂

[2020-09-06 20:43] #635 closed

[2020-09-07 16:26] mugdha-adhav opened #1084 "HNC: make target kind-deploy is failing due to empty PROJECT_ID"
While deploying HNC in a kind cluster using `make kind-deploy` or `CONFIG=kind make deploy`, the deployment fails with below error.
[code]

The error occurs as `PROJECT_ID` variable is unset in case of kind deployment. The variable value is retrieved by running gcloud command which is not required for kind deployment.

[2020-09-07 16:27] mugdha-adhav commented on #1084
@adrianludwin I would like to work on this before starting with #974

[2020-09-07 16:33] adrianludwin commented on #1084
/good-first-issue

[2020-09-07 16:33] adrianludwin commented on #1084
Agreed, PROJECT_ID shouldn't be needed for kind-deploy

[2020-09-08 12:12] adrianludwin commented on #1041
Hey let me know if you need any advice on this but any PRs would be welcome!

[2020-09-08 12:13] adrianludwin commented on #1043
Go for it!

[2020-09-08 12:15] mayankshah1607 commented on #1041
Hi, @adrianludwin . Thanks!
I was just trying to wrap my head around this issue, and tried to look into the code. The issue mainly talks about how the tests did not leave any evidence when the CRD deletion failed (due to `TryRunQuietly`).
I see that we have an alternate function called `TryRun` that will log these failures. Would it help if we used `TryRun` instead?

[2020-09-08 12:32] adrianludwin commented on #1041
I believe the problem is that we _expect_ some of the commands in the cleanup to fail - e.g., if we try to delete a namespace that we never created. In those cases, I think we do want `TryRunQuietly` to avoid printing too much logspam. However, if the namespace _does_ exist, it should be deleted successfully.

I think you're also looking at another bug that has a better way to clean up the namespa

[2020-09-08 20:53] #1062 closed

[2020-09-09 12:46] #532 closed

[2020-09-10 17:55] #1079 closed

[2020-09-10 18:01] mbtamuli opened #1096 "HNC: Developer Docs Improvement"
I faced some issues following the Developer doc.

1. `source devenv` doesn't work.
[code]

2. `CONFIG=kind make deploy` doesn't work, but I already see an open issue about it #1084

Also, not sure if it was just me, but the jump from the section - **Building and deploying to a test cluster** to **Developing with KIND** and then again reading the previous section **Development Workflow** was confus

[2020-09-10 18:02] mbtamuli commented on #1096
One possible approach could be using `kind export kubeconfig` instead of the `kind get kubeconfig-path` and then `export`ing.

[code]

[2020-09-10 18:24] #1084 closed

[2020-09-10 18:26] adrianludwin commented on #1096
Thanks @mbtamuli ! I think we should just get rid of `devenv` - just use `kubectl config set-context` and go with that. Does that sound reasonable?

Yes, I agree the ordering is a bit confusing. I think the order should just be "Development workflow," then (as a subheading) "Deploying to a cluster," and then as another subheading, "Deploying to Kind"). Sound good? I can make that change.

#1084 sh

[2020-09-10 18:26] mugdha-adhav commented on #1096
Can we mention the supported kind version in the README/docs?

The `devenv` script uses kubeconfig-path subcommand which is deprecated since kind 0.6.0. We should bump up the support version for kind and improve the docs as most of the development is done on kind.

[2020-09-10 18:31] mbtamuli commented on #1096
Agreed. As we're not just working with `kind`, `kubectl config set-context` should be the way to go.

Yes, that flows better. 👍🏼

[2020-09-10 18:31] mbtamuli commented on #1096
@adrianludwin  Agreed. As we're not just working with `kind`, `kubectl config set-context` should be the way to go.

Yes, that flows better. 👍🏼

[2020-09-10 18:53] adrianludwin commented on #1096
@mbtamuli , @mugdha-adhav, does #1097 lgty?

[2020-09-10 19:00] mbtamuli commented on #1096
@adrianludwin Yep, definitely an improvement.
lgtm! 🙂

[2020-09-10 19:01] mugdha-adhav commented on #1096
Yeah, better and smoother experience.
lgtm

[2020-09-10 19:03] adrianludwin commented on #1096
Thanks!

On Thu, Sep 10, 2020 at 3:02 PM Mugdha Adhav <notifications@github.com>
wrote:

[2020-09-10 19:12] mbtamuli commented on #1096
@adrianludwin I see another issue after running `make kind-deploy`

[code]

Full log - [kind-deploy.log](https://github.com/kubernetes-sigs/multi-tenancy/files/5204152/kind-deploy.log)

[2020-09-10 20:11] adrianludwin commented on #1096
That error is fine (which is why it's ignored) - it just means "delete the
deployment if it exists so we can replace it." If it doesn't exist, then it
reports an error which is safe to ignore.

Do you see any other problems?

On Thu, Sep 10, 2020 at 3:13 PM Mriyam Tamuli <notifications@github.com>
wrote:

[2020-09-10 21:41] mbtamuli commented on #1096
I do get this kind of error when trying to run the e2e tests.

[code]

[test-e2e.log](https://github.com/kubernetes-sigs/multi-tenancy/files/5204787/test-e2e.log)

[2020-09-11 01:57] adrianludwin commented on #1096
I'm seeing two problems from that log:

   1. The "HNS" plugin isn't installed. "make deploy" will put the plugin
   in $GOPATH/bin but you need to make sure it's on your PATH env var. If you
   type "kubectl hns" and get an error, then it's not working properly.
   2. The webhooks aren't working. We have a note at the top of the test
   log to wait at 30s which has always been enough for us, but

[2020-09-11 04:38] mbtamuli commented on #1096
1. Yes, that was a problem. I didn't have the `hns` plugin in the `PATH` env var. I took care of that.
2. I tried multiple times and did wait for more than 2 minutes also after running `make kind-deploy`. I checked the CRDs were installed
[code]

Still the webhooks failed. Then I saw a failure in the logs of the manager container.

[code]

don't mind. What time zone are you in? Can you use Google

[2020-09-11 14:37] GinnyJI opened #1098 "HNC: The network policy e2e tests should be skipped if network policy is not enabled"
Currently the network policy test will fail if the cluster does not have the network policy enabled. This could make the test result confusing. We would like to check if the network policy is enabled on the current cluster first, and skip the test if not.

[2020-09-11 14:37] GinnyJI commented on #1098
/cc @adrianludwin

[2020-09-11 15:47] salaxander commented on #1044
PR for this was merged. @munnerz Would you like to verify that things are working better now? :)

[2020-09-11 16:49] adrianludwin commented on #1096
Let's move the problems you're having to a new issue.

[2020-09-11 16:51] adrianludwin opened #1100 "HNC: webhooks broken in K8s 1.19 due to Golang 1.15"
cc @mbtamuli. See https://github.com/kubernetes-sigs/multi-tenancy/issues/1096#issuecomment-690868907.

/assign @yiqigao217

{"level":"info","ts":1599798100.9179494,"logger":"controller-runtime.webhook","msg":"registering webhook","path":"/validate-hnc-x-k8s-io-v1alpha2-hierarchyconfigurations"}
{"level":"info","ts":1599798100.9179764,"logger":"controller-runtime.webhook","msg":"registering webhoo

[2020-09-11 16:52] adrianludwin commented on #1098
/good-first-issue

[2020-09-11 18:03] mbtamuli commented on #1096
@adrianludwin Can you please respond here? https://github.com/kubernetes-sigs/multi-tenancy/issues/783#issuecomment-687092040

[2020-09-11 18:13] #798 closed

[2020-09-11 18:16] adrianludwin commented on #783
Thanks for the offer, we appreciate it!

We don't currently have any testing on EKS/AKS so I'm afraid I can't help you there. However, if you make a test that can work on Kind - for example, by using service accounts instead of user accounts - then I'm pretty sure it will work anywhere, because K8s service accounts are identical on all flavours of K8s. So that's the way I'd recommend going.

The R

[2020-09-11 20:24] #1096 closed

[2020-09-14 13:56] yiqigao217 opened #1102 "HNC: Update hncconfig validator to avoid overwriting source"
Part of #1076 , see http://bit.ly/hnc-propagation-conflict.

Overwriting source could happen when a type is changed from another mode to `Propagate` mode and there happens to be an ancestor and a descendant objects with the same name.

The current hncconfig validator only checks if the _new_ configuration meets the restrictions, e.g. no duplicate types, `Propagate` mode for `Role` and `Rolebinding

[2020-09-14 13:59] yiqigao217 commented on #1102
/cc @adrianludwin
/cc @rjbez17
/cc @GinnyJI

I tried implementing it and it seemed working fine and I will do more tests on it. Please let me know if there's any concerns of the changes in the forest (new `ns.objectNames` field), object reconciler (updating `ns.objectNames`) and the hncconfig validator (conflict datastructure), etc.

[2020-09-14 14:23] adrianludwin commented on #1102
@rjbez17 does this lgty?

As discussed offline: this lgtm. We'll add a confirmation prompt in `kubectl-hns` if users try to go straight from `Ignore` to `Propagate` with a warning and a link to the documentation, but users can either say `yes` or just skip the prompt with the `--yes` command.

[2020-09-14 14:48] rjbez17 commented on #1102
This LGTM aside from the potential race conditions of user created objects being created during a propagation/propagation change. Which could occur when using something like helm/kustomize to update a large amount of resources. I think our existing protections should help with this though.

Overall, I think this will work, just would like to make sure we understand most of the edge cases in the PR

[2020-09-14 15:02] adrianludwin commented on #1102
Yeah, we can never guarantee that HNC is fully "up-to-date" since any
object can change at any time. But that's just life in a distributed
system. Agreed to having a close look at the edge cases when the PR is
ready.

On Mon, Sep 14, 2020 at 10:48 AM Ryan Bezdicek <notifications@github.com>
wrote:

[2020-09-15 03:53] JimBugwadia opened #1104 "MTB: replace profile level and categories with labels"
At the Sep 2nd 2020 sig-auth meeting we discussed the multi-tenancy benchmarking tool ([video](https://www.youtube.com/watch?v=a_Bt4vTAxgw&list=PL69nYSiGNLP0VMOZ-V7-5AchXTHAQFzJw&index=1)) and how the benchmarks tests could potentially be reused for other goals.

An option to enable that would be to replace multi-tenancy profile levels and categories with labels, like:

[code]

The benchmarking to

[2020-09-15 15:01] JimBugwadia commented on #551
/close

[2020-09-15 15:01] #551 closed

[2020-09-16 16:14] mbtamuli commented on #1100
I tried deploying the latest version using
[code]

Even then the logs from the manager container shows some errors. Logs -
[manager.log](https://github.com/kubernetes-sigs/multi-tenancy/files/5233474/manager.log)

[2020-09-16 16:15] mbtamuli commented on #1100
Could it be a version issue of Kind or Kubernetes?

I'm using
[code]

[2020-09-16 19:08] yiqigao217 commented on #1102
Update here: discussed offline with @adrianludwin :
It would be better not to introduce a new field into the forest, and instead to always store the source object and change the rest of the object to suit (e.g. don't propagate objects just because they're in the forest - we'll need this logic for exceptions anyway).

Thus now having #1106 with 2 commits (refactoring & webhook change) in it.

[2020-09-16 23:29] realshuting opened #1107 "[MTB] Add Kyverno Policy - Require run as non-root user"

[2020-09-16 23:31] realshuting commented on #1107
/assign @realshuting

[2020-09-16 23:32] realshuting opened #1108 "[MTB] Add Kyverno Policy - Require image pull policy as always"
/assign @realshuting

[2020-09-16 23:33] realshuting opened #1109 "[MTB] Add Kyverno Policy - Require PVC reclaim policy as delete"

[2020-09-16 23:33] realshuting opened #1110 "[MTB] Add Kyverno Policy - Require CAP_DROP_ALL"

[2020-09-16 23:35] realshuting opened #1111 "[MTB] Add Kyverno Policy - Self-Service namespace (create namespaces)"
Self-service operation: the tenants should be able to create namespaces.

[2020-09-17 00:34] christopherhein opened #1112 "[vc]: /healthz endpoint for vc-syncer and vc-manager"
We've noticed that the current vc-syncer exposes :8080 for doing liveness with tcp endpoints to follow Kubernetes standards can we change this to expose a `/healthz` and return "ok" when successful?

Also it appears that the `vc-manager` doesn't have any health or liveness checks would it make sense to also expose the same endpoint for `vc-manager`?

/cc @miamipanther

[2020-09-17 00:35] christopherhein commented on #1112
/cc @Fei-Guo @charleszheng44

[2020-09-17 01:03] Fei-Guo commented on #1112
Sure, we can add health check for both controllers. I just don't quite see how the health check for controllers will help in any use case. If the controller crashed, the Pod status will reflect the failure.  The controllers also may not need readiness gate to coordinate with other systems.

[2020-09-17 02:23] adrianludwin commented on #1100
Ah, all those "skip registering a mutating webhook" messages are harmless. They're all about defaults that are set on the API types themselves, but we don't use that feature. Our webhooks are registered _explicitly_ and aren't affected by these message. (This is all detailed `controller-runtime` stuff).

I think this is the same as https://github.com/open-policy-agent/gatekeeper/pull/811, and we n

[2020-09-17 02:24] adrianludwin commented on #1100
We should fix this in the 0.5 branch. I'll do it.

[2020-09-17 02:37] miamipanther commented on #1112
If we have health check for important component, we can set up external probe to monitor and alert if those components go unhealthy

[2020-09-17 02:51] mbtamuli commented on #1100
Do you mean it should work with k8s <1.19?

[2020-09-17 03:21] Fei-Guo commented on #1112
For controllers, monitoring Pod status and monitoring healthz seems to be equivalent in term of debugging/alarming purposes. Of course, providing a standard interface for monitoring is a pro. I am fine with adding those. I am Just curious if there are other use cases.

[2020-09-17 04:42] adrianludwin commented on #1100
That's right - I've personally tested HNC up to 1.18 (on GKE) but not yet
on 1.19, I'll try to get to this by the end of the week.

On Wed, Sep 16, 2020 at 10:52 PM Mriyam Tamuli <notifications@github.com>
wrote:

[2020-09-17 16:54] miamipanther commented on #1112
Thanks @Fei-Guo , we will add the standard interface

[2020-09-17 19:45] realshuting opened #1116 "[MTB] Add Kyverno Policy - Require a PodDisruptionBudget"
https://thenewstack.io/kubernetes-use-poddisruptionbudgets-for-application-maintenance-and-upgrades/

[2020-09-18 03:08] mbtamuli commented on #1100
Hey @adrianludwin,

I was trying to run the tests. I am always getting errors no matter the kubernetes version I'm using.

I've tested with GKE - v1.15, v1.16 and v1.17, the ones you mentioned here - in [Testing Signoff](https://github.com/kubernetes-sigs/multi-tenancy/releases/tag/hnc-v0.5.2)

Here are the logs
[test-e2e-v115.log](https://github.com/kubernetes-sigs/multi-tenancy/files/5243107/tes

[2020-09-18 04:01] adrianludwin commented on #1100
@mbtamuli  - I just discovered that we're broken at HEAD. Did you try this on v0.5.2? See [here](https://github.com/kubernetes-sigs/controller-runtime/issues/1148#issuecomment-694455506) for details. We hadn't noticed this because we were testing on clusters that previously had HNC installed.

If you're not testing on HEAD, can you please attach the logs from HNC itself, and not just the tests? Yo

[2020-09-18 04:02] adrianludwin commented on #1100
I'm actively working on this, but I likely will only be able to fix this on Monday.

[2020-09-18 04:45] mbtamuli commented on #1100
Yes I did. Updated the previous comment with the deployment steps. Just followed the deployement steps mentioned in the release.

[2020-09-18 04:50] adrianludwin commented on #1100
Oh, you need to set `HNC_REPAIR` to `https://github.com/kubernetes-sigs/multi-tenancy/releases/download/hnc-${HNC_VERSION}/hnc-manager.yaml` (with the env var filled in). The test runs `kubectl apply -f ${HNC_REPAIR}` after it (deliberately) breaks the HNC installation.

If you leave the variable unset, it will skip some of the tests but it will run enough other things to be confident that you've

[2020-09-18 04:51] adrianludwin commented on #1100
I don't know how to run Kind on Github Actions. We use Prow and we have some pointers on how to run Kind in Prow, so we'll likely be setting that up soon-ish.

[2020-09-18 05:32] mbtamuli commented on #1100
Ah, I should've taken a better look at the Makefile or the existing e2e tests. Will try setting `HNC_REPAIR` to the manifest path.

---

Can you mention one version of HNC(or commit), that you've tried with one version of KIND and one version of kubernetes, where the e2e tests finished successfully?
For example, you've tested successfully with
HNC - 0.5.2 AND Kind - 0.9.0 AND Kubernetes - 1.16

[2020-09-18 09:50] zhuangqh opened #1118 "[VC] proposal: kubectl vc command line tool"
## Motivation

super cluster admin managed all of the virtual clusters. They usually switch between different vc. First find the kubeconfig, then switch to this cluster. We need a command line tool to manage multi clusters.

## Proposal

### kubectl vc create xxx

create a virtual cluster and waiting it to be running. export kubeconfig to specific path.

### kubectl vc delete xxx

delete a virtual

[2020-09-18 09:50] zhuangqh commented on #1118
@Fei-Guo @charleszheng44

[2020-09-18 16:36] yiqigao217 opened #1120 "HNC: Add object webhook rules for updating a source object"
Another corner case of #1076

If a user removes the finalizers of a source object, it may cause source object overwriting in descendants too. Because source objects with finalizers cannot be propagated, thus there was no risk of overwriting source objects in descendants before the change.

With this new corner case, we will need to revisit the object and hierarchy webhooks on not just the naming c

[2020-09-18 17:07] Fei-Guo commented on #1118
This is going to be very useful!

A few comments:

`kubectl vc config -n $vc_cr_ns $vc_cr_name` will be optional if we have `kubectl vc -n $vc_cr_ns $vc_cr_name xxx` been available.

We can combine "-n $vc_cr_ns $vc_cr_name" to a single "vcfullname" as input so the cmd can be as simple as

`Kubectl vc admin1/vc-sample1 get pod -A`

[2020-09-18 17:40] charleszheng44 commented on #1118
+1 for the vc subcommand :+1:

[2020-09-18 17:58] yiqigao217 commented on #1120
/cc @adrianludwin
/assign @GinnyJI

There's no rush for this corner case.

[2020-09-18 19:10] #1070 closed

[2020-09-18 19:54] GinnyJI opened #1123 "HNC: exceptions feature"
This issue is to track the implementation of exceptions, the design doc can be found at https://docs.google.com/document/d/17J8icBEDvLLoPT4kQ4ArZcCerRweDY-TpJ48DJKpHJ0

[2020-09-21 14:52] mbtamuli commented on #1100
Hey @adrianludwin, I got these logs. I tested these on GKE 1.17

[code]

**HNC - v.0.5.2**
 - [hnc-v117-0.5.2.log](https://github.com/kubernetes-sigs/multi-tenancy/files/5256144/hnc-v117.log)
 - [test-e2e-v117-0.5.2.log](https://github.com/kubernetes-sigs/multi-tenancy/files/5256145/test-e2e-v117.log)

**HNC - v.0.5.1**
- [hnc-v117-0.5.1.log](https://github.com/kubernetes-sigs/multi-tenancy/files/

[2020-09-21 15:38] adrianludwin commented on #1100
I think I saw the same thing recently and it was because I had the wrong version of `kubectl-hns`. Can you confirm you have the v0.5.x version of kubectl-hns on your path?

[2020-09-22 14:22] mbtamuli commented on #1100
Hey, I did try with the correct version of kubectl-hns. This time a few of the tests passed.

`FAIL! -- 20 Passed | 8 Failed | 0 Pending | 0 Skipped`

**HNC - v.0.5.1**
- [hnc-v117.log](https://github.com/kubernetes-sigs/multi-tenancy/files/5262066/hnc-v117.log)
- [test-e2e-v117.log](https://github.com/kubernetes-sigs/multi-tenancy/files/5262067/test-e2e-v117.log)

[2020-09-22 14:48] adrianludwin commented on #1100
It seems like you're running some weird combination of branch (0.5) and
master (will be 0.6) based on this error message:

          s: "Error: exit status 1\nOutput: \nCould not update the HNC
Configuration: admission webhook \"hncconfigurations.hnc.x-k8s.io\" denied
the request: Unrecognized mode 'Ignore' for /v1, Kind=Secret\n",

The "Ignore" mode (upper-case) was introduced after 0.5, so 0.5 w

[2020-09-22 22:32] evalsocket commented on #1030
@adrianludwin I have an idea about krew. Can this assign to me?

[2020-09-23 03:19] adrianludwin opened #1129 "HNC: ensure `go fmt` was called before presubmit"
We should modify the CI presubmit test to run `go fmt` and fail if it changes any files. That way, we'll be sure that developers have always run `make build` before checking in.

/good-first-issue

[2020-09-23 03:24] adrianludwin commented on #680
1.14 is now well out of support so I don't think we need to worry about this.

/remove-lifecycle rotten
/close

[2020-09-23 03:24] #680 closed

[2020-09-23 03:39] adrianludwin commented on #1030
Thanks for the offer! I'm getting pretty close a solution though - it's here if you want to check it out: https://github.com/adrianludwin/multi-tenancy/commit/eaf823382ac24b836072182032ed29ba14a41b16

As you can see, there's quite a lot of stuff you need to know about our build process to get this right. Hopefully we're done soon. Right now I'm just getting a checksum error I can't track down but

[2020-09-23 03:53] adrianludwin commented on #1100
Fixed in v0.5 by #1125, and will be fixed in master by #1128. Closing because it's fixed in v0.5 (we should release v0.5.3 shortly).

/close

[2020-09-23 03:53] #1100 closed

[2020-09-23 10:38] tomersolomon1 opened #1130 "HNC: Deleting a subnamespace after creating resources in the parent namespace results in error"
The following sequence doesn't work:
1. Creating a subnamespace by creating a SubnamespaceAnchor resource (the name of the parent ns is hnc-try, and the name of the subnamespace is hnc-try-sub-1).
2. Creating some RBAC resources in the parent namespace (role + rolebinding).
3. Deleting the SubnamespaceAnchor resource.

The subnamespace gets stuck in the middle of deletion, and I see the following

[2020-09-23 14:45] adrianludwin commented on #1129
Thanks! I can't formally assign this to you unless you're part of
kubernetes-sigs but you don't have to worry about that, you can just start
working on it. LMK if you need any guidance.

On Wed, Sep 23, 2020 at 10:35 AM Ángel Barrera <notifications@github.com>
wrote:

[2020-09-23 15:32] yiqigao217 opened #1133 "HNC: Update `kubectl hns config set-type` to allow force updating"
Part of #1102, #1076

Changing the sync mode to `Propagate` may cause source object overwriting. The HNCConfig webhook will deny such requests, but we will allow user to fix it quickly with a force update.

We can achieve it in either of the two ways (depending on which is easier to implement):
1. Add a confirmation prompt that users can say `yes` to proceed (as suggested in https://github.com/kub

[2020-09-23 15:32] yiqigao217 commented on #1133
/assign @GinnyJI
/cc @adrianludwin

[2020-09-23 16:10] zhuangqh opened #1134 "VC proposal: fair queuing in syncer"
## Background

In the current workqueue mode, it is essentially a FIFO queue. If a malicious tenant suddenly submits a large number of k8s objects that need to be synchronized, the resources of the syncer workqueue will be squeezed, slowing down the synchronization of resources of other tenants. This solution will support priority-based synchronization so that each tenant can synchronize tasks fai

[2020-09-23 17:13] adrianludwin commented on #1130
Thanks for the bug report. I'm looking at this now at high priority (I have an idea what the cause is) and hopefully can push out a release with a fix tonight or tomorrow.

[2020-09-23 17:18] adrianludwin commented on #1130
Whoops I missed the fact that you identified exactly what the cause is :) That seems like a good solution, I'll go with that. Thanks!

[2020-09-23 17:35] adrianludwin commented on #1130
This doesn't _appear_ to affect full namespaces. The reason seems to be that as the K8s controller deletes all the objects in the namespace, it also deletes the `HierarchyConfiguration` object, which orphans the namespace and hence deletes all propagated objects.

But for subnamespaces, even though the `HierarchyConfiguration` object is deleted, HNC knows right until the end that the subnamespace

[2020-09-23 17:37] adrianludwin commented on #1130
Reproduced this with a simple e2e test

[2020-09-23 17:52] adrianludwin opened #1138 "HNC: validators should log which user is trying to perform an invalid operation"
See #1130 . The only log we get when the attempt to delete an object is denied is:

[code]

Note that this doesn't say _who_ is trying to perform the operation (in this case, the K8s namespace controller). It would be very useful to see that in the logs in the future, both for HNC bugs or to see if someone's trying to evade HNC incorrectly.

/good-first-issue

[2020-09-23 17:54] adrianludwin commented on #1138
Also, why is `nm` missing in the log message above?

[2020-09-23 17:54] adrianludwin commented on #1138
We should audit all our validators to make sure they're all showing the user.

[2020-09-23 18:00] adrianludwin commented on #1130
A short-term workaround is to remove the `subnamespaceOf` annotation in the subnamespace prior to deleting it directly. However, this requires higher privileges than should be required to deal with namespaces.

[2020-09-23 18:24] adrianludwin opened #1140 "HNC: don't fight K8s system service accounts"
HNC webhooks should probably allow K8s system accounts to do whatever they like. See https://github.com/kubernetes-sigs/multi-tenancy/issues/1130#issue-707248327 for the background and a pointer to a good implementation of this idea.

/good-first-issue

[2020-09-23 18:24] adrianludwin commented on #1130
I've found a cleaner and more minimal fix for v0.5 (#1139), triggered by the fact that this only affected subnamespaces and full namespaces. Basically, we were preventing subnamespaces from being orphaned as K8s deleted their hierarchical configuration; by allowing them to be orphaned, all objects are removed naturally.

With that said, it's generally a good idea not to fight the K8s controllers (

[2020-09-23 20:06] #1030 closed

[2020-09-24 03:03] adrianludwin commented on #1130
Fixed in v0.5 and master.

/close

[2020-09-24 03:03] #1130 closed

[2020-09-24 06:42] #1134 closed

[2020-09-24 14:10] #1129 closed

[2020-09-24 20:11] salaxander commented on #1118
This was something I have been thinking about too! I had originally considered extending `vcctl`, but I like the idea of a `kubectl` plugin!

[2020-09-25 04:32] miamipanther commented on #1112
https://github.com/kubernetes-sigs/multi-tenancy/pull/1147

[2020-09-25 13:43] yiqigao217 opened #1148 "HNC: Restore the workaround for "envtest failure with unserved versions" bug"
See controller-runtime bug https://github.com/kubernetes-sigs/controller-runtime/issues/1154

Currently we work around this bug by
1. Having a script (`hack/crd_patches/ensure-all-served-for-envtest.sh`) to generate a separate copy of the CRDs with all versions set to **served** in `manifests/envtest` directory;
2. Updating the `CRDDirectoryPaths` in `internal/reconcilers/suite_test.go` to `manife

[2020-09-25 13:43] yiqigao217 commented on #1148
/cc @adrianludwin
/cc @GinnyJI

[2020-09-25 13:51] adrianludwin commented on #1019
/good-first-issue

[2020-09-25 13:53] adrianludwin commented on #979
Let's think this when we're getting closer to v1.0.

/close

[2020-09-25 13:53] #979 closed

[2020-09-25 13:53] adrianludwin commented on #955
@GinnyJI is this fixed?

[2020-09-25 14:15] adrianludwin opened #1149 "HNC: anchor in "conflict" mode can still delete subns"
Steps to reproduce:
1. Create subns
2. Delete subnamespaceOf annotation
3. Delete anchor

Expected: namespace is not deleted
Actual: namespace is deleted

[2020-09-25 20:47] adrianludwin opened #1153 "HNC: support `kubectl explain` and `kubectl describe`"
https://www.youtube.com/watch?v=zAtaJ0x-ZwY&feature=youtu.be

**Edit Oct 12**:
* Explain: https://youtu.be/zAtaJ0x-ZwY?t=2823

[2020-09-25 20:47] adrianludwin commented on #1153
/good-first-issue

[2020-09-25 21:09] adrianludwin opened #1154 "HNC: see why we can't propagate a RB without a role, and why this doesn't get resolved"
https://www.youtube.com/watch?v=zAtaJ0x-ZwY&feature=youtu.be

[2020-09-25 21:09] adrianludwin commented on #1154
At about the 1h mark

[2020-09-25 21:41] adrianludwin commented on #1154
Details:
1. Create RB in a parent namespace, but no role.
1. RB couldn't be propagated to the child with the error "role not found" (essentially). Not sure where this error's coming from since the role (issue A)
1. Create the role in the parent.
1. Role gets propagated to the child, but the role binding is still in an error state. For some reason, controller-runtime doesn't re-reconcile the child

[2020-09-26 13:55] evalsocket commented on #1116
/assign @evalsocket

[2020-09-26 13:56] evalsocket commented on #1116
@JimBugwadia Can you provide me some information regarding the issue ?

[2020-09-26 13:57] evalsocket commented on #1111
/assign @evalsocket

[2020-09-26 13:59] evalsocket commented on #1110
/assign @evalsocet

[2020-09-26 14:00] evalsocket commented on #1110
/assign @evalsocket

[2020-09-27 20:54] #685 closed

[2020-09-28 04:24] #1108 closed

[2020-09-28 16:41] yiqigao217 opened #1155 "HNC: Incorrect default if delete and recreate a namespace with "allowCascadingDelete: true""
This issue happens on the current master.
How to reproduce:
[code]

[2020-09-28 16:41] yiqigao217 commented on #1155
/cc @adrianludwin
/cc @GinnyJI

[2020-09-29 13:48] adrianludwin opened #1158 "HNC: add metric for overwritten objects"
/cc @yiqigao217
/cc @GinnyJI
/good-first-issue

It would be nice to have a metric called "number of overwritten objects." That way, you could monitor HNC to see if anyone's overwriting stuff by mistake.

[2020-09-29 18:19] #1035 closed

[2020-09-30 18:05] GinnyJI opened #1165 "HNC: exceptions error handling"
We should surface the potential errors in exceptions. Eg: when the annotation could not be parsed to selector.

[2020-09-30 18:05] GinnyJI commented on #1165
/cc @adrianludwin
/cc @yiqigao217
/assign @GinnyJI

[2020-10-02 18:08] #1149 closed

[2020-10-02 20:14] yiqigao217 opened #1167 "HNC: Update object conditions into events in v1alpha2"
Part of #868

Feedback from API reviewers: Current object conditions in HierarchyConfiguration CRs are not intuitive. In addition, having all object conditions in HC would overflow the size and we would have to truncate it.

We also had a lot of trouble fixing bugs related to setting and unsetting conditions. Therefore for object conditions, we will replace it with events in v1alpha2.

We will eve

[2020-10-02 20:21] yiqigao217 commented on #1167
I followed https://book-v1.book.kubebuilder.io/beyond_basics/creating_events.html to experiment with events. I found that for `pods`, we can get events just by `kubectl describe`. However, for other types, e.g. `role` or `secret`, I cannot get events directly by `kubectl describe` but only from `kubectl get events`:
[code]

In that case, we can probably attach `kubectl get events -n` results to th

[2020-10-02 20:24] adrianludwin commented on #1167
That sgtm. It would have been great if they appeared when describing the objects themselves but the current "conditions" method doesn't have that either, and the simplification to the implementation still makes it well worthwhile IMO.

[2020-10-05 20:51] GinnyJI opened #1170 "HNC: Presubmit tests are flaky"
Logs at https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_multi-tenancy/1161/pull-hnc-test/1313137143345844224

[2020-10-05 20:51] GinnyJI commented on #1170
/cc @adrianludwin

[2020-10-05 20:54] GinnyJI commented on #1170
Another failure log at https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_multi-tenancy/1169/pull-hnc-test/1313215677913370624

[2020-10-05 20:54] adrianludwin commented on #1170
/assign @GinnyJI
Thanks!

[2020-10-05 21:02] GinnyJI opened #1172 "HNC: Add document on how to enable propagation safely"
We should update https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/docs/user-guide/how-to.md#admin-types to discuss how to enable propagation safely. Eg: when changing from 'Ignore' to 'Propagate' mode

[2020-10-05 21:02] GinnyJI commented on #1172
/cc @adrianludwin

[2020-10-05 22:32] adrianludwin commented on #1172
/assign @yiqigao217

[2020-10-05 22:34] adrianludwin commented on #1058
I fixed the remaining problems last week, to the best of my knowledge.
/close

[2020-10-05 22:34] #1058 closed

[2020-10-06 05:20] JimBugwadia commented on #1116
PDBs are a good best practice, but not required for multi-tenancy. Will open a separate issue for a Kyverno best practice policy.

[2020-10-06 05:20] JimBugwadia commented on #1116
/close

[2020-10-06 05:20] #1116 closed

[2020-10-06 05:38] JimBugwadia commented on #1110
As a best practice, containers should drop all unnecessary capabilities:

[code]

See: https://kubesec.io/basics/containers-securitycontext-capabilities-drop-index-all/

We need to add:
1. A benchmark
2. Validation tests
3. Kyverno and Gatekeeper/OPA policies that block workloads without a `capabilities drop all`.

[2020-10-06 16:45] frbimo commented on #1153
/assign

[2020-10-06 21:07] adrianludwin commented on #861
This was fixed by #1040

/close

[2020-10-06 21:07] #861 closed

[2020-10-07 00:41] adrianludwin commented on #1170
I just reproduced one of these failures after about 5 attempts by running:

`stress -m 22 -i 36 -c 24`

This command is available via apt-get, and loads of the workstation with a ton of other processes, all chewing through CPU and memory. E.g. my workstation has 12 cores, and this loads it up with 22 memory-hogging processes, 36 IO-hogging processes and 24 CPU-hogging processes. I guessed that the

[2020-10-07 08:09] frbimo commented on #1153
Hi @adrianludwin , i may need your guidance. i tried to reproduce result on youtube video, so i deployed self-built hnc on branch 0.5.3.
executing command `kubectl explain  hierarchyconfigurations.hnc.x-k8s.io` & `kubectl explain hierarchyconfigurations`, both returns
[code]

on branch master, `kubectl explain  hierarchyconfigurations.hnc.x-k8s.io` returns
[code]
while  `kubectl explain hierarchyc

[2020-10-07 13:37] adrianludwin commented on #1153
I've never run either `explain` or `describe` before so I'm not sure what _should_ happen, but it looks like `explain` needs a bit more documentation to make it work. What's a bit weird is that all our fields _are_ documented (e.g. [here](https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/config/crd/bases/hnc.x-k8s.io_hierarchyconfigurations.yaml#L41), although the actual s

[2020-10-07 13:42] yiqigao217 commented on #748
/remove-lifecycle stale

[2020-10-07 17:05] adrianludwin opened #1177 "HNC: remove all trace of v1alpha1"
Remove old types, conversions, and annotations (e.g. `subnamespaceOf`).

[2020-10-07 18:46] yiqigao217 commented on #1167
The second half of this issue is to mask `k get events` (with different flags, e.g. `-n`, `--field-selector`) with `kubectl hns describe`, so that users can get object errors. We can probably append the events to the existing `k hns describe` output.

Here's some examples (Tips: we can introduce errors below https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/internal/reconc

[2020-10-08 16:39] frbimo commented on #1153
`kubectl describe crd hierarchyconfigurations.hnc.x-k8s.io` will shows crd details as similar in [here](https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/config/crd/bases/hnc.x-k8s.io_hierarchyconfigurations.yaml#L41) (its kinda long to post)

as `kubectl explain` [will publish OpenAPI schema documentation](https://github.com/kubernetes/kubernetes/issues/82407#issuecomment

[2020-10-08 16:43] frbimo commented on #1153
FYI, i tested it using:
go 1.14
controller-gen 0.2.8
kubernetes 1.18

as behavior i mentioned above, overall `kubectl explain` and `kubectl describe` perform normally as they should.
Please tell me if i miss something.

[2020-10-08 16:53] frbimo commented on #1158
/assign

[2020-10-08 19:20] adrianludwin commented on #1170
/assign me
/unassign @GinnyJI

[2020-10-08 19:21] adrianludwin commented on #1170
/assign me

[2020-10-08 19:21] adrianludwin commented on #1170
/assign

[2020-10-08 19:21] droopy4096 opened #1180 "HNC either fails or takes very long time to remove subnamespace in RBAC-enabled K8S cluster"
Currently what we are observing is a situation where two different scenarios produce significantly different results.

# Subnamespace flow

[code]
Note 1h+ delay

what we've discovered that if we execute
[code]
while `delete` process "hangs" - it unlocks the process and it completes as expected. Also to note - sometimes it fails with
[code]
and I have no exact flow to reproduce it, but once I get

[2020-10-08 20:25] adrianludwin commented on #1180
Are you using HNC v0.5.2? If so this is probably #1130 which was fixed in HNC v0.5.3.

Otherwise, can you let me know what was in `parent1` and what's the contents of your cluster-wide config (`kubectl hns config describe`)? Thanks!

[2020-10-08 21:09] #1170 closed

[2020-10-09 13:13] yiqigao217 commented on #876
/remove-lifecycle stale

[2020-10-09 14:36] yiqigao217 opened #1181 "HNC: Update Conditions doc after switching to the standard condition schema"
Part of #868

Update https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/docs/user-guide/concepts.md#admin-conditions after the schema change (WIP Oct.9) is merged.

/cc @adrianludwin
/cc @GinnyJI

[2020-10-09 14:39] yiqigao217 commented on #1181
Also update https://github.com/kubernetes-sigs/multi-tenancy/blob/fe9fcd06552e127b79ca61226aab77cf80f3b5fe/incubator/hnc/api/v1alpha2/hnc_config.go#L124-L130 if there's any change.

[2020-10-10 13:38] frbimo opened #1186 "HNC: test/e2e/demo_test.go mismatch result"
on master branch, make test-e2e failed:
[code]

I did manual execution of `kubectl -n service-1 get rolebindings` and server returns :
[code]

Environment:

Kubernetes version (use `kubectl version`):
[code]

[2020-10-10 14:54] frbimo commented on #1186
After update kubectl to v.1.19.0, server returns:
[code]

[2020-10-10 14:54] #1186 closed

[2020-10-12 02:48] zhuangqh commented on #1112
/close

[2020-10-12 02:48] #1112 closed

[2020-10-12 19:45] #664 closed

[2020-10-14 16:48] adrianludwin commented on #1153
I reviewed the video (at high speed, skipping a lot) and I couldn't find him explicitly talking about `kubectl describe`. I think I just had the idea that there's some way of including more data about an object (not necessarily the CRD itself, but any one CR) when the user says, say, `kubectl describe subns foo`, but I don't know how extensible `describe` is.

@frbimo , it would be great if you co

[2020-10-15 02:07] mbtamuli commented on #974
I'd like to work on this issue if you're not able to take a look at it currently @mugdha-adhav

[2020-10-15 02:20] adrianludwin commented on #974
Mriyam - please go ahead! I* just* modified the e2e tests so that the
network policy test is skipped if basic network policies don't work. But if
you can figure out a way to make network policies work on KIND, that would
be even better. Are you interested in looking into that?

On Wed, Oct 14, 2020 at 10:07 PM Mriyam Tamuli <notifications@github.com>
wrote:

[2020-10-15 02:26] mbtamuli commented on #974
I saw your previous comment and looked into installing calico with kind following [this guide](https://alexbrand.dev/post/creating-a-kind-cluster-with-calico-networking/). I have been able to manually run it.

Now I need to see if the network policy tests in demo_tests.go are able to run. I'll need to add everything in a script.

[2020-10-15 02:30] adrianludwin commented on #974
Putting the script in the hack/ directory (e.g.
`run-on-kind-with-calico.sh`) would be great, then we can integrate it into
our postsubmits when we have them!

On Wed, Oct 14, 2020 at 10:27 PM Mriyam Tamuli <notifications@github.com>
wrote:

[2020-10-15 06:00] zhuangqh commented on #1118
/close

[2020-10-15 06:01] #1118 closed

[2020-10-15 17:49] Divya063 commented on #1110
@JimBugwadia I would be adding the benchmarks and gatekeeper policy, also if @evalsocket has not started working on writing Kyverno policy for this, can I write the Kyverno policy as well?

[2020-10-16 18:02] droopy4096 commented on #1180
great. it worked.

[2020-10-16 18:02] #1180 closed

[2020-10-16 18:29] adrianludwin commented on #1180
Glad to hear! Let us know if you run into any other issues.

On Fri, Oct 16, 2020 at 2:02 PM Dmitry Makovey <notifications@github.com>
wrote:

[2020-10-16 18:40] adrianludwin commented on #823
I haven't seen many flakes here for a while.
/close

[2020-10-16 18:40] #823 closed

[2020-10-16 18:41] adrianludwin commented on #955
The e2e tests seem to be working well now

/close

[2020-10-16 18:41] #955 closed

[2020-10-16 18:42] adrianludwin commented on #885
@yiqigao217 is this complete?

[2020-10-16 18:42] adrianludwin commented on #1076
@yiqigao217 I think this is finished now, correct?

[2020-10-16 18:43] adrianludwin commented on #1133
@GinnyJI I believe this is done, correct?

[2020-10-16 18:43] adrianludwin commented on #1133
Did we link to the doc as we said we would?

[2020-10-16 18:44] adrianludwin commented on #1102
@yiqigao217 @GinnyJI is there anything more we need to do for this?

[2020-10-16 18:44] adrianludwin commented on #989
@yiqigao217 are we still seeing this?

[2020-10-16 19:17] #671 closed

[2020-10-16 19:17] #690 closed

[2020-10-16 20:34] rajibmitra commented on #623
hi @adrianludwin thank you for the starting points, I will work on the test case now.

[2020-10-16 20:35] adrianludwin commented on #623
/remove-lifecycle stale

Thanks!

[2020-10-18 04:40] #1107 closed

[2020-10-18 04:55] JimBugwadia commented on #935
This was completed. Closing.

[2020-10-18 04:55] #935 closed

[2020-10-18 04:59] JimBugwadia opened #1196 "[MTB] allow user to supply a second namespace and tenant admin for PL2 checks"
Currently kubectl-mtb allows:

[code]

For PL2 tests we need another tenant namespace and admin. We can extend mtb to allows this as:

[code]

[2020-10-18 04:59] JimBugwadia commented on #693
The current plan is to allow the user to pass in the 2nd ns and user. See: https://github.com/kubernetes-sigs/multi-tenancy/issues/1196.

[2020-10-18 05:00] JimBugwadia commented on #693
/close

[2020-10-18 05:00] #693 closed

[2020-10-18 05:03] JimBugwadia commented on #874
closing this. we will log separate issues for each required benchmark.

/close

[2020-10-18 05:03] #874 closed

[2020-10-18 05:04] JimBugwadia commented on #1111
The current plan is to allow the user to pass in a 2nd namespace, so mtb does not need to create more namespaces. Closing this issue.

/close

[2020-10-18 05:04] #1111 closed

[2020-10-18 06:22] JimBugwadia opened #1197 "[MTB] Block access to other tenant resources"
Add a new test to ensure a tenant cannot read / write / delete other tenant resources.

Requires: https://github.com/kubernetes-sigs/multi-tenancy/issues/1196

[2020-10-18 06:26] JimBugwadia opened #1198 "[MTB] Require PersistentVolumeClaim for storage"
Add test to disallow all volume types except PVCs.

From [Standardized Pod Security Profiles](https://docs.google.com/document/d/1d9c4BaDzRw1B5fAcf7gLOMZSVEvrpSutivjfNOwIqT0/edit#)

[code]

Requires: https://github.com/kubernetes-sigs/multi-tenancy/issues/1196

[2020-10-18 06:30] JimBugwadia opened #1199 "[MTB] Require PV reclaim policy of delete"
Add a test to ensure that a PV cannot be reclaimed

Requires: #1196

[2020-10-18 06:37] JimBugwadia opened #1200 "[MTB] Block use of existing PVs"
Add a benchmark to make sure an existing PV cannot be claimed by a different tenant

Requires: #1196

[2020-10-18 06:39] JimBugwadia opened #1201 "[MTB] Block network access across tenant namespaces"
Add test to ensure that tenants cannot access services and pods in another tenant's namespaces

Requires: #1196

[2020-10-18 06:43] JimBugwadia opened #1202 "[MTB] Allow self-service management of Roles"
Add a test to check if a tenant admin can create additional roles

Requires: #1196

[2020-10-18 06:43] JimBugwadia opened #1203 "[MTB] Allow self-service management of Role Bindings"
Add a test to check if a tenant admin can create additional role bindings

Requires: #1196

[2020-10-19 13:41] yiqigao217 commented on #885
Fixed by #1026

[2020-10-19 13:41] #885 closed

[2020-10-19 13:55] yiqigao217 commented on #989
Yes, it's still the exact same and it feels even longer (which may be quite random as long as the error and log msg are the same).

[2020-10-19 13:58] yiqigao217 commented on #1167
Masking the `k get events` with `k hns describe` is done in #1192

[2020-10-19 13:58] #1167 closed

[2020-10-19 14:20] GinnyJI opened #1206 "HNC: validate `hnc.x-k8s.io` annotations"
We should check for any unwanted `hnc.x-k8s.io` fields. For example, we are looking for `propagate.hnc.x-k8s.io/select` but NOT `propagate.hnc.x-k8s.io/selector`. We should prevent the user from setting the latter one.

[2020-10-19 14:20] GinnyJI commented on #1206
/cc @adrianludwin

[2020-10-19 16:05] yiqigao217 opened #1207 "HNC: Update documentations on "kubectl-hns config set-type" after schema change"
Since we changed the HNCConfig.Spec.Types schema into {group, resource} (GR) from {apiVersion, kind} (GVK) #1194 , we will need to update the documentation, especially in user guide, by replacing
`kubectl hns config set-type --apiVersion [group_name]/[version_name] --kind [kind_name] [mode]`
with
`kubectl hns config set-type --group [group_name] --resource [resource_name] [mode]`

Part of #868

[2020-10-19 16:24] yiqigao217 commented on #1133
fixed by #1169 .
Doc link -  http://bit.ly/hnc-propagation-conflict

[2020-10-19 16:24] #1133 closed

[2020-10-19 16:26] yiqigao217 commented on #1102
The implementation is done, so closing this.
We just need to update the doc see #1172

[2020-10-19 16:26] #1102 closed

[2020-10-19 16:28] yiqigao217 commented on #1076
I would say yes, since #1120 is a rare corner case that we thought it was not a rush and could be done later, so we may close this for now.

[2020-10-19 16:35] adrianludwin commented on #1076
/close

On Mon, Oct 19, 2020 at 12:29 PM Yiqi Gao <notifications@github.com> wrote:

[2020-10-19 16:36] #1076 closed

[2020-10-19 21:18] yiqigao217 opened #1208 "HNC: Update the hack in hncconfig CRD conversion from kind to resource"
Currently, in #1194 , we hacked the kind-to-resource conversion in hncconfig CRD conversion with string manipulation for easy implementation. It may cause `notFound` error if the configured type is a CRD that doesn't use plural form as the resource name.

To make it robust, we will have to introduce a client in the CRD conversion to look up the right resource for the kind in the apiserver.

[2020-10-20 17:39] yiqigao217 opened #1210 "HNC: Update user guide on API conversion"
See 3 corner cases of v1a1 propagated objects after API conversion.

We will suggest in the document:
1. No mode change before conversion;
2. No deletion before conversion;
3. For types with `ignore` mode, the previously propagated objects (if possible, when the mode was previously set at `propagate`) will be considered as source after API conversion.

Part of #868

[2020-10-21 13:56] adrianludwin commented on #1123
This isn't _required_ for HNC v0.6 to moving to v0.7. However much we can get done in v0.6 is what we'll release.

[2020-10-21 13:57] adrianludwin commented on #989
So how are the conversion tests passing?

[2020-10-21 14:51] yiqigao217 opened #1213 "HNC: Remove enforce types from hncconfig.spec"
Part of #868
See doc http://bit.ly/hnc_v1alpha2

We will move Role and RoleBinding (both with `Propagate` mode) configuration out of hncconfig.spec. This change will contain two parts:
1. Reconciler & validator changes
2. CRD schema validation on the hncconfig.spec.types that no `roles` or `rolebindings` are allowed.

[2020-10-21 17:46] adrianludwin commented on #989
Discussed offline. The tests use the full name (`subnamespaceanchor.hnc.x-k8s.io`), not the short name (`subns`). It's only the latter that is slow; the former works ~instantly.

I doubt this is a problem with HNC itself; it seems more like a K8s discovery issue. I'm going to take this out of v0.6 for now.

[2020-10-21 17:47] adrianludwin commented on #989
Let's at least have a look in v0.7 to see if there's anything we can do, but this might just turn into a bug against K8s (assuming there isn't one already).

[2020-10-21 18:31] adrianludwin commented on #1154
Per https://stuartleeks.com/posts/error-back-off-with-controller-runtime/, errors are retried with an exponential backoff topping out at 1000 seconds (~15m). This can be overridden here: https://pkg.go.dev/sigs.k8s.io/controller-runtime@v0.6.3/pkg/controller#Options

Still not sure why the RB without the role couldn't be propagated.

[2020-10-21 18:44] adrianludwin commented on #1154
Verified that I can create a rolebinding without an associated role by hand with kubectl. Need to check to see why HNC can't propagate it.

We can create our own rate limiter with https://pkg.go.dev/k8s.io/client-go/util/workqueue#NewItemFastSlowRateLimiter. I suspect that a 1s/5s fast/slow delay would work fairly well.

[2020-10-21 19:05] adrianludwin opened #1214 "HNC: if a propagated object isn't deleted, there's no way to delete it later"
The validating admission webhook won't let you delete anything with `inherited-from` and also won't let you delete that label. However, if the original object is now gone and the object reconciler didn't delete propagated copy, that makes it impossible to delete the object, and hence the namespace.

We should probably always allow object deletions if the namespace is being deleted.

[2020-10-21 19:05] adrianludwin commented on #1214
I noticed this when the e2e tests got stuck.

[2020-10-22 14:19] Divya063 commented on #983
/assign @Divya063

[2020-10-22 14:22] yiqigao217 commented on #374
/remove-lifecycle stale

[2020-10-22 14:29] GinnyJI opened #1218 "HNC: metav1.StatusReasonInvalid produce double colons when formatting error message"
metav1.StatusReasonInvalid produces `The request is invalid: : ` which has repeated colons

[2020-10-22 14:29] GinnyJI commented on #1218
/cc @adrianludwin

[2020-10-22 14:55] adrianludwin commented on #1218
/good-first-issue

[2020-10-22 16:02] adrianludwin opened #1220 "HNC: flaky e2e test while deleting anchor CRD"
Seen while testing an unrelated change:

[code]

Looking at the code, we create the anchor and then immediately delete the CRD, without waiting for the subns to be created. I'll bet that waiting _before_ we delete the CRD would fix this.

[2020-10-22 19:05] yiqigao217 opened #1222 "HNC: Add NamespaceConditions to `kubectl hns config describe` too"
Currently `kubectl hns config describe`  only shows HNCConfig's own conditions `status.conditions`, but not the `status.namespaceConditions`, e.g.
`kubectl get hncconfigurations.hnc.x-k8s.io config -oyaml` returns
[code]
while they are not included in:
[code]

[2020-10-22 19:37] yiqigao217 commented on #1213
Update: since the schema validation cannot accurately enforces no `roles` or `rolebindings` RBAC configurations in the spec, we will use webhook to do the validation and if the webhook is bypassed, we will set `MultipleConfigurationForType` condition.

For example, schema validation can use regex (very hard in golang since negative lookahead is not supported) to validate the `spec.resource` field

[2020-10-22 20:10] adrianludwin commented on #1213
I think this is Javascript regex validation, not golang - CRD schema is
done via OpenAPI 3.0 which uses the ECMA standard.

Otherwise this all sgtm

On Thu, Oct 22, 2020 at 3:38 PM Yiqi Gao <notifications@github.com> wrote:

[2020-10-22 20:47] yiqigao217 commented on #1213
I actually tested it and got this error which is specific for golang https://www.google.com/search?q=error+parsing+regexp%3A+invalid+or+unsupported+Perl+syntax%3A+%60(%3F!%60&rlz=1CAVNXA_enCA849&oq=error+parsing+regexp%3A+invalid+or+unsupported+Perl+syntax%3A+%60(%3F!%60&aqs=chrome..69i57.556j0j7&sourceid=chrome&ie=UTF-8.

[2020-10-22 20:48] adrianludwin commented on #1213
Oh cool! Good to know.

[2020-10-22 21:09] adrianludwin commented on #1165
We'll try to get as much of this done in v0.6 as possible but it's not blocking.

[2020-10-23 15:18] yiqigao217 opened #1226 "HNC: Limit conditions to list maximum 3 in v1alpha2"
Part of #868
See doc http://bit.ly/hnc_v1alpha2

There are 3 "conditions" fields in the HNC CRDs, `hc.status.conditions`, `hncconfig.status.conditions` and `hncconfig.status.namespaceConditions`.

I believe we only need to limit the length of the affected namespaces in `hncconfig.status.namespaceConditions`, since the other two only lists the local conditions that makes sense to list all. CMIIW

A

[2020-10-23 15:19] yiqigao217 commented on #1226
@adrianludwin  this is how I implemented so far and would like to confirm with you. I will submit the PR shortly.

[2020-10-23 17:44] adrianludwin opened #1229 "HNC: Exclude kube-node-lease from HNC"
Noticed that we're creating hierarchy configs in this namespace but not the other `kube-` namespaces

[2020-10-23 18:04] adrianludwin commented on #1155
I wasn't able to reproduce this problem but the test is reenabled with additional logging information in #1230 to catch it if it ever pops up again.

[2020-10-23 19:08] adrianludwin commented on #1154
I spent a bunch of time looking into why a rolebinding without a role might be rejected on the client side but couldn't find anything. I'm asking around for help.

[2020-10-23 19:30] yiqigao217 commented on #1226
Update: per discussion https://github.com/kubernetes-sigs/multi-tenancy/pull/1227#issuecomment-715457073 , we now convert the `hncconfig.status.namespaceConditions` into just `hncconfig.status.conditions` with a `NamespaceCondition` type.

It will look like:
[code]

[2020-10-23 19:34] adrianludwin commented on #1226
👍

On Fri., Oct. 23, 2020, 3:30 p.m. Yiqi Gao, <notifications@github.com>
wrote:

[2020-10-23 20:53] #1155 closed

[2020-10-23 20:53] yiqigao217 commented on #1155
sg and FYI I was not reproduce it on my new cluster either.

[2020-10-25 01:08] kailinwei commented on #1218
I would like to work on this, would you mind assign me in?

[2020-10-26 04:50] yoonmac opened #1232 "VC: kubectl vc exec terminal: cmd is cut"
1. exec vc

[root@vc:flink/unmanaged--1042202607 ~]# kubectl get svc -A|grep kuber
default       kubernetes           ClusterIP      10.0.0.1       <none>          443/TCP                  15h

2. in vc terminal, press "ctr" + "R" to search cmd
(reverse-i-search)`kube': kubectl get svc -A|grep kuber

3. select specified cmd, modify/delete/add some words,  u will find that cmd word is cut

[2020-10-26 11:52] adrianludwin commented on #1218
I probably can't formally assign it to you (you need to be a member of
kubernetes-sigs - if you are, please assign it to yourself) but feel free
to go ahead and work on it!

On Sat, Oct 24, 2020 at 9:08 PM kailinwei <notifications@github.com> wrote:

[2020-10-26 12:26] adrianludwin commented on #1154
Ah, it turns out only superusers can create rolebindings without roles, otherwise you'd get privilege escalation.

[2020-10-26 14:55] #1213 closed

[2020-10-26 15:31] #1226 closed

[2020-10-26 17:17] #1220 closed

[2020-10-26 17:43] yiqigao217 commented on #868
Closing this since the implementation is done and all the open "sub" issues are updating docs or not related to API conversion (#989)

[2020-10-26 17:43] #868 closed

[2020-10-26 18:26] adrianludwin commented on #1154
As is often the case, @liggitt identified the problem and suggested the following fix to k/k:

Adding context to the error would be a good idea. I think the caller would get a NotFound error when a Forbidden error would make more sense.

I'll file a bug to k/k for that and focus on improving the retry behaviour here.

[2020-10-26 18:31] adrianludwin commented on #1154
Back to the issue at hand - I verified that if I waited long enough after creating the role, the rolebinding was eventually propagated as expected.

[2020-10-26 21:47] yiqigao217 commented on #1222
Obsolete since we have removed `namespaceConditions` field and set them as conditions with `namespaceCondition` type. See #1227

[2020-10-26 21:47] #1222 closed

[2020-10-26 22:15] kailinwei commented on #1218
Hello Adrian,
  Thank you. This is my first time using github, so glad to get my first
feedback.
Have a nice day!
Kailin

On Mon, 26 Oct 2020 at 04:52, Adrian Ludwin <notifications@github.com>
wrote:

[2020-10-26 23:53] yiqigao217 commented on #1208
Closing this per https://github.com/kubernetes-sigs/multi-tenancy/pull/1194#discussion_r508588973

[2020-10-26 23:53] #1208 closed

[2020-10-27 01:55] adrianludwin commented on #852
/remove-lifecycle stale

On Mon, Oct 26, 2020 at 4:13 PM fejta-bot <notifications@github.com> wrote:

[2020-10-27 01:57] #1158 closed

[2020-10-27 02:05] frbimo commented on #1158
a question, @adrianludwin any chance for me to join the repo?

[2020-10-27 02:38] frbimo opened #1238 "HNC: kubectl supports case-insensitive mode"
Currently, kubectl-hnc doesn't support all-lowercase mode

[code]

[2020-10-27 02:38] frbimo commented on #1238
/cc @adrianludwin

[2020-10-27 04:06] #1232 closed

[2020-10-27 16:10] #1207 closed

[2020-10-27 17:23] adrianludwin opened #1241 "HNC: detect namespace deletion without a controller"
#1236 checks whether a namespace is being deleted in the reconciler, then uses that data in the object validator. Ideally, the object validator would just do the check itself, but it doesn't have a client. I'm sure there's a way to do this which would allow us to get rid of this coupling.

/good-first-issue

[2020-10-27 17:32] #1214 closed

[2020-10-27 17:50] #1154 closed

[2020-10-27 17:56] #973 closed

[2020-10-27 17:56] #1006 closed

[2020-10-27 19:05] #1172 closed

[2020-10-27 19:05] #1181 closed

[2020-10-27 19:39] yiqigao217 commented on #916
Just adding more:
1. Condition schema is changed; `Crit` conditions are changed to `ActivitiesHalted`; Object conditions are replaced by events; `namespaceConditions` field is merged into `conditions` field in HNCConfig
1. Enforced types `roles` and `rolebindings` are removed from HNCConfig spec
1. Sync modes are changed to camel case.

[2020-10-27 19:56] adrianludwin commented on #916
Ok, draft release notes are up at https://github.com/kubernetes-sigs/multi-tenancy/releases/tag/hnc-v0.6.0-rc1. PTAL!

[2020-10-27 20:46] yiqigao217 commented on #1210
Closing this since they are added in the release note https://github.com/kubernetes-sigs/multi-tenancy/releases/tag/hnc-v0.6.0-rc1

[2020-10-27 20:46] #1210 closed

[2020-10-29 10:41] phoenixking25 commented on #1196
/assign @phoenixking25 , ping me if anyone wants to work on this on priority basis

[2020-10-29 14:22] adrianludwin opened #1249 "HNC: don't delete old managedBy annotation"
HNC should ignore the old `managedBy` annotation if the new `managed-by` annotation is present, but should not delete it. By definition, `managedBy` is set by an external source (such as GKE ConfigSync) which will attempt to restore it if it's removed, leading to exactly the kind of "war" between HNC and external systems that `managedBy` was supposed to prevent.

[2020-10-29 18:35] christopherhein commented on #1007
/close this was merged

[2020-10-29 18:35] christopherhein commented on #1007
/close

this was implemented in the merged PRs

[2020-10-29 18:36] #1007 closed

[2020-11-03 18:48] phoenixking25 commented on #1203
We have already this benchmark :https://github.com/kubernetes-sigs/multi-tenancy/tree/master/benchmarks/kubectl-mtb/test/benchmarks/create_role_bindings

[2020-11-03 18:49] phoenixking25 commented on #1202
Already done this https://github.com/kubernetes-sigs/multi-tenancy/tree/master/benchmarks/kubectl-mtb/test/benchmarks/create_role_bindings

[2020-11-03 19:14] #969 closed

[2020-11-03 19:16] phoenixking25 commented on #1104
/assign @phoenixking25 , ping me if anyone wants to work on this on priority basis

[2020-11-03 19:24] JimBugwadia commented on #1104
@phoenixking25 - am thinking about what level of reuse makes the most sense. We could refactor the benchmark tests to a separate reusable package but still have separate CLIs for running each set of tests.  For example:

kubectl mtb run --as <user> -n <namespace>

kubect pss run --profile default

(the second command is for pod security standards: https://kubernetes.io/docs/concepts/security/pod-s

[2020-11-03 22:21] adrianludwin opened #1254 "HNC: restrict recreate-on-failed-update semantics to Rolebindings"
HNC will delete and recreate any object that it can't update; we did this to support modifying rolebindings, but it applies to any type. However, I just realized that if another object has an ownerReference pointing to the object we're deleting, it could be deleted as well, which isn't what we want. This is almost certainly not a problem for rolebindings but could be a problem for other arbitrary

[2020-11-03 22:21] adrianludwin commented on #1254
/assign @GinnyJI

[2020-11-04 15:36] adrianludwin commented on #748
@liggitt, @mikedanese  - the v1alpha2 API is now implemented as agreed. Can we close this issue as being completed?

[2020-11-04 15:39] adrianludwin commented on #876
/assign @GinnyJI

This would be a nice simplification and cleanup.

[2020-11-04 16:35] liggitt commented on #748
sgtm

[2020-11-04 16:56] adrianludwin commented on #748
Thanks!
/close

On Wed, Nov 4, 2020 at 11:35 AM Jordan Liggitt <notifications@github.com>
wrote:

[2020-11-04 16:56] #748 closed

[2020-11-05 15:53] ledroide opened #1255 "HNC : logs "http: TLS handshake error from x:x remote error: tls: bad certificate""
Hello,
The _manager_ container from _hnc-controller-manager_ deployment show continuously lots of logs like this :
[code]
Does it show an actual issue ? If not, how can we disable the handshakes attempts, or do not log these attempts ?

[2020-11-05 18:20] adrianludwin commented on #1255
Are you able to modify any HNC workloads? Did you modify the YAML files in
any way?

I think we can expect errors like this for a short period of time when HNC
is *first* installed, before the certificates have been created and
distributed. But they should stop within the first 30s and should never
recur.

On Thu, Nov 5, 2020 at 10:53 AM Serge Hartmann <notifications@github.com>
wrote:

[2020-11-06 14:16] ledroide commented on #1255
* I did not modify the hnc-manager.yaml all-in-one file
* container image name is gcr.io/k8s-staging-multitenancy/hnc-manager:v0.6.0
* this log is still displayed continuously after 22h running
[code]
[code]
I cannot define a parent to a namespace
[code]
Maybe the errors above are not the same issue, but anyway it does not work and messages talk about certificates.

Serge

[2020-11-06 14:19] adrianludwin commented on #1255
Ahh I think you need to upgrade to the new version of kubectl-hns - those
logs show a problem with hnc.x-k8s.io/v1alpha1, which was the API version
used by 0.5. But 0.6 uses v1alpha2 and requires the latest kubectl-hns. See
if that helps?

On Fri, Nov 6, 2020 at 9:16 AM Serge Hartmann <notifications@github.com>
wrote:

[2020-11-06 14:30] ledroide commented on #1255
That's what I suspected at first, but if you read my output, there is the check :
[code]
I had some difficulties during upgrade from v0.5.0 to v0.6.0 (messages about remaining CRDs), some I have delete all resources from v0.5.0 manifests, then I deleted namespace hnc-system, then I deployed v0.6.0 from the new all-in-one manifest.

However I still got references from the old API :
[code]
[code]
[c

[2020-11-06 18:54] adrianludwin commented on #1255
I'm not sure what you mean by "references from the old API?" All those
outputs are valid for the new API as well - nothing there mentions v1alpha1.

Just to confirm - did you delete your validating webhook config?

kubectl delete validatingwebhookconfigurations.admissionregistration.k8s.io
hnc-validating-webhook-configuration

And then try recreating that? And once you do, try restarting the HNC p

[2020-11-06 18:55] adrianludwin commented on #1255
Also can you give any more insight about the problem you had upgrading?
What were the "messages about remaining CRDs?

/cc @yiqigao217

On Fri, Nov 6, 2020 at 1:54 PM Adrian Ludwin <aludwin@google.com> wrote:

[2020-11-06 21:30] #876 closed

[2020-11-09 14:17] yiqigao217 commented on #1255
It looks like you were upgrading when the certs were not there, so the conversion webhooks cannot work either. Before your upgrade, did the validating webhooks work for your in v0.5?

[2020-11-10 07:05] tsunny commented on #1241
@adrianludwin - I would like to contribute to this issue. Could you please assign this to me?

Thanks,
Sunny

[2020-11-10 13:02] adrianludwin commented on #1009
/remove-lifecycle stale

On Mon, Nov 9, 2020 at 10:47 PM fejta-bot <notifications@github.com> wrote:

[2020-11-10 13:02] adrianludwin commented on #749
/remove-lifecycle stale

On Mon, Nov 9, 2020 at 10:47 PM fejta-bot <notifications@github.com> wrote:

[2020-11-10 14:25] adrianludwin commented on #1241
Hi Sunny, are you a member of kubernetes-sigs? If not, I can't formally
assign it to you but either way, please feel free to go ahead and start
working on it!

On Tue, Nov 10, 2020 at 2:05 AM Sunny Tulsi <notifications@github.com>
wrote:

[2020-11-11 07:22] JaneLiuL opened #1260 "windows how to use hns within kubectl"
Windows platform, when I download https://github.com/kubernetes-sigs/multi-tenancy/releases/download/hnc-v0.6.0/kubectl-hns_darwin_amd64 and put on the bin folder,  how to use
Now When I try "kubectl hns tree -A" on windows CMD, will fail said "Error: unknown command "hns" for "kubectl""

[2020-11-11 18:38] Fei-Guo opened #1261 "[VC] The syncer RBAC settings for PriorityClass and Ingress are missing"
We should add them into all_in_one.yaml at least for now.

[2020-11-11 18:38] Fei-Guo commented on #1261
/assign @weiling61

[2020-11-11 18:46] adrianludwin commented on #1260
We don't pre-build Windows executables so the HNS plugin won't work on
Windows. If you have a Go toolchain you should be able to compile it for
yourself and it *should* work, but since none of the HNC developers have
Windows workstations, we're not able to test it ourselves. If you can build
it and it works, we can add it to our release process.

Will you be able to help with that?
Thanks!

On Wed

[2020-11-11 19:04] christopherhein commented on #1261
Do we want them included by default since they default "off" in the controller?

[2020-11-11 21:28] Fei-Guo commented on #1261
Either we add them by default, or we add instructions somewhere otherwise people may get stuck when they enable the new resources.

[2020-11-12 03:32] tsunny opened #1262 "Fix issues with local development on MacOS"
Noticed the following issues when building the project locally on MacOS

1. **kustomize** binary in hack folder is in linux format and will not work on mac. kustomize installed on MAC will be in **/usr/local/bin/kustomize**. Would be nice to pick this up automatically

2. **kubectl make target** - Works only for linux

3.  Few scripts in hack uses **sed** The sed installed on OSX is not the same a

[2020-11-12 16:18] ledroide commented on #1255
@yiqigao217 : yes, validation webhooks worked with hnc v0.5.0

@adrianludwin : I have deleted validatingwebhookconfigurations.admissionregistration.k8s.io/hnc-validating-webhook-configuration and re-created the hnc-system with v0.6.0.

Here is the situation now :
[code]
[code]
[code]
[code]
[code]

[2020-11-12 16:34] adrianludwin commented on #1255
Ahh, looks like your CRDs are in a bad state. "create not allowed while
custom resource definition is terminating" is a K8s error, not an HNC error.

I'd try fully deleting HNC again, but this time, make sure that the CRDs
have been deleted. If they haven't, it's likely because there are some CRs
that have finalizers on them. If that's the case, you can manually remove
the finalizers.

I've seen t

[2020-11-13 00:28] christopherhein commented on #1261
/close

[2020-11-13 00:29] #1261 closed

[2020-11-13 13:42] ledroide commented on #1255
Solved.
**TL;DR**:
* delete hnc manager from all-in-one manifest : `kubectl apply -f hnc-manager.yaml`
* delete webhook configurations : `kubectl delete validatingwebhookconfigurations.admissionregistration.k8s.io/hnc-validating-webhook-configuration`
* check what is remaining stuck : `kubectl get customresourcedefinition,validatingwebhookconfiguration -o wide | grep hnc`
* edit manually (`kubectl

[2020-11-13 13:48] #1255 closed

[2020-11-14 14:20] frbimo commented on #1238
/assign

[2020-11-15 17:21] venkatnsrinivasan opened #1269 "HNC:E2E tests failing"
I checked out the latest master branch for HNC and tried running the e2e tests. There seem to a lot of failures with the messages

[1605319933] Running:  [kubectl delete ns recover-test-a]
Output (failed):  Error: exit status 1
Output: Error from server (Forbidden): admission webhook "namespaces.hnc.x-k8s.io" denied the request: Please set allowCascadingDeletion in the parent namespace.

If i swit

[2020-11-15 20:46] adrianludwin commented on #1269
/assign @GinnyJI

[2020-11-15 20:46] adrianludwin commented on #1269
Thanks for the report! We're trying to get the e2e tests running as
postsubmits to prevent exactly this kind of problem.

On Sun, Nov 15, 2020 at 12:21 PM Venkat Srinivasan <notifications@github.com>
wrote:

[2020-11-15 21:01] #1238 closed

[2020-11-15 21:35] adrianludwin opened #1270 "HNC: use v1 for CRDs and webhooks"
See [this comment](https://github.com/kubernetes-sigs/multi-tenancy/issues/1255#issuecomment-726771166). As of K8s 1.16, v1beta1 is deprecated and v1 is available, and we now only support K8s 1.16 and higher.

[2020-11-15 21:39] adrianludwin commented on #1255
Ugh, sorry you ran into so much trouble. I've filed #1270 to fix the warnings.

I'm not sure what caused the problems in the first place, but once you delete the deployment, it's not surprising that the CRD conversion webhooks fail. It's usually best to delete the CRs _before_ the deployment because the manager is what typically removes the finalizers - but if we get into a bad enough state, it mi

[2020-11-16 20:46] droopy4096 opened #1273 "HNC: RBAC-enabled AKS cluster won't authorize subnamespace creation"
# Setup

* Kubernetes 1.16.15 AKS cluster
* HNS/HNC 0.5.3
* Azure RBAC (https://docs.microsoft.com/en-us/azure/aks/manage-azure-rbac)

# Issue

[code]

after tweaking our RBAC:

[code]
it still errors out, but with a different message which isn't too descriptive:

[code]

[2020-11-16 21:07] adrianludwin commented on #1273
Thanks for this report! To try to narrow down the potential problem, can
you try giving the create-subnamespace role (ClusterRole?) *all* possible
verbs on the subnamespaceanchors resource? I've never tried to give out the
"create" verb separately from "get" and "list" - I've always assumed that
the former implies the latter.

Failing that, I'll try to have a look on my side but I don't personally

[2020-11-16 22:34] SailingYYC commented on #1273
@adrianludwin In the example above, the user via group aggregation has all the permissions:

[code]

[2020-11-16 22:36] adrianludwin commented on #1273
The original error message was _before_ you set those RBAC rolebindings up,
correct?

If you type `kubectl get crds | grep hnc`, do you see the expected CRDs
listed?

Finally, can you confirm that you're using the v0.5.3 kubectl plugin? The
v0.6.0 plugin uses a different API version than HNC v0.5.3 and that could
cause the error message you're seeing.

On Mon, Nov 16, 2020 at 5:34 PM Colin Cyr <no

[2020-11-17 15:55] droopy4096 commented on #1273
@adrianludwin here are some responses:

* original error message was with RBAC that had no rules for HNC whatsoever
*  CRDs seem to be in place:

[code]
* it's a `v0.5.3` deploy: `image: gcr.io/k8s-staging-multitenancy/hnc/controller:v0.5.3`
* running tests with developer after adding `list`, 'get' and 'watch` into verbs did solve it

I am puzzled as @SailingYYC mentioned that aggregated permissio

[2020-11-17 16:08] adrianludwin commented on #1273
Quick q - are both you (@droopy4096 ) and @SailingYYC working together on this? I see you're both in Alberta (I'm in YYZ so we can easily find a time to chat if we need to resolve this via video).

When I asked about the version, I meant the version of kubectl-hns (on your workstation), not the deployed image. E.g. if you type "kubectl hns version," it should _not_ return anything before v0.6.0. I

[2020-11-17 16:11] adrianludwin opened #1274 "HNC: update user guide to v1alpha2"
I just noticed that we explicitly use v1alpha1 in the quickstart [EDIT: actually the howto, not the quickstart], but v0.6 uses v1alpha2.

/assign @GinnyJI

Ginny, can you please fix this when you get the chance in both the v0.6 branch and on `master`? I'd make the change on the branch first and then use `git cherry-pick` to make the same change on `master`.

[2020-11-17 18:34] adrianludwin opened #1275 "HNC: if (conversion?) webhooks get into a bad state, cert-rotator can no longer update their secrets"
We've had external reports (#1255 - @ledroid) that you can get TLS handshake errors (due "signed by an unknown authority") if HNC gets into a sufficiently bad state, and @GinnyJI has seen this happen once. But we have no idea how to reproduce it or fix it, short of fully uninstalling HNC. However, when we're in a bad state, we can't uninstall the CRDs, because their conversion webhooks don't work

[2020-11-17 19:04] droopy4096 commented on #1273
@adrianludwin that is correct @SailingYYC and myself are employees at the same org :)

I will reach back to developer as there is a chance their `kubectl-hns` version is 0.6.0.... I'll make sure. thanks for the pointer.

[2020-11-17 19:05] adrianludwin commented on #1273
Thanks, let me know!

On Tue, Nov 17, 2020 at 2:05 PM Dmitry Makovey <notifications@github.com>
wrote:

[2020-11-18 01:08] venkatnsrinivasan commented on #1269
Thanks. I got around this  'fixing' the e2e tests temporarily by adding
		TryRunQuietly("kubectl hns set", ns, "--allowCascadingDeletion")
to "CleanupNamespaces"
3 tests still fail for issue #716 which i am not sure are applicable anymore.
If you think this is the right approach and want me to open a PR , do let me know.

Thanks

[2020-11-18 02:55] GinnyJI commented on #1269
Hi, thanks for the update! We are looking at this issue now, and it seems like we need more investigation.

I am able to reproduce this issue, and have got three failed tests
[code]

And if I run these test commands by hand with a freshly deployed HNC, all of them passes. However, if I manually test them right after running e2e tests, they would fail. The validating webhook does not check if the d

[2020-11-18 16:00] droopy4096 commented on #1273
@adrianludwin that is correct @SailingYYC and myself are employees at the same org :)

Indeed developer was using 0.6.0 so after dropping client down to 0.5.3 things seem to operate as expected.

[2020-11-18 16:04] adrianludwin commented on #1273
That's great to hear, thanks!

Would you be comfortable sharing how you're using HNC? Are the scenarios in the user guide useful and meaningful to you, or are you using them in some other way?

[2020-11-18 16:09] droopy4096 commented on #1273
it's the "permission propagation" and allowing users to create their own namespaces what we're using HNC for.

[2020-11-18 16:23] adrianludwin commented on #1273
Great, thanks! LMK if you have any other issues with it, and watch out for
Exceptions in v0.7 (upcoming) to limit permission propagation to subsets of
namespaces.

/close

On Wed, Nov 18, 2020 at 11:10 AM Dmitry Makovey <notifications@github.com>
wrote:

[2020-11-18 16:23] #1273 closed

[2020-11-19 02:14] venkatnsrinivasan commented on #1269
Thanks for the update. It is interesting . I have 3 tests failed too after my patch but those are different ones. I did run with the HNC_REPAIR path set.

Summarizing 3 Failures:

[Fail] Namespace [It] should have 'ParentMissing' condition on orphaned namespace
/Users/venkat/development/projects/kubernetes-sigs/multi-tenancy/incubator/hnc/test/e2e/namespace_test.go:43

[Fail] Issues [It] Should ha

[2020-11-19 09:54] JaneLiuL opened #1276 "uninstall multi-tenancy fail"
I just delete multi-tenancy namespace: `kubectl delete ns hnc-system`
Then I find my cluster something wrong now, allows tell me "service "hnc-webhook-service" not found" and something related.

Even now I try to use ` kubectl apply -f https://github.com/kubernetes-sigs/multi-tenancy/releases/download/hnc-v0.5.1/hnc-manager.yaml`  to install, still said
"""
failed calling webhook "namespaces.hnc.x

[2020-11-19 10:04] #1276 closed

[2020-11-19 10:04] JaneLiuL commented on #1276
I try to delete the webhook and fix the issue right now.
`kubectl delete validatingwebhookconfiguration.admissionregistration.k8s.io hnc-validating-webhook-configuration`

[2020-11-20 11:18] irmishappy opened #1280 "VirtualCluster demo instructions"
Following demo instructions, failing to launch etcd-0.
kubectl version
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.15"...
Steps used:
[code]
Output from last command: cannot find sts/etcd in ns default-952ef2-vc-sample-1: default-952ef2-vc-sample-1/etcd is not ready in 120 seconds

And here some logs from failing etcd pod:
2020-11-20 11:14:36.618875 I | embed: advertise c

[2020-11-20 14:36] #1109 closed

[2020-11-20 17:40] #1269 closed

[2020-11-20 21:40] irmishappy commented on #1280
Resolved.
In my case coredns service was not responding. Did not check it before.
Resolved changing default Forward policy:
iptables -P FORWARD ACCEPT

[2020-11-20 21:40] #1280 closed

[2020-11-21 07:05] Jeffwan opened #1282 "Why does HNC use x-k8s.io suffix instead of k8s.io"
When I install hnc, I notice crd name ends with `x-k8s.io`. I am just curious any reason to use this suffix :D

[code]

[2020-11-21 15:47] adrianludwin commented on #1282
I forget when it happened, but only "core" Kubernetes objects are supposed
to use the ".k8s.io" suffix from now on. Any non-core object from a
Kubernetes SIG or WG - such as HNC - is supposed to use ".x-k8s.io"
("Kubernetes eXtension," I believe) instead. Hope this helps!

Cheers, A

/close

On Sat, Nov 21, 2020 at 2:05 AM Jiaxin Shan <notifications@github.com>
wrote:

[2020-11-21 15:47] #1282 closed

[2020-11-21 16:56] venkatnsrinivasan commented on #1043
Hi
I attempted to try and work on this issue and opened a PR here
https://github.com/kubernetes-sigs/multi-tenancy/pull/1283 . Any suggestions and guidance are welcome . hopefully the PR is on the right path

Thanks

[2020-11-23 01:20] adrianludwin opened #1285 "HNC: subnamespaces are deleted because we don't realize CRDs are being deleted"
The "should not delete subnamespace" test in `delete_crd_tests.go` is flaky and fails maybe 20% of the time. This is fairly important because this is our only line of defense when uninstalling HNC - when you delete the CRDs, the subnamespaces are _not_ supposed to be deleted.

According to the logs, HNC simply fails to notice that the CRDs are being deleted. A subsequent reconcile about 0.1s later

[2020-11-23 05:48] Jeffwan opened #1286 "[HNC] Is it possible for controllers to watch subnamespace resources?"
My org may consider to use HNC to resolve hierarchical namespace challenges. We have some controllers and want to install them in every subnamespace and make sure every user has their own control plane.

We want deploy controller in every subnamespace and only watch events at subnamespace level. is it impossible?  Seems sub namespace it is backed by Kubernetes namespace. We think it's possible to

[2020-11-23 20:16] adrianludwin commented on #1286
That would have to depend on the controller you're installing. I believe
the Go clients *can* set up watches on individual namespaces, and since HNC
subnamespace are simply K8s namespaces, that will work. However, the
controller has to be designed to be configurable so that it can set up the
watch on the correct namespace.

It's not possible to watch a *tree* of namespaces, since trees are HNC-onl

[2020-11-24 00:04] Jeffwan commented on #1286
@adrianludwin

Got it. That means for most of the controllers, they can only watch leaf node in the hierarch if we don't make extra changes.

To enable watch for other nodes (namespaces like orgA), we probably can change controller logic to use HNC client to read leafs nodes recursively and filter out all the namespaces under orgA. Then controller can register to watch events of these namespaces.

[2020-11-24 00:19] adrianludwin commented on #1286
Assuming the namespace is called "org-a", all namespaces in its tree will
have the "org-a.tree.hnc.x-k8s.io/depth" label present, so that's a good
way of selecting subtrees. There's no need for a recursive search.

Sadly, NewFiltersSharedInformerFactory  doesn't appear to support filtering
by labels today, but this would be a more extensible method of adding
support than direct HNC integration IMO

[2020-11-24 16:30] GinnyJI commented on #1275
I recently reproduced this problem by the following steps:

1. [deploying the config-sync operator](https://cloud.google.com/kubernetes-engine/docs/add-on/config-sync/how-to/installing#deploying)
2. [enabling Hierarchy Controller](https://cloud.google.com/kubernetes-engine/docs/add-on/config-sync/how-to/installing-hierarchy-controller#install)
3. [enable pod label trees](https://cloud.google.com/k

[2020-11-26 16:12] adrianludwin commented on #1285
/assign @GinnyJI

Ginny, can you please look into this?

Per the controller-runtime folks, while the default client uses the cache, we can [create our own controller-runtime client](https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/client#New) that _doesn't_ use the cache. And per @liggitt , that's the best way we have to determine if a CR's being deleted due to its CRD being deleted.

[2020-11-26 21:52] yiqigao217 opened #1292 "HNC: Flaky test on propagating objects"
I got this flaky test in #1291 presubmit:
[code]
See [logs](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_multi-tenancy/1291/pull-hnc-test/1332076538165727232) (if the link no longer works, see this [gist](https://gist.github.com/yiqigao217/178f7b4c927a172362ee92c6444ec8ea) for the copy)

[2020-11-29 04:13] piaoliangkb opened #1293 "VC: Syncer watch VC pod delete event delay"
I found that syncer what VC's pod delete event has a time delay. Here is my cluster configuration and how I get this conclusion.

I deploy a VC in my cluster as below.

[code]

Then I modify my syncer's watch handler in `multi-tenancy/incubator/virtualcluster/pkg/syncer/handler/enqueue_object.go`: Add pod count and logs in `OnAdd`, `OnDelete` functions. And only watch pod resource.

[code]

These

[2020-11-29 22:32] #718 closed

[2020-12-01 19:04] GinnyJI opened #1295 "HNC: document that some E2E tests cannot run with Hierarchy Controller"
Before running E2E test suite, Hierarchy Controller has to be uninstalled first, otherwise any test that needs HNC_REPAIR will cause problems. I don't know if and how we should document this.

[2020-12-01 19:04] GinnyJI commented on #1295
/cc @adrianludwin
/assign @GinnyJI

[2020-12-01 20:45] adrianludwin commented on #1295
We already print a big warning if HNC_REPAIR is _not_ set. Maybe if
HNC_REPAIR _is_ set, we need to print a big warning saying "Make sure HNC
isn't being managed by an operator (like ACM or Config Sync) since we're
about to make changes to it!" followed by a 5s delay so that you can ctrl-c
your way out of it?

On Tue, Dec 1, 2020 at 2:04 PM Ginny <notifications@github.com> wrote:

[2020-12-02 05:43] adrianludwin commented on #1043
This was fixed by #1283 - thanks @venkatnsrinivasan !

/close

[2020-12-02 05:44] #1043 closed

[2020-12-02 05:53] adrianludwin commented on #1270
Unfortunately we can't fix this until https://github.com/kubernetes-sigs/controller-runtime/issues/1123 is fixed first.

[2020-12-02 05:54] adrianludwin commented on #1206
Is this finished?

[2020-12-02 05:56] adrianludwin commented on #1165
Is this finished?

[2020-12-02 06:37] adrianludwin commented on #1274
This is fixed by #1297 on `master` but still needs to be fixed on `hnc-v0.6`

[2020-12-02 15:37] yiqigao217 commented on #1165
Are we surfacing these error as events? Seemed the [plan](https://docs.google.com/document/d/1WyPkx4_eRsH5rgAAF7stLUZmW_rq7qURH5CmpVZRIsk/edit#heading=h.jia3ritthiby) was surfacing them as events.

[2020-12-02 16:00] #1229 closed

[2020-12-02 16:06] #1177 closed

[2020-12-02 16:12] #1138 closed

[2020-12-02 17:07] yiqigao217 commented on #1165
@GinnyJI  here's an example of generating events in HNC. You may just replace the error with generating events.

[2020-12-02 21:45] rjbez17 opened #1301 "Document HNCs usage of annotations and labels"
This includes which annotations/labels HNC uses, creates, or alters for both original and propagated resources.

This should likely live here: https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/docs/user-guide/concepts.md

[2020-12-03 03:34] adrianludwin commented on #1275
I just tried this several times on both GKE 1.17 and GKE 1.18 but I was never able to reproduce it - everything seems to work perfectly for me. I'm not sure why several other people can reproduce this but not me :/

[2020-12-03 04:32] adrianludwin commented on #1276
Hi Jane, please let me know if there's anything we can do to help!

[2020-12-03 14:06] GinnyJI commented on #1206
No this hasn't been implemented yet

[2020-12-03 17:42] christopherhein commented on #1064
/close

[2020-12-03 17:42] #1064 closed

[2020-12-03 19:33] GinnyJI commented on #1206
/assign @GinnyJI

[2020-12-03 19:41] #1301 closed

[2020-12-05 00:31] #843 closed

[2020-12-07 18:11] adrianludwin commented on #1275
I don't think this can block v0.7 since we don't know how to reproduce it yet.

[2020-12-07 19:25] devopslearner2020 opened #1307 "Secrets Created in Parent Namespace Does Not Reflect in Child"
We created a secret in the parent namespace, but when we list it in the child namespace it does not show

[2020-12-07 19:37] adrianludwin commented on #1307
Hi, did you configure HNC to propagate Secrets using the HNCConfiguration
or `kubectl hns config`?

For examples of how to do this, see:
https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/docs/user-guide/quickstart.md#resources

On Mon, Dec 7, 2020 at 2:26 PM devopslearner2020 <notifications@github.com>
wrote:

[2020-12-08 07:26] devopslearner2020 commented on #1307
Thanks Adrian
My issue is resolved.

[2020-12-08 15:01] adrianludwin commented on #1307
Great, let us know if you have any other questions!

On Tue, Dec 8, 2020 at 2:27 AM devopslearner2020 <notifications@github.com>
wrote:

[2020-12-09 10:55] 0xVox opened #1311 "Give HNC permission to all verbs on all resources"
`user "system:serviceaccount:hnc-system:default" (groups=["system:serviceaccounts" "system:serviceaccounts:hnc-system" "system:authenticated"]) is attempting to grant RBAC permissions not currently held`

When a sub-namespace is created under a parent namespace containing RoleBindings that are attached to a Role that have permissions such as:

[code]

The hnc-controller will not have enough permis

[2020-12-09 14:38] #1165 closed

[2020-12-09 15:18] #1285 closed

[2020-12-09 22:14] adrianludwin commented on #1249
Fixed by #1296

/close

[2020-12-09 22:14] #1249 closed

[2020-12-10 02:35] adrianludwin commented on #1045
Fixed by #1302

/close

[2020-12-10 02:35] #1045 closed

[2020-12-10 02:37] adrianludwin commented on #989
Haven't had a chance to look at this but I don't think it's a v0.7 issue.

I'll put this in the backlog but we'd appreciate any help we can get on this one.

/help

[2020-12-10 02:39] adrianludwin commented on #1023
Looks like this will (eventually) be fixed in core K8s:

https://github.com/kubernetes/enhancements/pull/2162

For now I'm going to put this on the backlog, I don't think there's an urgent issue given the changes we've made so far.

[2020-12-10 16:58] christopherhein commented on #1044
/close

[2020-12-10 16:58] #1044 closed

[2020-12-10 17:07] adrianludwin commented on #717
/remove-lifecycle rotten

On Thu, Dec 10, 2020 at 10:43 AM fejta-bot <notifications@github.com> wrote:

[2020-12-10 19:52] adrianludwin commented on #1098
This was fixed some time ago

/close
/lifecycle remove

[2020-12-10 19:52] #1098 closed

[2020-12-10 20:40] weiling61 opened #1315 "CRD friendly Syncer Implementation"
__Feature Description__
Make current Syncer infrastructure code more CRD friendly ---- When users creating their propritory CRD Syncer, they can directly import and reuse most packages in current Syncer.

__Proposed behavior__
Would like to modify current Syncer code to use controller runtime client instead of raw client. This way, no individual scheme needs to be imported into Syncer (mccontrolle

[2020-12-10 23:56] christopherhein commented on #1008
/closed

[2020-12-10 23:57] christopherhein commented on #1008
/close

[2020-12-10 23:57] #1008 closed

[2020-12-10 23:57] christopherhein commented on #1012
/lifecycle frozen

[2020-12-11 21:43] #1206 closed

[2020-12-11 23:55] #1196 closed

[2020-12-12 03:11] adrianludwin commented on #1123
I think we're done here - nice work!

/close

[2020-12-12 03:11] #1123 closed

[2020-12-13 17:29] adrianludwin opened #1320 "HNC: make uninstalling HNC safer"
Our current guidance to deleting HNC is to delete the CRDs _first_, and rely on the manager to remove their finalizers but _not_ do anything destructive like deleting subnamespaces - which is not always a great assumption (see #1285).

Rather, our guidance should be to remove everything _except_ the CRDs, and then run a client-side tool to remove all finalizers from the CRDs. This has two advantag

[2020-12-14 19:52] GinnyJI commented on #1320
/assign @GinnyJI

[2020-12-14 19:53] GinnyJI commented on #1292
/assign @GinnyJI

[2020-12-14 19:53] GinnyJI commented on #1148
/assign @GinnyJI

[2020-12-14 19:54] adrianludwin commented on #1286
I'm closing this since it's sadly not feasible today, but if `NewFiltersSharedInformerFactory` adds label filtering we could revisit this. Please ping me again if you'd like to discuss this further!

/close

[2020-12-14 19:54] #1286 closed

[2020-12-14 19:54] adrianludwin commented on #1307
/close

[2020-12-14 19:59] adrianludwin commented on #1270
/assign @GinnyJI

I believe this is now unblocked and will be fixed by upgrading to controller-runtime v0.7.0.

[2020-12-14 20:12] adrianludwin commented on #374
I think we can easily fix this now using the same solution as in #1310: add an `--exclude-namespace` command-line arg (which can be specified multiple times), and add it to the list of args in `config.go`.

I wouldn't ever _remove_ any of the existing namespaces from this list (e.g. `kube-system`), but I'd allow you to _add_ to this list.

In addition, I think we can fix #1023 at the same time as

[2020-12-14 20:13] adrianludwin commented on #1023
I think we can fix this along with #374 as explained in that bug.

/assign @GinnyJI

[2020-12-14 20:14] adrianludwin commented on #718
Replaced by #1320

[2020-12-14 20:15] adrianludwin commented on #635
I don't think we need to revisit this, removing lifecycle label.

[2020-12-14 20:16] adrianludwin commented on #495
We're revisiting these issues in #374 but I don't think this one's too important. I'll remove the lifecycle label.

[2020-12-15 03:03] adrianludwin opened #1324 "HNC: add e2e quickstart test for exceptions"
I just noticed that we've added a new quickstart section on exceptions but we didn't update the quickstart e2e test. Can you please add this? Thanks!

/assign @GinnyJI

[2020-12-15 03:05] adrianludwin commented on #1274
This is still important to fix ASAP but I'd like to close the hnc-v0.7 milestone so I'm moving it to v0.8.

[2020-12-15 17:16] adrianludwin commented on #1274
Fixed by #1326

/close

[2020-12-15 17:16] #1274 closed

[2020-12-15 17:54] adrianludwin commented on #1311
Thanks @0xVox ! We've tried to make the default HNC permissions equivalent to the builtin `admin` ClusterRole. Do you know if this missing permission would have been part of that role? If so, perhaps we should simply start using the `admin` role instead of trying to simulate it.

[2020-12-15 22:02] adrianludwin opened #1327 "HNC: use a later version of controller-tools"
We're on a very recent version of controller-runtime and are about to upgrade to the latest version (#1270) but we're using a fairly old version of controller-tools and should probably upgrade those as well. It may even be _necessary_ but I'm not certain.

@GinnyJI - ideally you can fix #1270 and this separate PRs, but if that doesn't work, maybe consider doing them together.

/assign @GinnyJI

[2020-12-15 22:07] adrianludwin opened #1328 "HNC: respect app.kubernetes.io/managed-by"
HNC currently respects the `hnc.x-k8s.io/managed-by` label on namespaces that it shouldn't attempt to modify, but this is semantically no different than `app.kubernetes.io/managed-by` which is a far more stable standard.

In HNC v0.8, we should stop accepting our own version of managed by and switch to simply accepting the standard version instead. Note that we already _set_ this label on objects

[2020-12-16 03:10] adrianludwin commented on #972
I wonder if this was fixed by #1305

[2020-12-22 22:29] howardjohn commented on #1002
Any plans for how this will be addressed?

[2020-12-26 06:50] #937 closed

[2020-12-31 08:49] #984 closed

[2020-12-31 08:49] #930 closed

[2021-01-05 16:17] GinnyJI commented on #1327
/assign @adrianludwin

[2021-01-05 19:46] adrianludwin opened #1336 "HNC: detect group automatically where possible"
See https://groups.google.com/g/kubernetes-wg-multitenancy/c/g3B9_faG-iY. We insist that users include the API group of any non-core resource, but K8s includes a way to map from unscoped to fully scoped names automatically (I _assume_ only if there isn't a conflict, but I'm not sure).

It would be cool if the `--group` field could (safely) be made optional, either in the CLI or in server-side.

[2021-01-05 19:46] adrianludwin commented on #1336
/help-wanted

[2021-01-05 21:57] smarterclayton commented on #1336
Ungrouped names are “first one registered wins” which is mostly to preserve backward compatibility (as we went from ungrouped to grouped).  It can certainly be optional from a client, but any user automating should specify them or risk being broken randomly later.  I don’t think kubectl documents all the gotchas the way it should, but it can at least serve as a guide.

[2021-01-05 22:04] adrianludwin commented on #1336
Thanks @smarterclayton - I hadn't known that history. I had a mutating admission webhook in mind for the server-side so whatever decision we made was preserved immediately, but on reflection I think that client-side is definitely the way to go as you say, possibly with a warning message.

[2021-01-09 15:27] #696 closed

[2021-01-10 11:24] debianmaster commented on #1280
i have same issue even after `iptales -P FOWARD ACCEPT` any pointers?
Also is there way to get kubeconfig after creating cluster w/o  kubectl vc

[2021-01-11 09:31] irmishappy commented on #1280
I would start from testing if coreDNS is working as expected. This helped me to find where is a problem.
I assume I used this page for troubleshouting.
https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/

[2021-01-12 12:35] frbimo commented on #1218
@adrianludwin is `metav1.StatusReasonInvalid` will be limited to invalid tree selector?

[2021-01-13 00:39] JimBugwadia opened #1339 "HNC: subnamespace creation failures should be reported in the anchors (at least)"
I configured a Kyverno policy to block namespaces that do not follow a naming convention:

[code]

I then created a top-level namespace that complied with the naming convention:

[code]

I then created a subns that does not comply with the naming convention:

[code]

The subns does not get created, and no error is reported.

[code]

[code]

[code]

[2021-01-13 02:45] JimBugwadia opened #1341 "HNC: namespace admin cannot manage hierarchy"
I created a namespace `test-sm` with an admin user `nancy`:

[code]

I am able to create a `subns` as a cluster-admin but not as the namespace admin:

[code]

[2021-01-13 02:48] JimBugwadia commented on #1341
A solution would be to install role aggregation rules that extend the standard `admin`, `edit`, and `view` roles with the appropriate permissions to manage the HNC objects.

This way a user who is assigned the standard RBAC `admin` role in a namespace can manage the hierarchy object in that namespace.

[2021-01-14 12:05] frbimo commented on #1218
This issue caused by string format on https://github.com/kubernetes/kubectl/blob/86e211da3df4f82b59a9ce5ff795050d211ac074/pkg/cmd/util/helpers.go#L198 that concatenate field `Field` on `metav1.StatusCause` as part of it.

so, on https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/internal/validators/hierarchy.go#L551-L555 without filling `Field` it will printout empty string

[2021-01-14 13:15] zhuangqh commented on #1315
/assign

[2021-01-14 13:15] zhuangqh commented on #1315
work in process

[2021-01-14 13:21] adrianludwin commented on #1218
/cc @GinnyJI what can cause this problem ("will metav1.StatusReasonInvalid be limited to invalid tree selector?")?

@frbimo we don't see this double colon problem for all of our messages, and I don't _think_ we've _ever_ set the fields before. Can you tell why this is only happening with this one error message?

[2021-01-14 13:24] zhuangqh commented on #1293
sorry for late reply. actually, it is confusing to me either. I have not found this issue in my production env.

Is your cluster network busy? The tenant side cache is insensitive @piaoliangkb

[2021-01-14 13:46] frbimo commented on #1218
not the error message instead the error reason.
AFAIK kubectl handles error differently particularly if  reason is `metav1.StatusReasonInvalid`.
https://github.com/kubernetes/kubectl/blob/86e211da3df4f82b59a9ce5ff795050d211ac074/pkg/cmd/util/helpers.go#L145-L160

[2021-01-14 13:56] frbimo commented on #1218
[code]

as you can see, i have changed  reason to `metav1.StatusReasonInvalid` and the issue is reproducible for different messages

[2021-01-14 19:13] adrianludwin commented on #1218
What did you change between those two messages?

What data do you think we're _supposed_ to be adding to the error details
that we're not?

On Thu, Jan 14, 2021 at 8:57 AM fransiscus bimo <notifications@github.com>
wrote:

[2021-01-15 00:54] frbimo commented on #1218
[code]
modified to

[code]

[2021-01-15 11:25] debianmaster opened #1344 "create virtual cluster: Internal error occurred: failed calling webhook "virtualcluster.validating.webhook""
getting this error when using k3s backed base cluster and installing virtual cluster

[code]

manager logs shows following

[code]

[2021-01-15 11:32] debianmaster commented on #1344
fyi i also did this based on error logs
[code]

[2021-01-15 15:21] adrianludwin commented on #1218
Oh, so what you're saying is: _before_ changed `StatusReasonBadRequest` to `StatusReasonInvalid`, the error message _didn't_ have the double colons. _After_ you made that change, it did. Correct?

If so, what do you think the right fix is? Should we not use `StatusReasonInvalid`? Or should we pass some additional information back to kubectl so that something useful is displayed before the "extra"

[2021-01-16 05:15] frbimo commented on #1218
correct

The field `Field` should have value that indicates location of the error e.g `.items[0].metadata.annotations`
so the final error message would be
[code]

[2021-01-16 05:17] frbimo commented on #1218
But personally, i dont think stacking multiple errors like above would makes us easier to know what happened.
If you want to stay with `StatusReasonInvalid`, i think we can remove the additional string and make it as
[code]
But it means,  `StatusReasonInvalid` would be limited to error that related to annotation.

Another way is to change it into different status reason if possible

[2021-01-16 11:00] frbimo commented on #1241
@adrianludwin can i take over this?

[2021-01-16 19:14] #753 closed

[2021-01-17 15:34] #752 closed

[2021-01-18 15:45] adrianludwin commented on #1218
We definitely shouldn't hardcode the "annotations" field into the
StatusReasonInvalid. Maybe we can add a `denyInvalid(field, msg)` function
that, under the hood, calls `deny` but then adds `field` before returning
the error object?

On Sat, Jan 16, 2021 at 12:17 AM fransiscus bimo <notifications@github.com>
wrote:

[2021-01-19 02:27] zhuangqh commented on #1344
@charleszheng44 PTAL

[2021-01-19 03:05] charleszheng44 commented on #1344
@debianmaster thanks for filing the issue. What is the version of the super cluster?

[2021-01-19 11:28] frbimo commented on #1218
agree we shouldn't hardcode.
if `denyInvalid(field, msg)` calls `deny(reason, msg)` how can it adds the field without changing `deny` input args?

[2021-01-19 15:34] adrianludwin commented on #1218
[deny](https://github.com/kubernetes-sigs/multi-tenancy/blob/c26a4ea74417ce1764458e96142483a2aef4e128/incubator/hnc/internal/validators/hierarchy.go#L519) returns `admission.Response`, which is just a struct. You can modify any fields in that struct before returning it.

[2021-01-19 16:23] JimBugwadia commented on #1201
/remove-lifecycle stale

[2021-01-19 16:24] JimBugwadia commented on #1201
We now have the ability to test with multiple namespaces and tenants!

cc: @phoenixking25 @Divya063

[2021-01-19 16:25] JimBugwadia commented on #1110
/remove-lifecycle stale

[2021-01-19 16:28] JimBugwadia commented on #1110
@Divya063 - there is an existing Kyverno sample policy for this at: https://github.com/kyverno/policies.

One concern is if this requirement may be too strict for tenant workloads. We need to further discuss that.

[2021-01-19 16:28] JimBugwadia commented on #1200
/remove-lifecycle stale

[2021-01-19 16:29] JimBugwadia commented on #1200
We now have the ability to run tests across multiple namespaces and tenants.

cc: @Divya063 @phoenixking25

[2021-01-19 16:29] JimBugwadia commented on #1197
/remove-lifecycle stale

[2021-01-19 16:30] JimBugwadia commented on #1197
@phoenixking25 - please update this issue with the PR you completed.

[2021-01-19 16:30] JimBugwadia commented on #1197
/assign @phoenixking25

[2021-01-20 07:20] frbimo commented on #1218
should i open PR for this?

[2021-01-20 08:05] frbimo commented on #1218
/assign

[2021-01-20 14:10] adrianludwin commented on #1218
Please go ahead, and thank you!

On Wed, Jan 20, 2021 at 3:05 AM fransiscus bimo <notifications@github.com>
wrote:

[2021-01-21 12:47] munnerz commented on #1002
Not as of yet - the thinking would be to do one of (or a combination of):

* allow users to change which `signerName` is used for CSRs that we create (perhaps with different signerNames for different types of certificate role, to allow for finer grained, per-type 'approver' policies)
* ship a default, naive signing implementation (akin to cert-manager's 'CA' issuer)

A similar situation/set of opt

[2021-01-21 13:43] ledroide commented on #1275
Hello @adrianludwin . After issue #1255 I could upgrade HNC to v0.7.0. However, some time later, I started to find weird behaviors in my cluster, mostly kube-controller-manager malfunction with its garbage collector.

Some symptoms :
* when deleting deployments, daemonsets, statefulsets ; replicaSets under their control are not deleted as expected.
* when deleting manually replicaSets, many contro

[2021-01-21 15:17] adrianludwin commented on #1275
HNC doesn't put any finalizers on pods, replicasets, etc. So if kube-controller-manager is failing for _all_ resource types just because something's gone wrong with _HNC-specific_ types, that sounds like a bug in `kube-controller-manager` that was just triggered by HNC. (To be clear, there's _also_ a bug in HNC, but that shouldn't take down unrelated functionality in the cluster).

/cc @liggitt -

[2021-01-21 15:21] liggitt commented on #1275
Some controllers (like GC) require successful list/watch for all known resources to safely proceed deleting things.

Unavailability of a conversion webhook on a CRD prevents reads, which prevents list/watch from succeeding.

Additionally, before a CRD is deleted, all CR instances must be deleted. This requires reading them from etcd, and if they have finalizers, setting deletionTimestamp and persi

[2021-01-21 15:22] liggitt commented on #1275
cc @deads2k

[2021-01-21 16:41] mgoltzsche opened #1351 "HNC: Reflect resource sync state within the SubnamespaceAnchor status"
Currently the only status indicator of a SubnamespaceAnchor is `status.state` which one has to wait for to become `Ok`. At that point the `Namespace` resource has been created but the `RoleBindings` haven't necessarily been synced from the parent into the child namespace yet and there is no status indicator for that a caller could use.
Thus, when programmatically creating a SubnamespaceAnchor and

[2021-01-21 20:04] tsunny commented on #1241
@frbimo - Please take over. Sorry, I have been busy with other stuff.

[2021-01-21 20:44] adrianludwin commented on #1241
Sorry I missed this, yes please go ahead!

[2021-01-21 21:09] adrianludwin commented on #1351
Thanks @mgoltzsche . The problem we'll run into is that the resource syncing is done by a bunch of asynchronous, independent threads (well, goroutines) and we don't actually get any kind of signal even internally as to when all of those operations are complete.

Also, if a resource in a parent namespace _changed_, would you want the `state` to switch to something like `Pending` before going back t

[2021-01-21 22:06] mgoltzsche commented on #1351
To workaround this indeed I am going to poll for the RoleBinding first for a few seconds before I run the logic that depends on it.

However it would be great if `state` would become `Ok` only after all syncable resources that existed within the parent namespace at the time of creation have been syned. It does not need to switch to a `Pending` state afterwards when resources within the parent name

[2021-01-22 09:04] ledroide commented on #1275
@adrianludwin : You should have a look to what @pacoxu (Kubernetes developer / kube-controller-manager) [answered today](https://github.com/kubernetes/kubernetes/issues/98071#issuecomment-765236826) after testing HNC on his side :

[2021-01-22 09:14] pacoxu commented on #1275
In my case, HNC controller doesn't work because of Calico network issue.
- My namespace cannot be created or deleted after the webhook was created.

The cluster resumed after I delete the HNC controller webhook.

During the issue, other controllers like tigera-operator encounter list-watch blocking issues like
[code]

[2021-01-22 10:59] ledroide commented on #1275
I also use Calico. However I did not notice the `no route to host` log (althought, I was flooded by logs and could have missed it)

[2021-01-22 15:37] yiqigao217 opened #1354 "HNC: Add MustNotApplyYAML() func to testutils package"
This function can be used to test validating webhooks, for example, to make sure invalid objects cannot be applied.

See `MustApplyYAML()` func as an example in `pkg/testutils/testutils.go`.

/good-first-issue

[2021-01-22 16:43] #1218 closed

[2021-01-22 17:23] sheetalsingala commented on #1354
Can I give this a try?

[2021-01-22 17:28] adrianludwin commented on #1354
Go for it!

On Fri, 22 Jan 2021, 12:23 pm Sheetal Singala, <notifications@github.com>
wrote:

[2021-01-23 14:03] phoenixking25 commented on #1197
fix #1318

[2021-01-25 18:08] JimBugwadia commented on #1110
The policy is defined here: https://kyverno.io/policies/best-practices/require_drop_all/

[2021-01-25 20:29] #1203 closed

[2021-01-25 20:29] #1202 closed

[2021-01-25 20:53] adrianludwin commented on #916
/close

[2021-01-25 20:53] #916 closed

[2021-01-26 16:01] JimBugwadia opened #1362 "MTB: package kubectl-mtb as a job"
Users may want to run kubectl-mtb periodically, in a job, to produce / update a Policy Report.

[2021-01-28 08:24] irmishappy opened #1366 "VC: after some time drops installed dashboard namespace"
I am testing dashboard inside VC.
dashboard was installed like:
[code]
No changes to deployment.

After ~10h of operation VC seems to restart, and drops newly created namespace.
If no dashboard deployment was installed vc namespaces are available and no restarts noticed during 3 days.

Any hint where to dig?
After instalation:
NAME                   STATUS   AGE
default                Active   4h

[2021-01-29 12:12] #1066 closed

[2021-01-29 21:07] #1270 closed

[2021-01-29 21:07] #1327 closed

[2021-02-01 15:25] sheetalsingala commented on #1354
Will using the function `MustNotRun` be useful?

[2021-02-01 15:41] yiqigao217 commented on #1354
Yes, exactly. It may look like this:
[code]

[2021-02-01 18:53] #1354 closed

[2021-02-02 02:24] adrianludwin commented on #1351
Sorry for the delay in getting back to you, competing projects...

Instead of polling specifically for the RoleBinding, would it be possible to simply retry all errors? HNC itself takes this approach - it's based on https://github.com/kubernetes-sigs/controller-runtime which automatically implements a backoff and retry approach for all errors, which helps with a wide range of transient problems, i

[2021-02-02 21:49] mgoltzsche commented on #1351
My concrete problem was fixed by polling the RoleBinding. In my case retrying all errors is not really an option since the logic that runs afterwards is pretty complex, should fail early on errors and has different timeout requirements which I don't want to mix up with the timeout I am applying to wait for the RoleBinding.
Also I wanted to avoid polling the RoleBinding because it made me maintain

[2021-02-02 21:49] #1351 closed

[2021-02-03 14:37] adrianludwin commented on #1351
Thanks!

[2021-02-03 15:16] rjbez17 opened #1371 "HNC: Migrate to v1 apis of CRDs, Mutating WH, and Admission WH (v1beta1 deprecation)"
These APIs have moved to GA and the beta versions are now deprecated. They will be completed remove in kubernetes 1.22.

A quick search of the repo showed that we are using the v1beta1 apis in a few places. We also need to keep in mind that if we completely remove the usage of v1beta1 we change our supported versions to the version of kubernetes where v1 is introduced (1.16).

More info here: http

[2021-02-03 15:26] #1241 closed

[2021-02-03 16:18] adrianludwin commented on #1371
We just updated to `controller-runtime` v0.7.0 which at least should fix the issue for the webhooks. I think we probably need to upgrade our version of [controller-tools](https://github.com/kubernetes-sigs/multi-tenancy/blob/9327e368b19b27161f3a771893b4d95a87cb698d/incubator/hnc/go.mod#L24) to generate the latest version of the CRD.

Are you still seeing the v1beta1 webhook APIs anywhere?

[2021-02-03 16:24] adrianludwin commented on #1371
Note that we're using `controller-tools` 0.2.8 but the latest release is [0.4.1](https://github.com/kubernetes-sigs/controller-tools/releases/tag/v0.4.1). When we upgrade, we need to update our code to take advantage of https://github.com/kubernetes-sigs/controller-tools/pull/468 (ensure we're using CRD v1).

[2021-02-03 16:28] adrianludwin opened #1372 "HNC: upgrade cert-controller and set restartOnSecretRefresh"
See https://github.com/open-policy-agent/cert-controller/pull/23. The flag is no longer part of our "batteries included" cert-controller so we need to upgrade it ourselves.

/good-first-issue

[2021-02-03 16:56] adrianludwin commented on #1339
/good-first-issue

We need to propagate this error _at least_ to the `SubnamespaceAnchor`. We should also probably save it as an Event (especially if that event gets auto-appended to `k describe subns` command) and possibly to the `hncconfiguration` object too (though that last one is less critical).

[2021-02-03 16:58] adrianludwin commented on #1341
This is weird, the builtin `admin` role should give you permission to edit any object in any namespace, correct? I thought that was what I saw.

[2021-02-03 17:10] rjbez17 commented on #1371
The current default chain injector is one I saw: https://github.com/kubernetes-sigs/multi-tenancy/blob/925711745afed4e3f80c32a8ed6974964ff663a4/incubator/hnc/config/default/webhookcainjection_patch.yaml

Other than that it seems to just be CRDs.

[2021-02-03 17:32] adrianludwin commented on #1371
Ah good point. I'll bet that updating controller-tools would fix that too.

[2021-02-04 00:06] frbimo commented on #1372
/assign

[2021-02-04 01:30] adrianludwin commented on #1372
Thanks Fransiscus! Note that we import cert-controller using
pseudo-versions, because we don't have an official release that includes
everything that we want. To upgrade go.mod:

   - In the cert-controller line, update the hash to the latest commit in
   the cert-controller repo (using the same number of characters). Don't
   change the date yet.
   - Run "go mod vendor". It will complain that th

[2021-02-04 17:22] rudeigerc commented on #1339
Hello, may I have a try? I think the root cause is the inconsistent state between the hnc CRDs and Namespace.
Hope for further guidance. 😃

https://github.com/kubernetes-sigs/multi-tenancy/blob/9327e368b19b27161f3a771893b4d95a87cb698d/incubator/hnc/internal/reconcilers/anchor.go#L100-L104

[2021-02-04 18:51] yiqigao217 commented on #1339
Thanks for helping, @rudeigerc ! Before fixing the issue, I may want to see what the issue is. Per @JimBugwadia 's subnamespace anchor output:
[code]

It seems that the `status` is not showing up correctly. It should show
[code]
, meaning the subnamespace anchor is there but the subnamespace is "missing".

I agree that we should make it more visible, e.g. in events that users can get from `kubectl

[2021-02-04 20:00] adrianludwin commented on #1339
@yiqigao217 you could probably hack HNC to try to create a namespace with
an illegal name or something instead of installing Kyverno; we just need to
generate an error from K8s.

On Thu, Feb 4, 2021 at 1:51 PM Yiqi Gao <notifications@github.com> wrote:

[2021-02-04 20:06] yiqigao217 commented on #1339
I did try `kube-system` but this only gave me `status:Conflict` and I cannot find a way to get `status:Missing` since if I just bypass the webhook and delete the subnamespace, HNC controller will just create the namespace immediately that I cannot get `status:Missing`.

[2021-02-04 20:29] adrianludwin commented on #1339
Yeah you have to hack HNC so that K8s returns an error when you try to create a namespace that doesn't already exist. E.g. instead of creating "foo" hack HNC so that it tries to create "!foo", which will always fail.

[2021-02-04 20:33] yiqigao217 commented on #1339
Got you thanks!

[2021-02-05 15:34] #1372 closed

[2021-02-05 18:36] Fei-Guo commented on #1366
Tenant etcd is using in memory datastore (no persistent storage).  If the etcd pod is restarted for some reason, all tenant objects are gone.

[2021-02-05 18:42] Fei-Guo commented on #1293
There is a possible racing point here. When uws tries to update the tenant pod with delete graceperiod of 0, the pPod is already gone and the uws reconciler loop exits earlier. In this case, the patroller needs to clean the last Pod which happens in less than one minute.

[2021-02-05 18:43] Fei-Guo commented on #1293
/close

[2021-02-05 18:43] #1293 closed

[2021-02-05 18:45] Fei-Guo commented on #1366
/close

[2021-02-05 18:45] #1366 closed

[2021-02-05 19:00] Fei-Guo opened #1377 "[VC] TODO list for multiple super cluster support"
The remaining tasks for syncer controller include:

- [ ] Support selective consistency checks in the patroller based on the tenant namespace placement.
- [ ] Remove the super cluster namespace if the super cluster is removed from the tenant namespace placement.
- [ ] Ensure a tenant Pod can start when its namespace is scheduled in a different root cluster compared to that of the tenant default na

[2021-02-10 01:35] DWSR opened #1383 "HNC: Provide multiarch images (e.g. arm64)"
Hey all, I'd like to use HNC with my ARM cluster, but can't because HNC doesn't provide ARM images (that I can see).

Not sure how much work this would be, but would definitely help those of us running on e.g. AWS Graviton or Raspberry Pis.

[2021-02-10 01:37] adrianludwin commented on #1383
Interesting. I'd love to support ARM but I'm not sure how to create a
multiarch image and (much more importantly) I have no way of testing it
since I don't have access to an ARM cluster.

Are you able to provide a PR and test it on your cluster?

On Tue, Feb 9, 2021 at 8:35 PM Brandon McNama <notifications@github.com>
wrote:

[2021-02-10 03:58] DWSR commented on #1383
@adrianludwin This is relatively straightforward to build with [buildx](https://medium.com/@artur.klauser/building-multi-architecture-docker-images-with-buildx-27d80f7e2408). I haven't done it with CloudBuild before, but it appears that someone else has: https://hub.docker.com/r/harshavardhanj/docker-buildx. I don't have easy access to a GCP account for CloudBuild, though.

Regarding testing, GCP

[2021-02-11 21:48] yiqigao217 opened #1386 "HNC: Add label to excluded namespaces and enforce it by reconcilers"
In a reconciler, add a label (name undecided yet) to all the [excluded namespaces](https://github.com/kubernetes-sigs/multi-tenancy/blob/hnc-v0.7/incubator/hnc/internal/config/default_config.go#L8) and remove the same label from any other namespaces if added by users. The reconciler can be the hc reconciler in `reconcilers/hierarchy_config.go`.

In that case, we can hard-code the label in the `val

[2021-02-11 21:49] yiqigao217 commented on #1386
/cc @adrianludwin

Could you please help tag this issue with backlog milestone?

[2021-02-11 21:49] adrianludwin commented on #1386
/help-wanted

[2021-02-16 17:52] weiling61 opened #1388 "Proposal: CRD Synchronization in Multi-tenancy Syncer"
# CRD Synchronization in Multi-tenancy Syncer

## Objective

The key objectives of this document are:

* Install annotated super cluster CRDs in all tenants virtual clusters.
* Dynamically build CR scheme and CR clients.
* Construct an example CR syncer using current syncer infrastructure, and keep the CR syncer code separate.
* CR Syncer cannot be registered dynamically. It should be built togeth

[2021-02-16 18:27] weiling61 commented on #1315
@zhuangqh Not sure if you are still working on this topic? I created another issue: https://github.com/kubernetes-sigs/multi-tenancy/issues/1388, to actually implement a CRD syncer. Please review it. If we can shift our efforts to the new issue, I will close this issue.

[2021-02-16 18:38] christopherhein commented on #1388
/cc @Fei-Guo

[2021-02-16 20:02] Fei-Guo commented on #1388
For CRD installation, will only the CRD that has the compiled resource syncer be synced to virtualcluster?

[2021-02-16 20:40] christopherhein commented on #1388
The idea is like storageclasses & priorityclasses this would include doing the work to add a new resource syncer to the vc-syncer that allows it to auto-sync CRDs that have the `tenancy.x-k8s.io/super.public: true` label. THis should be built as an optional like priorityclasses too so it can default to off.

[2021-02-16 21:29] Fei-Guo commented on #1388
Yes. I was thinking the same. This sounds like a separate issue for "CustomResourceDefinition" kind resource population rather than the state synchronization for CR instances.

For the repo, I think we can create a directory called   /virtualclusteer/crdextension to hold all source codes, example crd, example clients, tutorial etc.

[2021-02-16 21:50] christopherhein commented on #1388
Yeah, @weiling61 maybe we should make two issues and track the CRD resource syncer separate from the example codes and do them in separate PRs.

[2021-02-17 14:10] yiqigao217 commented on #623
/remove-lifecycle rotten

[2021-02-17 14:11] yiqigao217 commented on #783
/remove-lifecycle rotten

[2021-02-17 14:11] yiqigao217 commented on #974
/remove-lifecycle rotten

[2021-02-17 14:11] yiqigao217 commented on #1153
/remove-lifecycle rotten

[2021-02-17 14:11] yiqigao217 commented on #1262
/remove-lifecycle stale

[2021-02-17 14:12] yiqigao217 commented on #852
/remove-lifecycle stale

[2021-02-17 14:13] yiqigao217 commented on #752
/remove-lifecycle rotten

[2021-02-17 14:13] yiqigao217 commented on #696
/remove-lifecycle rotten

[2021-02-17 18:09] weiling61 commented on #1388
@Fei-Guo @christopherhein  Agree to make 2 PR from it. 1) the CRD syncing is in multi-tenancy code, more specifically will be in listener/ package, in AddCluster(), WatchCluster() .. An option config will be used to active this feature 2) Will create a new repo to perform CR synchronization, for now, only compiled CR Syncer will be supported. No dynamic CR syncer registration.

[2021-02-18 00:22] christopherhein opened #1391 "[VC] Experimental Scheduler test failures"
It looks like currently on `master` the experimental scheduler features failing `make test`.

[code]

[2021-02-18 00:22] christopherhein commented on #1391
/assign @Fei-Guo

[2021-02-18 00:22] christopherhein commented on #1391
/kind bug

[2021-02-18 00:24] christopherhein opened #1392 "[VC] Experimental Scheduler Cluster type generation"
Looks as though the new cluster type is a copy of the CAPI cluster type - is that meant to be https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/virtualcluster/experiment/pkg/apis/cluster/v1alpha4/cluster_types.go vs https://github.com/kubernetes-sigs/cluster-api/blob/master/api/v1alpha4/cluster_types.go should we just be using these by reference. If it looks like we're getting

[2021-02-18 00:25] christopherhein commented on #1392
/assign @Fei-Guo

[2021-02-18 00:25] christopherhein commented on #1392
/kind support

[2021-02-18 00:31] Fei-Guo commented on #1392
This is intended for easy testing. Another problem is that CAPI does not provide CRD clients so that I have to generate the client manually  which requires the existence of the crd yaml locally. We can clean up this later.

/close

[2021-02-18 00:31] #1392 closed

[2021-02-18 00:32] Fei-Guo commented on #1391
This is fixed in #1390
/close

[2021-02-18 00:32] #1391 closed

[2021-02-18 00:35] christopherhein commented on #1392
Can we at least add the generated yaml from when you run `make test` so that we don't have to exclude it from other PRs?

[2021-02-18 00:55] christopherhein opened #1394 "[VC] Support Allowing the SuperCluster to manage ClusterIPs"
This is an overarching issue that will track being able to support using the supercluster as a proxy for supporting the tenant control planes Service `ClusterIP`.

- [x] #1395 Configure the `KUBERNETES_SERVICE_HOST` to use tenant control plane `apiserver-svc`
- [ ] Configure the syncer to allow services to be "adopted" from the super cluster
- [ ] Build tenant webhook endpoint to create services

[2021-02-18 02:49] adrianludwin commented on #974
I think we have sufficient coverage of this now even without netpol on Kind. At least we cleanly skip the test now.

/close

[2021-02-18 02:49] #974 closed

[2021-02-18 03:32] zhuangqh commented on #1388
oh i got you. it is much easier to add custom CR syncer after recent refactoring. feel free to add an example  CR synchronization code

[2021-02-18 14:50] adrianludwin commented on #1383
I'm not sure how the other components are tested - most testing is on GCP,
which as you say, only has Intel and AMD support.

I'd be comfortable using a build process that only got tested once, as long
as we stated clearly that this is the case (this is what we do with macOS
support for kubectl-hns). As for Cloud Build, if you sign up for a GCP
account, you get 120 free build-minutes of Cloud Buil

[2021-02-20 12:50] #1002 closed

[2021-02-20 19:57] #1140 closed

[2021-02-21 05:47] vikas027 opened #1404 "Feature Request: Support dry run with hns"
It would be great to have a dry-run feature to get the yaml. My use case is to get the yaml and use it with a GitOps tool like flux or argo.

[code]

[2021-02-21 06:08] vikas027 opened #1405 "Is there an option to exclude a resource to propogate?"
If I have used a secret resource to propagate to all child namespaces, can I control any specific resources to not propagate?
In my use case, there is a secret that I don't want to have in my child namespace.

[2021-02-21 16:23] adrianludwin commented on #1405
Yes, we introduced this feature in HNC v0.7.0:
https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/docs/user-guide/concepts.md#basic-exceptions

Please try it out and let us know if you have any questions.

/close

On Sun, Feb 21, 2021 at 1:08 AM Vikas Kumar <notifications@github.com>
wrote:

[2021-02-21 16:23] #1405 closed

[2021-02-22 02:02] adrianludwin commented on #1404
Hmm, I actually didn't know that you could use dry-run to get yaml back like that in other tools. Neat!

With that said, we don't actually recommend the output of `kubectl hns create` for Gitops - that command creates a [subnamespace](https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/docs/user-guide/concepts.md#basic-subns), whose main value is that the user does _not_ hav

[2021-02-22 02:16] adrianludwin commented on #1275
Sorry I haven't replied here for a while.

Yes, HNC puts validating admission controllers on namespaces, so if it goes down, this will break namespace creation and updates. Sadly, this is unavoidable given that one of HNC's goals is to control the labels on namespaces (and prevent you from shooting yourself in the foot, e.g. by deleting a namespace with subnamespaces). You can delete the validatin

[2021-02-22 02:17] adrianludwin commented on #1275
I'm going to close this issue, since we no longer have conversion webhooks and the other problem is expected, but please feel free to reopen if you disagree! Thanks.

/close

[2021-02-22 02:17] #1275 closed

[2021-02-22 15:40] #1018 closed

[2021-02-22 15:40] #1050 closed

[2021-02-22 15:40] #1019 closed

[2021-02-22 22:34] vikas027 commented on #1404
Thanks, @adrianludwin

This definitely helps,  I have just tested this out with ArgoCD works like a charm. Feel free to close the ticket :)

[2021-02-22 22:59] adrianludwin commented on #1404
Great, thanks!

If you want to submit a docs PR on how to make this work better, maybe
check out
https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/docs/user-guide/best-practices.md#gitops
and see if there's anything you want to add. Any contributions are
appreciated!

/close

On Mon, Feb 22, 2021 at 5:34 PM Vikas Kumar <notifications@github.com>
wrote:

[2021-02-22 22:59] #1404 closed

[2021-02-23 19:41] mikedanese commented on #749
This is done.

/close

[2021-02-23 19:41] #749 closed

[2021-02-23 19:41] mikedanese commented on #1009
This is done.

/close

[2021-02-23 19:41] #1009 closed

[2021-03-07 01:53] ElSamhaa opened #1419 "Allow dots '.' in namespaces to help with name collisions and reflect pseudo-hierarchy"
Where I work, we are working on a multi-tenancy model that spans multiple tools. We use `.` as a level separator to avoid naming collisions and apply some kind of pseudo-namespacing -- similar to that of Java packages --  and it's allowed in many tools. However, when it comes to k8s, sadly `.` are not allowed in namespaces.

This project solves many multi-tenancy problems, but I think there is roo

[2021-03-07 15:30] deepankur797 opened #1420 "VirtualCluster: No Auth Provider for gcp"
When you try to use virtual cluster tool on GCP's GKE cluster . It won't let you create the virtual cluster as it says " no auth provider for gcp"

This can be easily resolved by adding the following line in the create.go file under the cmd/kubectl-vc before making the binary using make.

_ "k8s.io/client-go/plugin/pkg/client/auth/gcp"

I don't know where else this problem will occur hence I want

[2021-03-07 19:31] adrianludwin commented on #1419
Hi @ElSamhaa , unfortunately this would be a breaking change to the core Kubernetes API, and so it's highly unlikely to be approved. All existing Kubernetes clients assume that all namespace names are valid DNS Labels (63 alphanumeric characters, plus '-'), so allowing anything else would break existing clients.

As an example, Kubernetes currently names services after their namespaces (e.g. `<ser

[2021-03-07 19:31] #1419 closed

[2021-03-08 03:27] zhuangqh commented on #1420
good catch! i've submitted a fix pr. PTAL

[2021-03-09 13:45] seankhliao opened #1424 "HNC: non json logs"
With logging output in JSON, I was expecting all of the log output to actually be in JSON but it appears some of them are not captured, see below.

I believe these can be wrapped in json by redirecting the standard library's default logger output

[code]

[2021-03-09 15:56] adrianludwin commented on #1424
/good-first-issue

Thanks @seankhliao . Would you have the chance to make a PR for this?

[2021-03-09 22:39] seankhliao commented on #1424
sure, opened #1425

[2021-03-10 20:56] #1424 closed

[2021-03-16 04:11] adrianludwin commented on #1328
/remove-lifecycle stale

On Mon, Mar 15, 2021 at 7:02 PM fejta-bot ***@***.***> wrote:

[2021-03-16 09:25] hferentschik opened #1435 "Allow propagation of resources per root namespace"
Currently, you can only globally (via the HNCConfiguration) configure the resources to be propagated, eg Secrets. However, propagation might differ between different root namespaces.

IMO it would be nice to be able to configure propagation rules per hierarchy.

For example, we are implementing an application that uses HNC to create and delete dynamically sub-namespaces. For the root namespace of

[2021-03-16 09:34] hferentschik opened #1436 "Allow inclusive configuration of resources to propagate"
When synchronizing additional resource types, eg Secrets, it is currently only possible to configure this globally (see #1435) and the propagation configuration only allows to exclude certain resources from propagation (via annotation).

It would be nice to have an inclusive way of configuring propagation as well. For example, assume the root namespace contains multiple secrets and I would like to

[2021-03-16 13:19] yiqigao217 commented on #1311
/remove-lifecycle stale
@adrianludwin move this to backlog?

[2021-03-16 13:20] yiqigao217 commented on #1324
/remove-lifecycle stale
Keeping this in 0.8 milestone.

[2021-03-16 13:25] yiqigao217 commented on #1148
/remove-lifecycle stale

It should be ready to restore the workaround since https://github.com/kubernetes-sigs/controller-runtime/pull/1189 is ready in https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.7.0 and we have updated our controller-runtime module to v0.7.0.

[2021-03-16 13:27] yiqigao217 commented on #374
/remove-lifecycle stale
@adrianludwin  move this to backlog?

[2021-03-16 13:37] yiqigao217 commented on #1023
/remove-lifecycle stale
@adrianludwin move this to backlog together with #374?

[2021-03-16 13:37] GinnyJI commented on #1324
Yes, I'm working on this issue

[2021-03-16 13:42] yiqigao217 commented on #1260
/remove-lifecycle stale

[2021-03-16 13:45] yiqigao217 commented on #1292
@adrianludwin FYI
/close
Since this is no longer reproducible.

[2021-03-16 13:45] #1292 closed

[2021-03-16 14:26] adrianludwin commented on #1311
This one seems doable in the next release.

On Tue, Mar 16, 2021 at 9:19 AM Yiqi Gao ***@***.***> wrote:

[2021-03-16 14:29] adrianludwin commented on #1023
Since this was filed by @tcnksm I think it would be nice to have a go at this.

/good-first-issue

[2021-03-16 14:29] adrianludwin commented on #374
Keeping in v0.8 as described in #1023

[2021-03-16 14:34] adrianludwin commented on #1435
There's no _technical_ barrier to doing this, but it's a pretty complicated _design_ problem. For example, assume we add an "allow-propagate" mode as suggested in #1435. Does a "force-propagate" in a parent override an "allow-propagate" in a child, or vice versa? What's the API for controlling all this? I'm sure we can answer all these (after all, filesystems have done this kind of thing for years

[2021-03-16 14:35] adrianludwin commented on #1435
There's no _technical_ barrier to doing this, but it's a pretty complicated _design_ problem. For example, assume we add an "allow-propagate" mode as suggested in #1436. Does a "force-propagate" in a parent override an "allow-propagate" in a child, or vice versa? What's the API for controlling all this? I'm sure we can answer all these (after all, filesystems have done this kind of thing for years

[2021-03-16 14:38] #1254 closed

[2021-03-16 14:40] adrianludwin commented on #1436
Yes, this is a good idea and we considered it when we were first [designing exceptions](https://docs.google.com/document/d/17J8icBEDvLLoPT4kQ4ArZcCerRweDY-TpJ48DJKpHJ0):

We haven't seen a strong demand from this from our own customers, but I think the interface and semantics are fairly clear so I'd welcome PRs for this feature. Note that the majority of the work here would likely be in coming up

[2021-03-16 14:54] yiqigao217 commented on #1320
/remove-lifecycle stale
@adrianludwin move this to backlog?

[2021-03-16 14:58] yiqigao217 commented on #1295
/remove-lifecycle stale

[2021-03-16 15:03] yiqigao217 commented on #717
/remove-lifecycle stale
@adrianludwin this can remain in backlog and not into v0.8 milestone.

[2021-03-16 15:08] yiqigao217 commented on #989
/close

Asked Jordan offline:

[2021-03-16 15:08] #989 closed

[2021-03-16 15:10] yiqigao217 commented on #1041
/remove-lifecycle stale

[2021-03-16 15:12] yiqigao217 commented on #1120
/remove-lifecycle stale

This can remain in the backlog since is a rare corner case.

[2021-03-16 15:13] adrianludwin commented on #374
Whoops thanks

[2021-03-16 15:48] nishanacharya opened #1437 "InternalError when applying namespace yaml from inside the cluster"
I'm attempting to create a namespace via a Jenkins agent running inside the cluster.

Problem:
Error from server (InternalError): error when creating "some-namespace.yaml": Internal error occurred: failed calling webhook "namespaces.hnc.x-k8s.io": Post https://hnc-webhook-service.hnc-system.svc:443/validate-v1-namespace?timeout=30s: dial tcp 10.99.230.102:443: connect: connection refused

However,

[2021-03-17 08:34] #1198 closed

[2021-03-17 08:34] #1199 closed

[2021-03-17 17:52] yiqigao217 commented on #1437
Hi @nishanacharya what does it mean to apply the namespace from outside the cluster?

From what you described, it seemed you may apply the namespace manifest too fast after installing HNC that the webhooks may not be ready yet. Could you please try applying the namespace manifest 30 seconds after HNC is installed on your failed case?

[2021-03-17 18:27] #1324 closed

[2021-03-17 18:33] #1371 closed

[2021-03-17 18:34] yiqigao217 commented on #972
Tested deleting and reapplying CRD quickly multiple times and didn't see subnamespace got deleted.

/close

[2021-03-17 18:34] #972 closed

[2021-03-17 18:38] yiqigao217 commented on #1328
Just linking it https://bit.ly/hnc-external-hierarchy for reference.

[2021-03-19 14:27] #783 closed

[2021-03-21 16:15] #983 closed

[2021-03-22 20:51] yiqigao217 opened #1443 "HNC: Should not allow creating subns with excluded namespace names, e.g. `kube-system`"
While testing configurable excluded namespaces, I found that we may want to add these two new rules in our valiators:
[code]

[2021-03-22 20:55] adrianludwin commented on #1443
+100

On Mon, Mar 22, 2021 at 4:51 PM Yiqi Gao ***@***.***> wrote:

[2021-03-24 17:39] yiqigao217 opened #1448 "HNC: `propagate.hnc.x-k8s.io/select` won't trigger object propagation on newly labelled namespaces"
In a namespace hierarchy like this:
[code]
If a role in the namespace `a` has
[code]
, it won't be propagated into `b` or `c` if they don't have the `score.networkpolicy/allow-shared-ingress` label on the namespace.

The issue is that if we now add `score.networkpolicy/allow-shared-ingress` label to `b` or `c`, the object should be propagated to these namespaces. However currently, the object prop

[2021-03-25 04:59] unmarshall opened #1449 "SSL handshake issue when HNC controller is used alongside Istio sidecar proxy enabled with mTLS"
Hello,

I tried to install a HNC controller version (HNC_VERSION = v0.7.0)
`kubectl apply -f https://github.com/kubernetes-sigs/multi-tenancy/releases/download/hnc-${HNC_VERSION}/hnc-manager.yaml `
I have also have installed the latest hnc kubectl plugin.

The installation did not error out but when i tried to associate a parent-child relationship between 2 namespaces.
`kubectl hns set childns --p

[2021-03-30 14:27] yiqigao217 commented on #1449
Hi Madhav,

Unfortunately, we haven't tested HNC with Istio. HNC talks to apiserver through webhook, which is already encrypted (TLS). After talking with @adrianludwin , who knows about Istio, our guess is that apiserver is not part of Istio that cannot decrypt the encrypted calls by Istio from the HNC manager pod.

There are two possible Istio configurations that you can explore to solve the issu

[2021-03-31 19:37] yiqigao217 commented on #1443
Will also look into conditions if the webhook is bypassed. Currently when
* Setting a non-excluded namespace as child of excluded namespace, we get:
[code]
* Setting an excluded namespace to a non-excluded namespace, we get nothing but the HC object is created.
* Creating subns in excluded namespace with an existing name, we get `Conflict` in `subns.status`.
* Creating subns in exlcuded namespace